[2016-09-03 02:57] blargity commented on #501
Is this any better for you in v0.7.3?

[2016-09-03 02:57] jonahwh commented on #501
Yes!

[2016-09-03 02:57] #501 closed

[2016-09-03 02:57] blargity commented on #504
Is this any better for everyone in v0.7.3? It should be.

[2016-09-03 02:58] blargity commented on #507
Should be fixed for you in v0.7.3. Any better?

[2016-09-03 02:58] blargity commented on #508
Is this any better for you in v0.7.3? It should be.

[2016-09-03 02:59] blargity commented on #509
Is this any better for you in v0.7.3? It should be.

[2016-09-03 03:00] blargity commented on #511
Ah, yeah, that's definitely the problem. I'll go ahead and mark this as an enhancement to make it work on the Accounts screen as well though.

YNAB released the calculator for the budget page about 8 months ago and I was expecting them to add it to the accounts screen too. Clearly that's not on the cards.

[2016-09-03 03:02] blargity commented on #512
Is this any better for you in v0.7.3? It should be.

[2016-09-03 03:03] blargity commented on #513
Is this any better for you in v0.7.3? It should be.

[2016-09-03 03:03] blargity commented on #514
Is this any better for you in v0.7.3? It should be.

[2016-09-03 03:03] blargity commented on #517
Cool, I'll go ahead and close this issue so we can track it on trello.

[2016-09-03 03:03] #517 closed

[2016-09-03 03:04] blargity commented on #518
Is this any better for everyone in v0.7.3? It should be.

[2016-09-03 03:04] blargity commented on #519
Is this any better for you in v0.7.3? It should be.

[2016-09-03 03:07] blargity commented on #521
There is actually an Export to CSV feature within the toolkit that we disabled when YNAB released one. Are you able to play around with that and see if it works better for you? It's here: https://github.com/toolkit-for-ynab/toolkit-for-ynab/tree/master/source/common/res/features/export-transactions and you can reenable it by editing the settings.json file and removing the:

[code]

line.

[2016-09-03 03:10] blargity commented on #522
The problem with removing them outright is it skews thinks like the Net Worth report. We've currently replicated YNAB4 behavior, which keeps them in. The best way to exclude them will be to use the date filter to exclude the first month of data (which is usually not very regular for people anyway, as you're just getting to grips with the system)

The easiest way to do this is to select All Dates i

[2016-09-03 03:13] blargity commented on #524
We could definitely do this, it's just a matter of finding someone who wants to put the effort in to make it happen. It is trickier than if we had normal access to their code though, because navigating through the app can be problematic for us.

[2016-09-03 12:08] casner commented on #519
Waiting for 0.7.3 to auto-download. Still at 0.7.2 - is there a way to force the update?

[2016-09-03 12:17] casner commented on #504
Yes! I can now open the Income and Expense. I still have a few cents of "unknown" income to track down, but at least the report shows.

[2016-09-03 17:32] falconmid commented on #518
@joshmadewell Thanks for the update.  Sorry, I missed that mentioned in #504.  Great support.

[2016-09-03 17:49] joshmadewell commented on #524
@rcdailey nYNAB actually has a keyboard shortcut for that, it's just 'c' on the uncleared transaction. I always knew 'c' did something but didn't know what until you posted this. I definitely think this is a good idea though (or at least, we could try to discover what's hidden in their code)

[2016-09-03 18:18] rcdailey commented on #524
That's not the same thing. While editing, pressing C doesn't work

On Sat, Sep 3, 2016, 12:49 PM Josh Madewell <notifications@github.com>
wrote:

[2016-09-03 23:02] derek0221 commented on #507
Yes it's better! However I may have noticed another problem. On "spending by payee" I think I notice that some payees get crazy amounts next to them when I know I'm no where near what it says. I.e. I bought a guitar and the music shop payee was several hundred higher than what it should be. This usually occurs when I choose to view payees from one account. I'm thinking the reason that came to me w

[2016-09-03 23:27] joshmadewell commented on #507
@derek0221 Thanks for the additional report, I've got a fix ready for our next release :D

[2016-09-04 00:04] derek0221 commented on #507
Awesome! Thank you so much for the toolkit!

[2016-09-04 04:04] R0MANI96 commented on #504
All is good for me!

[2016-09-04 06:43] lidow commented on #468
Thank you @joshmadewell, it did fix it indeed.

[2016-09-04 07:17] blargity commented on #470
Great, I'll go ahead and close then, thanks!

[2016-09-04 07:17] #470 closed

[2016-09-04 07:17] blargity commented on #486
Fair enough, I'll get rid of the should-be-fixed label then.

[2016-09-04 07:19] blargity commented on #504
Great, I'll close this off then, thanks!

[2016-09-04 07:19] #504 closed

[2016-09-04 09:26] falconmid commented on #518
The update fixed the issue for me.  Thanks.

[2016-09-04 09:35] blargity commented on #518
Awesome, I'll close the issue then. Thanks!

[2016-09-04 09:35] #518 closed

[2016-09-04 22:21] MateoM1955 opened #527 "attempting to edit split transaction, the split windows are not opening so cannot enter them"
Defective ToolKit Feature Name:
### Expected Behavior

Enter split transactions
### Actual Behavior

The split windows do not open for me to enter split transactions
### Steps to Reproduce the Behavior
1. ​transaction was imported from bank
2. ​the transaction said "this needs a category"
3. This transaction was a split transaction for me, so ​I clicked on "category" then "split (multiple categori

[2016-09-04 22:42] MateoM1955 commented on #527
I don't know what happened, but when I refreshed, the problem was fixed. Weird.

[2016-09-05 15:25] jasonhyang commented on #522
Thanks. I moved the Starting Balances to the end of the previous month and filtered as you've suggested, but in general, I still think they should be excluded from the Reports. It should only be a couple of lines of code to have the Net Worth calculations add those values independently from how the rest of the data visualization/presentation is performed. But thanks! Wonderful work that you guys h

[2016-09-05 15:25] #522 closed

[2016-09-05 15:36] aperl79 opened #528 "cannot zero out category on some budget lines, works on others"
Defective ToolKit Feature Name:

When I click "Balance to $0.00" YNAB should make Budgeted amount match Actual spent

Sometimes doesnt do anything at al
### Steps to Reproduce the Behavior
1. ​Select Category
2. ​Click "Balance to $0.00"
3. ​
### Export of Toolkit Settings (Bottom Left of Settings Page)

[code]
### System Settings

ToolKit Version:
Operating System (Mac/Windows/Etc): 0.7.3
Browser

[2016-09-05 23:54] synapseOH16 commented on #514
Works like a charm. I’ll get a report filed, but wanted to let you know that I’m also experiencing jumpy scrolling when Toggle Splits is on.

Thanks again!
Steve

[2016-09-06 02:14] randygannaway opened #529 "Working on Google calendar feature"
Feature Name: Add scheduled transaction to Google Calendar

I am very new to ynab, the toolkit and development so first off please let me know if this type of commentary goes somewhere else.

I have been working on getting a button in the toolkit that adds a scheduled transaction to my Google calendar when I save it. I have the basic concept functional but have much work to do still. I was hoping

[2016-09-06 11:22] blargity commented on #529
Hi Randy!

First of all welcome!

I think the best place for discussion on the code would be to just open up a PR and we can have a look.

In terms of whether this would be useful to people, you may get some feedback here, but most of that type of discussion is happening on the YNAB forums. I'd recommend posting about what you're creating in the Extensions forum and asking for feedback, similar to

[2016-09-06 11:22] blargity commented on #528
That's really odd. I'll leave this here until someone has a chance to look into it.

[2016-09-06 11:24] blargity commented on #527
Very odd. I'll leave this here for a while to see if anyone else is experiencing the issue. If we don't get any more reports I'll close it off.

[2016-09-06 11:26] blargity commented on #519
If you're on Chrome you can tick the 'Developer Mode' checkbox on this page: chrome://extensions/

Then you should have an 'Update extensions now' button. Clicking that won't look like it's doing anything but then within about 5 minutes you should see v0.7.3 on the extensions page.

If that doesn't work you can always delete and reinstall, but that'll wipe your settings, so you'd want  to restore

[2016-09-06 11:26] blargity commented on #514
No worries, I'll close this one off then, thanks!

[2016-09-06 11:26] #514 closed

[2016-09-06 11:27] blargity commented on #513
I'll go ahead and close this off as it seems to be resolved for others that were experiencing the same issue. If you're still having trouble please let us know.

[2016-09-06 11:27] #513 closed

[2016-09-06 11:28] blargity commented on #512
I'll go ahead and close this off as it seems to be resolved for others that were experiencing the same issue. If you're still having trouble please let us know.

[2016-09-06 11:28] #512 closed

[2016-09-06 11:28] blargity commented on #509
I'll go ahead and close this off as it seems to be resolved for others that were experiencing the same issue. If you're still having trouble please let us know.

[2016-09-06 11:28] #509 closed

[2016-09-06 11:28] blargity commented on #507
Are both of these better for you in v0.7.3? We suspect they are.

[2016-09-06 11:29] blargity commented on #508
I'll go ahead and close this off as it seems to be resolved for others that were experiencing the same issue. If you're still having trouble please let us know.

[2016-09-06 11:29] #508 closed

[2016-09-06 11:29] blargity commented on #499
Ok, I'll go ahead and close this off as we're pretty sure we've fixed it. If we're wrong definitely let us know.

[2016-09-06 11:29] #499 closed

[2016-09-06 11:43] hsilva1 commented on #508
Thanks!  It works now.

On Tuesday, September 6, 2016, Kevin Brown <notifications@github.com> wrote:

[2016-09-06 11:43] blargity commented on #508
Great to hear, thanks!

[2016-09-06 12:16] RunningOutOfInk commented on #519
Mine is working now :)

[2016-09-06 14:54] darthnice commented on #509
Yes it fixed it. On vacation and didn't log in to YNAB for a few days. Thanks!

[2016-09-06 15:21] casner commented on #519
That worked, thanks.

Bruce

From: Kevin Brown [mailto:notifications@github.com]
Sent: Tuesday, September 06, 2016 6:26
To: toolkit-for-ynab/toolkit-for-ynab <toolkit-for-ynab@noreply.github.com>
Cc: Bruce Casner <BRUCE.CASNER@millerwelds.com>; Comment <comment@noreply.github.com>
Subject: Re: [toolkit-for-ynab/toolkit-for-ynab] "Uh-Oh! An error occurred in Toolkit for YNAB (a browser extension yo

[2016-09-06 20:32] darthnice opened #531 "Spending by Payee report differs depending on how fast the start date is dragged"
Defective ToolKit Feature Name: Spending by Payee

### Expected Behavior
Consistent results after sliding the start date from one month to another and back again

### Actual Behavior
The Spending by Payee produces different graphs, with wildly different total spending depending on how fast/far I drag the start slider. Total spending can vary by $1M+. I have history from Aug 2013-Sept 2016

### Ste

[2016-09-07 01:29] itsMartinw opened #532 "Spending By Payee Report visual defects in Safari on Mac OS X"
Defective ToolKit Feature Name: Spending By Payee Report
### Expected Behaviour

I would expect behaviour as in the first screenshot - The report looking as it does and works in the other reports. (Edited screenshots to remove personal data.)
![correct working report](https://cloud.githubusercontent.com/assets/9063283/18296751/808cf94a-74de-11e6-9f51-c891f88d8c94.png)
### Actual Behaviour

When mo

[2016-09-07 19:28] xbelt opened #534 "Werid grey bar introduced when enabling progress bars"
Defective ToolKit Feature Name:

### Expected Behavior

Enabling the progress bars should not introduce a weird grey vertical bar to the budget.

### Actual Behavior

Enabling the "Budget Rows Progress Bars" option and setting it to "Pacing on name column and goals on budgeted column" results in a weird grey bar being added to the budget screen:
See here:
http://puu.sh/r3hlz/ef9b7521d0.png

### St

[2016-09-07 19:39] dbaldon commented on #534
That is normal behavior when the Budget Rows Progress Bar feature is set to Pacing on name column and goals on budgeted column. The gray bar is an indicator of how far into the month you are. So, as today Sept. 7th, you about 25% of the way through the month. In the settings I see this;
[code]
which shows which selection for the feature you've chosen.

[2016-09-07 23:06] joshmadewell commented on #534
@dbaldon We seem to get this issue at the beginning of most months since the gray bar becomes more obvious earlier in the month...can we add a description to the feature itself explaining that this bar exists and maybe even a tooltip to the bar itself to explain what it is?

[2016-09-08 12:38] TroutLily commented on #519
I just started getting this error last night.  I'm in 0.7.3. It happens when I want to go to something I entered from Budget.

[2016-09-08 13:29] blargity commented on #519
@TroutLily, what do you mean by when you want to go to something? Could you let me know what steps you are taking and paste your settings export so we can have a look?

Thanks!

[2016-09-08 14:12] dbaldon commented on #534
@joshmadewell Yeah that a good idea.

[2016-09-08 14:18] dbaldon opened #535 "Toggle splits stopped working after the last YNAB application update."
Defective ToolKit Feature Name:
Add a Toggle Splits Button
### Expected Behavior

A split category should show or hide the split categories when the Toggle Splits button is clicked.
### Actual Behavior

The Toggle Splits button is not displayed. There is no way to show the split categories IF I had toggled them to not show before I refreshed YNAB.
### Steps to Reproduce the Behavior
1. ​Refresh YN

[2016-09-09 01:42] TroutLily commented on #519
When I’m in the budget and want to see the individual expenses for say, groceries, I click the amount we’ve spent that month and all the charges show up.  Then if I want to go to one of those items to say, change the category, I can click the item and it used to take me to it in the register but now it shows up the error message and it has to refresh. Does that explain it?

You’ll have to explain

[2016-09-09 11:54] nardz13 opened #538 "Clicking through to a transaction from the budget screen crashes"
Defective ToolKit Feature Name:

### Expected Behavior

clicking through to a transaction from the budget screen will redirect the screen to a transaction

### Actual Behavior

YNAB Toolkit error message forcing reload

### Steps to Reproduce the Behavior
1. ​budget screen
2. ​click category activity
3. ​click a transaction

### Export of Toolkit Settings (Bottom Left of Settings Page)

[code]

##

[2016-09-09 13:03] dbaldon commented on #538
Looks like another case of the latest YNAB update breaking the toolkit. In activity-transaction-link
      function showSelectedTransaction(accountsController, contentResults, transactionIndex) {
        var rowView = ynabToolKit.shared.getEmberViewByContainerKey('view:ynab-grid/rows');

[2016-09-09 21:09] darthnice commented on #538
Reproduced here too. Same OS/Browser as the original reporter.

[2016-09-10 01:18] nardz13 opened #539 "Income vs Expense report - months don't filter correctly"
Defective ToolKit Feature Name:
### Expected Behavior

if i set the slider to begin at jan 2016 - i expect to only see jan 2016 onwards (ending at the filter end month), and i expect to see each month that is displayed populated
### Actual Behavior

if i set the slider to jan 2016, dec 2015 is displayed all zeros (i basically started 30th dec so there's no income), if i move the slider to dec 2015

[2016-09-10 01:29] nardz13 opened #540 "Income vs expense report - Starting balance transactions on 31/12/2015 appear as income for January 2016."
Defective ToolKit Feature Name:
### Expected Behavior

i have no starting balance transactions in january so it should appear as 0
### Actual Behavior

it appears as the sum of starting balance transactions in december - december appears as zero.
### Steps to Reproduce the Behavior
1. ​
2. ​
3. ​
### Export of Toolkit Settings (Bottom Left of Settings Page)

[code]
### System Settings

ToolKit Ver

[2016-09-10 02:29] nardz13 opened #541 "Net worth report"
Defective ToolKit Feature Name:
net worth report
### Expected Behavior

account dropdown selection is very difficult to use with multiple accounts. please consider replacing with checkboxes, with All/All Budget/All Tracking mutli selector items.

for example, if i have 15+ accounts, and i want to run a report on all except for a couple of accounts, i need to manually select each account except for

[2016-09-10 12:56] lang510 commented on #538
Also got this error today

[2016-09-10 14:04] dbaldon commented on #538
I'm looking into this. As is expected with an extension, the app we extend sometimes breaks us. I know what the problem is just figuring out the best way to fix it.

[2016-09-10 17:17] joshmadewell commented on #541
This is more of an enhancement than a bug report. Trello card added here: https://trello.com/c/qpBbjKVF

I wanted to do this at first but it was a lot more code than I had time to write :smile: I'll definitely look into this when I have the time.

[2016-09-10 17:24] joshmadewell commented on #540
I'm unable to reproduce this. If you change the date on the transactions to a different date and then back to 31/12/2015 does that fix your issue?

[2016-09-10 17:26] joshmadewell commented on #539
This is probably somehow related to your issue #540 but I don't know how to reproduce this since I don't have the issue on my machine. What time zone are you in?

[2016-09-11 06:00] #345 closed

[2016-09-11 06:26] blargity commented on #541
Alrighty, I'm going to go ahead and close this so we can track it on the Trello card.

[2016-09-11 06:26] #541 closed

[2016-09-11 06:28] blargity commented on #538
This should be fixed in our next release.

[2016-09-11 15:39] wanccie commented on #539
I have the same issue in Networth, but only when I select a specific account.  I set the slider for Jan2016 and the graph starts at March.  But I have reports, and there is an easy work around.  Put the slider on Nov2015 and it starts on Jan2016.

![image](https://cloud.githubusercontent.com/assets/17096954/18418433/54c4e44c-7814-11e6-801e-8b9d4a274c45.png)

[2016-09-12 18:23] dbaldon commented on #523
It looks like the internal name of the uncategorized transactions has changed. I'll try and take a look at this tonight.

[2016-09-12 22:09] a13z opened #544 "Reports tab doesn't show up in Safari or shows jumbled reports info"
Defective ToolKit Feature Name:
Reports

### Expected Behavior
Reports tab should be visible in left sidebar under Budget and Accounts. Should be able to select and view different reports.

### Actual Behavior
After installing the Toolkit Safari extension either from the Extensions Gallery or the most recent 0.7.3, I can't seem to get Reports to reliably show up. Sometimes it is there, and sometim

[2016-09-14 01:54] nardz13 commented on #539
apologies for the delayed response - the rest of my weekend was crazy busy and then i was off work sick...

I'm in GMT+10 eastern australia.. i suspect that's likely to be the issue.

[2016-09-14 01:56] nardz13 commented on #541
yeah it's an enhancement.. sorry i didn't realise you tracked enhancements differently to bugs - i'll open cards on trello for future enhancement requests.

[2016-09-14 02:21] wanccie commented on #539
No worries.  You guys are amazing.!!

[2016-09-14 02:46] nardz13 commented on #539
ha i feel you're giving me undue praise - i'm the reporter not the fixer :)

[2016-09-14 09:30] wanccie commented on #539
ha... no problem

On Tue, Sep 13, 2016 at 10:46 PM, nardz13 <notifications@github.com> wrote:

[2016-09-14 10:41] Vendril commented on #486
I can confirm @danolsen.  The progress bar on the funding is showing as 100% when the Available Budget column value is past the goal.  To recreate set a Monthly Funding Goal of $100 in current month. Then go back a month and budget 100. When you go to the current month again the progress bar is 100%. If you reduce previous to 99, then current to 1 it will also be show as fully funded for the month

[2016-09-14 10:54] Vendril commented on #420
I think the Progress bar is linked to #486.

[2016-09-14 11:37] dbaldon commented on #486
@danolsen @Vendril This looks like the "carry over" effect. IOW, there is unspent money for the category so it's carried into the next month. e.g. I have a MFG of $100 on category Misc. In Aug I budget $100 for the category but only spend $75. In Sep I'm already 25% of the way towards the $100 MFG because $25 was carried forward. Do y'all think carry over money should NOT be considered for a MFG?

[2016-09-14 11:38] caneff opened #546 "Feature Request: Quick Budget Option for "Target Category Balance" Goal"
When there is a "Target Category Balance by Date" goal for a category the Quick Budget options have a button for "Goal Target: $xxx.xx" making sure you budget enough for that month to make the goal by the target date.

I would like to have the same option for targets that are just "Target Category Balance" goals.  I use those goals for monthly funding of categories that I want to cap at a certain

[2016-09-14 11:48] Vendril commented on #486
@dbaldon For the MFG I do not think the progress bar should make the calculation on the Available amount, but rather compare only the budgeted this month to the MFG.  This will bring it inline with the YNAB information telling me I am underfunded for this month.

![image](https://cloud.githubusercontent.com/assets/4372131/18511010/834e1c76-7ac0-11e6-988c-619b6274be87.png)

[2016-09-14 16:52] jodyjill opened #547 "Pacing numbers incorrect?"
Defective ToolKit Feature Name:
Add pacing to the budget
### Expected Behavior

to show how much we have spent so far in a category based on the budget
### Actual Behavior

an example: I have $800 budgeted to a category. I have spent $500 so far mid-September, with $300 available. When I add the pacing, it shows me an orange number of $153.33. When I hover over that number, it says you have spent

[2016-09-14 20:36] danolsen commented on #486
@dbaldon I would expect the Target Category Balance to look at the available amount for the progress bars. For the Monthly Funding Goal it should look at my budgeted amount for the month since that is what the goal is focused on because I want to budget that much a month, not have that much available in the category.

[2016-09-15 12:33] blargity commented on #531
I think this was actually fixed in the version I just released (v0.7.4). Could you let me know if it's any better for you?

[2016-09-15 12:33] blargity commented on #532
Thanks for the report. We'll get to it when we can.

[2016-09-15 12:36] #534 closed

[2016-09-15 12:36] blargity commented on #534
There we go. :-)

[2016-09-15 12:37] blargity commented on #539
Well I'm in Sydney, so pretty easy for me to try to reproduce. I'll have a look when I get a chance.

[2016-09-15 12:38] blargity commented on #538
And this should now be resolved in v0.7.4. Could you let us know if it's any better for you?

[2016-09-15 12:39] blargity commented on #540
I'm also wondering if this could be a timezone issue. Could you let us know what timezone are you're in?

[2016-09-15 12:40] blargity commented on #544
Thank you for the report. It looks to me like this is a duplicate of #532, so I'll go ahead and close this one so we can track there. Please let me know if I'm wrong!

[2016-09-15 12:40] #544 closed

[2016-09-15 12:56] nardz13 commented on #540
it's a whole lot of transactions - i have quite a few accounts set up in ynab.. and all of their starting balances show up in january despite being set to 31/12/2015

[2016-09-15 12:59] nardz13 commented on #538
yep this ones working fine for me now

[2016-09-15 12:59] #538 closed

[2016-09-15 13:55] blargity commented on #538
Thanks!

[2016-09-15 14:05] darthnice commented on #531
I can no longer reproduce. Thanks.

[2016-09-15 14:06] blargity commented on #531
Awesome, thanks for getting back to us!

[2016-09-15 14:06] #531 closed

[2016-09-15 19:15] synapseOH16 opened #548 "Click through Budget Activity pop-up produces Uh-oh!"
Defective ToolKit Feature Name: Link Activity Back To Their Account Transaction

### Expected Behavior
Click through Budget Activity pop-up to original transaction in Accounts

### Actual Behavior
Clicking on transaction in pop-up produces "Uh-oh" error. After refresh, user is taken to Account, but not to specific transaction.

### Steps to Reproduce the Behavior
1. ​Open Budget window
2. ​Click o

[2016-09-16 03:33] nardz13 commented on #539
ok ive made another discovery with this.

i was fixing my budget (mine is very complex - more than i wish it to be)

i messed around with some transactions to have my budget in better shape (long story, unrelated), and in doing so, i accidently changed the date of a transaction (which is supposed to be a starting balance transaction) to 31/05/2015 - instead of 31/12/2015. this made your month slid

[2016-09-16 14:24] lang510 commented on #538
No problems

[2016-09-17 06:54] a13z commented on #532
Has anyone found a workaround for this? E.g. clear cache, sign out/sign in, etc.?

[2016-09-17 13:30] dbaldon commented on #113
@blargity Before I realized you had assigned this to yourself, I started working on this and have something working. I'm using the get/setToolkitStorageKey functions. I've found an interaction problem with the collapse sidebar feature that I'm working through. Have you done anything with this yet or do you want to assign it to me?

[2016-09-18 01:22] blargity commented on #532
Unfortunately the best workaround at the moment is to use Chrome or Firefox. Safari's really lagging behind on standards support these days. It's going to take a developer looking into it and figuring out why it doesn't work. 😦

[2016-09-18 03:20] a13z commented on #532
You know, I just realized today I could try it in Chrome - works perfectly! Guess I'll be using Chrome for this for now. Thanks!!

[2016-09-19 18:13] ahemsath opened #550 "Tooltip/hovertext for pacing says "In 0 transactions..." even though I have >0 transactions"
Defective ToolKit Feature Name: Pacing

### Expected Behavior
When I mouse over a particular budget category's pacing column, a tooltip is presented with detailed information about the pacing feature's calculations for that budget category in the current month, including the number of transactions.  I would expect that number of transactions to match the number of transactions shown if I click on

[2016-09-20 00:40] joshmadewell commented on #548
@synapseOH16 was this fixed with our latest update for you? If so, could you please close the ticket? Thanks!

[2016-09-20 01:15] synapseOH16 commented on #548
Yes, this has been fixed. Thanks!

[2016-09-20 01:15] #548 closed

[2016-09-20 01:17] joshmadewell commented on #550
@ahemsath this has been fixed and will be in our next release. Thanks for the report!

[2016-09-20 01:50] joshmadewell commented on #547
Hmmm...I might take a look at completely refactoring pacing. It's a pretty old feature at this point. We've learned a lot in the past 9 months and I might be able to make the code a bit more maintainable with that knowledge.

It's going to take me a bit of time to do it so don't hold your breath on this one...

[2016-09-20 02:21] joshmadewell commented on #468
@podious could you close this issue since it's fixed now? Thanks!

[2016-09-20 02:22] joshmadewell commented on #540
this is almost definitely timezone related....I'll look at this right now.

[2016-09-20 02:50] joshmadewell commented on #540
[code]

To do this, go to YNAB, income vs expense report, right click on the page (white space) and click inspect element. Go to the console tab and paste the above code.

This will only output dates and will not send any data to me. However, if you don't feel comfortable sending this over then I understand...Basically, I'm hoping that the dates it outputs gives me some more insight as to what's h

[2016-09-20 02:54] joshmadewell commented on #519
@TroutLily the error you've described should be fixed in our latest release. If it is, please close this issue. Thanks!

[2016-09-20 02:54] joshmadewell commented on #507
@derek0221 This should all be fixed as of our latest release. If it is, could you please close this issue?

Thanks!

[2016-09-20 02:55] joshmadewell commented on #430
@Gefahrensucher I don't think we changed anything but we were having issues reproduce this so if you're not having anymore problems, please close the issue and reopen if it ever comes back. Thanks!

[2016-09-20 02:57] joshmadewell commented on #451
@joking777 this has made it into production, thanks for the report and fix! Can you please close the issue? thanks!

[2016-09-20 03:28] TroutLily commented on #519
It is fixed (thanks!!) but I have no idea what I need to do to close it.

[2016-09-20 03:35] joshmadewell commented on #519
Sorry, I didn't realize you were the original opener :)

[2016-09-20 03:50] jodyjill commented on #547
Okay, thanks for the reply. I guess I had never noticed it before, seemed like it could be a good idea. Might I suggest you remove it from the list, since it doesn't work?

Sent from my iPad

[2016-09-20 04:22] joshmadewell commented on #519
@RunningOutOfInk could you go ahead and close this issue if it's fixed for you too? Thanks!

[2016-09-20 04:23] joshmadewell commented on #244
@mrruz could you please close this issue if it's been resolved? thanks!

[2016-09-20 05:01] nardz13 commented on #540
VM222:8 Thu Dec 31 2015 11:00:00 GMT+1100 (AUS Eastern Daylight Time)
VM222:8 Thu Dec 31 2015 11:00:00 GMT+1100 (AUS Eastern Daylight Time)
VM222:8 Thu Dec 31 2015 11:00:00 GMT+1100 (AUS Eastern Daylight Time)
VM222:8 Thu Dec 31 2015 11:00:00 GMT+1100 (AUS Eastern Daylight Time)
VM222:8 Thu Dec 31 2015 11:00:00 GMT+1100 (AUS Eastern Daylight Time)
VM222:8 Thu Dec 31 2015 11:00:00 GMT+1100 (AUS Eas

[2016-09-20 08:47] joking777 commented on #451
Looks good. Thanks.

[2016-09-20 08:47] #451 closed

[2016-09-20 12:16] #468 closed

[2016-09-20 12:41] RunningOutOfInk commented on #519
Yes I can do that :)

[2016-09-20 12:41] #519 closed

[2016-09-20 13:39] joshmadewell commented on #540
that's really freaking weird...the dates on all the transactions are all right but the reports aren't working....I'll keep looking...

[2016-09-20 13:49] joshmadewell commented on #540
eyyy...I think I found what's wrong. I'll start looking into this now.

[2016-09-22 21:30] petervdv commented on #321
I also notice this behavior. and a lot stranger behavior when the toolkit tries to input an amount in cents. As the people above, I use the comma as decimal separator.

When the toolkit wants to input 36,41 euros, it inputs 3641,- euros (in Chrome developer tools I see title="€3.614,00").

But when the toolkit wants to input 0,60 euros (60 cents), it inputs 6.000.000.000.000.001,00 euros and I get

[2016-09-23 22:41] adamonline45 opened #552 "Feature Request: Ability to hide the category group from the category column in account view ("Category Group: Category" becomes just "Category")."
When displayed in the Account/Transaction View, The Category Group component of the fully qualified category name feels a bit superfluous.

Presently, my Category column looks like so:

I think it would be sufficient for it to say:

and so on.

Personally, I don't think anything in my budget would be ambiguous if this were adopted. I imagine selective Category Group qualification would be possible

[2016-09-26 01:56] nardz13 commented on #540
how is this going?

[2016-09-26 01:58] joshmadewell commented on #540
I know where the issue is and I'm going to be looking into it potentially tonight...been swamped at work :O goal is to have it fixed by Wed.

[2016-09-26 02:00] nardz13 commented on #540
cool

[2016-09-29 01:02] fr0 opened #554 "Days of Buffering is meaningless when budget contains large one-time spends"
Age of Money: 92 days (fairly accurate)
Days of Buffering: 23 days (probably "correct", but completely misleading)

I recently got married (weddings are expensive), paid off my wife's student loans, and went on a honeymoon. All of that was basically a large chunk of money that I saved up for and budgeted.

I don't know exactly how the Days of Buffering calculation works, but it seems to be assumin

[2016-09-29 07:11] joshmadewell commented on #554
Hey @fr0 this will definitely fall off after some time. The math for DOB is to take your average spending of the last 30 days so once you get 30 days out you should see the numbers drop.

Not too sure how we could handle this right now and I'm also not too sure it's something we're going to change. Rest assured that your DOB will definitely make more sense after ~a month

[2016-09-29 07:20] joshmadewell commented on #552
@adamonline45 i just took a look at how we could do this and it appears that for every row we change, we'd cause a redraw to the screen.

this isn't really ideal because it will definitely slow down the app (moreso if you have a lot of transctions).

I'll keep it in mind and I've made a trello card (here)[https://trello.com/c/ib7GtBBk] to track the progress/get more votes on it but it might be a t

[2016-09-30 22:12] ChrisTheCat opened #555 "Can't scroll down to see old transactions when splits are hidden"
Defective ToolKit Feature Name:
### Expected Behavior

Scroll down, see older transactions
### Actual Behavior

Scroll down, see some transactions, then white space
### Steps to Reproduce the Behavior
1. Open an account with hundreds of transactions, some of them large splits
2. Scroll down through several hundred transactions.
3. Screen lags a bit, then white space appears below the last transact

[2016-10-01 22:34] adamonline45 commented on #552
In Handlebars, I might see this working by means of a Helper ( http://handlebarsjs.com/ , see "Helpers"), which lets one transform the data just before it's presented. I'm not sure which templating engine YNAB uses, but Ember's HTMLBars supports Handlebars helpers: http://emberjs.com/api/modules/ember-templates.html .

Barring that, might there be a way to do this in the data layer? If you could c

[2016-10-01 22:38] joshmadewell commented on #552
We actually have no control over Handlebars, afaik...

I've tried changing their display models in ember which is what has caused the redraw. I'd bet updating the actual UI might be a better option but it's still janky :(

[2016-10-03 21:57] rthompsonhi opened #556 "Collapsible Sidebar isn't sticky"
Defective ToolKit Feature Name: Collapsable Side Menu

### Expected Behavior
Collapsed Left Sidebar remains collapsed when logging in/refreshing page.

### Actual Behavior
Sidebar is always shown until collapsed again.

### Steps to Reproduce the Behavior
1. ​ Login to YNAB
2. ​ Collapse sidebar (when option enabled).
3. ​ Refresh page, logout/login.
4. Notice sidebar is not collapsed.

### Export

[2016-10-03 22:01] dbaldon commented on #556
This has been fixed in PR #549 but isn't in a release yet. It should be in the next release (whenever that is).

Do you mind closing this issue as it was initially reported in Issue #113. Thanks.

[2016-10-03 22:01] rthompsonhi commented on #556
Sure, I only searched open issues, my apologies!

[2016-10-03 22:02] #556 closed

[2016-10-03 22:02] dbaldon commented on #556
No worries!

[2016-10-05 17:19] Ukiman1014 opened #557 "Spending by category graphic does not match information"
![2016-10-05_130641](https://cloud.githubusercontent.com/assets/22643106/19123802/2e542ae6-8afe-11e6-843a-20c5dc53b5dc.jpg)

Defective ToolKit Feature Name:
### Expected Behavior

On the circular graph for spending by category (looking at spending this year), when clicking on a category the transaction list should match the category.
### Actual Behavior

Going around from left to right, the "cash"

[2016-10-07 16:17] joshmadewell commented on #557
@Ukiman1014 I can't reproduce this on my budget....are you sure the transactions are missmatched? The graph gets pretty confusing with the labels and the lines pointing to their pie section...

Could you grab a screen shot for me with the transactions showing?

[2016-10-07 16:23] joshmadewell commented on #555
This is probably going to be somewhat related to issue with #536 and the toggle splits feature as a whole.

Your best bet right now is to (unfortunately) turn off the toggle splits feature until we can figure out a fix w/ YNAB team,

[2016-10-07 16:24] joshmadewell commented on #550
@ahemsath Could you confirm that this is fixed? If so, please close the issue. Thanks!

[2016-10-07 16:27] joshmadewell commented on #540
@nardz13 sorry about not getting back to you sooner. I've been absolutely swamped and have had nearly no time at all to work on the toolkit.

I thought this would be a super simple change but it turns out that the networth graph itself depends on the code that was doing some timezone changes.

@blargity might have some time and more knowledge since he wrote the networth graph but do know we haven'

[2016-10-07 16:27] ahemsath commented on #550
Verified fixed, closing.  Thanks!

[2016-10-07 16:27] #550 closed

[2016-10-08 05:33] idanmashaal opened #561 "Feature request - Ability to use cents instead of dollars (no more period!)"
I would like to suggest a feature that would make YNAB punching in amounts similar to what happens on the mobile iOS app (not sure about Android).

If a transaction amount would be $1.23 one would simply type 123 and it will automatically divide it by 100.
Same goes for $1234.56 one would simply type  123456.

I looked at the settings on the toolkit extension for Chrome but didn't see it.
Thanks !

[2016-10-08 20:51] MikeBishop opened #562 "Right-click context menu differs from built-in context menu (no match/unmatch)"
Defective ToolKit Feature Name:  Right-click for context menu
### Expected Behavior

Same menu appears as would be exposed by Edit option
### Actual Behavior

Old menu appears
### Steps to Reproduce the Behavior
1. ​Select two transactions which can be matched -- one imported, one user-entered, same amount
2. ​Right-click the pair of transactions to display the context menu.
   ![right-click](http

[2016-10-09 19:56] blaircraft opened #563 "Clicking on an entry in budget activity crashes the toolkit plugin"
Defective ToolKit Feature Name:
### Expected Behavior
- clicking on an entry in budget activity should jump to the corresponding entry in an account
### Actual Behavior

Plugin crashes with the dialog:

[code]
### Steps to Reproduce the Behavior
1. click on _budget_
2. click on _activity_
3. click on entry in list
4. plugin crashes
5. you must refresh/restart YNAB
### System Settings

ToolKit Vers

[2016-10-09 20:06] joshmadewell commented on #563
I believe this was fixed in 0.7.4 which isn't available for Firefox yet
because they are working very slow on that update.

On Oct 9, 2016 2:56 PM, "Blair Craft" <notifications@github.com> wrote:

[2016-10-12 19:05] adamonline45 commented on #552
Darn! Well, thanks for considering it, and the feedback.

[2016-10-12 19:19] adamonline45 opened #564 "Feature Request: Ability to hide non-reconciled, non-scheduled (normal) transactions"
We can hide scheduled transactions and reconciled transactions, but in some cases, it would be convenient to be able to hide the normally-entered, uncleared transactions as well.

I've wished I had this feature when I want to manage my scheduled transactions, or when I'm just entering receipts. Particularly on a poor performing machine, or when I have a LOT of unreconciled transactions.

Thanks fo

[2016-10-13 21:14] crawforc3 opened #565 "Feature Request: Create new budget categories when adding/editing transactions in accounts"
When adding a new transaction manually, I sometimes need to create a new budget category for it. Currently the only way to add a new budget category is to go to the budget section and add it. This is annoying because I have to either leave the transaction without a category (results in annoying notifications) or use an intermediate category like "misc".

If we could create new budget categories fr

[2016-10-14 20:55] herrchin commented on #528
I can confirm. Works great for many of my categories, regardless of current positive or negative total for that category (so whether it needs to add or subtract budget dollars), and no matter what is currently in the budget value (zero or non-zero). On other categories, it just does nothing at all, and those broken categories stay consistent across both Chrome and Firefox on one computer, and also

[2016-10-15 15:34] chrismcgrath opened #566 "Toolkit does not work in "desktop" mode when Chrome is not otherwise open"
Defective ToolKit Feature Name: Entire ToolKit
### Expected Behavior

After using the "Add to desktop" feature to create an application window for YNAB, the Toolkit should work in that window just as it does in a normal Chrome tab.
### Actual Behavior

If Chrome is not already open when the desktop app window is opened, the Toolkit does not load.
### Steps to Reproduce the Behavior
1. ​Go to the Y

[2016-10-18 00:01] StephenBrown2 commented on #557
Maybe making the connecting lines a little thicker would make it clearer?

[2016-10-18 00:19] StephenBrown2 commented on #564
I've found it's a good idea to reconcile your transactions regularly.... I recently found a discrepancy in my transactions that happened a month ago. Took a lot of scrolling to fix it. :-p

[2016-10-18 00:50] Ukiman1014 commented on #557
Hi Stephen,
Sorry I didn't get to respond sooner; just too many other things going on.  I think you may have been right that the lines and colors are just too difficult to trace/connect.  I agree that making the lines a little thicker would help, also not putting similar colors next to each other would be a plus, as well as possibly having the lines splay out more and not be stacked so close toget

[2016-10-19 12:54] seefernando opened #567 "Days of Buffering when using the "Quick Switch""
Defective ToolKit Feature Name: Days of Buffering and Quick Switch
### Expected Behavior

When using quick switch to switch between accounts I expect the days of buffering to reflect the values of the budgeted I switched to.
### Actual Behavior

When using quick switch, the days of buffering calculation seems to cache the previous budgets values.
### Steps to Reproduce the Behavior
1. ​Open Budget

[2016-10-23 14:35] dbaldon commented on #562
This feature by design hides menu options that are disabled. However it appears to be a little to aggressive in that it hides all the menu items in the section rather than each individual menu item. You can see this by virtue of the double separator lines in the first screen shot. The code purports to hide the separators but clearly there is a problem there as well.

My tendency would be to leave

[2016-10-23 14:43] dbaldon commented on #562
@blargity @falkencreative @traveaston  - not sure who the author of this feature was so tagging those with early "involvement". What do you think of my suggestion above to simply leave the menu as is instead of hiding disabled menu items?

[2016-10-23 16:01] falkencreative commented on #562
I developed this feature originally. I can't remember exactly which items offhand, but it hides a couple specific options that don't make sense in the menu. However, it does look like recent changes have caused the menu to hide items it shouldn't. I'll see if I can get that fixed.

[2016-10-23 19:44] EGrayTech opened #569 "Running balance doesn't calculate properly if transactions ordered oldest to newest)"
Defective ToolKit Feature Name: Running balance
### Expected Behavior

The expected behavior is that the running balance will calculate the balance change as the transactions go down the list.
### Actual Behavior

If transactions are in order of newest to oldest (i.e. January 1st, 2017 at the top of the list going back to October 21st, 2016 at the bottom of the list), it calculates properly.

If h

[2016-10-24 23:49] sikachu opened #571 "Please update hosted Safari extension"
Hi,

Please excuse me if this is not the right place to report, but it looks like the hosted built version at http://toolkitforynab.com/safari-updates/toolkitforynab_latest.safariextz for Safari is still at 0.7.3. Do you mind refreshing this archive once you release 0.7.6?

Thank you.

[2016-10-25 06:20] Jarekk82 opened #572 "Error messages where translations are missing"
Defective ToolKit Feature Name:

### Expected Behavior
Show German translation and English text where not available.

### Actual Behavior
Wehre German translation is missing, error messages are shown like "Missing translation: reports.net-worth"

### Steps to Reproduce the Behavior
1. ​Change language to German in Toolkit's settings
2. ​Open reports or locations with missing translations

### Expo

[2016-10-26 13:59] egens commented on #572
This should be fixed with new toolkit version. The thing is that reports add some strings to translation that Toolkit doesn't know about now. #574 fixes this (and contains your translations for German 👍 ).

[2016-10-26 14:27] harleypig opened #575 "suggestion: add on option to move cleared column next to flag column"
This is not a bug, and I didn't see an obvious way to fill out the default form, so I wiped it. If this is wrong, please educate me and I will resubmit.

I would like to have an option to move the flagged and cleared column next to each other, on the left.

[2016-10-26 14:32] dbaldon commented on #575
If you could go here, [https://forum.youneedabudget.com/categories/ynab-extensions] and make the request, bluebird8203 will open a Trello card. That gives others the opportunity to see and vote for the request. The more votes a request gets the higher it goes on the road map. After doing that, please close this Issue. Thanks.

[2016-10-26 22:09] blargity commented on #572
We're going to continue to pull the latest translations into releases from now on. Thanks for the heads up!

[2016-10-26 22:09] #572 closed

[2016-10-26 22:26] blargity opened #576 "Visual Defects when activating a few features together"
From forum user @BritishMuseum:

Defective ToolKit Feature Name:
- Collapsable Sidebar
- Privacy mode
- Reports
### Expected Behavior
- Collapsing the sidebar should not result in visual defects.
- Navigating to reports should not result in visual defects.
### Actual Behavior
- Visual defects are visible on both.

Not sure if this is the right place to mention, but in using both the collapse panel

[2016-10-28 18:19] simplysteph opened #581 "Can't "enter now" for scheduled transactions"
Defective ToolKit Feature Name: Allow Entering Scheduled Transactions 'Now'

### Expected Behavior
See something indicating I could mark a scheduled transaction to be recorded now.

### Actual Behavior
I don't see anything which would relate to the feature.

### Steps to Reproduce the Behavior
1. ​ Open a scheduled transaction
2. ​Look for something related to "enter now"

### Export of Toolkit Se

[2016-10-28 18:46] dbaldon commented on #581
First make sure you have selected only scheduled transactions. Assuming that, the option to enter a scheduled transaction(s) is on the Edit drop-down menu. It will also be visible if you have the "show menu when right clicking on transaction" feature enabled.

[2016-10-28 18:51] simplysteph commented on #581
OK, I see it now. Apparently the key is to know I need to right-click.  You
might want to add that important detail to the settings description.
Thanks again!

On Fri, Oct 28, 2016 at 1:46 PM, David Baldon <notifications@github.com>
wrote:

[2016-10-28 18:53] dbaldon commented on #581
You don't need to right click. That is an optional feature. You can also click on the Edit menu button. That is there for everyone regardless of the "show menu when right clicking on transaction" feature being active. Without that feature being active there is no right click menu.

[2016-10-28 18:54] dbaldon commented on #581
I will update the feature description to better describe how to use it.

[2016-10-28 18:54] simplysteph commented on #581
Got it. Thanks.

On Fri, Oct 28, 2016 at 1:53 PM, David Baldon <notifications@github.com>
wrote:

[2016-10-28 20:01] joshmadewell commented on #581
@simplysteph do you mind closing this issue now that it's working for you? thanks!

[2016-10-28 20:02] #581 closed

[2016-10-30 13:31] falkencreative commented on #547
I don't think this feature is working incorrectly, but @jodyjill you may just not understand how it works?

Pacing works like this: It takes the amount of money you have budgeted for the month and divides it by the number of the days in the month, to come up with a "spending per day" figure. It then multiplies that number by the current day in the month, to figure out if you are behind or ahead of

[2016-10-30 13:36] falkencreative commented on #546
Question on this item -- how is YNAB supposed to figure out how much you have to budget per month?

Say you have a Groceries category with a target category balance goal of $1000. So goal target minus the current amount available in the category?

[2016-10-30 13:45] falkencreative commented on #528
I've tried doing some testing, and unfortunately I'm having trouble duplicating this issue so far.

For this who are having trouble, can I get:

* What's the name of the category? Before the button is clicked, what is the text of the button, and the budgeted and available numbers for that category?
* After the button is clicked, what is the text of the button, and the budgeted and available number

[2016-10-30 14:09] aperl79 commented on #528
1. one of mine that doesn't work is 'Pet and Vet'. it used to be 'Pet & Vet' but i thought maybe the ampersand was the problem so i renamed - didn't help
2. for testing, i budgeted $5 to this category. the Inspector updated the button to "Balance to $0.00: -$5.00".
3. correct, clicking the button results in no changes
4. i opened console but have no idea what i'm looking at. no errors indicated.
5

[2016-10-30 14:12] dbaldon commented on #547
@falkencreative That is a great explanation of what the feature is intended to do. I think it'd be great to add something similar to the options page.

[2016-10-30 14:18] falkencreative commented on #547
I've added a bug fix to help clear up some confusion between this feature and the Budget Progress Bars feature. Pacing now calculates based on the current day in the month, not today - 1 day. I'm not quite sure why this feature was written that way in the first place... but hopefully this change will make the feature work more logically for people.

[2016-10-30 14:20] falkencreative commented on #420
I've added a bug fix to help clear up some confusion between the Pacing feature and the Budget Progress Bars feature. Pacing now calculates based on the current day in the month, not today - 1 day, which could lead to these two features showing slightly different data. I'm not quite sure why this feature was written that way in the first place... but hopefully this change will make the feature wor

[2016-10-30 14:20] falkencreative commented on #341
I've added a bug fix to help clear up some confusion between the Pacing feature and the Budget Progress Bars feature. Pacing now calculates based on the current day in the month, not today - 1 day, which could lead to these two features showing slightly different data. I'm not quite sure why this feature was written that way in the first place... but hopefully this change will make the feature wor

[2016-10-30 14:31] falkencreative commented on #528
@aperl79 - I've tried those exact Toolkit settings, created a category named "Pet & Vet", budgeted $5, quickbudgeted to zero, and it worked fine. Same thing with "Pet and Vet".

Is there anything unique about this category? For example, is it the only category within a category group?

Do you still have this issue after refreshing? Do you have this issue across multiple browsers or computers?

[2016-10-30 14:46] dbaldon commented on #528
I also have a category that this problem occurs on. Looking at previous months I found that in August I had $41.14 in activity and I never corrected the budgeted amount so the Available column displays (in red) negative $41.14. The button displays "Balance to $0.00: +$41.14" same as it does in October. That leads me to suspect that past months are affecting the current month. I tried using the but

[2016-10-30 15:29] aperl79 commented on #528
i have no debts in this category from previous year (just checked)
it is part of my Monthly Expenses super-category, so sadly it has a lot of company. the category immediately above it ("Interest & Fees") also doesn't work, but "Internet" above that works just fine. "Home Maintenance/Upgrades" and "Car Maintenance" in Long-Term Expenses super category also don't work.

[2016-10-30 15:31] aperl79 commented on #528
by the by, "Fuel/Tolls" and "Christmas/Birthdays" both work fine, so I guess it's unlikely it's directly related to the name having special characters

[2016-10-30 15:36] falkencreative commented on #528
@dbaldon - Since you're experiencing the issue too, maybe this is an issue that you could work on?

In your case, are you saying that the budget to zero button is showing an incorrect $ amount in October?

[2016-10-30 16:06] aperl79 commented on #528
i just tried installing and checking in safari, had the same issue on the same categories. same thing happens on my windows PC running chrome

[2016-10-30 18:05] dbaldon commented on #528
@falkencreative I can look at it next.

The zero button for each month shows the correct amount.

[2016-10-30 22:40] aarons22 opened #588 "Feature Request: Image preview for feature on Options page"
I just started using the toolkit and the number of options has been overwhelming (I suppose it's a good problem to have!). Part of the issue is understanding the context for how the feature is applied. The descriptions are great, but I usually don't understand how the feature is going to show up until I apply it and see it visually. Most of the time, my reaction has been "oh yeah, that is going to

[2016-10-31 01:40] jodyjill commented on #547
Thanks for the explanation. I am not sure exactly what I was expecting, but it appears clear now that it is not useful to me at all. I will continue to disable it.
Thanks for all your hard work!

Sent from my iPhone

[2016-10-31 02:32] brnd0n opened #589 "Pressing 'Enter' opens calculator on Account Screen"
Defective ToolKit Feature Name:
-Add a popup calculator
-Change Behaviour of Enter Key When Adding Transactions

### Expected Behavior
Pressing Enter with both of these features on should still save the current transaction.

### Actual Behavior
With both of these features on, the calculator GUI is opened.

### Steps to Reproduce the Behavior
1. ​Set the "Add a popup calculator" and "Change Behavio

[2016-10-31 02:35] toothcarpenter opened #590 "I have official search and Toolkit search isn't going away! Two search bars!"
<img width="539" alt="screen_shot_2016-10-30_at_8_24_07_pm" src="https://cloud.githubusercontent.com/assets/23159351/19842600/18a94366-9ee0-11e6-8b2d-1e27b7fa59b4.png">

Defective ToolKit Feature Name: I have official search and Toolkit search isn't going away.

### Expected Behavior

Only have one search box

### Actual Behavior

I have two search boxes

### Steps to Reproduce the Behavior
1. ​ O

[2016-10-31 04:41] #590 closed

[2016-10-31 04:42] toothcarpenter commented on #590
Maybe I turned it on manually?

[2016-10-31 11:52] joshmadewell commented on #590
Search will be removed in our next release so this shouldn't happen again ;)

[2016-10-31 12:24] egens commented on #588
There was a card on this at our closed trello board. I moved it to the current board.
https://trello.com/c/U5Z1Bu1w

[2016-10-31 15:05] falkencreative commented on #588
I may look at this -- it would be nice to have an options panel that gave more clarity about exactly what each feature does.

[2016-10-31 15:12] dbaldon commented on #588
Big +1 for this idea.

[2016-10-31 15:13] dbaldon commented on #589
I see the issue. Will try and get a fix done in the next day or two.

[2016-11-01 08:16] earlewallbank opened #592 "FEATURE REQUEST: Hide All Accounts Option"
Defective ToolKit Feature Name: Hide All Accounts option

### Expected Behavior
Would like to be able to hide the All Accounts option in the left hand main panel. I personally never use it - I always view individual accounts.

### Actual Behavior

### Steps to Reproduce the Behavior
1. ​
2. ​
3. ​

### Export of Toolkit Settings (Bottom Left of Settings Page)

[code]

### System Settings

ToolKit

[2016-11-01 12:52] egens commented on #592
Hi, thanks for the suggestion. We store feature requests in trello. I moved it there.
https://trello.com/c/8PBLRTjD

Issue should be closed as I think.

[2016-11-01 16:48] falkencreative commented on #576
I have a nice upgrade incoming that will keep the inspector a consistent width, no matter if a user is viewing the app with a full menu or a collapsed menu, and fix the various visual issues. In the final testing stages at the moment.

[2016-11-02 10:52] blargity commented on #552
I'll go ahead and close this discussion here so we can track progress on the Trello card.

[2016-11-02 10:52] #552 closed

[2016-11-02 10:56] blargity commented on #554
Like any metric, DOB is good at measuring some things, and bad at others. Giving the ability to exclude specific transactions from the average would allow you 'fix' this, but then people could just go in and ignore anything that they wanted and get the number to say all kinds of crazy things.

I think honestly the best approach for this is to wait the 30 days and let it reset with more average spe

[2016-11-02 10:56] #554 closed

[2016-11-02 10:57] blargity commented on #555
I just merged this PR, and this should be fixed in our next release.

[2016-11-02 11:00] blargity commented on #557
The line behaviour is coming from the charting library we're using, which is called High Charts: http://www.highcharts.com/demo/pie-basic.

As you can see they do the same bendy line thing. The only demo they have that doesn't have this problem is this one: http://www.highcharts.com/demo/pie-legend

That might be a better way to show this info given how many slices we've got going on. Would that m

[2016-11-02 11:01] blargity commented on #562
I just merged this PR which will leave the menu exactly in tact, so this should be resolved in our next release.

[2016-11-02 11:10] blargity commented on #564
Does search make this easier for you now @adamonline45?

[2016-11-02 11:12] blargity commented on #566
Thanks for the report!

This is something that I don't think we can control. Chrome chooses when to load extensions in or not. I'm also working on this project which might be of interest to you though: https://github.com/toolkit-for-ynab/unofficial-desktop-for-ynab

Next step there is to add the Toolkit, so you'd then get exactly what you're after, a window that doesn't look like a browser but has

[2016-11-02 11:13] blargity commented on #567
Thanks for the report!

[2016-11-02 11:13] blargity commented on #569
Thanks for the report!

[2016-11-02 11:16] blargity commented on #571
This is a great place to report, sorry for the delay.

I just updated the hosted built version to v0.7.6, so I'll go ahead and close this issue. Enjoy!

[2016-11-02 11:16] #571 closed

[2016-11-02 11:17] blargity commented on #588
Also, if we have a preview.gif in the feature folder, I could pull those into the marketing site easily.

[2016-11-02 11:18] blargity commented on #589
This should be fixed for our next release, thanks for the report!

[2016-11-02 11:19] blargity commented on #592
Cool, I'll go ahead and close this issue so we can track progress on the Trello card. Thanks for the suggestion!

[2016-11-02 11:19] #592 closed

[2016-11-02 11:35] sikachu commented on #571
Awesome, thanks!

[2016-11-02 15:25] brnd0n commented on #589
Sweet thanks!

[2016-11-04 11:29] Philiphlop opened #594 "Feature Request: Account Folders"
Hello,

## The Problem
I like many I presume have multiple accounts, I also share YNAB with my partner who has their accounts. We also have shared accounts.

* The number of accounts racks up very quickly
[code]
* Account names are trimmed. This is what I actually see
[code]
 At present I have shortened everything as much as I can, Initial - First few letters - Name (A - Sav - Gen..). But this is

[2016-11-04 14:42] egens commented on #594
Thanks for the request! I've made a card on our Trello board to track it there.
https://trello.com/c/ySbXLvH5

[2016-11-04 19:54] PteDefcon opened #595 "Toolkit Search & Native Search Clash"
Defective ToolKit Feature Name: Disable toolkit search if native search is active

### Expected Behavior
Native search should override the toolkit search function.

### Actual Behavior
Both search bars appear.

### Steps to Reproduce the Behavior
1. ​Enable toolkit search
2. ​Go to either "all accounts" or any of the on/off budget accounts
3. ​Both search boxes are visible.

### Export of Toolkit

[2016-11-04 19:56] joshmadewell commented on #595
hi @PteDefcon this is resolved in our next release as the toolkit search will be removed completely.

thanks for your report. you can leave it open if you choose but this is a known (and fixed) issue.

[2016-11-04 19:58] PteDefcon commented on #595
Good to hear! I couldn't remember if I had seen mention of it's removal but glad to hear you guys are on top of it!

Thanks for the quick response.

[2016-11-04 19:58] #595 closed

[2016-11-05 19:26] dafyddj opened #596 "Pop-up calculator: allow use of decimal typed on keyboard"
Defective ToolKit Feature Name: Pop-up calculator

### Expected Behavior
Typing '21.36' on keyboard in pop-up calculator should result in the number 21.36

### Actual Behavior
Result is '2136'

### Steps to Reproduce the Behavior
1. ​Add or edit a transaction
2. ​Open pop-up calculator from outflow/inflow
3. ​Using keyboard type 2 1 . 3 6

Mouse-clicking  on . (decimal) works as expected.

### Exp

[2016-11-07 23:12] vkbrand opened #598 "Reports rollover transactions from the last day of the month to next month"
Defective ToolKit Feature Name: Reports

### Expected Behavior

Reports used to show transactions sorted by month.

### Actual Behavior

Reports now show some transactions from previous month under the current month, if the date is the last day of the previous month. Possibly a timezone issue?

### Steps to Reproduce the Behavior
1. Noticed Net Worth report and Income vs. Expense report were both

[2016-11-09 17:58] bluebird8203 opened #599 "date selector on net worth report"
Defective ToolKit Feature Name: Net worth report

### Expected Behavior
report shows months selected using filter

### Actual Behavior
starts with month after starting month & one month after ending month
(I've selected April to Sept  - displays May to Oct)

### Steps to Reproduce the Behavior
1. ​
2. ​
3. ​

### Export of Toolkit Settings (Bottom Left of Settings Page)
[{"key":"accountTransaction

[2016-11-09 22:48] Desperateforajob opened #600 "Enter key to trigger inter-category money movements."
As a consumer I expect the Enter key to save the entry when moving money from a category to another, on the budget screen.

### Expected Behavior
When moving $ from a category to another, it should be possible the save the entry by hitting the enter key on the keyboard.

### Actual Behavior
With the modal open (see screenshot attached), it is possible to cancel/close it by hitting the escape key,

[2016-11-10 15:35] bluesofa opened #601 "Print Income/Expense Reports?"
Defective ToolKit Feature Name: Printing

### Expected Behavior
Tabs to separate tables when printing Income/Expense Reports, like works on the budget report

### Actual Behavior
Pipes separate table cells, so it can't be easily read.

### Steps to Reproduce the Behavior
1. ​Income/Expense report
2. ​print to printer or PDF
3. ​

### Export of Toolkit Settings (Bottom Left of Settings Page)

[code

[2016-11-11 03:49] humblpirate opened #602 "Selecting multiple transactions, when filtered by inflow"
Defective ToolKit Feature Name: Multiple Transaction Selection

### Expected Behavior
When selecting transactions, it should only select the transactions actually selected.

### Actual Behavior

When I sort the transactions of a certain account by something other than date, then try to select a large number of transactions, the selection seems to revert to a date based order when selecting the ite

[2016-11-11 13:25] dbaldon commented on #602
Hmm, I don't see what you're reporting. I'm not certain I understand what the problem is. Can you provide some screen shots to help explain the issue? Also, what version of the ToolKit are you using? We also need to see which ToolKit features you have activated so please paste your setting here. You can get them by clicking the Import/Export Settings button in the lower left hand corner of the Set

[2016-11-11 13:56] humblpirate commented on #602
Settings:

[{"key":"accountTransactionSearch","value":true},{"key":"accountsClearSelection","value":false},{"key":"accountsDisplayDensity","value":"0"},{"key":"accountsEmphasizedOutflows","value":true},{"key":"accountsRowHeight","value":"0"},{"key":"accountsSelectedTotal","value":true},{"key":"accountsStripedRows","value":false},{"key":"activityTransactionLink","value":true},{"key":"betterScrollba

[2016-11-11 13:57] humblpirate commented on #602
And I unselected all before doing this.

[2016-11-11 13:58] humblpirate commented on #602
It manifests the worst when selecting higher numbers of transactions.

[2016-11-11 14:55] dbaldon commented on #602
Click on the different headers until you see all the selected txns next to each other. That'll show which column things are sorted on.

In Windows holding down shift to select a range of transactions doesn't work. I see you're on a Mac so maybe it's related to that. @joshmadewell do you see the reported behavior?

[2016-11-11 15:00] joshmadewell commented on #602
@humblpirate have you tried doing this without the toolkit enabled? This seems like a YNAB error to me

[2016-11-14 08:36] ySomic opened #606 "Feature request: Privacy mode, toggle default on"
Defective ToolKit Feature Name: Privacy mode

### Expected Behavior
An option to make the privacy mode default on or remember last state.

### Actual Behavior
On a refresh or reopening the page it will not be in privacy mode

### Steps to Reproduce the Behavior
1. ​Turn privacy mode 'toggle button' in the options
2. ​Use privacy mode using the button
3. ​Refresh the page

### Export of Toolkit Set

[2016-11-14 18:15] kiki-kos opened #607 "Net Worth pulling account values as of second last day of month"
Defective ToolKit Feature Name: Net Worth Graph

### Expected Behavior

Net Worth graphs showing value of accounts as of last day of each month.

### Actual Behavior

Net Worth graphs showing value as of the second last day of the month and misrepresenting the month-end value of the accounts.

EDIT: I had originally thought this only happened with months that had 31 days, but after checking back i

[2016-11-14 18:20] kiki-kos commented on #598
I just posted about a similar problem - this is really messing up the net worth trendline, especfially if you have a lot of transactions on the last day of the month!

I did notice that the YNAB native reports are showing the correct values. It's not a solution to the bug with the toolkit, but you can see the true values if you use the native reports in the meantime.

[2016-11-15 00:35] vkbrand commented on #598
I did notice the YNAB Reports had the correct values but I really dislike their layout so I just changed all of my end of the month transactions to one day earlier. Temporary solution but it fixed my Net Worth values. It wasn't too many for me since I only get paid on the last day of the month for some months.

[2016-11-15 05:04] StephenBrown2 commented on #546
Yes, this is what I would expect exactly.

[2016-11-16 16:04] nerdgore opened #608 "Privacy Mode not working properly for some Reports"
Defective ToolKit Feature Name: Privacy Mode

### Expected Behavior

- activate privacy mode
- all currency values will be obscured until hovered over
- show currency value in reports while hovering over a category

### Actual Behavior

- activate privacy mode
- net worth and spending report shows currency values in graph
- net worth and spending report shows obscured values in graph even if hover

[2016-11-16 16:40] joshmadewell commented on #600
@Desperateforajob this is most definitely a bug and should be reported to YNAB support. You can use their new fancy button to do so!

In the meantime, I'm going to add this to [trello](https://trello.com/c/PLRQuBxN) as a potential enhancement and close the issue.

[2016-11-16 16:40] #600 closed

[2016-11-16 16:43] joshmadewell commented on #599
I've having a tough time reproducing this one. could you provide a screenshot so I can see if there's anything super obvious?

This *could* be related to the report some people have of the last day in the month getting skipped...not sure.

[2016-11-16 16:45] joshmadewell commented on #594
We're going to try and track all enhancements in trello, thanks for the request!

[2016-11-16 16:45] #594 closed

[2016-11-16 16:46] joshmadewell commented on #588
We're going to try and track all enhancements in trello, thanks for the request!

[2016-11-16 16:46] #588 closed

[2016-11-16 16:47] joshmadewell commented on #575
We're going to try and track all enhancements in [trello](https://trello.com/c/dddhJ47C), thanks for the request!

[2016-11-16 16:47] #575 closed

[2016-11-16 16:48] joshmadewell commented on #565
We're going to try and track all enhancements in Trello.

I've added this one [here](https://trello.com/c/VVXB75CB), thanks for the request!

[2016-11-16 16:48] #565 closed

[2016-11-16 16:50] joshmadewell commented on #564
This should really be handled with search using the term `Is: Uncleared`

[2016-11-16 16:50] #564 closed

[2016-11-16 16:54] joshmadewell commented on #561
We're starting to track all enhancements in Trello.

I've added this request [here](https://trello.com/c/7N2taDIV). Thank you!

[2016-11-16 16:54] #561 closed

[2016-11-16 16:55] joshmadewell commented on #546
We're starting to track all enhancements in Trello.

I've added this request [here](https://trello.com/c/TKSCACmC). Thank you!

[2016-11-16 16:55] #546 closed

[2016-11-16 16:56] joshmadewell commented on #529
Going to close this issue since the discussion has mostly moved to your PR #530

[2016-11-16 16:56] #529 closed

[2016-11-16 17:01] joshmadewell commented on #524
Here's the current list of nYNAB keyboard shortcuts.

https://www.youneedabudget.com/learn/guide/user-handbook#keyboard-shortcuts

--

We're starting to track all enhancements in Trello.

I've modified [this trello card](https://trello.com/c/TJe15xHB) to better suit your request. Thank you!

[2016-11-16 17:01] #524 closed

[2016-11-16 17:10] joshmadewell commented on #521
We're starting to track all enhancements in Trello.

I've added this request [here](https://trello.com/c/mx44kPNE). Thank you!

[2016-11-16 17:10] #521 closed

[2016-11-16 17:11] joshmadewell commented on #511
We're starting to track all enhancements in Trello.

I've added this request [here](https://trello.com/c/5kzwJlTd). Thank you!

[2016-11-16 17:11] #511 closed

[2016-11-16 17:11] joshmadewell commented on #457
We're starting to track all enhancements in Trello.

I've added this request [here](https://trello.com/c/IbbUPcL3). Thank you!

[2016-11-16 17:11] #457 closed

[2016-11-16 17:12] joshmadewell commented on #450
We're starting to track all enhancements in Trello.

I've added this request [here](https://trello.com/c/biq8KV1I). Thank you!

[2016-11-16 17:12] #450 closed

[2016-11-16 17:12] joshmadewell commented on #449
We're starting to track all enhancements in Trello.

I've added this request [here](https://trello.com/c/p1kXGtZh). Thank you!

[2016-11-16 17:12] #449 closed

[2016-11-16 17:13] joshmadewell commented on #436
We're starting to track all enhancements in Trello.

I've added this request [here](https://trello.com/c/kr17ngwX). Thank you!

[2016-11-16 17:13] #436 closed

[2016-11-16 17:14] #387 closed

[2016-11-16 17:14] #359 closed

[2016-11-16 17:17] joshmadewell commented on #313
We're starting to track all enhancements in Trello.

I've added this request [here](https://trello.com/c/u6VJvScS). Thank you!

[2016-11-16 17:17] #313 closed

[2016-11-16 21:55] Xelthian opened #609 "The "Toggle Splits" button disappears from the account screen."
Defective ToolKit Feature Name: Toggle Splits Button

### Expected Behavior

Clicking on an account shows the account ledger with the "Toggle Splits" button on the toolbar above the ledger. Clicking on the Budget, then back on the account, the "Toggle Splits" button should still be visible.

### Actual Behavior

Clicking on the Budget, then back on an account results in the "Toggle Splits" button

[2016-11-16 22:30] dbaldon commented on #609
@joshmadewell Looks like isToggling isn't being reset after the being set to true in hideSubTransactions() and showSubTransactions(). Would resetting it after the Ember.run.debounce() call be OK or would that still possibly allow invoke() to called multiple times?

[2016-11-16 22:37] dbaldon commented on #609
This is another case where it'd be really nice if we could "observe" the router changing. Doing that would allow a feature to reset variables in preparation for being called "again".

@blargity have you ever considered this?

[2016-11-16 22:59] blargity commented on #609
I had a crack at doing that for Reports and gave up. You can definitely observer the router changing using the standard Ember router stuff, but what I couldn't figure out was exactly when they were done with routing. I ended up just watching for navlink class changes because it was an easier hook at the time.

If we can find a good way to hook in I'd be happy to expose it like we expose `observe`

[2016-11-16 23:24] dbaldon commented on #609
I agree it's really difficult.

[2016-11-16 23:58] joshmadewell commented on #609
I think I added a way to listen to the router changing but I noticed when using it that the app slowed down a whole lot so I stopped. I believe the code is in feedChanges and the function is onRouteChanged

[2016-11-17 00:21] adamonline45 commented on #564
Seems I missed a reply! Yes, search is sufficient, thanks!

On Wed, Nov 16, 2016 at 8:50 AM, Josh Madewell <notifications@github.com>
wrote:

[2016-11-17 00:26] dbaldon commented on #609
@joshmadewell You are correct. I'll give it whirl at some point and see if I notice the same slowdown that you saw.

[2016-11-17 00:38] bluebird8203 commented on #599
![image](https://cloud.githubusercontent.com/assets/16366835/20371618/51d5e0e0-ac23-11e6-9aa0-a91c18ed84f5.png)

You can see that I have Dec 2015 to Sept 2016 selected, but Jan 2016 to Oct 2016 displaying.

[2016-11-17 00:41] joshmadewell commented on #599
What timezone are you in?

On Nov 16, 2016 6:38 PM, "bluebird8203" <notifications@github.com> wrote:

[2016-11-17 05:39] joshmadewell commented on #606
Implemented in #611 -- this is technically an enhancement which is normally tracked in Trello.

I've added the card [here](https://trello.com/c/fD8rQxfx) and will close this issue. Please open another if you find the feature doesn't work.

[2016-11-17 05:39] #606 closed

[2016-11-17 05:46] bluebird8203 commented on #599
Mountain, with Daylight Savings (Alberta, Canada)

[2016-11-17 06:09] joshmadewell commented on #608
I'm having some trouble with this one...I think either @falkencreative or @egens will have to take this one.

[2016-11-18 17:22] kiki-kos opened #612 "Toolkit Reports button in sidebar remains highlighted after subsequently clicking on Reports"
Defective ToolKit Feature Name: Toolkit Reports

### Expected Behavior

When I click on Tooklit Reports and then on Reports, the left sidebar should only highlight the selected page (Reports).

### Actual Behavior

Both Toolkit Reports and Reports remain highlighted in the sidebar, even if the active page is now Reports. The only way around this is to click something else in the sidebar (such as B

[2016-11-18 17:27] joshmadewell commented on #612
I believe this has been fixed in #604 and will be available in our next release.

[2016-11-18 17:29] joshmadewell commented on #237
@jeffu14 are you still experiencing this issue?

[2016-11-18 17:31] kiki-kos commented on #612
Marvelous - thanks!

[2016-11-18 17:31] joshmadewell commented on #113
@dbaldon is this issue fixed now?

[2016-11-18 17:31] #244 closed

[2016-11-18 17:31] #430 closed

[2016-11-18 17:33] #507 closed

[2016-11-18 17:34] joshmadewell commented on #563
This is a non-issue, firefox just needs to push out our update.

[2016-11-18 17:34] #563 closed

[2016-11-18 17:34] joshmadewell commented on #567
This is an issue with features not "reloading" when people witch budgets.

[2016-11-18 17:37] joshmadewell commented on #337
Closing since it's been a while since we heard back. Please reopen if you're still experiencing the error.

[2016-11-18 17:37] #337 closed

[2016-11-18 17:40] kiki-kos opened #613 "Income vs Expense Report includes previous month with 0 values, skewing averages downward"
Defective ToolKit Feature Name: Income vs Expense Report

### Expected Behavior

When choosing a timeframe in the Income vs Expense Report, report should show only the months selected. Eg. Oct-Nov.

### Actual Behavior

Report includes the previous month (eg. Sep) with 0's all across the board, and these 0 values are included in the average calculation. This skews the averages down, and significan

[2016-11-18 17:41] joshmadewell commented on #613
Do you see September included visually too?

[2016-11-18 17:41] dbaldon commented on #113
There is an issue if you resize the browser window to be narrow enough that the resize handle is not visible. The work around is to resize the window until you can see the resize handle. Someone brought this up on the YNAB forum the other day but were satisfied with the work around.

The programmatic way to fix this is to use percentages rather than pixels. IMO that is an enhancement not a bug.

I

[2016-11-18 17:42] #113 closed

[2016-11-18 17:42] joshmadewell commented on #535
@dbaldon this should be fixed after our last release, lmk if it's not?

[2016-11-18 17:44] dbaldon commented on #535
It is indeed fixed.

[2016-11-18 17:45] kiki-kos commented on #613
Yes. It's 0's all the way down. Regardless of the timeframe chosen, it does this for the one month preceding the timeframe selected.

![image](https://cloud.githubusercontent.com/assets/23459964/20440169/da721288-ad8c-11e6-9318-6a4f1f499cb4.png)

[2016-11-18 17:47] joshmadewell commented on #613
Cool, this must be a timezone issue. I will look into it as soon as I can.

[2016-11-18 17:49] kiki-kos commented on #613
Thanks! FWIW I live in Toronto (Eastern Time Zone)

I don't recall noticing this issue previously - perhaps it has to do with the daylight savings time change?

[2016-11-18 17:52] joshmadewell commented on #613
Yeah, it could be a number of things....I notice that all kinds of people have issues with timezones. I already have the code written to strip out some modifications we're making to dates right now but I was also tackling another bug so I hadn't pushed it up yet.

@shama could you provide any insight as to whether you guys do anything to dates based on timezone? or do you guys always store it as G

[2016-11-18 17:52] #535 closed

[2016-11-18 19:06] shama commented on #613
All dates are stored without times. We have a utility for it `ynab.utilities.DateWithoutTime` when we create dates to ensure they don't use time to avoid timezone issues.

The parts in the client that compares against the user's date will use [moment.utc](http://momentjs.com/docs/#/parsing/utc/).

I wonder if one of the months is just off when being set there? I run into that commonly for off by 1

[2016-11-18 19:13] joshmadewell commented on #613
Awesome, thanks. I know we were manipulating dates into a "local" which is what I think was messing up our data here. I make sure that we're ignoring time completely with all our dates moving forward. Appreciate your help!

[2016-11-18 19:29] waitreally opened #614 ""To Be Budgeted" is orange on budget screen"
Defective ToolKit Feature Name: Unsure

### Expected Behavior
To Be Budgeted should be green.

### Actual Behavior
Is actually orange.

### Steps to Reproduce the Behavior
1. ​Log in
2. ​Click on budget screen
3. ​Orange

### Export of Toolkit Settings (Bottom Left of Settings Page)

[code]

### System Settings

ToolKit Version: 0.7.7
Operating System (Mac/Windows/Etc): Mac
Browser: Chrome
Browser

[2016-11-18 19:34] joshmadewell commented on #614
You're describing the functionality of the To Be Budgeted Warning which, according to the settings you've pasted, you have enabled. You can find this on the budget settings page.

When this is enabled, the color of TBB turns orange when there is money available to be budgeted.

[2016-11-18 19:38] waitreally commented on #614
Okay I promise I looked through the settings. haha, thanks man.

[2016-11-18 19:40] #614 closed

[2016-11-18 19:40] joshmadewell commented on #614
not a problem :D

[2016-11-19 16:38] jeffu14 commented on #237
Hi Josh,

Yes, I still experience this issue. I use Google Chrome. Things like the
striped transactions, Reports, Days of Buffering, etc all seem to load
initially, but not the transaction notifications.

Thanks,
Jeff

On Fri, Nov 18, 2016 at 9:29 AM, Josh Madewell <notifications@github.com>
wrote:

[2016-11-19 16:51] dbaldon commented on #609
PR#616 opened for this issue.

[2016-11-19 17:30] dbaldon commented on #237
@jeffu14 Do you have the Budget Quick Switch feature turned on and do you use it to switch between budgets? I ask because I have observed the "balance to zero" button not being added to the inspector AFTER I switch budgets via the Budget Quick Switch. However, I always see the button (after clicking on am input field in the BUDGETED column) when first getting into YNAB.

 I believe I know what is

[2016-11-19 19:39] dbaldon commented on #237
I have a code change ready that fixes the problem I see but want to wait for feedback from the OP before submitting a PR.

[2016-11-21 15:57] marley412 commented on #419
I see this is an older post, but I'm having a similar issue with this. I'm not sure if it's just my account or what, but I have one credit card that we're trying to pay off. It is no longer highlighted in yellow--it's green just like all of our other cards, even though the current CC payment amount is less than the balance on the card. I tried refreshing but it remains green. I should note, it is

[2016-11-24 23:18] dkisselev commented on #613
Josh, sounds like you got it figured out but +1 on experiencing this type of issue.

I'm in the Pacific timezone and in my Toolkit Income vs Expense report transactions on the 31st of the month are counting towards the following month's category balances.

[2016-11-24 23:46] joshmadewell commented on #602
@humblpirate I'm going to close this because I'm quite certain after my testing that this is an issue w/ native ynab. If you have reason to think otherwise, please reopen the issue.

[2016-11-24 23:46] #602 closed

[2016-11-24 23:49] joshmadewell commented on #601
I think this is more of an enhancement than it is a bug report since reports were not created with printing in mind.

We're starting to track all enhancements in Trello.

I've added this request [here](https://trello.com/c/vvw3Try7). Thank you!

[2016-11-24 23:49] #601 closed

[2016-11-24 23:50] joshmadewell commented on #599
This could potentially be fixed with #618 after our next release I'll ask for more feedback.

[2016-11-25 00:09] joshmadewell commented on #566
My research shows that extensions don't work like this because extensions are loaded into the chrome browser not into the window that's created when making a shortcut like this.

I'm going to leave it up to @blargity to close this one if he feels like he should bue I think this gets fixed by the "unofficial desktop for ynab" feature.

[2016-11-25 00:15] joshmadewell commented on #557
So there's not much we can do here since we're using a library other than changing the legend entirely which I'm not in favor of because this one provides more info when you have fewer slices.

That said, hovering the colors or the label will show you what the number points to and hopefully that helps enough :/ sorry we can't really do much more :(

[2016-11-25 00:15] #557 closed

[2016-11-25 00:16] joshmadewell commented on #555
@ChrisTheCat this should have been fixed in our last release, please let us know if you're still experiencing this issue.

[2016-11-25 00:16] #555 closed

[2016-11-25 00:17] joshmadewell commented on #540
@nardz13  this may have been fixed with #618 let us know after the next release :D

[2016-11-25 00:19] joshmadewell commented on #539
This may be fixed with #618 let us know after the next release :D

[2016-11-26 17:57] joshmadewell commented on #527
@MateoM1955 I'm closing this, if the issue returns please reopen and let us know :D

[2016-11-26 17:57] #527 closed

[2016-11-26 18:00] joshmadewell commented on #502
@scias23 I'm on firefox 48 and it seems to be working? I'm using an Mac which may be the reason I'd have to make a ubuntu vm to test on ubuntu.

Are you still experiencing this issue?

[2016-11-26 18:00] #447 closed

[2016-11-26 18:01] #454 closed

[2016-11-26 18:02] joshmadewell commented on #367
@devinhedge there's been a lot of changes regarding the sidebar since this issue was created are you still noticing this issue?

[2016-11-26 18:03] joshmadewell commented on #248
@casner selected total is now a native YNAB feature so I'm going to close this issue.

[2016-11-26 18:03] #248 closed

[2016-11-30 14:38] gadgetmg commented on #337
I can confirm that this is not working. I have also tried resetting everything else and enabling only this. No matter what, the balance shows green and there's no button in the inspector to rectify the difference.

[2016-12-03 01:51] malutj opened #620 "First budget row is cutoff at the top when using Height of Budget Rows - Slim option"
Defective ToolKit Feature Name: Height of Budget Rows

### Expected Behavior
It is expected that selecting Height of Budget Rows >> Slim will reduce the height of each row without cutting any rows off visually.

### Actual Behavior
When selecting the Slim option, the first row in the budget is cut off at the top. This is a visual UI error. It seems to be even more pronounced when the first row is

[2016-12-04 12:31] redbmk opened #624 ""Show selected total" now an official feature"
[YNAB's 17 Nov 2016 update](https://www.youneedabudget.com/release-notes) added the ability to see the total of selected transactions, making this feature in the toolkit obsolete.

[2016-12-04 12:45] joshmadewell commented on #624
hmm I thought I already did this but I guess not...I made a PR...going to close this one because there's not much to track here...

[2016-12-04 12:45] #624 closed

[2016-12-04 17:31] Jagstyles commented on #387
Any update on this? Are we any closer to having the extension for Edge?

[2016-12-04 19:53] kburla opened #626 "Negative balances are not red"
Defective ToolKit Feature Name:

### Expected Behavior

Negative balances in categories should be red when Highlight all Negative Category Balances Red is toggled on.

### Actual Behavior

Negative balances are blue instead. It doesn't matter whether square negative mode is toggled on or not.

Here's a screenshot: http://imgur.com/9h78KQz

### Export of Toolkit Settings (Bottom Left of Settings Pa

[2016-12-05 18:02] falkencreative commented on #576
I'm going to close this issue due to recent merged changes. If additional adjustments are needed, it's probably best discussed in a new report.

[2016-12-05 18:02] #576 closed

[2016-12-05 18:03] falkencreative commented on #562
Closing -- this issues should be corrected.

[2016-12-05 18:03] #562 closed

[2016-12-05 18:04] falkencreative commented on #547
Closing this issue, since it seems like this was a case of misunderstanding rather than the feature working incorrectly.

[2016-12-05 18:04] #547 closed

[2016-12-05 18:05] joshmadewell commented on #613
@kiki-kos @dkisselev let us know if this can be closed.

[2016-12-05 18:05] falkencreative commented on #626
I'll have to look at this. I imagine it's an a conflict between the "turn all negatives red" and "make all unmet goals blue" features.

[2016-12-05 18:05] joshmadewell commented on #612
@kiki-kos this should have been in our last release, let us know if it's fixed!

[2016-12-05 18:11] kiki-kos commented on #613
All good on my end! Thanks!

[2016-12-05 18:11] kiki-kos commented on #612
Fixed - thank you!

[2016-12-05 18:11] #612 closed

[2016-12-05 18:12] joshmadewell commented on #609
@Xelthian this should have been fixed in our last release, if you still experience the issue, please feel free to reopen this ticket.

[2016-12-05 18:12] #609 closed

[2016-12-05 18:13] joshmadewell commented on #607
@kiki-kos this should have been fixed in our last release, if you still experience the issue, please feel free to reopen this ticket.

[2016-12-05 18:13] joshmadewell commented on #598
@vkbrand this should have been fixed in our last release, if you still experience the issue, please feel free to reopen this ticket.

[2016-12-05 18:13] #598 closed

[2016-12-05 18:13] joshmadewell commented on #596
@dafyddj this should have been fixed in our last release, if you still experience the issue, please feel free to reopen this ticket.

[2016-12-05 18:13] #596 closed

[2016-12-05 18:13] joshmadewell commented on #540
@nardz13 this should have been fixed in our last release, if you still experience the issue, please feel free to reopen this ticket.

[2016-12-05 18:13] #540 closed

[2016-12-05 18:14] joshmadewell commented on #539
@nardz13 this should have been fixed in our last release, if you still experience the issue, please feel free to reopen this ticket.

[2016-12-05 18:14] #539 closed

[2016-12-05 18:15] Xelthian commented on #609
Josh,

Yup, fixed for me. Working as expected. Thanks!

-Mike

On Mon, Dec 5, 2016 at 11:12 AM, Josh Madewell <notifications@github.com>
wrote:

[2016-12-05 18:21] joshmadewell commented on #626
@falkencreative this could be related to the age-old #117 as well

[2016-12-05 18:21] kiki-kos commented on #607
I'm still having this issue, even with the latest release.

[2016-12-05 18:21] joshmadewell commented on #620
@malutj could you provide a screenshot as well?

[2016-12-05 18:22] joshmadewell commented on #599
@bluebird8203 this should have been fixed in our last release, if you still experience the issue, please feel free to reopen this ticket.

[2016-12-05 18:22] #599 closed

[2016-12-05 18:25] joshmadewell commented on #607
@kiki-kos okay, I've reopened -- I'll try looking at this again....it's tough because I'm not seeing it reproduce on my side.

[2016-12-05 18:29] kburla commented on #626
It actually worked fine for a while, but then stopped working after a
certain update. I don't remember which one, but I didn't flag it up when I
first saw it. Is there a setting I can untoggle to get the red negatives to
show?

On Mon, Dec 5, 2016 at 1:21 PM, Josh Madewell <notifications@github.com>
wrote:

[2016-12-05 18:29] kiki-kos commented on #607
![image](https://cloud.githubusercontent.com/assets/23459964/20897083/8dc081a8-baee-11e6-8347-130aebd23ee6.png)

![image](https://cloud.githubusercontent.com/assets/23459964/20897090/96f82d20-baee-11e6-9638-756054de1c86.png)

Here's an example using my Wallet account (cash). June and December are obvious discrepancies. The toolkit report is still pulling the account values on the second last day o

[2016-12-05 18:41] dkisselev commented on #613
@joshmadewell, strangely enough, I'm still seeing this in my budget but not when I play around in a sandbox budget.

In my real budget, I have a direct deposit on 11/01/2016, but the Toolkit Income/Expense report shows that transaction in the October column.

Adding a new dummy transaction on 11/01 also causes it to appear in October.

I'd be happy to run some console commands to dump out my timez

[2016-12-05 18:58] kiki-kos commented on #613
@dkisselev I think you're mixing this up with the other Reports related issue.

This issue is about the 0's thing and it has been fixed. The reports not using the correct month-end account values is a separate issue (#607) which has been reopened. I'm having the same problem as you on that front.

[2016-12-05 19:03] dkisselev commented on #613
@kiki-kos gotcha, thanks! I tried to briefly search for reports-related issues to comment on but missed that one, you're right that your issue is much more relevant so this should be closed.

[2016-12-05 19:29] #613 closed

[2016-12-05 19:38] dkisselev commented on #607
After playing around with breakpoints in toolkit-reports/main.js a bit I was able to reproduce the issue in my Sandbox budget.

Here's how ```transaction.date``` looks like for the rogue transaction (I put a conditional breakpoint down on line 317 in main.js):

```Mon Oct 31 2016 17:00:00 GMT-0700 (Pacific Daylight Time)```

Glancing through the rest of the code, I don't necessarily see you doing

[2016-12-10 18:22] falkencreative commented on #569
At least in my testing, I'm having trouble replicating this. I do get odd negatives... but what I've found is that those negatives are usually caused by the order of transactions -- specifically, when switching between date order, YNAB doesn't switch the order of transactions within the same day.

For example, these transactions will show in the same order, whether or not the date column is sorted

[2016-12-10 23:12] alexmidd opened #629 "Cleared items not showing up with desired reconciled text colour"
Defective ToolKit Feature Name:
Reconciled Text Colour
### Expected Behaviour
Should show as dark grey with green background, based on my current settings

### Actual Behaviour
Background and text colours are unchanged for reconciled entries in the accounts screens

### Steps to Reproduce the Behaviour
1. ​View an account with reconciled and unreconciled entries
2. ​
3. ​

### Export of Toolkit Se

[2016-12-11 15:15] jeffu14 commented on #237
David,

Sorry for the delayed response. I do have the Budget Quick Switch feature
turned on, and I do use it to switch between budgets. I don't see the
balance to zero button in the Inspector upon initial loading of YNAB, but
do once I refresh the page. But I also see the same behavior you mentioned,
my steps are:

(1) BudgetA opens in YNAB with no transaction notification or balance to
zero butto

[2016-12-12 00:57] emoulding opened #630 "Toolkit not working in firefox"
Defective ToolKit Feature Name: Most of them

### Expected Behavior

Usual functioning.

### Actual Behavior

Scrolling in the budget screen was not working--this was fixed by disabling resizing of inspector.
Current month indicator not working.
Income from last month not working.
Remove zeros and negative when covering overspending not working.
Swap cleared and flag not working.
Show menu on righ

[2016-12-12 13:40] motorman612 opened #631 "Toolkit Issues with Safari"
Defective ToolKit Feature Name: Entire toolkit

### Expected Behavior

All designed features.

### Actual Behavior

Toolkit not functioning at all, even after a reinstall. This only started happening after a fresh install of OS X and a restore of all my data from a backup.

### Steps to Reproduce the Behavior
1. ​Install toolkit
2. ​Attempt to use it.
3. ​

### Export of Toolkit Settings (Bottom L

[2016-12-12 19:39] tamoanxx commented on #631
I'm also experiencing this issue as well.

[2016-12-12 19:55] lawrence-dol commented on #630
This is surely related to the following errors in the console.

[code]

[2016-12-12 23:14] blargity commented on #630
Yup, that looks very likely to be the culprit @lawrence-dol. I'll see what I can do about it, and would welcome PRs to fix the issue.

Looks like YNAB has just added or changed their CSP headers which is now blocking Toolkit from running.

[2016-12-15 11:09] alexanderjulo commented on #631
I also cannot see anything working:

![screen shot 2016-12-15 at 12 08 13](https://cloud.githubusercontent.com/assets/144562/21221825/322d2ff2-c2bf-11e6-9970-999b9696c061.png)

This issue might not occur with 0.7.8 but I am unable to build it myself and the version from the safari extension gallery does not occur and the latest download from Safari reports as 0.7.6, so I am unsure. 😐

[2016-12-15 11:15] alexanderjulo commented on #631
This is btw a duplicate of #630, both of them are being caused by the new CSP configured by YNAB.

[2016-12-15 11:22] alexanderjulo commented on #630
One thing to look at might be the Evernote Web Clipper, I am not sure whether it is the same situation really but it seems to run fine on CSP enabled sites like GitHub and YNAB on Safari (which it did not always do), so they are somehow working around this.

[2016-12-15 19:00] lawrence-dol commented on #630
This should be causing it to fail on all browsers, not just FF.

[2016-12-15 19:04] joshmadewell commented on #630
Not all browsers enforce CSP the same for extensions. We'll need to just modify how we're injecting the scripts into the browser.

PRs are welcome -- both @blargity and I are quite busy with our new jobs :(

[2016-12-15 22:50] blargity commented on #630
Yeah, basically in terms of the fix, it seems like instead of directly injecting stuff like:

[code]

We need to point to our background page, which can then proxy the script. Our background page is exempted from CSP, meaning it can send them through.

The place to get started with this in the code is here:

* [Background Page that needs to have a proxy in it](https://github.com/toolkit-for-ynab/t

[2016-12-15 23:55] dbaldon commented on #237
PR created. @jeffu14 Let me know if this doesn't fix your issue.

[2016-12-16 02:14] dbaldon opened #633 "No values in the PACING when there are uncatagorized transactions"
Defective ToolKit Feature Name: Pacing

### Expected Behavior
Values should appear in the PACING column

### Actual Behavior
No values appear in the PACING column

### Steps to Reproduce the Behavior
1. ​Have one or more uncategorized transactions
2. ​
3. ​

### Export of Toolkit Settings (Bottom Left of Settings Page)

[code]

### System Settings

ToolKit Version:
Operating System (Mac/Windows/Et

[2016-12-16 02:14] dbaldon commented on #633
Seeing this in the console;
Uncaught TypeError: Cannot read property 'get' of undefined
    at HTMLUListElement.<anonymous> (main.js:106)
    at Function.each (appmain.171880a….js:1)
    at ae.fn.init.each (appmain.171880a….js:1)
    at Object.invoke (main.js:96)
    at poll (main.js:175)

[2016-12-16 13:34] jaxmom commented on #630
I have reinstalled FF version 49.0.2 (prior to the version 50 update) and still have no luck.  The toolkit is not working on a prior FF version that it worked successfully on.

Does anyone know of anything users can do now? I miss the Toolkit - it is as valuable to me as YNAB itself.

[2016-12-16 14:05] dbaldon commented on #630
Can you use Chrome until the FF issue can be straightened out? There have been issues with the FF approval process for quite a while which has left the Toolkit "behind" what is available on other browsers.

[2016-12-18 06:38] motorman612 commented on #631
I'm not sure what any of that means.

[2016-12-18 11:21] blargity commented on #630
The issue is YNAB have added a CSP header to their responses that wasn't there previously. While this is generally a good thing for security, it's also preventing Toolkit from running, but only in FF and Safari.

The recommendation in the meantime is to use Chrome.

[2016-12-18 21:09] mcmccrosky commented on #631
Any idea when a fix is coming?

[2016-12-18 22:49] blargity commented on #631
I haven't had a chance to work on a fix yet. We'd welcome a PR to fix the issue. In the mean time your best bet is to use Chrome.

[2016-12-26 18:16] spammagnet opened #635 "optional check number field seems to interfere with split transactions"
Defective ToolKit Feature Name: check number in account

### Expected Behavior
Add check number to 1st line of split

### Actual Behavior
Adds check number to each line of split, including summary remainder line. Seems to interfere with net reaching 0, can't save transaction. Also, appears on all lines of split, including "Amount remaining to assign" row. That may be unavoidable but is cosmeticall

[2016-12-28 16:12] MikeBishop opened #636 "Help Button Won't Stay Hidden"
Defective ToolKit Feature Name:  Hide Help Button

### Expected Behavior
When I have enabled the Toolkit feature and hidden the Help button, on subsequent YNAB sessions, the Help button should not be visible.

### Actual Behavior

On each new browser session, the Help button reappears, though the option to hide it is also present.

### Steps to Reproduce the Behavior
1. ​Enable Hide Help Button
2.

[2016-12-30 09:47] falkencreative commented on #636
Correct -- the help button only stays hidden through the current session. It's a known issue, and a fix is in place for the next version of the Toolkit. https://github.com/toolkit-for-ynab/toolkit-for-ynab/pull/627

[2016-12-30 09:50] falkencreative opened #637 "Accuracy issues with reports"
"I'm doing some end-of-year analysis of my spending, largely in preparation for taxes. I'm interested to see how my record-keeping matches up with the W-2 I'm going to receive, for example. I track federal tax withholdings as expenses with the "Federal Government" as the payee.

Since native reports don't have Spending by Payee, I looked at the toolkit report to see what it says is my spending to

[2016-12-30 10:48] falkencreative commented on #637
@joshmadewell I imagine this is something you'd need to look at when you have time.

[2016-12-30 16:46] sevl opened #638 "Calculator does not recognise Central European Number Format in Account View"
Defective ToolKit Feature Name: Calculator

### Expected Behavior
When a decimal number like 1,25 is in the Value field and the Value 0,5 is added using the Calculator, the Value should result in 1,75

### Actual Behavior

The Value results in 1,00

### Steps to Reproduce the Behavior
1. ​Set Number format to 123.456,78 in Budget Settings
2. ​Create a transaction and enter 1,25 in either Inflow or

[2016-12-31 16:22] SamHH opened #640 "Multiprocess / e10s compatibility"
It's listed as e10s-incompatible here: https://addons.mozilla.org/en-GB/firefox/compatibility/reporter/%7B4F1FB113-D7D8-40AE-A5BA-9300EAEA0F51%7D

[2017-01-02 05:07] jsantoru opened #641 "Toolkit Reports - Transactions on first of the month are grouped with previous month"
Defective ToolKit Feature Name: Toolkit Reports (all reports, income vs expense)

### Expected Behavior
Transactions entered on the first of the month are included in that month. For example a transaction made on December 1st 2016, should be included in December 2016 when looking at reports (most noticeable in `income vs expense`).

### Actual Behavior
Transactions entered on the first of the mont

[2017-01-02 21:03] dkisselev commented on #641
This is the same issue as #607, but your description and error report is much more relevant to the overarching issue.

The dev has acknowledged it but isn't in a timezone where it occurs so it's a hassle for him to work/test on.

From my comment in that thread, what happens is that in some configurations, the datetime that toolkit works with includes your timezone offset so when you have a transac

[2017-01-02 23:20] joshmadewell commented on #641
I really want to get to both of these but I just haven't had the time at all to do it :/

[2017-01-03 12:08] amay0048 commented on #630
CSP seems to have been an issue for firefox plugins and bookmarklets for a whille. [Vote on this CSP issue](https://bugs.webkit.org/show_bug.cgi?id=149000) for an updated Firefox implementation.

As per @blargity's comment above, I've tried to proxy the script injection through the backround.js page, but the current kango implementation doesn't support this, and the lower-level extension api's don

[2017-01-03 16:40] joshmadewell commented on #630
@amay0048 I was actually working on option 2 until I got about 4 hours in :/

I really want to tackle this but it's just difficult with the limited about of available time.

[2017-01-04 06:27] gin93r commented on #636
Not sure if this is related to fix #627, but the help button will show back up if Allow Resizing of Inspector is also enabled.

[2017-01-05 04:13] lawrence-dol commented on #630
@amay0048 : Hmmm, unless I am quite confused, the bug report you referenced is for WebKit, which just happens to be using Mozilla's Bugzilla for bug reporting. That is, it's not for Firefox.

[2017-01-05 04:25] amay0048 commented on #630
@lawrence-dol Updated the link to my comment the mozilla one, you can see more in the related tickets, and the see also section.

[2017-01-07 16:52] claw73 opened #643 "Safari extension - pop-up calculator"
Defective ToolKit Feature Name:
Calculator
### Expected Behavior

Pop-up calculator next to "Save" button in Accounts view does not show up.

### Actual Behavior
Not working at all.

### Steps to Reproduce the Behavior
1. ​
2. ​
3. ​

### Export of Toolkit Settings (Bottom Left of Settings Page)

[code]

### System Settings

ToolKit Version:
Operating System (Mac/Windows/Etc):
Browser (Chrome/Fire

[2017-01-07 16:53] claw73 opened #644 "Safari extension - running total column"
Defective ToolKit Feature Name:
Running total
### Expected Behavior

Running total column in Accounts view

### Actual Behavior
Column not visible even though checked in Toolkit settings page.

### Steps to Reproduce the Behavior
1. ​
2. ​
3. ​

### Export of Toolkit Settings (Bottom Left of Settings Page)

[code]

### System Settings

ToolKit Version:
Operating System (Mac/Windows/Etc):
Browser (

[2017-01-07 19:17] dbaldon commented on #643
@claw73 see Issue #631 for more about the extension and Safari. Also having problems on FireFox. Your best bet at this point is to use Chrome.

[2017-01-07 19:17] dbaldon commented on #644
@claw73 see Issue #631 for more about the extension and Safari. Also having problems on FireFox. Your best bet at this point is to use Chrome.

[2017-01-08 05:34] blargity commented on #630
@amay0048: I went ahead and tackled this in the meantime with a new option, which I'll call option 4: Doctor the CSP headers on responses via the background page to allow scripts to be loaded from our specific extension URL. I also had to add `'unsafe-inline'` because the extension sometimes injects straight up `<script>` blocks with bodies to do things like indicate which features are enabled.

Y

[2017-01-08 05:44] blargity commented on #640
Hi @SamHH,

This extension is built with Kango, a cross platform extension library. Kango v1.8.0 supports e10s, which we'd be happy to upgrade to, but Mozilla have not yet approved Kango v1.8.0 for use on AMO. This means if we upgrade to it (we've previously tried), our extension gets rejected during review.

You can see the list of files that are allowed (only up to 1.7.9) here: https://github.co

[2017-01-08 05:45] blargity commented on #638
I believe this will be fixed if we make #639 locale aware.

[2017-01-08 05:52] blargity commented on #631
I looked into this a bit today, hoping to apply the fix I used in #645 to Safari as well, but it looks like there's no way to do that with Safari's extension API: https://stackoverflow.com/questions/29824490/how-modify-the-request-headers-using-safari-extension

If this is the case we may very well need to pull the extension for Safari entirely, as I can't seem to find another way around this issu

[2017-01-08 07:43] amay0048 commented on #630
@blargity awesome-sauce, this was the magic line that I couln't get running 👍
`const { classes, interfaces } = Components;`

[2017-01-08 17:36] falkencreative commented on #636
@gin93r - That's actually a false positive -- the help button will show up if you refresh, regardless of what features you may have enabled. A fix for this is coming in an upcoming version, so the button properly remembers the user's visibility setting between browser sessions.

[2017-01-08 17:39] falkencreative opened #646 "[Toggle Splits] Button hidden"
Defective ToolKit Feature Name:
Toggle Splits

### Expected Behavior
Toggle splits button should appear in the toolbar.

### Actual Behavior
In one of the most recent YNAB updates, the Toggle Splits button has either been hidden due to a CSS width setting on ".accounts-toolbar-left".

### Steps to Reproduce the Behavior
1. ​Use the Toolkit with Toggle Splits enabled, and view an account view.

###

[2017-01-09 00:31] gpeden opened #647 "FEATURE REQUEST: Allow user to select red background color for Show Import Notifications in Sidebar feature"
Enhanced ToolKit Feature Name: Show Import Notifications in Sidebar

### Expected Behavior
User Story: As a nYNAB Toolkit User, I can choose a red background to the import notification so that it easier to see.

### Detailed Description
Many apps show a red circle with white number for notifications (Slack, most iOS apps, etc.).  I am used to that and found the default color a bit hard to notice.

[2017-01-09 00:31] gpeden commented on #647
I have this working my private fork and am doing final testing.  Will submit a PR.

[2017-01-09 03:33] amay0048 commented on #631
This looks like it may be an option: https://transitory.technology/browser-extensions-and-csp-headers/

Currently exploring.

[2017-01-09 13:57] gin93r commented on #636
Thanks @falkencreative :)

[2017-01-10 02:31] simplysteph commented on #646
Same issue - cannot access the "toggle splits" button

[2017-01-10 13:46] Jagstyles opened #648 "Pacing - Should Account For Scheduled Transactions"
Defective ToolKit Feature Name:

### Expected Behavior

Ideally, it would be nice if the Pacing Column would account for scheduled transactions that take place early in the month so it doesn't assume you will overspend in a category. In the example used below, it would essentially ignore scheduled transactions (since you are aware these are happening) and only looks at the remaining transactions t

[2017-01-10 19:27] croaganey commented on #646
Toggle Splits button missing since 1/7/17

**Export of Toolkit Settings (Bottom Left of Settings Page)**
[{"key":"accountsClearSelection","value":true},{"key":"accountsDisplayDensity","value":"2"},{"key":"accountsEmphasizedOutflows","value":true},{"key":"accountsRowHeight","value":"2"},{"key":"accountsSelectedTotal","value":true},{"key":"accountsStripedRows","value":true},{"key":"activityTransacti

[2017-01-10 19:51] kiki-kos opened #650 "FEATURE REQUEST: Unique colour for each account in Net Worth bar chart (stacked)"
Enhanced ToolKit Feature Name: Account Colours in Net Worth Chart
(I hope I'm posting this in the right place)

### Expected Behavior

It would be useful to see how individual account balances change from month to month in the Net Worth graph. This could be done by assigning a unique colour to each account instead of one colour for all debts and one for all assets. There would still be one bar eac

[2017-01-10 23:03] dbaldon commented on #648
@Jagstyles, enhancements are tracked on Trello (https://trello.com/b/EzOvXlil/toolkit-for-ynab-roadmap) so that we can get an idea of how many Toolkit users would find the enhancement valuable. That helps us prioritize what gets worked on. Would you please open your request there and then close this Issue? Thanks!

[2017-01-10 23:03] dbaldon commented on #650
@kiki-kos, enhancements are tracked on Trello (https://trello.com/b/EzOvXlil/toolkit-for-ynab-roadmap) so that we can get an idea of how many Toolkit users would find the enhancement valuable. That helps us prioritize what gets worked on. Would you please open your request there and then close this Issue? Thanks!

[2017-01-11 14:29] kiki-kos commented on #650
@dbaldon On it. Thanks for redirecting me.

I've made the account and I have access to the Toolkit board... but I don't see an option to add a new card with my suggestion. How to I post it? And do I post to the "Under Consideration" list?

[2017-01-11 14:33] dbaldon commented on #650
Click the three dots in the upper right portion of the Under Consideration board then click Add Card.

[2017-01-11 14:34] kiki-kos commented on #650
I only see the option to subscribe:

![image](https://cloud.githubusercontent.com/assets/23459964/21852475/351fa32a-d7e1-11e6-92f4-a89faae91c2a.png)

[2017-01-11 14:54] dbaldon commented on #650
Send a message on Trello to bluebird8203 as they have been acting as the request coordinator.

[2017-01-11 23:37] dbaldon opened #651 "Pacing feature should affect only the current month"
Defective ToolKit Feature Name:

### Expected Behavior
Since pacing only affects the current month, it should not have any affect on other months yet it does.

### Actual Behavior
Currently it adjusts the width and position of other columns even though nothing is visible.

### Steps to Reproduce the Behavior
1. ​Activate the feature
2. ​Move to a previous or future month
3. ​Values in the columns

[2017-01-11 23:56] kergoth opened #652 "Feature Request: Add 'Trends' to Spending by Payee report"
Defective ToolKit Feature Name:

### Expected Behavior

The Toolkit spending reports lack the Trends view that the stock Spending by Category report has. I'd expect the Toolkit Reports to have the same baseline features as stock (admittedly a moving target :). It's not an issue for the category trends, as we can just use the stock Reports for that, but it'd be nice to have a trend view by payee as

[2017-01-12 00:11] datvance opened #653 "JS Errors causing problems for multiple features"
Defective ToolKit Feature Name: Seems widespread but accounts-row-height is always broken for me.

### Expected Behavior
No javascript errors in console. All enabled features should load and work.

### Actual Behavior
Several js errors in console. Not all enabled features work.

So just browsing to the users/login or users/budgets page throws toolkit errors. See screenshots. Seems like the toolkit

[2017-01-12 13:35] dbaldon commented on #653
I've been meaning to fix the exception thrown in accounts-row-height/main.js for months but just haven't done it. I'll jump on it this weekend.

[2017-01-12 13:38] dbaldon commented on #653
I'm fixing the same error in the pacing feature since I'm already working on a fix for it #651.

[2017-01-12 14:09] #650 closed

[2017-01-12 14:13] dbaldon commented on #653
PR #657 created for the error in accounts-row-height/main.js.

[2017-01-13 07:46] Retrend53 commented on #646
Toggle split button has disappeared and currently no way of opening to view the splits in a transaction.

[2017-01-13 08:15] Retrend53 opened #660 "Add a popup calculator adds only two entries per line"
Defective ToolKit Feature Name: Add a popup calculator - When adding or editing a transaction a button will be added to the left of the 'Save and add another' or 'Save' button that when clicked will display a full calculator.

### Expected Behavior
should add as many entries as needed

### Actual Behavior
will add the first two entries and display only, then not allows a 3rd nor subsequent additio

[2017-01-13 14:34] falkencreative commented on #646
@Retrend53 - You'll need to disable this feature for now, and re-enable once we update with a fix.

[2017-01-15 19:28] dbaldon commented on #660
This has been corrected in PR 661.

[2017-01-16 21:17] pbolgert opened #664 "Toolkit Reports: Purchases made on the 1st of the month are included in last month's Expenses"
Defective ToolKit Feature Name: Toolkit Reports, Income vs. Expense

### Expected Behavior
January 2017 expenses should include all purchases made in January, including 1/1/2017.

### Actual Behavior
The purchases made on 1/1 are being put into the December 2016 report, and not in the January 2017 report.

### Steps to Reproduce the Behavior
1. ​ Spend money on the first of the month (Say, Jan 1,

[2017-01-16 21:20] pbolgert commented on #664
I apologize.  This has been brought up before, namely Issue 637.

[2017-01-16 21:20] #664 closed

[2017-01-16 21:27] dbaldon commented on #664
@pbolgert I suggesting adding what you've observed to the other issue. More details helps track down exactly what's going wrong.

[2017-01-16 21:33] pbolgert commented on #641
I am also experiencing this issue. Central Time Zone (Wisconsin).

Export of Toolkit Settings (Bottom Left of Settings Page)

[{"key":"accountsClearSelection","value":false},{"key":"accountsDisplayDensity","value":"0"},{"key":"accountsEmphasizedOutflows","value":false},{"key":"accountsRowHeight","value":"0"},{"key":"accountsSelectedTotal","value":false},{"key":"accountsStripedRows","value":false},

[2017-01-17 23:55] pdvachon commented on #528
I am running Chrome on MacOS Sierra with Toolkit for YNAB 0.7.8. Even though I have it enabled, there is no Budget to Zero button in the Budget Inspector.
![budget_to_zero](https://cloud.githubusercontent.com/assets/25188091/22045126/7e76c8a0-dce6-11e6-9809-8124fe8c92b5.jpg)

[2017-01-18 13:48] dbaldon commented on #528
@pdvachon since I don't know which features you have enabled, can you verify that "Budget Balance to Zero" is enabled in the Options page  on the budget tab. Not appearing is a different issue that what this Issue is about. If you do have the feature enabled and it does not appear at all, please open a new Issue via the "Report a Bug" button. Thanks.

[2017-01-18 13:54] pdvachon commented on #528
Will do later today.
PV

On Jan 18, 2017, at 08:48 AM, David Baldon <notifications@github.com> wrote:

@pdvachon since I don't know which features you have enabled, can you verify that "Budget Balance to Zero" is enabled in the Options page on the budget tab. Not appearing is a different issue that what this Issue is about. If you do have the feature enabled and it does not appear at all, please o

[2017-01-18 15:18] pdvachon opened #665 "Balance to Zero button doesn't appear in Budget Inspector when Enabled in Settings"
Defective ToolKit Feature Name: Balance to Zero Button

### Expected Behavior
When this option is enabled in Toolkit for YNAB settings, there should be a button in the YNAB Budget Inspector to set the category/subcategory balance to zero when clicked.

### Actual Behavior
Button does not appear in inspector

### Steps to Reproduce the Behavior
1. ​Launch YNAB
2. ​Got to Budget page
3. ​Button does

[2017-01-18 16:24] sambostock opened #666 "Pacing column unaffected by Privacy mode"
### Defective ToolKit Feature Name:

Privacy Mode & Pacing Column

### Expected Behavior

Privacy mode should blur all columns, including pacing column.

### Actual Behavior

Pacing column remains unblured.

### Steps to Reproduce the Behavior
1. ​Enable Toolkit Settings > Budget Screen > Add Pacing to the Budget > Show Full Amount
2. ​Enable Toolkit Settings > General > Privacy Mode > Add Toggle

[2017-01-18 16:27] sambostock commented on #666
The elements in the pacing column just need the `currency` class applied, and the CSS works.

[2017-01-18 18:09] falkencreative commented on #665
An additional comment to clarify this issue: It looks like there is no button when no categories are selected (when the inspector is showing data for the entire budget as a whole). I'm having a hard time telling if this is an actual bug, or if this feature currently only works for individual categories.

[2017-01-18 18:53] datvance commented on #665
I have this problem. I think it's related to this:
https://forum.youneedabudget.com/discussion/53472/0-7-8-many-tools-not-available-without-refreshing-browser

If I refresh the page, then the Balance to Zero button shows up (along with other features like Check Credit Balances).

@falkencreative Even when a category is selected, the button doesn't appear until I refresh the page.

e.g.

1. Go to b

[2017-01-18 19:01] dbaldon commented on #665
This feature (budget to zero) works at the sub-category level only.

[2017-01-18 19:11] pdvachon commented on #665
David,

A sub-category is selected but there is no button for balance to zero.

Peterr
On Jan 18, 2017, at 02:01 PM, David Baldon <notifications@github.com> wrote:

This feature (budget to zero) works at the sub-category level only.
—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-01-18 19:32] datvance commented on #665
yes, i was unfamiliar with the terminology. i meant sub-category in my response above.

[2017-01-18 19:50] pdvachon commented on #665
I can confirm the button appears after doing a browser refresh (F5).

On Jan 18, 2017, at 02:01 PM, David Baldon <notifications@github.com> wrote:

This feature (budget to zero) works at the sub-category level only.
—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-01-18 19:55] dbaldon commented on #665
I think it is related to the comment by ScooterYou in the forum link provided earlier in this thread. IOW, if you enter the app without the "budget id' as part of the URL, some of the features are not active. What's odd is I can see the link to the script in the <head> but when you look at the Sources tab of the Developer Tools, you don't see all the features listed (there should be a folder for e

[2017-01-18 20:00] datvance commented on #665
@dbaldon I am ScooterYou on the forum. Sorry for any confusion.

Here's a quick screen recording of the bug.
https://drive.google.com/open?id=0B57T5ClKR-IKNkVaWkpTdEJaeVk

[2017-01-18 22:50] MG2R opened #669 "Multiple features not working, console says "ReferenceError: ynabToolKit is not defined""
Defective ToolKit Feature Name:

* Add goals indication
* Add expand/collapse master button
* Budget quick switch
* Collapsible side menu
* Current month indicator
* Days of buffering metric
* Goal indicator warning color
* To be budgeted warning

### Expected Behavior
Everything working

### Actual Behavior
The stuff above (and probably lots more) is broken (doesn't do anything, doesn't show the

[2017-01-18 22:56] MG2R commented on #669
Derp, seem to have missed #630 in my earlier look at open issues. Sorry.

[2017-01-18 22:56] #669 closed

[2017-01-19 02:54] dbaldon commented on #665
I've determined why the feature isn't working as it should. Should have a code fix ready to go shortly.

[2017-01-19 03:12] dbaldon commented on #665
PR #670 created.

[2017-01-19 04:49] datvance commented on #665
Your PR fixes seems to fix this issue for me. Thanks.

There are other features, like Check Credit Balances, that have the same problem (not loading except on refresh).

[2017-01-19 14:18] dbaldon commented on #665
I **think** some of this is also related to several features that throw uncaught errors during startup. I've submitted PRs for a couple of them (PR #657 PR #656). My comment earlier in this Issue described a discrepancy I observed between the scripts loaded and the features loaded (as seen in the Developers Tools Sources tab). Last night I switched to the branch that fixed the problem in accounts-

[2017-01-19 14:30] dbaldon commented on #665
@datvance any feature that has this;
`budgetView: ynab.YNABSharedLib.getBudgetViewModel_AllBudgetMonthsViewModel()._result,`
needs the following in the function invoked by `invoke()`;
[code]
For the check-credit-balances it should go in `getDebtAccounts()`

[2017-01-19 14:37] aarons22 opened #672 "Feature Request: De-select transaction row on Save"
Feature Name: De-select transaction row on Save

### Expected Behavior
When clicking Save on a row, I'd love for it to de-select that row. I often find myself getting annoyed that I have to go back and uncheck the row when I've moved on to another transaction, especially once that I am intending to select, since I now have two rows selected.

### Steps to Reproduce the Behavior
1. ​Add/edit a tran

[2017-01-19 14:43] datvance commented on #665
I thought so too, but I have my own clean build of the toolkit with no
errors, and I still have some features not loading until refresh. Seems
like there is something else going on with the load code.

On Jan 19, 2017 7:18 AM, "David Baldon" <notifications@github.com> wrote:

[2017-01-19 14:51] dbaldon commented on #672
I really like the idea and have often wished for it. Feature requests are tracked on the Toolkit Trello board. Please use the Extensions section of the YNAB forum and user bluebird8203 will create the request on Trello. The reason for using the forum and Trello is to allow many users to see the request and vote on it which allows the Toolkit developers to prioritize the work.

[2017-01-19 14:54] dbaldon commented on #665
Setting a breakpoint on invoke() and seeing what happens (if anything) during a load should help track them down. That's how I found the issue with budgetView not being valued.

[2017-01-20 03:00] datvance commented on #665
@dbaldon Your suggestion above to check and set budgetView if null worked in check-credit-balances, and I added it to my existing PR for the feature.

[2017-01-20 03:09] datvance commented on #672
I agree it's annoying and would be a good feature.

@dbaldon I know I'm late to the toolkit party, so I'm just trying to get a handle on the rules and culture here, but if there is a developer willing to build this feature (e.g. me), can we just go ahead and do it, or do we have to wait for it to get enough votes on the Trello board? There are some features on Trello I think would be useful that h

[2017-01-20 03:39] dbaldon commented on #672
You're more than welcome to develop the feature and submit a PR. No need to maintain your own fork. Personally I see writing features we want as one of the privileges of donating your time to the tool kit. At the same time I do try to balance writing new features with fixing existing issues. I want folks know we stand behind our work not to mention when the tool kit doesn't work nYNAB can really s

[2017-01-20 04:20] blargity commented on #672
@datvance, welcome!

No need to wait for votes, just make sure you claim a trello card so we don't end up with two people building the same thing at the same time.

If you need access to the trello board just let me know!

[2017-01-21 01:40] jessejanderson opened #673 "FEATURE REQUEST: Daily Net Worth Chart"
I recently tried out PocketSmith - cool app but not for me.

But one of the things I loved about it was that their net worth chart was a daily one (with projected net worth). I'm not sure if it's possible, but it would be really cool to have this option.

![image](https://cloud.githubusercontent.com/assets/8367129/22170797/76767b2a-df37-11e6-8b52-0e7e822dd0bd.png)

[2017-01-21 18:01] dbaldon commented on #528
@aperl79 @herrchin In researching this issue I've come across a couple of issues. One is related to having multiple sub-categories that are named the same. e.g. Misc. The other one is that if a sub-category has a value in the Notes section of the Inspector, the Balance to zero button does nothing. I know why that is occurring and it'll be an easy fix. I'd like to ask y'all if the categories that a

[2017-01-21 20:17] aperl79 commented on #528
I think the Note may be the key! I looked through and found all of my problematic categories do have Notes. I deleted one Note and now Balance to Zero works for that category. replaced Notes, and it stopped working again. PS, I dont have any duplicate category names, such as 'Misc.'

[2017-01-21 20:20] dbaldon commented on #528
Thanks for checking. I was pretty certain that was the problem after looking at the code.

The duplicate sub-category name is a different problem. It manifests as the amount in the Inspector button having the value associated with the first duplicate sub-category name found. Again, an easy fix.

[2017-01-21 20:39] dbaldon commented on #339
Features affected by the issue:

- Add Goals Indication (fixed in PR #674)
- Budget Rows Progress Bars (fixed in PR #674)
- Budget Balance to Zero (fixed in PR #665)
- Goal Indicator Warning Color (this should be fixed by virtue of the first item being fixed)

[2017-01-21 20:42] dbaldon commented on #638
This should be fixed in PR #661.

[2017-01-21 20:57] aperl79 commented on #528
thanks for figuring it out!!

[2017-01-22 04:02] NetJon commented on #646
Just letting y'all know that I am having the same issue and am disabling that feature.

I am unable to access the split info at all with this info because the toggle splits feature isn't working and there is no other way to access those splits.

[2017-01-22 04:36] joshmadewell commented on #646
Hey @netjon our fix will be released *soon*.

Sorry for the delay.

On Sat, Jan 21, 2017 at 10:02 PM, NetJon <notifications@github.com> wrote:

[2017-01-22 04:44] NetJon commented on #646
No worries Josh.

I appreciate what y’all are doing.

Blessings to you!

From: Josh Madewell [mailto:notifications@github.com]
Sent: Saturday, January 21, 2017 10:37 PM
To: toolkit-for-ynab/toolkit-for-ynab
Cc: NetJon; Mention
Subject: Re: [toolkit-for-ynab/toolkit-for-ynab] [Toggle Splits] Button hidden (#646)

Hey @netjon our fix will be released *soon*.

Sorry for the delay.

On Sat, Jan 21, 20

[2017-01-22 09:46] #666 closed

[2017-01-22 09:53] blargity commented on #631
Interesting. I'd be happy to merge a PR if you can get it working!

[2017-01-22 10:25] blargity commented on #653
Just wanted to say thank you both again, much appreciated!

[2017-01-22 16:14] dbaldon opened #676 "Conflict between Add Goal Indication and Pop-up Calculator on the budget screen"
Defective ToolKit Feature Name: Pop-up Calculator

### Expected Behavior
I should be able to use the mouse to click the buttons on the calculator when doing calculations.

### Actual Behavior
Clicking any button with the mouse results in the calculator being dismissed and the sub-category row beneath the button is selected. If the row beneath the button is a master-category the calculator is simpl

[2017-01-22 17:55] datvance commented on #672
This feature request has not made it to the forum or trello so I'm going to comment here.

I only see the behavior of selecting rows when editing transactions, not adding new ones. Am I missing something?

Also, it would be a nice feature on the budget screen as well where the same thing happens when editing a sub-category. Should these be two separate features, one for budget and one for accounts

[2017-01-22 18:42] datvance opened #677 "HTML in Popup Calculator Feature Description"
Defective ToolKit Feature Name: Options Page

It looks like some html got accidentally merged in PR #661, probably related to PR #662?

### Expected Behavior
No HTML tags.

### Actual Behavior

`<b>Account screen:</b> when adding or editing a transaction a button will be added to the left of the 'Save and add another' or 'Save' button that when clicked will display a full calculator.<br /><b>Budge

[2017-01-22 18:45] dbaldon commented on #672
You're correct that it's only when editing and not adding.

I'm not sure it's needed on the budget screen since there are no Save and Cancel buttons like on there accounts screen.  The two screens work differently enough that I've never found myself irritated that the row was still selected after editing the budget amount (the most commonly updated field). My .02

[2017-01-22 18:50] datvance commented on #677
There's also a console.log left in main.js line 25.

[2017-01-22 19:26] joshmadewell commented on #673
We're starting to track all enhancements in Trello.

I've added this request [here](https://trello.com/c/d07PrHdz). Thank you!

[2017-01-22 19:26] #673 closed

[2017-01-22 19:29] joshmadewell commented on #672
We're starting to track all enhancements in Trello.

I've added this request [here](https://trello.com/c/wOxbnUBs). Thank you!

[2017-01-22 19:29] #672 closed

[2017-01-22 21:21] dbaldon commented on #677
Crap. Thought I got all those.

[2017-01-22 21:48] dbaldon commented on #677
Re; the html tags. I'm going to look into implementing markdown as suggested by @blargity and will remove the tags as part of that PR.

[2017-01-23 00:04] herrchin commented on #528
@dbaldon I confirm that my problem categories all had notes, and that it looks fixed now. Thank you!

[2017-01-23 00:09] dbaldon commented on #528
Thanks for checking and confirming.

[2017-01-24 01:30] aarons22 commented on #672
Thanks @joshmadewell! Also, looks like the link on the README to suggest new features is pointing to the old thread, just FYI.

[2017-01-24 03:44] nardz13 opened #678 "Changing transaction sequence doesn't seem to update Running Balance"
Defective ToolKit Feature Name:

### Expected Behavior

if i change the date of a transaction(s), and the transaction therefore moves, the running balances of other transactions don't reflect this change.

ie.
Transaction1: 1/1/2017 - Deposit $100 - RB $100
Transaction2: 2/1/2017 - Withdrawal $10 - RB $90
Transaction3: 3/1/2017 - Withdrawal $50 - RB $40

change transaction2 to 4/1/2017.
end up wit

[2017-01-24 23:19] ohthehugemanatee commented on #640
Well that freakin' sucks, especially since FF is moving to e10s everywhere now. Thanks for the clear explanation though.

[2017-01-25 22:45] dbaldon commented on #528
@aperl can you verify this is resolved and close the Issue? Thanks.

[2017-01-25 22:46] #676 closed

[2017-01-25 22:47] dbaldon commented on #665
@pdvachon can you verify this is resolved and close the Issue if it is? Thanks.

[2017-01-25 22:47] dbaldon commented on #660
@Retrend53 can you verify this is resolved and close the Issue if it is? Thanks.

[2017-01-25 22:47] pdvachon commented on #665
Dear David,

Yes, it appears to be working now. Thanks!

Peter

[2017-01-25 22:48] dbaldon commented on #653
@datvance can you verify this is resolved and close the Issue if it is? Thanks.

[2017-01-25 22:48] #651 closed

[2017-01-25 22:49] dbaldon commented on #646
@falkencreative can you verify this is resolved and close the Issue if it is? Thanks.

[2017-01-25 22:49] dbaldon commented on #638
@sevl can you verify this is resolved and close the Issue if it is? Thanks.

[2017-01-25 22:49] dbaldon commented on #636
@MikeBishop can you verify this is resolved and close the Issue if it is? Thanks.

[2017-01-25 22:50] #633 closed

[2017-01-25 22:51] dbaldon commented on #567
@seefernando can you verify this is resolved and close the Issue if it is? Thanks.

[2017-01-25 22:52] dbaldon commented on #523
@Flyou10 can you verify this is resolved and close the Issue if it is? Thanks.

[2017-01-25 22:52] falkencreative commented on #646
@dbaldon - This has been somewhat fixed? It's fixed for users who have a browser width of 1375 pixels or wider, but the button is hidden for users who have a smaller display unless they do something to adjust the width (like collapse the left navigation, for example).

[2017-01-25 22:53] dbaldon commented on #419
@Flyou10 @marley412 can y'all verify this is resolved and close the Issue if it is? Thanks.

[2017-01-25 22:54] dbaldon commented on #339
@kimifoud can you verify this is resolved and close the Issue if it is? Thanks.

[2017-01-25 22:56] #665 closed

[2017-01-25 22:56] dbaldon commented on #665
@pdvachon Thanks

[2017-01-25 23:13] dbaldon commented on #237
@jeffu14 can you verify this is resolved and close the Issue if it is? Thanks.

[2017-01-25 23:56] dbaldon commented on #646
@falkencreative When I resize the browser window to be narrower than about 1360px the Toggle Splits button is hidden but if I keep going more narrow eventually the Redo button disappears and if I keep going both the Redo and Toggle Splits buttons reappear below "Add a transaction". The PR set the width of the left-hand toolbar to be 50% instead of 29 rem. I suppose setting it to something like 35%

[2017-01-26 02:10] joshmadewell commented on #652
We're starting to track all enhancements in Trello.

I've added this request [here](https://trello.com/c/9H3fN6fh). Thank you!

[2017-01-26 02:10] #652 closed

[2017-01-26 02:13] joshmadewell commented on #607
@kiki-kos should be fixed in our next release (for real this time i hope)

[2017-01-26 02:14] #647 closed

[2017-01-26 05:04] #653 closed

[2017-01-26 13:36] dbaldon commented on #638
Sorry about that. Thanks for checking. I'll look into it.

[2017-01-26 14:02] jeffu14 commented on #237
I'm not seeing any difference in behavior using version 0.7.10 of the toolkit. I still need a reload of the page after I initially open YNAB or initially open a new budget to see the transaction notifications.

[2017-01-26 14:04] dbaldon commented on #237
What about the balance-to-zero issue?

[2017-01-26 14:15] jeffu14 commented on #237
Still requires a reload upon initially opening YNAB or opening a new budget before option is displayed.

[2017-01-26 15:43] aperl commented on #528
@aperl79 I think @dbaldon meant to send this message to you.

[2017-01-26 15:52] dbaldon commented on #528
Yep, I got mt aperls mixed up. Doh!

[2017-01-26 20:48] marley412 commented on #419
This remains true for me.

[2017-01-26 21:07] dbaldon commented on #419
@marley412 can you provide a screenshot showing what you're seeing? Thanks for helping diagnose this.

[2017-01-26 21:29] Flyou10 commented on #419
Here is a screenshot from my computer.  As you can see, next to my "Bank of America" it shows I have 23 charges that are not categorized.  Since they are not categorized, my "Pacing" numbers along the right are gone.  Also, the goal shading is back to normal YNAB behavior.  Example, the "Tithe" category is shaded yellow, instead of blue for the goal not being met.

![ynab](https://cloud.githubuser

[2017-01-27 02:40] Retrend53 commented on #660
Calculator now doesn't appear even after selecting and saving popup calculator at the settings page, so can't test as yet

[2017-01-27 02:44] Retrend53 commented on #646
I can now see the splits as each remains uncollapsed, but I can't see the toggle splits button. Hopefully we can see this feature turned back on and working soon as seeing multiple uncollapsed splits in an account looks untidy.

[2017-01-27 02:54] dbaldon commented on #660
Strange. Can you post a screen shot showing the open split with the calculator button showing?

[2017-01-27 02:56] dbaldon commented on #646
What resolution is your screen set at or do your have the browser window sized pretty narrow? If it's narrow what do you see if you maximize it?

[2017-01-27 03:03] Retrend53 commented on #646
Ah yes, when I maximised the YNABn screen the Toggle Splits button appears and works. Not ideal but does work when maximised. Thanks.

[2017-01-27 03:17] Retrend53 commented on #660
Just tried again and calculator appears after a very short delay. Also takes multiple keyed additions. So all is working as it should. Thanks.

[2017-01-27 03:18] Retrend53 commented on #660
Resolved. Please close.

[2017-01-27 03:19] dbaldon commented on #660
Thanks for verifying.

[2017-01-27 03:19] #660 closed

[2017-01-27 03:22] dbaldon commented on #646
Thanks for verifying. I am going to see if I can tweak things so the button shows for narrower browser windows.

[2017-01-27 03:22] #646 closed

[2017-01-27 06:51] joshmadewell commented on #444
@dbaldon I'm going to close this issue. I just submitted another fix for toggle splits. I've tested YNAB without our stuff and they don't do a great job handling that row themselves. I think we should just chalk this one up to "won't fix anymore than we have"

[2017-01-27 06:51] #444 closed

[2017-01-27 07:59] joshmadewell commented on #646
@dbaldon i think I fixed this with #682

[2017-01-27 13:15] dbaldon commented on #444
@joshmadewell I agree that they don't do a great job at handling this.

[2017-01-27 17:05] janrif opened #683 "Check Number Column too wide"
Defective ToolKit Feature Name: Not defective, needs TWEAK IMO

### Expected Behavior enough space to add 6 character check #

### Actual Behavior has enough room to enter 26 character check #

### Steps to Reproduce the Behavior
1. ​
2. ​
3. ​

### Export of Toolkit Settings (Bottom Left of Settings Page)

[code]

### System Settings

ToolKit Version:
Operating System (Mac/Windows/Etc): Win 10
Br

[2017-01-28 14:48] bwentwor opened #684 "Future scheduled transactions have disappeared with 0.7.10"
Defective ToolKit Feature Name:

### Expected Behavior
When I look at my checking account, I expect to see the future reoccurring transactions. This functionality was working with the previous version of the toolkit, but I cannot get it to work under 0.7.10. Having this function in the toolkit is a deal breaker in terms of whether I continue to use YNAB.

### Actual Behavior
The functionality stop

[2017-01-28 14:57] #684 closed

[2017-01-28 14:58] bwentwor commented on #684
I see that an option was turned off that I had turned on.

[2017-01-28 18:23] tparikka commented on #237
I encounter the same problem as @jeffu14 with the Budget To Zero feature not functioning after switching budgets until I reload the page regardless of whether I use Quick Switch or switch using the vanilla budget selection screen. In my environment I CAN see the "Balance to 0" option after I initially log in - the problem only presents after switching. I can reproduce in Chrome Version 55.0.2883.8

[2017-01-28 19:03] janrif opened #686 "Running Balances - Not"
Defective ToolKit Feature Name: Running Balance

### Expected Behavior Display correct account balance

### Actual Behavior Display does NOT indicate correct account balance

### Steps to Reproduce the Behavior
1. ​Open checking account (for example) register
2. ​Filter for TRANSFER (as in transfer to account)
3. ​Running balance column does not display the correct account balance

### Export of T

[2017-01-28 21:28] lang510 opened #687 "Split Transaction in Google"
Defective ToolKit Feature Name: Split transactions using Chrome

### Expected Behavior
Able to view details of split transactions in Chrome

### Actual Behavior
Unable to view deals of split transactions when toolkit is activated and using Chrome

### Steps to Reproduce the Behavior
1. ​Activiate Toolkit while using Chrome
2. ​
3. ​

### Export of Toolkit Settings (Bottom Left of Settings Page)

[

[2017-01-28 22:01] joshmadewell commented on #687
can you post a screenshot? If you're on the lastest version of the toolkit (0.7.10) you should be able to see the toggle splits button and it should be working?

[2017-01-28 22:22] dbaldon commented on #687
@lang510 You may need to resize the window for the button to become visible. Another user reported than they didn't see the button when their browser window was less than a certain width. Once they maximized the window they could see the button. PR #682 has been created to fix the issue.

[2017-01-28 23:03] lang510 commented on #687
Resizing my screen doesn’t help.  It works when I use safari but not chrome.

[2017-01-28 23:11] lang510 commented on #687
There are definitely amounts distributed as I can see them in my categories and if I disable toolkit.  I am using 0.7.10.

[2017-01-28 23:14] lang510 commented on #687
Just thought of something.  I can see the transaction in Safari, because I don’t have toolkit installed, only in Chrome.  In any case, the sizing of the screen still doesn’t make a difference.

[2017-01-28 23:14] dbaldon commented on #687
Please paste here an export of the Toolkit Settings (Bottom Left of Settings Page).

[2017-01-28 23:51] lang510 commented on #687
[{"key":"accountTransactionSearch","value":true},{"key":"accountsClearSelection","value":true},{"key":"accountsDisplayDensity","value":"0"},{"key":"accountsEmphasizedOutflows","value":true},{"key":"accountsRowHeight","value":"0"},{"key":"accountsSelectedTotal","value":false},{"key":"accountsStripedRows","value":false},{"key":"activityTransactionLink","value":true},{"key":"betterScrollbars","value"

[2017-01-28 23:53] lang510 commented on #687
I posted a screenshot of the transaction, what else do you need as I don’t want to post anymore details for privacy reasons.

[2017-01-29 01:34] dbaldon commented on #687
When you click the icon to the left of "Toggle Splits" does the icon change to point down? I'm on my mobile so I can't see the screen shot you posted.

[2017-01-29 01:40] lang510 commented on #687
Yes there is a down arrow.  Like I said, if I remove toolkit, I can see what the split categories are and if I wanted to, I could edit them.  But when I have toolkit activated, I can’t see the breakdown.  Alll I see is the ability to add another category and there is not reason to because the balance is zero.

[2017-01-29 03:49] #528 closed

[2017-01-29 15:26] dbaldon commented on #687
@lang510 I don't see the screenshot you said you posted. Here are a couple of screenshots from one of my development budgets. The first is with splits toggled closed as indicated by the circled triangle pointing to the right;
![issue 687-01](https://cloud.githubusercontent.com/assets/11460228/22405209/b58fac86-e604-11e6-9cd4-f21df740eef5.PNG)
The second screenshot is with the splits toggled open a

[2017-01-29 17:42] lang510 commented on #687
OK, I understand and never realized there was a toggle switch and that in the past all I had to do is click on the transaction and the split details would appear.  Glad it is not a bug and just a user error.  Thanks for your help.

[2017-01-29 17:45] dbaldon commented on #638
@sevl can you tell me if the builtin calculator in Windows displays a comma instead of a period? If it does I can make the popup calculator do the same thing. I am assuming you've got your system setup with non-US regional settings. The idea is to make it appear as users in different regions expect it to look.

[2017-01-29 17:47] dbaldon commented on #687
Thanks for the response. Closing the issue.

[2017-01-29 17:47] #687 closed

[2017-01-30 12:37] kimifoud commented on #339
Problem still exists, YNAB 0.7.10. I didn't test all the features, but the screenshots should describe the problem.

Budget #1: Opened YNAB and took a screenshot, nothing else:
![screenshot 1](https://cloud.githubusercontent.com/assets/1176169/22423178/076dcf84-e6f9-11e6-8dca-2f9848484e02.png)

Budget #2: Changed to another budget via quick toggle in the menu:
![screenshot 2](https://cloud.githubu

[2017-01-30 13:42] dbaldon commented on #339
Those screenshots are I believe related to the progress bars. What about the other issues mentioned above?

[2017-01-30 14:14] dbaldon commented on #339
As soon as I posted my last comment the problem did show up. Le sigh...

[2017-01-30 14:58] GeorgLink opened #690 "Collapsable Side Menu - budget view: narrow window bug"
Defective ToolKit Feature Name: Collapsible Side Menu

### Expected Behavior
I use a vertical fullHD monitor (1080x1920). The budget view can be scrolled horizontally in a narrow window.
When collapsing the side menu to avoid scrolling, it becomes narrow (check) and the list of categories become wider (check) and the right sidebar with details about a category remains where it is (bug).

### Actua

[2017-01-30 20:02] dbaldon commented on #690
This isn't a Toolkit bug. YNAB sets the Inspector to a specific number of pixels and that number remains even if the left side bar is collapsed. I see that you do not have the Allow Resizing of Inspector feature turned on "{"key":"resizeInspector","value":false}". I recommend turning that on and resizing the Inspector much narrower than the default. Personally I can't do without that feature becau

[2017-02-01 15:57] GeorgLink commented on #690
Thanks, @dbaldon. Resizing Inspector is a nice feature.

Is the inspector the right bar or the list of categories? The feature appears to save the width of the categories so that switching between a horizontal and vertical display 1920x1080 to 1080x1920 makes the right bar disappear off to the right or seem super wide. - Is this the intended behavior?

[2017-02-01 16:21] dbaldon commented on #690
The Inspector is on the right hand side where the "quick budget" buttons, goal information, historical information, etc is displayed.

The current implementation uses a fixed pixel width as opposed to using a percentage. There has been some discussion about changing that but so far no one has done it.

[2017-02-01 19:39] MikeBishop opened #691 "Uncategorized Transactions category doesn't respect All Negatives Red"
Defective ToolKit Feature Name:  Highlight all Negative Category Balances Red

### Expected Behavior
Overspending in all categories (including the conditionally-displayed "Uncategorized Transactions") is red, regardless of credit/cash spending, when this feature is enabled.

### Actual Behavior
Uncategorized Transactions is yellow if the spending occurred on a credit card, red if the spending occu

[2017-02-02 02:32] dbaldon commented on #638
@sevl a new PR has been submitted that should fix this. After the next release has been built, please verify and let me know if you still encounter incorrect results.

[2017-02-02 02:43] dbaldon commented on #339
I believe I've determined what is causing the problem. The issue is that some features are not aware that the budget switch occurred so the code isn't executed. I thought that `onRouteChanged()` would take care of notification when the budget is switched but the route is between the budget and accounts screen. Pondering how to fix it. Probably won't be a real quick fix.

[2017-02-02 06:29] GeorgLink commented on #690
The resizeInspector saves the width of the category section, not of the inspector.

Saving percentage is unintuitive to me, but would be easily doable if that is what everyone else wants. I prefer to set the size of the inspector and keep it at that size, even when changing the window size or toggling the menu.

I fixed the issue and will create a pull request shortly.

[2017-02-02 14:04] dbaldon commented on #690
It does save the width of the categories but the affect is the same. I suspect it was implemented like that because of how the HTML is generated by ember.

If you want to make a change that sizes the inspector instead of the categories I'm fine with that. I agree that would be better than a percentage.

[2017-02-02 17:23] GeorgLink commented on #690
Thank you @dbaldon.
I think it will work exactly how you described it.
Here is the pull request: https://github.com/toolkit-for-ynab/toolkit-for-ynab/pull/693

[2017-02-03 08:02] sevl commented on #638
@dbaldon sorry, i was caught up in work and then forgot to react to your comment from jan 29th. I've got two machines i'm using the Toolkit on. Both are principally in German, but my work issued one seems to have some strange settings as the windows-calculator actually has a period as the decimal separator instead of the comma, which would be expected in a german OS. this was the machine on which

[2017-02-03 13:43] dbaldon commented on #638
The PR I mentioned above adjusts the character on the pop-up calculator to match the currency setting for the budget. So in your case it should display a comma. I do appreciate your help in getting this fixed. Especially the list of things you entered several posts back. It really helps a develop track down problems.

[2017-02-05 00:40] #690 closed

[2017-02-06 09:22] sevl commented on #638
After todays update the calculator works as expected on my end. Thank you for your great work on this!

[2017-02-06 09:22] #638 closed

[2017-02-06 13:23] dbaldon commented on #638
Finally!! Thanks for all your help!

[2017-02-06 14:29] GeorgLink opened #695 "Bug: Allow resizing of inspector - when menu is collapsed, the width is calculated wrong."
Defective ToolKit Feature Name: Allow Resizing of Inspector

### Expected Behavior
The inspector width should stay the same, regardless of whether the menu is collapsed or the browser window is resized.

### Actual Behavior
When the menu is collapsed and the browser window is resized, the new inspector width is calculated wrong because it does not account for the missing 220px saved by collapsing

[2017-02-06 14:49] perkinda opened #696 "Income Expense Toolkit Report Spreadsheet pane not refreshing"
Defective ToolKit Feature Name:Income vs Expense Report Table not refreshing when Timeframe filter is changed

### Expected Behavior
Income vs Table Spreadsheet pane should reflect the choices made in the filters

### Actual Behavior
Spreadsheet pane shows current month with figures changing only in the actual and total columns. The months for the selected timeframe are not shown.

### Steps to Re

[2017-02-06 17:27] joshmadewell commented on #696
@perkinda A fix for this issue had been pushed for review. Thanks for the report!

[2017-02-06 17:28] #641 closed

[2017-02-06 17:28] #637 closed

[2017-02-06 17:28] #636 closed

[2017-02-06 17:29] #607 closed

[2017-02-08 05:52] dkisselev commented on #637
Which PR fixed/contributed to this?

I've seen some inconsistency with reporting as well and wondering where the fix was. (or was this still the timezone thing?)

[2017-02-08 06:48] joshmadewell commented on #637
There were multiple fixes but the one this bug was most referring to was #681

There is another bug out right now that you may be experiencing issues with that's fixed hopefully with #697

If you can check that branch out and let me know if you still have issues that would be awesome

[2017-02-08 09:45] #695 closed

[2017-02-08 14:05] dbaldon commented on #237
We've identified the problem and are contemplating the fix.

[2017-02-08 14:07] dbaldon commented on #132
@Niictar It's been quite a while since this issue was opened. Do you still see the same behavior as originally reported?

[2017-02-08 14:10] dbaldon commented on #677
PR #662 has been submitted for this. The PR implements support for markdown in the description field. Waiting for the PR to be merged. @datvance you OK with closing this Issue?

[2017-02-08 14:49] kiki-kos commented on #607
Hate to say this but.... something got royally f'd up. I only started using YNAB in May 2016 but now it's showing transactions in Jan 2016 and a bunch of stuff under "undefined". The months are out of order too.

Here's what the "Wallet" account looks like now. It's the same account I used as an example in my earlier comments.

![image](https://cloud.githubusercontent.com/assets/23459964/22742130/

[2017-02-08 16:02] xbelt commented on #696
Same thing for the Net Worth Overview. Well actually it is worse since the data displayed is completely wrong.

[2017-02-08 16:35] datvance commented on #677
Sure, thanks.

On Feb 8, 2017 7:10 AM, "David Baldon" <notifications@github.com> wrote:

[2017-02-08 17:08] dbaldon commented on #683
Closing this Issue as not a bug but rather an enhancement request/suggestion.

On our [Trello](https://trello.com/b/EzOvXlil/toolkit-for-ynab-roadmap) board the cards listed below already exist that if implemented should meet your needs. I suggest up voting the cards to show your interest. Unfortunately adjusting the columns in a way that behaves naturally is difficult because of how the YNAB appl

[2017-02-08 17:08] #683 closed

[2017-02-08 21:42] jlubea commented on #691
I updated the budget-category-info feature to add available(positive/negative/zero) classes to the Uncategorized Transaction sub-category. Waiting for approval.

[2017-02-08 21:43] jlubea commented on #678
I updated the running-balance feature to listen for intra-account edits. Waiting for approval.

[2017-02-08 22:03] joshmadewell commented on #607
@kiki-kos if you know how to build locally, can you try using the branch from #697 to see if it fixes your issue?

[2017-02-08 23:16] #423 closed

[2017-02-08 23:31] dbaldon commented on #686
@janrif are you saying that you expect the running balance to be recalculated based on the filtered transactions? In the screenshot below, what do you expect the running balance to be for each line?
![issue 686](https://cloud.githubusercontent.com/assets/11460228/22762276/3c7f7e48-ee24-11e6-8a01-8bf7401fb769.png)

[2017-02-08 23:52] dbaldon commented on #630
@emoulding @jaxmom FF has approved version `0.7.10` of the Toolkit so can you verify if that fixes things? Thanks.

[2017-02-09 01:10] amay0048 commented on #630
Checked version 0.7.11 in a clean machine image for FF on OSX and it works for me

[2017-02-09 15:16] joshmadewell commented on #686
@janrif if you are proposing that we show the running balance of a filtered set of transactions, that's not something we plan on implementing (since it's not really running balance)

if that's what you're asking for, we can add it to the trello board and get to it when can/if it has enough votes.

[2017-02-09 15:18] joshmadewell commented on #648
We're starting to track all enhancements in Trello.

I've added this request [here](https://trello.com/c/HKx5iWTS). Thank you!

[2017-02-09 15:18] #648 closed

[2017-02-09 15:19] joshmadewell commented on #644
@claw73 I'm going to chalk this one up as a duplicate of #631 and remove it -- please feel free to track progress there.

[2017-02-09 15:19] #644 closed

[2017-02-09 15:20] joshmadewell commented on #643
Same here, please track Safari issues here: #631

[2017-02-09 15:20] #643 closed

[2017-02-09 15:24] joshmadewell commented on #640
Hey guys, I've created a "Move to WebExtensions" trello card which I think this might roll up into. I've already put it into "Next Up" because I think it's something we're going to need to get to soon.

You can track it [here](https://trello.com/c/2VRWkeAO)

[2017-02-09 15:24] #640 closed

[2017-02-09 15:27] joshmadewell commented on #629
@alexmidd unfortunately, we're having multiple issues with the toolkit in safari, it is recommended that you use chrome (and as of our next release, Firefox) as well until we move to WebExtensions.

sorry for the inconvenience.

For safari issue tracking and progress please see #631

[2017-02-09 15:27] #629 closed

[2017-02-09 15:30] joshmadewell commented on #626
@kburla sorry for not seeing your last comment - could you try three things for us?

1. turn off pacing. refresh. do you still see the issue?
2. turn pacing back on, turn "make unmet goals blue" off, refresh. do you still see the issue?
3.  turn pacing and unmet goals off, refresh, do you still see the issue?

Three should definitely be "no" but I'm not sure which of the other two will be "yes"

[2017-02-09 15:37] joshmadewell commented on #620
#701

[2017-02-09 15:40] joshmadewell commented on #567
Hey @seefernando I'm going to go ahead and close this issue as it should be fixed. If you're still experiencing the issue, please feel free to reopen! Thanks again!

[2017-02-09 15:40] #567 closed

[2017-02-09 15:40] #566 closed

[2017-02-09 15:42] joshmadewell commented on #367
Hey @devinhedge I'm going to go ahead and close this issue as it's likely to be fixed. If you're still experiencing the issue, please feel free to reopen! Thanks again!

[2017-02-09 15:42] #367 closed

[2017-02-09 16:28] kiki-kos commented on #607
I don't know what that means (I'm not a programmer). But if you can tell me how to do it, I'd be more than happy to give it a go. Or am I in way over my head?

Is this what you mean by the branch? https://github.com/toolkit-for-ynab/toolkit-for-ynab/commit/b9828613cc684cbe433db8ba2655b39f8bd72cdf

[2017-02-09 16:30] joshmadewell commented on #607
Its somewhat involved unless you know what you're doing. Fortunately
@blargity is experiencing reporting issues and he's going to hopefully
debug/fix them before our next release!

On Feb 9, 2017 10:28 AM, "kiki-kos" <notifications@github.com> wrote:

[2017-02-09 16:35] kiki-kos commented on #607
Awesome, I'll let the pros handle it then. Thanks for all the work you guys put into this!

[2017-02-09 18:09] HappyCrafts commented on #686
Not sure if this is the same issue or not.   Just now I added an old savings account to track (tracking) and the balance is low $5.03 but the running balance is showing the total amount of all of my accounts.  Oops.  Please advise.

[2017-02-09 18:16] dbaldon commented on #686
That doesn't sound like the same issue. What happens if you use F5 to reload the page?

[2017-02-09 18:43] Zendio opened #702 "Toolkit Reports broken"
Defective ToolKit Feature Name: Toolkit Reports

### Expected Behavior
The toolkit reports should show my income properly, but doesn't anymore.

### Actual Behavior
Suddenly the entire graph is messed up. It suddenly thinks I racked up 3k in debt (which I don't have at all, nor does it show in the default reports). It doesn't recognize January 2017 but instead says "Undefined". It also doesn't cor

[2017-02-10 01:06] lawrence-dol commented on #630
Confirmed that version 0.7.11 is working fine with Firefox 51.0.1 on Windows 10.

[2017-02-10 02:21] dbaldon commented on #630
Closing as several users have confirmed we're working again on FF.

[2017-02-10 02:21] #630 closed

[2017-02-10 08:13] Zendio commented on #702
![screenhunter_05 feb 10 09 12](https://cloud.githubusercontent.com/assets/5435734/22819171/3490ee3a-ef71-11e6-9227-674e77fc3b25.jpg)

[2017-02-10 10:56] sikachu commented on #631
So, I thought this would be fixed because #630 was fixed. However, I just looked at #645 and it was Firefox specific changes.

@blargity do you have plan to port the change to Safari anytime soon? I can dig in if you won't have availability in the next few days. Thanks!

[2017-02-10 12:50] JamesValero opened #703 "Request: Shortcuts to edit ("e") and approve ("a") individual records."
Request ToolKit Feature Name: Shortcuts to edit and approve individual records

Select a record and press "a" to approve the transaction (same as edit > approve) or "e" to edit the transaction (same as double click)

[2017-02-10 13:26] dbaldon commented on #703
This or something very similar has already been requested. Check it out on [Trello - Keyboard Shortcuts](https://trello.com/c/TJe15xHB/338-keyboard-shortcuts) where all enhancement requests are tracked. Be sure and vote for the features you want to see implemented. Thanks!

Closing this Issue.

[2017-02-10 13:26] #703 closed

[2017-02-10 13:28] dbaldon commented on #702
This has been reported by multiple users. @blargity is working on it.

[2017-02-11 04:31] amay0048 commented on #631
@sikachu it's not straightforward to port the changes to safari, at the firefox changes are using part of the native API, but the equivalent methods don't exist in safari.

[2017-02-11 07:24] blargity commented on #702
@Zendio, I suspect your date format is dd/mm/yyyy like mine is. If that's the case, what will hopefully turn out to be the fix is available on the [fix-702 branch](https://github.com/toolkit-for-ynab/toolkit-for-ynab/tree/fix-702) and if you know how to build from source some additional testers would be tops.

If not, this will be in our next release.

Thanks for reporting this!

[2017-02-11 10:28] blargity commented on #631
But yes, @sikachu, I'm not going to have time to dig much deeper into this in the next few weeks. At the moment the plan is to stop supporting Safari. :-(

[2017-02-11 17:51] dbaldon opened #706 "Spare change is displayed in header when there are no selected rows."
Defective ToolKit Feature Name: Spare Change

### Expected Behavior
If there are no selected rows there should be no spare change shown in the header.

### Actual Behavior
After un-selecting all rows, the spare change is still displayed in the header.

### Steps to Reproduce the Behavior
1. Select one or more rows​
2. Un-select the rows using the Edit menu, clicking the checkbox, or using the righ

[2017-02-12 16:58] dbaldon commented on #706
Strange. This seems to no longer be "broken". Wonder why it was acting that way yesterday.

From what I observed yesterday in an initial look was that `changedNodes` did not contain `ynab-grid-body` and the `areChecked` observer was not firing on an un-check.

[2017-02-14 18:21] ActuarialChef opened #709 "Issue with Toggle Splits"
Defective ToolKit Feature Name: Toggle Splits

### Expected Behavior
After selecting the "Add a Toggle Splits Button" option and saving in the Toolkit Settings, I would expect the Toggle Splits Button to remain visible next to Undo/Redo, even after closing and reopening YNAB.

### Actual Behavior
Toggle Splits Button  is not visible when I load YNAB unless I re-open the Toolkit Settings and click

[2017-02-14 18:47] ActuarialChef commented on #709
After some further analysis:
Toggle Splits button **stays** when I switch to budget screen and back to (any) account screen.
Toggle Splits button **stays** when I reload YNAB by clicking address bar and hitting enter (or clicking refresh/reload button).
Toggle Splits button **stays** when I reload YNAB by clicking address bar, **start** to type "app.youneedabudget.com" and select the specific budg

[2017-02-14 19:05] dbaldon commented on #709
Thanks for the report. This sounds like several existing issues related to feature no longer working after switching budgets or initially loading the app. I believe we know what the the root cause of the problem is but a fix is not yet available.

[2017-02-15 10:39] lang510 commented on #206
Was this option taken away, as I don't see it available in options?  It never works.

[2017-02-15 17:38] dbaldon commented on #206
The option is still there. This is another case of the feature code not executing at the "proper" time. It seems to be consistent if you logout of YNAB, log back in, then select your budget. At that point you're taken to the budget screen. If you then click the account that has txns to be imported and THEN press F5, you should see the notification in the sidebar.

The feature code needs to be "awa

[2017-02-15 18:01] lang510 commented on #206
I have a Mac so what do I press as F5?  Do I have to do this each time, logout out, login, etc?  Seems like a lot of work.  Any chance this will be fixed?

[2017-02-15 18:09] dbaldon commented on #206
On Windows F5 reloads the current page in your browser. I don't know what the Mac equivalent is. If you don't have to logout then I wouldn't. I rarely logout but I know some folks do/have to.  If you can figure out how to reload the page that will be the simplest approach. Here is a link I found that might help; https://www.maciverse.com/make-f5-refresh-the-browser-on-a-mac.html I know some of the

[2017-02-15 19:28] dkisselev commented on #206
CTRL-R is refresh in most browsers, (CTRL-Shift-R is another, more aggressive option that clears certain caches as well).

[2017-02-16 14:17] lang510 commented on #206
It’s control R for the mac.  I initiate downloads because the imports don’t show up until later in the morning.  So I initiate the first bank and did a refresh and it worked.  Did the second bank and my first bank’s notification of imports disappeared.  I did another refresh and both banks showed the notification.  However, as soon as I started scrolling down to see if there were any other notific

[2017-02-18 15:06] dbaldon commented on #677
My last PR for this issue regressed a previous change in the settings.json file. Reopening to track that problem.

[2017-02-19 10:53] blargity opened #711 "Paid in Full Credit Card Assistence feature doesn't seem to be working"
Defective ToolKit Feature Name: PIF Credit Card Assistence

### Expected Behavior

Category balance should turn orange when improperly funded

### Actual Behavior

Category balance is not orange

### System Settings

ToolKit Version: v0.7.12

(Note: from YNAB forum thread here: https://forum.youneedabudget.com/discussion/53934/toolkit-credit-card-pif-assist)

[2017-02-19 17:04] dbaldon commented on #711
A couple of things going on here.
- Code isn't accounting for the comment string for a category
- Code isn't handling budget switches correctly which leads to a silent failure

Working on a PR.

[2017-02-19 18:52] janrif opened #713 "Calculator Graphic Truncated on Left Edge"
Defective ToolKit Feature Name: Calculator tool

### Expected Behavior: See Calculator icon in the clear

### Actual Behavior: Calculator is truncated (left edge is cut off)

### Steps to Reproduce the Behavior
1. ​Turn on calculator in Toolkit
2. ​Open account page
3. ​

### Export of Toolkit Settings (Bottom Left of Settings Page)

[code]

### System Settings

ToolKit Version:
Operating System (

[2017-02-19 19:01] janrif commented on #636
Help button visible even thought Toolkit setting is set to off. Current Win-10 Home.  Workaround is to Click Hide Help Button manually. Help button will remain hidden for current session. However, each time I open YNAB the HELP button is visible. Thank you.

[2017-02-19 21:06] dbaldon commented on #713
@janrif Can you post a screen shot (show as much of the screen as you can) of what you're seeing? Also if you could export your Toolkit settings and include them in the Issue that would be helpful. We ask for the settings because sometimes it's a combination of features that cause issues. Knowing your settings allows us to more easily recreate (or try to) the issue.

[2017-02-19 21:19] #677 closed

[2017-02-20 16:03] dbaldon commented on #237
@jeffu14 @tparikka PR #712 fixes the problem with the balance to zero not working.

I believe I understand the problem with the import notification issue and am contemplating the best way to fix it.

[2017-02-20 16:05] dbaldon commented on #339
PR #712 fixes the balance to zero issue. Still looking at the other issues.

[2017-02-20 18:42] dbaldon commented on #339
PR #715 fixes the Budget Rows Progress Bars and Add Goals Indication features.

[2017-02-21 12:34] janrif commented on #713
![2017-02-21_li](https://cloud.githubusercontent.com/assets/25390135/23164927/ac4205b0-f807-11e6-871f-2670e21c2129.jpg)

[{"key":"accountsClearSelection","value":true},{"key":"accountsDisplayDensity","value":"1"},{"key":"accountsEmphasizedOutflows","value":true},{"key":"accountsRowHeight","value":"1"},{"key":"accountsStripedRows","value":true},{"key":"activityTransactionLink","value":true},{"key":

[2017-02-21 14:35] dbaldon commented on #713
I'm not sure how much can be done in this situation. You could try this; press and hold the CTRL button and use the mouse scroll wheel to scroll down. What that'll do is change the "zoom factor" for that page in the browser. You'll notice that some of the native YNAB stuff doesn't render very well at the current zoom of 250%. You can also use the Collapse Sidebar feature which I see you have turne

[2017-02-21 20:54] kiki-kos commented on #607
HAPPY DAYS! No more issues on my end :)

[2017-02-22 05:16] faysal-ahmad opened #716 "Envelopes App (Open Source YNAB Alternative): Looking for contributors"
Hi,

Just wanted to congratulate you guys on the excellent job that you are doing.

Also wanted to mention that I have been building a desktop app named [Envelopes](https://github.com/envelopes-app/envelopes-desktop) that is now almost feature complete. I hope to bring it to feature parity with YNAB 4 and YNAB Online so that anyone who cannot afford (or is simply opposed to) the subscription model

[2017-02-23 05:35] nardz13 opened #717 "Feature request - running balance and future transactions to cater for recurring transactions"
running balance in the future transactions area to cater for recurring transactions - so if a transaction is scheduled weekly it will be displayed multiple times (up until a point that there are no other transactions in the list) .

use case this would fix:

Current balance $50.
Future expense on the 30/3 for $500.
$200 income scheduled weekly

future running balances currently show 50+200-500 = -

[2017-02-23 14:23] dbaldon commented on #419
@Flyou10 I don't think the lack of values in the Pacing column is related to having uncategorized transactions. After looking at the code I can't see any reason why the Pacing values are missing. Did you perchance open this budget after previously viewing another budget? I know some of the features have had issues with that but I don't see the same issues with the Pacing feature. I'm stumped at th

[2017-02-23 15:09] marley412 commented on #419
I'm not totally comfortable with putting a screenshot of my whole budget on a public forum, but I'm happy to send y'all one privately if that's a possibility. Here's a small picture though. I have overspending on my Citi Double Cash credit card in two categories. One of those categories is medical expenses. When you look at credit card payments, everything looks good because it's green. You have t

[2017-02-23 15:22] dbaldon commented on #419
@marley412 What is the balance of the Citi Double Cash card? I'm wondering if the Available is orange because it is less than the CC balance. Where does the $823.03 in the Available column come from? Isn't that supposed to represent budgeted dollars that have not been spent? That doesn't really make sense though since you've only got .90 budgeted unless there is unspent money from a previous month

[2017-02-23 16:28] marley412 commented on #419
The 823.03 is budgeted spending. But, because I've overspent on the card, the amount should not be green. There was a 90 cent return on the card, so that's why the -.9 is there. The actual amount on the card is 856.24. That's why $823.03 should be yellow, because it's not the same as the actual amount. I'm not sure if I'm explaining this well, but hopefully that helps!!

[2017-02-24 13:58] jeannehorvath commented on #337
This feature does not appear to work in Safari.

[2017-02-24 15:49] sambostock opened #718 "Sidebar collapse breaks after viewing tasks"
Defective ToolKit Feature Name: Sidebar collapse

### Expected Behavior

Sidebar should render properly
![image](https://cloud.githubusercontent.com/assets/8219340/23309550/10f6f00c-fa7d-11e6-9692-72bef6660d2e.png)

### Actual Behavior

Sidebar renders both collapsed and expanded at the same time
![screen shot 2017-02-24 at 10 33 48 am](https://cloud.githubusercontent.com/assets/8219340/23309556/1

[2017-02-25 15:47] notacompletemoron opened #719 "Feature Request - Running Balance in Accounts Views"
Nvm, found it.

[2017-02-25 15:48] dbaldon commented on #719
It's already there?

[2017-02-25 15:49] dbaldon commented on #719
![image](https://cloud.githubusercontent.com/assets/11460228/23332478/c07ba9e2-fb3f-11e6-820f-6d0c38806f3f.png)

[2017-02-26 17:45] joshmadewell commented on #719
As @dbaldon has stated the feature already exists in the toolkit (:

[2017-02-26 17:45] #719 closed

[2017-02-27 15:16] ActuarialChef commented on #709
Not sure if I should make a separate bug report for this, but I noticed that when Splits are toggled "off", the "Selected Total" that appears in the top right corner when selecting multiple rows in an account register does NOT include the totals from Split transactions - see attached screenshot.
![ynab error](https://cloud.githubusercontent.com/assets/17197849/23366727/cc695582-fcd5-11e6-9890-e642

[2017-02-27 15:36] dbaldon commented on #709
It should be a separate Issue.

[2017-02-27 15:37] ActuarialChef commented on #709
OK - creating now.

[2017-02-27 15:44] ActuarialChef opened #720 "Selected Total not adding split transactions unless Splits are toggled "on""
Defective ToolKit Feature Name: Toggle Splits

### Expected Behavior
"Selected Total" that appears in the top right corner when selecting multiple rows in an account register should include the total of all selected records.

### Actual Behavior
When splits are toggled "off" (with the Toggle Splits option selected), the "Selected Total" that appears in the top right corner when selecting multiple

[2017-02-28 17:06] eethann opened #721 "Add keystroke to open edit form for row in account listing"
Improved ToolKit Feature Name:

### Expected Behavior

While the use has a row selected in the account listing, they can hit "e" or another key and have the edit form open up, ideally with the "category" input selected. This would make it possible to categorize entries without need of the mouse at all.

Here's example jQuery:

`$(".ynab-grid-body-row.is-checked .needs-category").first().click()`

[2017-02-28 17:07] eethann commented on #721
I'd love to help more with this, not sure I'll have bandwidth to dive in and learn the whole stack. If it's easy and one of the maintainers wants to take it that'd be amazing. Otherwise I'll try to take a stab at it at some point.

[2017-02-28 17:17] dbaldon commented on #721
@eethann Enhancements to the Toolkit are tracked on Trello. There is already a card for what you're requesting so I'm closing this Issue.

As usual these things are rarely as easy as they appear to be at first blush. Because the Toolkit is an add-on we have to be really careful not to "get in the way" of native code unless of course that is the purpose of a feature. Also, we're constantly reacting

[2017-02-28 17:17] #721 closed

[2017-03-01 02:30] GregorioMartinez opened #722 "Misaligned total & account name using Compact Account Name Height"
Defective ToolKit Feature Name: Account Name Height (Compact)

### Expected Behavior
Account name and account total should align with one another vertically.

### Actual Behavior
See attached screenshot.

![ynab-toolkit-misalign](https://cloud.githubusercontent.com/assets/3364763/23443396/8e3d93fe-fdfc-11e6-9d5a-7785f4b59045.png)

### Steps to Reproduce the Behavior
1. ​General Settings > Account

[2017-03-01 02:37] GregorioMartinez opened #723 "Unable to click lower half of select inputs in settings"
Defective ToolKit Feature Name: Settings

### Expected Behavior
Press anywhere on the select input and have the drop down appear.

### Actual Behavior
Pressing lower half of input has no effect due to overlap from `<p>`

![ynab-select](https://cloud.githubusercontent.com/assets/3364763/23443613/e313456c-fdfd-11e6-9e57-fb3e7c7294af.png)

### Steps to Reproduce the Behavior
1. ​ Settings > Account N

[2017-03-03 09:43] adamonline45 opened #724 "FEATURE REQUEST: Prevent clicks around checkboxes on register entries."
Defective ToolKit Feature Name:
Vanilla YNAB

### Expected Behavior
Misclicking a checkbox in the register view should not cancel a multi-select.

### Actual Behavior
Misclicking a checkbox in the register view causes any existing selected items to be deselected.

This can be frustrating when the user has a large multi-selection.

Example (gif):
![ynab_misclick](https://cloud.githubusercontent.com

[2017-03-03 14:16] dbaldon commented on #724
This should be reported directly to YNAB as the behavior is not caused by the Toolkit. If you're asking for a new Toolkit feature to change the behavior as you've described, go to the YNAB forums and in the Extensions section create a new post describing what you want. Of course you could always create a PR that implements what you want. :-)

A workaround is to press the CTRL key and then then you

[2017-03-03 14:16] #724 closed

[2017-03-04 19:57] dbaldon commented on #718
PR #725 created to fix this Issue. I was able to recreate all but what was shown in the "Bonus" area.

While working on this I noticed another problem whereby the resize-inspector feature wasn't working correctly when the sidebar was collapsed and you navigated from say the Reports screen to the Budget screen so I fixed that as well.

[2017-03-05 06:54] dbalatero opened #726 "FEATURE REQUEST: Make credit cards section of the budget have clearer UX"
This issue came up on https://reddit.com/r/ynab today: https://www.reddit.com/r/ynab/comments/5xefb6/why_are_credit_card_purchases_showing_up_as/

This person was getting confused about why they had green $ for budgeting in their credit card categories. This was something I was also confused about up until a few days ago when it finally clicked - *this is how much budgeted money you can currently

[2017-03-05 17:42] dbaldon commented on #726
@dbalatero Enhancement requests are tracked on our [Trello board](https://trello.com/b/EzOvXlil/toolkit-for-ynab-roadmap). I've added a new card to the "Under Consideration (Discussion Welcome!)" section. You can see it [here](https://trello.com/c/uLfnOxqa/397-clarify-cc-available-column-via-a-different-color-or-tool-tip). Hopefully others will see it and up-vote it. Of course if you're going to i

[2017-03-05 17:42] #726 closed

[2017-03-07 08:33] adamonline45 commented on #724
Oh my gosh, okay, even shift-click works! I'd tried that, but by
modifier+clicking the _checkboxes_, which didn't work.

That is sufficient, thanks!

PS. The submission guidelines say I can post feature requests here, if that
is no longer true I respectfully suggest that those guidelines may need to
be updated to match the current policy. :)

On Fri, Mar 3, 2017 at 6:16 AM, David Baldon <notificat

[2017-03-09 12:36] topcat39 opened #728 "Left sidebar collapse"
Defective ToolKit Feature Name: Collapse side bar

### Expected Behavior
Icon to collapse, then visible icon to re-open

### Actual Behavior
Wrong icon shows at start-up, when clicked, side bar collapses, but then no icon to expand. Have to re-load program.

### Steps to Reproduce the Behavior
1. ​Open YNAB
2. ​Click right-facing arrow at top left
3. ​

### Export of Toolkit Settings (Bottom Left

[2017-03-09 14:10] dbaldon commented on #728
@topcat39 Is the reported version of the Toolkit correct? It shows 0.7.3. The current version is 0.7.13. Maybe you dropped a 1?

[2017-03-09 14:37] topcat39 commented on #728
Sorry, on Chrome I have 0.7.13; but I read the Firefox version which is
0.7.3. (The extensions I listed were for Chrome)

On Thu, Mar 9, 2017 at 9:10 AM, David Baldon <notifications@github.com>
wrote:

[2017-03-09 14:54] dbaldon commented on #728
Is the behavior consistent? Across shutting Chrome down and restarting it? Does this occur after opening another budget via the Budget Quick Switch feature or the standard "Open a budget"?

[2017-03-09 15:17] topcat39 commented on #728
Yes, it is consistent. If I open another budget (I don't use the quick switch), it maintains the setting. That is, if the wrong icon showed, it still shows. If I did a re-load and have the correct icon, switching budget maintains the correct icon.
When I first open YNAB the wrong icon shows immediately. The opening screen has the tree in the middle and the right-facing arrow in the upper left befo

[2017-03-09 15:45] dbaldon commented on #728
What if you close/reopen Chrome then start YNAB? Does the problem persist?

The browser becoming unresponsive is difficult to figure out. It could be slow network, YNAB servers are super busy, hardware is old/slow, it's just really hard to say. Does it do the same thing if you disable the Toolkit?

My hardware is a high-end Surface Book and I have noticed that sometimes things really slow down and

[2017-03-09 15:49] dbaldon commented on #724
@adamonline45 From the [YNAB release notes](https://www.youneedabudget.com/release_notes/08-march-2017) for yesterday's release;
"Those checkboxes…You’d click one…two…nine… and then on that tenth and final checkbox you’d just barely miss it. This would, much to your chagrin (and mine) deselect all of your other checkboxing work. Now we’ve made those checkbox click targets much larger. Thank goodne

[2017-03-09 16:15] topcat39 commented on #728
Close/re-open sets the proper - but now it keeps opening the previous budget that I switched to for testing. Don't think that's an extension problem: I open my 'real' budget, open an account, sign out, sign in, and it opens with the previous budget and I have to switch back to the current. Closing Chrome and re-opening doesn't help. Looks like a cookie is persisting. I'm clearing cache and then he

[2017-03-09 17:41] dbaldon commented on #728
You might try doing CTRL-R instead of F5 to reload. I recently did a PR to fix another problem with the collapse button. I'm curious to see if that helps with the problem you've reported. It should be in the next release of the Toolkit.

Yeah, I've noticed irregularities with getting back to the last budget I had open.

[2017-03-09 20:41] topcat39 commented on #728
Thanks, I'll give that I try; I usually just click on the re-load button.

I was able to get the current budget to stick by approving an entry. Looks like it needs some action taken in/on the budget for it to secure it.

[2017-03-09 22:18] dbaldon commented on #728
Sounds like a bug to me. :-)

[2017-03-10 19:52] adamonline45 commented on #724
Well, lesson learned, I should have some faith in the YNAB dev team.
Toolkit had just become synonymous with fixing YNAB annoyances.

Thanks!

On Thu, Mar 9, 2017 at 7:49 AM, David Baldon <notifications@github.com>
wrote:

[2017-03-10 19:55] dbaldon commented on #724
Well I certainly don't have much faith in the YNAB dev team at least as far as speedy responses to reported issues go. I am however EXTREMELY happy they fixed this particular issue as it was a royal PIA.

[2017-03-14 03:53] rwolfert opened #729 "Disables scrolling function"
Defective ToolKit Feature Name:
It seems to be just the act of installing and selecting the tool-kit to be used in the preferences list on Safari.  It used to work fine but now if I allow Safari to use Tool-kit I can no longer scroll up and down in my budget.  My budget is larger so I'm only able to see about 1/2 of the budget.

### Expected Behavior
Being able to scroll up and down in the budget

[2017-03-14 13:22] dbaldon opened #730 "Pacing line doesn't line up between master and sub-categories"
Defective ToolKit Feature Name: Budget Rows Progress Bar

### Expected Behavior
Pacing line should line up across all categories.

### Actual Behavior
Pacing is different on master categories and sub-categories. This began after the last update to YNAB_VERSION: v1.15388. The width of the checkbox column on a sub-category line was increased. Below are screen shots of before and after. Notice the am

[2017-03-15 17:09] harleypig opened #731 "At higher sized fonts, the words 'Spare Change' break into two lines and obscure the amount by pushing it below the bottom of the header."
Defective ToolKit Feature Name:

Spare change

### Expected Behavior

See the spare change for selected items regardless of font size.

### Actual Behavior

At higher sized fonts, the words 'Spare Change' break into two lines and obscure the amount by pushing it below the bottom of the header.

### Steps to Reproduce the Behavior
1. Increase font size (Ctrl-+ or Ctrl-ScrollUp)
2. ​Select some tran

[2017-03-15 21:35] eviltechnomonkey commented on #569
That was already explained back in December of last year.

On Mar 15, 2017, at 4:12 PM, Wesley Schwengle <notifications@github.com<mailto:notifications@github.com>> wrote:

The order on the same date is always highest to lowest amount and the inflow vs outflow stays the same. That causes this weird glitch in the matrix. It's not the toolkit's fault.

—
You are receiving this because you authored t

[2017-03-16 15:53] hmspain opened #734 "Feature Request: Quick Reconcile"
I reconcile daily.  I check/clear transactions such that the Cleared Balance always matches the bank balance.

I press the Reconcile Account button, always select Yes, and then wait for the automatic clear (thank you for this).

Would it not make sense to add a way to reconcile even faster, say a "quick reconcile"?

Perhaps two buttons "Cleared Balance Matches; YES/NO" where YES is a button and NO

[2017-03-21 13:33] dbaldon opened #735 "Account - clear selection bug"
Defective ToolKit Feature Name: Clear Selection

### Expected Behavior
"Select All" checkbox should be cleared

### Actual Behavior

"Select All" checkbox is not cleared.

### Steps to Reproduce the Behavior
1. ​Use "Select All" checkbox to select all transactions
2. ​Use Clear Selection option in drop-down menu to clear the selection of all the transactions
3. ​

### Export of Toolkit Settings (B

[2017-03-22 01:46] aperl79 opened #736 "Cleared icon dances left momentarily"
Defective ToolKit Feature Name: Running Balances

### Expected Behavior
Manually mark transaction as cleared should not move icon

### Actual Behavior
When manually marking transaction as cleared, icon shift left slightly then returns to normal position

### Steps to Reproduce the Behavior
1. ​Enable Running Balance in Toolkit
2. ​Click "C" icon on far right to mark transaction as cleared/uncleare

[2017-03-22 07:44] danieldbird opened #737 "Colour for 0.00 when target category balance goal set."
Defective ToolKit Feature Name: Red or Orange colour $0.00 for target category balances not yet reached in budget screen.

### Expected Behavior
Would like the 0.00 to have a colour indication that the target category balance has not been reached and money needs to be allocated.

### Actual Behavior
Currently the 0.00 is uncoloured and a normal font. As if no action is required.

### Steps to Repr

[2017-03-23 11:23] DarthRamone opened #738 "Not works in safari"
Defective ToolKit Feature Name: budgets quick switch, collapsable menu, and many others, that somehow change content on page. Couple features are works, for example - changing font, or hiding age of money.

### Expected Behavior
Works

### Actual Behavior
Not works at all

### Steps to Reproduce the Behavior
1. ​Install script
2. ​Restart safari
3. ​Refresh ynab
4. See that it doesn't work

### Ex

[2017-03-23 12:42] dbaldon commented on #737
@danieldbird Can you be more specific about which number you want to be colored? A screen shot would be best if possible.

@bluebird8203 Do we already have a feature request like this? If not, can you add one? Thanks.

[2017-03-23 20:45] danieldbird commented on #737
![screenshot 2017-03-24 09 39 33](https://cloud.githubusercontent.com/assets/2720368/24269367/d680b64c-1075-11e7-9f06-dd6407df4c63.png)

Here is a good example.

The top item has a Monthly Funding goal, and because the goal has not been reached, the $0.00 is coloured orange. Great, this tells me there is action to be taken.

The bottom item however has a Target Category Balance goal, and this goal

[2017-03-23 21:03] dbaldon commented on #737
@danieldbird Thanks for the screen shot. Can you provide one more piece of data? That would be an of the  Toolkit Settings (Bottom Left of Settings Page). What I'm determining is if the number being colored orange is the Toolkit or native YNAB. Thanks.

[2017-03-23 22:30] casner commented on #720
Same on Win7x64 PC (Chrome) and Chromebook (Chrome)

[2017-03-23 23:32] dbaldon commented on #738
The issues with Safai have already been reported in Issue #631. Please have a look at that issue. Closing this issue as a duplicate of #631.

[2017-03-23 23:32] #738 closed

[2017-03-24 02:43] bluebird8203 commented on #737
request added to Trello - https://trello.com/c/KsoIeNLc

[2017-03-24 05:55] danieldbird commented on #737
@dbaldon here are my YNAB settings as requested:

[{"key":"accountsClearSelection","value":false},{"key":"accountsDisplayDensity","value":"0"},{"key":"accountsEmphasizedOutflows","value":true},{"key":"accountsRowHeight","value":"0"},{"key":"accountsSelectedTotal","value":false},{"key":"accountsStripedRows","value":false},{"key":"activityTransactionLink","value":true},{"key":"betterScrollbars","val

[2017-03-24 12:05] tlbuster opened #739 "Toolkit for Firefox reconciliation success popup causes error forcing YNAB to need refreshing."
Defective ToolKit Feature Name: Reconciliation success pop up

### Expected Behavior - I expect to click off of the pop up once it says I've successfully reconciled and continue working in YNAB.

### Actual Behavior - I get an error that states, "Uh-oh An error occurred in Toolkit for YNAB (a browser extension you installed to enhance YNAB). Click here to report the issue to the YNAB Toolkit proje

[2017-03-24 12:27] dbaldon commented on #739
@tlbuster Thanks for the bug report. Please provide an Export of Toolkit Settings (Bottom Left of Settings Page). This information is important to help research problems between different features in the Toolkit.

[2017-03-24 12:28] dbaldon commented on #737
@danieldbird Thanks.

[2017-03-24 12:44] tlbuster commented on #739
[{"key":"accountsClearSelection","value":false},{"key":"accountsDisplayDensity","value":"0"},{"key":"accountsEmphasizedOutflows","value":false},{"key":"accountsRowHeight","value":"0"},{"key":"accountsStripedRows","value":false},{"key":"activityTransactionLink","value":true},{"key":"betterScrollbars","value":"0"},{"key":"budgetBalanceToZero","value":true},{"key":"budgetProgressBars","value":"0"},{"

[2017-03-24 15:06] RaptorX opened #740 "Calculator Popup not showing up"
Defective ToolKit Feature Name:

### Expected Behavior
When Adding or editing a transaction, if this option is enabled, a calculator button will show up right next to "save" & "save and add another".

### Actual Behavior
With the option turned on, when adding or editing a transaction only the buttons "save and add another", "save" and "cancel" are displayed

### Steps to Reproduce the Behavior
1.

[2017-03-24 15:28] dbaldon commented on #740
@RaptorX I presume you reloaded YNAB after enabling the feature. Right? Does the calculator button show up on the Budget screen?

[2017-03-24 22:25] dbaldon commented on #740
@RaptorX Do you see the same behavior for adding and editing a transaction? I don't see the button when adding but I do see it when editing.

[2017-03-25 22:00] RaptorX commented on #740
I did reload YNAB.
The calculator is showing in the Budget Screen,

I was not able to see the calculator either when adding or editing a transaction.

After upgrading Chrome to latest version and reloading the browser and the toolkit the problem seem to dissapear.

I will keep testing to verify that it is fixed.

[2017-03-25 22:00] #740 closed

[2017-03-28 03:45] scias23 commented on #502
Hi @joshmadewell , I think this is an isolated issue for ubuntu Firefox build. Not using ubuntu anymore so I can't comment if this may be still happening.

[2017-03-30 15:57] lowviz opened #741 "Script Error when opening on Firefox Linux Mint 18.1"
A script on this page may be busy, or it may have stopped responding. You can stop the script now, open the script in the debugger, or let the script continue.

Script: https://evergreen-production-y…ppmain.eca4f4a37157e71da14e.js:18

If I continue everything works fine, If I stop the page won't load

Disabling the toolkit and the error doesn't appear

I also have the forced refresh when reconcili

[2017-04-01 05:44] emoulding opened #742 "PIF CC assist is showing wrong number, duplicating button"
Defective ToolKit Feature Name: Pay in full credit card assist

### Expected Behavior

Credit account where the balance matches available is not highlighted yellow. Button to rectify available appears once with correct value.

### Actual Behavior

One credit account with available matching balance is showing in yellow. Rectify button is showing twice, once with correct value (+0) and once with an

[2017-04-01 19:31] dbaldon commented on #736
@aperl79 This is an unfortunate side effect of having the Running Balance feature turned. The running balance column is added "on the fly" after the core YNAB code has generated the HTML. Every time you clear a transaction, the HTML is regenerated and so is the running balance column. Unless YNAB changes how they do things, I don't think there is anything we can do.

This is the reason I don't use

[2017-04-03 03:56] jaredrhodes commented on #735
I've got a working fix for this, would be happy to put up a PR.

[2017-04-03 12:49] dbaldon commented on #735
@jaredrhodes go for it. always glad to have PRs.

[2017-04-03 18:33] jaredrhodes commented on #735
@dbaldon Getting "permission denied" with the message "could not read from remote repository". I pulled down master, made a feature branch and am trying to push that up. Do I need further access?

[2017-04-07 18:19] hmspain opened #747 "Feature Request: Move Reconciled Transactions & Scheduled Transactions filter checkboxes"
Suggestion; Move the filter transactions check boxes (Reconciled Transactions & Schedule Transactions) from the "Filter" drop down to be right on the top bar to the right of the "Working Balance".

Many times you want to check/uncheck these boxes, and going into the Filter drop down becomes tedious.  The Filter drop down is STILL useful (without these two options) in that you can filter transactio

[2017-04-07 18:32] dbaldon commented on #747
That feature already exists. It's on the Accounts Screen tab all at the way at the bottom. It's the "Toggle Scheduled and Reconciled Transaction Buttons" feature.

Closing this issue. If what I've pointed out isn't what you had in mind, feel free to re-open the issue.

[2017-04-07 18:32] #747 closed

[2017-04-07 19:48] hmspain commented on #747
Doh!  I thought I stayed on top of the toolkit changes, thank you!!!  This is EXACTLY what I was looking for!

[2017-04-10 01:26] #502 closed

[2017-04-17 18:18] waterkip commented on #739
This seems to be related to the "auto close reconcile popup" feature. If you disable that feature it won't "crash"

[2017-04-17 18:45] tlbuster commented on #739
I disabled it, saved the changes, reconciled another account and it still immediately crashed.

Help! :)

On Apr 17, 2017, at 21:18, Wesley Schwengle <notifications@github.com<mailto:notifications@github.com>> wrote:

This seems to be related to the "auto close reconcile popup" feature. If you disable that feature it won't "crash"

—
You are receiving this because you were mentioned.
Reply to this

[2017-04-17 19:06] waterkip commented on #739
You need to refresh YNAB after a save, otherwise the change doesn't take effect. If you do it now, it doesn't crash.

[2017-04-17 19:27] tlbuster commented on #739
Yes, that did fix it! The refresh was the unknown critical step. Haha. Thanks!!!

On Apr 17, 2017, at 22:07, Wesley Schwengle <notifications@github.com<mailto:notifications@github.com>> wrote:

You need to refresh YNAB after a save, otherwise the change doesn't take effect. If you do it now, it doesn't crash.

—
You are receiving this because you were mentioned.
Reply to this email directly, view

[2017-04-19 11:35] tallison63 opened #748 "Error on Reconcile"
Defective ToolKit Feature Name:

### Expected Behavior
Not to get an error message

### Actual Behavior
After reconcilliation is completed, the "congratulations ... happy dance" pop-up appears and then disappears, immediately followed by an "Oops..." error message from the YNAB tool kit.
To the best of my ability, everything works correctly, it just has a problem.

### Steps to Reproduce the Behav

[2017-04-19 13:17] dbaldon commented on #748
Thanks for the report. The error was previously reported in Issue #739 so I'm closing this issue. I'll add a note the other issue than you've also encountered the error. At this point the solution has been to turn off the auto-close feature.

[2017-04-19 13:17] #748 closed

[2017-04-19 13:19] dbaldon commented on #739
@tallison63 also experienced the same error using FireFox. I pointed them to this Issue.