[2017-09-17 15:26] dankeene opened #945 "PIF button repeats"
# Name of Defective Feature
Rectify Available for PIF+ button repeats

# System Settings (Required)
ToolKit Version: 1.2.0
Operating System (Mac/Windows/Etc): Windows 7
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: Version 62.0.3202.18 (Official Build) beta (64-bit)
Other Extensions: Lastpass, Ghostery, Grammerly

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<su

[2017-09-17 15:58] dbaldon commented on #945
Thanks for the bug report. I'm closing it as a duplicate of #928.

[2017-09-17 15:58] #945 closed

[2017-09-17 18:55] dbaldon commented on #930
@ztoups I can't recreate the bug you've reported even when using your exact settings. As expected I see the import notification in blue or red depending on the feature setting.
Red:
![image](https://user-images.githubusercontent.com/11460228/30523901-96ec2c9e-9baf-11e7-9b7c-f7e69507eacf.png)

Blue:
![image](https://user-images.githubusercontent.com/11460228/30523907-c1df956c-9baf-11e7-8b77-d3d531f

[2017-09-17 19:43] dbaldon commented on #944
Can you post some screen shots of what you're seeing?

[2017-09-17 19:47] #922 closed

[2017-09-17 19:49] dbaldon commented on #910
Fixed in latest Toolkit release.

[2017-09-17 19:49] #910 closed

[2017-09-17 19:49] dbaldon commented on #901
Fixed in latest Toolkit release.

[2017-09-17 19:49] #901 closed

[2017-09-17 19:52] dbaldon commented on #892
Fixed in latest Toolkit release.

[2017-09-17 19:52] #892 closed

[2017-09-17 19:54] dbaldon commented on #897
Fixed in latest Toolkit release. Note that there is still an issue if you click the Collapse button in the side bar. I'll open a new issue for that.

[2017-09-17 19:54] #897 closed

[2017-09-17 21:10] jgilchrist commented on #875
This was fixed in #876

[2017-09-17 21:18] dbaldon commented on #875
Fixed in latest release.

[2017-09-17 21:18] #875 closed

[2017-09-17 21:19] simplysteph commented on #944
I can't seem to replicate the issue today, so I guess this can be canceled
for now.  I'll open a new ticket and try to include screenshots if I see it
happening again.

On Sun, Sep 17, 2017 at 2:43 PM, David Baldon <notifications@github.com>
wrote:

[2017-09-17 21:42] dbaldon commented on #944
Thanks @simplysteph. BTW, I noticed a couple of Issues you've opened are formatted "weird" in that most of the text and comments along with your settings are in the expandable Export Setting section. Only the settings you copied from the Options page should be placed on the line that says [paste settings here]. Everything else should stay were it is.

[2017-09-17 21:45] dankeene commented on #945
Thanks! I went searching for duplicates before I submitted it but I didn't
find them. Glad it's being worked on.
On Sun, Sep 17, 2017 at 11:58 AM David Baldon <notifications@github.com>
wrote:

[2017-09-17 21:48] simplysteph commented on #944
Interesting.  Pretty sure I've just gone through and fill in the blanks of the form as I have on past issues I've reported.  Unless I've accidentally been deleting some key character to end the settings section?

[2017-09-17 21:51] jgilchrist commented on #944
It looks like this happens if you delete the ``` characters after `[paste settings here]`. Maybe there's a way to format the template to make this a bit harder to do.

[2017-09-17 21:56] dbaldon commented on #944
Yeah the ``` characters are important and should be left where they are.

[2017-09-17 21:58] simplysteph commented on #944
OK - don't close this yet.  Just had it happen again.
![without toolkit - click on category](https://user-images.githubusercontent.com/20662531/30525288-4e5f629c-9bc9-11e7-8484-c133ff321c95.png)
![without toolkit - initial load](https://user-images.githubusercontent.com/20662531/30525289-4e5ff1e4-9bc9-11e7-80ec-dc2a5dd0a42b.png)
![with toolkit - click on category](https://user-images.githubusercon

[2017-09-17 22:01] simplysteph commented on #944
OK - file names didn't post with that or stay in the order I intended, so here's more information.
2nd image is how YNAB loads for me initially w/o the toolkit enabled.  1st image shows how it stays the same when one of those categories is clicked.

4th image is how YNAB loads for me initially with the toolkit enabled and the 3rd image shows how it changes to a bunch of yellow and the quick budget

[2017-09-18 00:04] Gamefan49 commented on #935
I am also having this issue.I do not like a running balance.

[2017-09-18 00:17] dbaldon commented on #935
A PR that fixes it had been submitted and merged into master. It is not in 1.2.0.

[2017-09-18 00:29] dbaldon commented on #935
@gamefan49 as reported in issue #934 a PR had been submitted for that issue as well.

[2017-09-18 06:03] M-Pass commented on #931
I have the same problem -- days of buffering was ~180-190, now is 4997 (I wish!).
Changing the history lookup setting doesn't help. If I put 6 months instead of one year, it's unable to calculate days of buffering at all, saying instead that I have less than 15 days of budgeting.

[2017-09-18 09:34] gavor00a opened #947 "Budget Quick Switch not working"
# Name of Defective Feature
Budget Quick Switch

# System Settings (Required)
ToolKit Version:  1.2.0
Operating System (Mac/Windows/Etc): Win 7
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: Version 60.0.3112.113 (Official Build) (64-bit)
Other Extensions: Adblock Plus

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code]
</deta

[2017-09-18 12:48] dbaldon commented on #947
I noticed the problem this past weekend and had a quick look. It's another case where internal YNAB changes have impacted the Toolkit. Hopefully someone will have time to look at it soon. I might but no commitment.

[2017-09-18 14:54] quolpr commented on #931
When I set `Days of Buffering History Lookup` to 1 month - it shows 575 days:

[code]

For 3 months, 1057 days of buffering:

[code]

[2017-09-18 14:54] quolpr commented on #931
But the really strange thing, that my total outflow is not `12 344,42` or `21 190,93`

[2017-09-18 15:01] quolpr commented on #931
My real outflow(based on reports) - 525 359.35 for 3 months and 133 719.54 for 1 month

[2017-09-18 16:31] tremsy commented on #931
The code that changed between the two releases has to do with filtering transactions so that it is only accounting for outflow transactions. Two additional filters were added which remove 1) any transaction which is a starting balance transaction and 2) any transaction which is an internal transfer between on-budget accounts. I would assume the issue is not with the starting balance transactions,

[2017-09-18 16:51] M-Pass commented on #931
Thank you tremsy, that's probably it -- I never set the payee in my transactions.

[2017-09-18 17:06] quolpr commented on #931
We can also check, that transaction name contains "Transfer: "

[2017-09-18 17:11] tremsy commented on #931
I wonder if that would work across multiple languages? It should be a solid fix for English users.

[2017-09-18 17:12] quolpr commented on #931
Does ynab support other languages?

[2017-09-18 17:18] dbaldon commented on #931
There is code in the Toolkit to get the string literal for other languages. Not all languages are supported but there are quite a few. Here is a sample bit of code;
`const menuText = ynabToolKit.l10nData && ynabToolKit.l10nData['toolkit.accountsClearSelection'] || 'Clear Selection';`

[2017-09-18 17:23] tremsy commented on #931
I don't see any reference of multilingual support for YNAB itself, so your idea would probably work well. In the worst case, it would just leave out some transactions when filtering, which would still be much more accurate than the current broken version.

[2017-09-18 17:30] dbaldon commented on #931
The Toolkit uses that to support multiple languages on labels, buttons, etc. If YNAB is inserting the literal text `Transfer:` then I would stick with what they're doing.

[2017-09-19 04:20] joshmadewell commented on #891
@casner are you still seeing this issue? I can't reproduce it.

[2017-09-19 05:17] joshmadewell commented on #886
Hey, @ll00ll00ll!

Unfortunately, we've chosen to drop support of Safari. Not only is Safari quite behind in terms of the web technologies we've chosen to use in many features of the toolkit, YNAB has implemented some security policies making it impossible for us to run the toolkit properly on their website barring a huge rewrite.

Until that rewrite happens (if it does) Safari will no longer be s

[2017-09-19 05:17] #886 closed

[2017-09-19 05:18] #872 closed

[2017-09-19 05:18] joshmadewell commented on #873
Hey @r-byrne the fix for this should be in our current release. If you notice the issue still exists and you're definitely running the newest version of the toolkit, please reopen! Thanks!

[2017-09-19 05:18] #873 closed

[2017-09-19 05:20] joshmadewell commented on #874
@GBoyd720 are you still having this issue? I use the search feature quite consistently with toolkit enabled and I haven't noticed any issues. Are you sure you didn't have any filters set that were hiding the results?

[2017-09-19 05:23] joshmadewell commented on #879
@byalextran I'm going to close this issue, thanks for the report and fix! Feel free to reopen if it's not resolved.

[2017-09-19 05:23] #879 closed

[2017-09-19 05:24] joshmadewell commented on #882
@cdierkens there is some DOB investigation going on here: #931 which may resolve this issue?

[2017-09-19 05:27] joshmadewell commented on #889
Hey guys, we're actively working to get all of our features migrated into a WebExtensions-friendly codebase.

Please bear with us!

[2017-09-19 12:38] casner commented on #891
Every time I open YNAB and click on an account. I uninstalled and reinstalled toolkit, and it is still there. Toolkit 1.2.0, whatever version is most current in YNAB.

Bruce

From: Josh Madewell [mailto:notifications@github.com]
Sent: Monday, September 18, 2017 23:21
To: toolkit-for-ynab/toolkit-for-ynab <toolkit-for-ynab@noreply.github.com>
Cc: Bruce Casner <BRUCE.CASNER@millerwelds.com>; Mention

[2017-09-19 12:57] dbaldon commented on #936
The feature needs to be aware of the route changing (switching between an account and the budget). The old method no longer works or never did.

@Flyou10 a work around for now is to simply click any sub-category. That will drive the code to display the Pacing column as expected.

[2017-09-19 13:09] casner commented on #891
It even happens with Toolkit uninstalled, so I will raise the issue with YNAB support.

Bruce

From: Josh Madewell [mailto:notifications@github.com]
Sent: Monday, September 18, 2017 23:21
To: toolkit-for-ynab/toolkit-for-ynab <toolkit-for-ynab@noreply.github.com>
Cc: Bruce Casner <BRUCE.CASNER@millerwelds.com>; Mention <mention@noreply.github.com>
Subject: Re: [toolkit-for-ynab/toolkit-for-ynab] T

[2017-09-19 15:13] ljford7 opened #953 "Missing Feature - Edit Account Button Move to Left of Accounts"
In previous versions of the Toolkit you could move the "Edit Account Button" to the right side of the accounts to make it easier to not click on. That feature is missing from v1.20 and the button is back in the default location with no option to move it.

![screenshot](https://user-images.githubusercontent.com/2449331/30599738-a8653aa8-9d1a-11e7-8a6d-8f0e6e2bea28.png)

[2017-09-19 15:26] joshmadewell commented on #953
@ljford7 we prematurely removed the feature it will be re-added in our next release! #951

[2017-09-19 16:02] ljford7 commented on #953
Thank you!

[2017-09-19 16:14] tremsy commented on #882
Yes, we are working to filter out transfer transactions from the Days of Buffering metric. I think we may have found a solution. Keep your eye on #931 for details.

[2017-09-19 16:17] cdierkens commented on #882
Thanks for the updates! I'll keep my eyes open.

On Tue, Sep 19, 2017 at 12:14 PM, tremsy <notifications@github.com> wrote:

[2017-09-19 17:23] lawrence-dol commented on #889
@joshmadewell : Thank you -- it's much appreciated, and people using free community software can't and shouldn't complain about timelines. :-)

[2017-09-19 23:41] rockmysocks commented on #934
Giving this a +1, I am having this problem as well and restarting chrome didn't help. Also tried turning off all toolkit options besides being enabled and still saw running balance.

[2017-09-20 00:06] MegBergen commented on #889
Thanks - no rush, appreciate you all creating the software for us.

[2017-09-20 17:22] Ukiman1014 commented on #934
I am also having this problem.  I've only tried turning it off and on and off again.  Still showing in all my accounts.

[2017-09-20 18:22] ztoups commented on #930
David,

It seems to be working correctly now.  Thanks for looking into it.

Zach

From: David Baldon [mailto:notifications@github.com]
Sent: Sunday, September 17, 2017 1:56 PM
To: toolkit-for-ynab/toolkit-for-ynab <toolkit-for-ynab@noreply.github.com>
Cc: ztoups <zach@toups.org>; Mention <mention@noreply.github.com>
Subject: Re: [toolkit-for-ynab/toolkit-for-ynab] Import notifications not working

[2017-09-20 19:59] dbaldon commented on #930
@ztoups thanks. I'll close the issue but feel free to reopen if necessary.

[2017-09-20 19:59] #930 closed

[2017-09-20 20:01] dbaldon commented on #934
Until the next Toolkit release this will an issue. Not sure when that will be but hopefully it won't be too long.

[2017-09-21 01:09] ahatzz11 opened #955 ""See Running Balance" Option Stuck On"
# Name of Defective Feature
Show Running Balance

# System Settings (Required)
ToolKit Version: 1.2.0
Operating System (Mac/Windows/Etc): Mac
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: Version 62.0.3202.29 (Official Build) beta (64-bit)
Other Extensions: ublock orgin, lastpass, pushbullet

Replicated on a Windows 10 machine, Chrome version 60.0.3112.113 (Official Build) (64-bit)

# E

[2017-09-21 02:05] dbaldon commented on #955
Thanks for the bug report. Closing as a duplicate of #934.

[2017-09-21 02:05] #955 closed

[2017-09-21 03:41] tremsy commented on #931
I am working on a solution but have not finished it yet. Here is what I have so far. It is not giving me perfect results, so I am still looking into it. It does not seem to be eliminating all on-budget transfers.

[code]

[2017-09-21 04:02] tylorr commented on #928
It's checking for the existence of a element with class `.toolkit.toolkit-rectify-difference`, doesn't find one then creates a button with class `.toolkit-rectify-difference`. Once that is fixed there appears to be other problems such as only updating when the budgeted amount is changed but not when selecting a different account.

[2017-09-21 05:37] tylorr commented on #928
I submitted a PR to fix the main issue. Though one thing I did notice in the code is that the feature is turned off if the available amount for the card is less than zero, is there a reason for this? It looks intentional but I'm not sure what the reasoning is behind it.

[2017-09-21 15:42] spammagnet opened #958 "PIF rectify display persists"
# Name of Defective Feature
Paid in Full Credit Card Assist

# System Settings (Required)
ToolKit Version: 12.0
Operating System (Mac/Windows/Etc): Win 10 Pro x64
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: 60
Other Extensions:

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code]

[code]

[2017-09-21 16:37] dbaldon commented on #958
Thanks for the bug report. Closing as a duplicate of #928 which already has a PR submitted to correct the issue.

[2017-09-21 16:37] #958 closed

[2017-09-21 16:42] spammagnet commented on #958
I poked around before posting but apparently didn’t look far enough.

Thanks for all your efforts, and for a very useful (free!) tool.

Chris Cowles

From: David Baldon
Sent: Thursday, September 21, 2017 12:37
To: toolkit-for-ynab/toolkit-for-ynab
Cc: spammagnet; Author
Subject: Re: [toolkit-for-ynab/toolkit-for-ynab] PIF rectify display persists(#958)

Thanks for the bug report. Closing as a dupl

[2017-09-21 16:43] dbaldon commented on #958
No worries. Sometimes the way the title of an issue is worded makes it difficult to recognize that it's the same issue.

[2017-09-21 21:00] Zedseayou opened #959 "Auto Adjust Split Transactions does not work"
# Name of Defective Feature
Auto Adjust Split Transactions

# System Settings (Required)
ToolKit Version: 1.20
Operating System (Mac/Windows/Etc): Windows 10
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: 61.0.3163.91
Other Extensions: none, or at least bug exists with all others disabled. Didn't do a clean install

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<s

[2017-09-21 21:39] dbaldon commented on #824
Fixed in the last release.

[2017-09-21 21:39] #824 closed

[2017-09-21 21:41] dbaldon commented on #742
Closing this old issue which is being tracked in #928 which has a PR submitted for it.

[2017-09-21 21:41] #742 closed

[2017-09-23 17:46] tylorr commented on #914
This feature has a similar issue to the rectify available button https://github.com/toolkit-for-ynab/toolkit-for-ynab/issues/928. The button is created once and given data for the first item clicked but doesn't update the data when you click on other budgets.

[2017-09-23 17:49] dbaldon commented on #914
I have a PR started for this but am waiting until I have time to refactor the feature to the new sauce approach. If at all possible any feature being fixed should be refactored. Until all features are refactored we can't move to Web Extensions and until we can do that the Toolkit won't work on FF.

[2017-09-23 17:51] dbaldon commented on #914
The sauce approach has a common built in function for determining when a budget is switched, a route changes (i.e. move from account to budget screen). That means a feature doesn't have to check for so many changed nodes.

[2017-09-25 00:23] dbaldon commented on #728
I believe this has been fixed with recent PRs. Feel free to re-open if the problem persists.

[2017-09-25 00:23] #728 closed

[2017-09-25 00:28] dbaldon opened #960 "Slow performance in locating Payee when Toolkit is active"
# Name of Defective Feature
No one in particular

# System Settings (Required)
ToolKit Version: 1.2.0
Operating System (Mac/Windows/Etc): Windows 10
Browser (Chrome/Firefox/Safari): Chrome
Browser Version:
Other Extensions:

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code]
</details>

# Steps to Reproduce the Behavior

1. ​Turn off al

[2017-09-27 11:59] arconautishche opened #962 "Can't see calculator in the Account screen"
# Calculator

# System Settings (Required)
ToolKit Version: 1.2.0
Operating System (Mac/Windows/Etc): Windows 10
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: latest
Other Extensions:

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>
[{"key":"AccountsDisplayDensity","value":"0"},{"key":"AccountsEmphasizedOutflows","value":false},{"

[2017-09-27 12:18] arconautishche commented on #962
Now it suddenly appeared to the left from the Cancel button... in the middle of adding a transaction

[2017-09-27 13:34] dbaldon commented on #962
It's only supposed to be visible if you're "in" the outflow or inflow input areas. I've noticed a few times that it doesn't show when adding a transaction right after starting YNAB. I haven't had time to figure out why that happens.

[2017-09-27 20:20] Mako88 opened #963 "[Feature Request] Allow setting an imported transaction as recurring"
It would be nice if you could select a transaction imported from your bank, and make it recurring instead of having to create a new transaction to do this.

[2017-09-27 20:32] PteDefcon commented on #963
While I concur this would be a good feature, if you're following the true nYNAB methodology, you'd already have the recurring transaction logged, with the auto-import acting as the transaction confirmation.

[2017-09-27 20:35] Mako88 commented on #963
That's true, although it's convenient for first-time setup to set a goal of an approximate amount, and then create a recurring transaction of the exact amount once it comes out.

But I agree, other than initial setup, it shouldn't really be used according to the YNAB philosophy.

[2017-09-28 20:51] zeeleezae commented on #846
My issue seems related but perhaps not quite the same. When I have Goal Indicator Warning Color turned on, underfunded goals are correctly blue _until_ I toggle to any other part of YNAB (accounts, reports, etc.) _except Toolkit Reports._ Then when I toggle back to the budget screen, all underfunded goals will be back to orange. If I refresh the page, goals go back to blue. Toggling from Budget to

[2017-09-29 22:17] librarianjess opened #965 "Stickied credit cards feature makes all other budget categories disappear"
# Name of Defective Feature
Entire budget screen

# System Settings (Required)
ToolKit Version: 1.2.0
Operating System (Mac/Windows/Etc): Mac OS 10.11.6
Browser (Chrome/Firefox/Safari): Chrome
Browser Version:  61.0.3163.100
Other Extensions: AdBlocker Plus, Twitter Blockchain

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code]
</detail

[2017-10-02 03:32] galearii opened #966 "Running Balance Still Showing If Turned Off"
# Name of Defective Feature
Account Screen > Show Running Balance

# System Settings (Required)
ToolKit Version: 1.2.0
Operating System (Mac/Windows/Etc): Mac
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: 61.0.3163.100
Other Extensions: uBlock Origin, 1Password, Full Page Screen Capture, Save to Pocket, React Developer Tool, Metamask, Todoist for Gmail, Application Launcher (Google Driv

[2017-10-02 06:58] dbaldon commented on #966
Closing as a duplicate of #934.

[2017-10-02 06:58] #966 closed

[2017-10-05 22:11] Lotsofjoy opened #967 "When budget line is highlighted, text turns white and can't be read"
# Highlighted budget line, white text

<img width="1065" alt="screen shot 2017-10-05 at 3 08 29 pm" src="https://user-images.githubusercontent.com/32556138/31254827-1a5790d6-a9df-11e7-8eba-0f730ac8212b.png">
<img width="1062" alt="screen shot 2017-10-05 at 3 08 14 pm" src="https://user-images.githubusercontent.com/32556138/31254833-1f322012-a9df-11e7-96f5-d1efb83accbc.png">
<img width="1066" alt="

[2017-10-07 17:18] dbaldon commented on #965
I was going to take a look at this but the feature has not been activated on my account. Probably because I don't use credit cards. However, given the low number of reports, I suspect they haven't turned the feature on for very many users.

[2017-10-09 15:55] dalewking commented on #878
Ran into this myself and wasted 1/2 an hour trying to figure out why numbers that had to add up did not add up.

[2017-10-09 20:11] WarrenDB commented on #859
I'd like to add on to this, it seems occasionally even if sorting by date the running balance is getting a different sort order than is being used to display the columns.

![image](https://user-images.githubusercontent.com/1476461/31356317-e2bc913e-acfa-11e7-93e6-96f16d96d8cc.png)

The totals for the two items are obviously calculated out of order. Moving the Chase value up to the 23rd didn't fix

[2017-10-09 20:16] dbaldon commented on #967
A work around for this is to turn set the `Budget Rows Progress Bars` feature to Default or Goal progress.

[2017-10-09 20:27] Lotsofjoy commented on #967
Thanks, dbaldon!  It's only been an issue since the last update. is there a solution for it in the works?

[2017-10-09 20:28] dbaldon commented on #967
I took a quick look this past weekend but didn't have time to track it down. Maybe I'll get some time this week or another contributor will look at it.

[2017-10-10 13:57] HanTrio opened #968 "Copy Transactions results missing Payee and wrong Date"
# Budget Screen Settings; Add Copy Transactions button to the Category Popup

# System Settings (Required)
ToolKit Version: 1.2.0
Operating System (Mac/Windows/Etc): Windows 10
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: Version 61.0.3163.100 (Official Build) (64-bit)
Other Extensions: LastPass, Pushbullet, Pocket, Cisco WebEx, Pexip Screensharing

# Export of Toolkit Settings (Bottom

[2017-10-10 16:09] dbaldon commented on #968
Quick glance at the code shows the Payee has never been included in the copied transactions. The same date for all transactions will require stepping through the code something I can't do right now.

[2017-10-11 23:43] RaptorX opened #969 "Toolkit causes crash after October 11th YNAB update"
YNAB Toolkit

# System Settings (Required)
ToolKit Version: 1.2.0
Operating System (Mac/Windows/Etc): Windows 10 x64
Browser (Chrome/Firefox/Safari): Chrome
Browser Version:  Version 61.0.3163.100 (Official Build) (64-bit)

# Settings Export
<details>
<summary>
![screct_ndazgmdmnwfzc](https://user-images.githubusercontent.com/328761/31472415-fe646652-aec4-11e7-83cc-087fc9067009.png)
Export</summar

[2017-10-11 23:49] dbaldon commented on #969
Try turning off the Toggle Splits feature.

[2017-10-12 00:02] jclinville commented on #969
I was having the same issue. Turning off toggle splits resolved the issue....though I do like and use that feature! Thanks!

[2017-10-12 00:03] Betsy30 commented on #969
Worked for me, too. I can live with that feature for a while, thank goodness!

[2017-10-12 00:12] woodnboats opened #970 "YNAB update 11 October won't work with Split Toggle button"
# Name of Defective Feature

Add Toggle Splits Button

# System Settings (Required)
ToolKit Version: 1.2.0
Operating System (Mac/Windows/Etc): Windows 10
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: 61.0.3163.100 (Official Build) (64-bit)
Other Extensions: (none added since last Toolkit or YNAB update
Adblock Plus
Add to Amazon Wish List
Bounce!
Change Colors
Chrome Connectivity Diagno

[2017-10-12 00:13] #970 closed

[2017-10-12 00:21] woodnboats commented on #969
I just posted the same issue. I checked all my options, and that is the only one I use that is not working this time.
Sadly, it is an option I depend on, although I wish it were transaction-specific, as it was in YNAB4.
Every time YNAB pushes some tweak through, and it interferes with my use, I get a little closer to moving on to Every Dollar, or some other such. If it weren't for the wonderful wo

[2017-10-12 00:23] dbaldon commented on #969
It should be there natively in my opinion.

[2017-10-12 04:38] NetJon commented on #969
Just confirming the same problem with YNAB Crashing when YNAB Toolkit is turned on.  I'm gonna try turning off the "toggle splits" feature and see if that works.

[2017-10-12 04:42] NetJon commented on #969
Turned off "toggle splits" and that seems to have fixed the problem.  Of course, I LIKE the toggle splits option!  :-)

[2017-10-12 16:37] Taytay commented on #969
Hey everyone - this is Taylor from YNAB. We see this crash coming through on our side, and are looking at steps to remedy it until the toolkit devs can apply a fix. This happened because we fixed another bug that was biting our customers in Firefox, and when we did, we must have changed something related to this Toolkit feature.

(@blargity : I've invited you to a private Slack channel so we can d

[2017-10-12 17:02] joshmadewell commented on #969
@Taytay @shama

we were calling `accountsController._filterContent` if you could provide us with a function that does the equivalent to that it should be a simple fix.

https://github.com/toolkit-for-ynab/toolkit-for-ynab/blob/master/source/common/res/features/toggle-splits/main.js#L27

[2017-10-12 17:14] jorgehmv commented on #969
@joshmadewell hi! this is Jorge from YNAB can you try replacing that line with

`accountsController.notifyPropertyChange('contentResults')`

[2017-10-12 17:44] dalewking commented on #969
@jorgehmv @Taytay

Would be awesome if YNAB could make part of their release process to test with the toolkit before the release and alert the toolkit folks about any coming breaking changes before it is released.

Would be even more awesome if YNAB implemented much of what the toolkit does in YNAB itself.

[2017-10-12 17:45] joshmadewell commented on #969
@jorgehmv Looks like there's a bit more. I suppose you guys used to `set('contentResults', ...transactions)` and we took advantage of that and overwrote the set to only set the `contentResults` to be transactions which weren't split transactions. I don't think you guys set that anymore. we may need to refactor how this is working entirely.

[2017-10-12 17:57] jorgehmv commented on #969
@joshmadewell I see, correct, `contentResults` is now a computed property that shouldn't be set

[2017-10-12 18:55] alwyn opened #971 "Accounts feature from ynab of 11 October is broken by the toolkit"
YNAB's latest update results in a refresh loop as soon as an account is selected.  When I disable the toolkit it works, when it's on it fails.

# Name of Defective Feature
Unknown what is broken

# System Settings (Required)
ToolKit Version: 1.2.0
Operating System (Mac/Windows/Etc): Windows 10
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: 61.0.3163.100
Other Extensions: Lastpass, Vimium

[2017-10-12 18:57] dbaldon commented on #971
Thanks for the report. Closing as a duplicate of #969. Turn off the Toggle Splits feature as a temporary workaround.

[2017-10-12 18:57] #971 closed

[2017-10-12 18:59] dbaldon commented on #969
Updated the title of this issue to hopefully help folks realize the problem has already been reported.

[2017-10-12 19:18] Taytay commented on #969
@dalewking: Testing with the toolkit is something we're investigating. It does of course increase our QA surface area quite a bit, but we don't enjoy breaking the toolkit obviously and want to make it easier on toolkit devs/users :) . We're also looking at ways to give more of a heads up to the toolkit devs so that they know about these breaks before we or customers do.

[2017-10-12 22:36] alexmidd commented on #969
I got this error too and disabled the Toggle Splits option as suggested. This appears to have resolved the issue but now I am getting running balances when I have them turned off. Is this part of the same issue?

[2017-10-12 22:38] dbaldon commented on #969
No that's a different issue. It's been fixed and just waiting for the next release.

[2017-10-12 22:39] alexmidd commented on #969
OK, thanks for that.

[2017-10-13 02:02] compraxis opened #973 "I get the "Uh oh... Refresh your browser to get back in business. ""
I get this dialogue box immediately after logging in and my data is loaded up.

# Name of Defective Feature

# System Settings (Required)
ToolKit Version: 1.2.0
Operating System (Mac/Windows/Etc):  Mac OS 10.12.6
Browser (Chrome/Firefox/Safari): Both Chrome & Firefox
Browser Version: Chrome 61.0.3163.100, Firefox 56.0
Other Extensions:

# Export of Toolkit Settings (Bottom Left of Settings Page)
[

[2017-10-13 02:38] woodnboats commented on #973
Gee, it worked for me about 2 hours ago, after an update earlier in the day. But I just applied today's latest update, and it's back where it was before; enabling the split transaction button causes Accounts not to load, with the same error message as before.

[2017-10-13 07:03] Lotsofjoy commented on #973
Same here. It was fine until yesterday but now I've had to turn off the extension to even be able to use YNAB.

[2017-10-13 11:52] dbaldon commented on #973
Thanks for the bug report. Closing as a duplicate of #969. Turn off the Toggle Splits feature to get around the problem. A fix has been developed and will be in the next release of the Toolkit.

[2017-10-13 11:52] #973 closed

[2017-10-13 13:29] torbengb opened #974 "FEATURE REQUEST: show sum of category goals in group header"
# Name of Defective Feature
Budget Screen > Display Target Goal Amount And Overbudget Warning

# System Settings (Required)
ToolKit Version: 1.2.0
Operating System (Mac/Windows/Etc): Windows
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: Version 61.0.3163.100 (Official Build) (64-bit)
Other Extensions:

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settin

[2017-10-13 15:34] V29 opened #975 "Make Column Widths Adjustable breaks the Payee column sizing"
# Name of Defective Feature

Make Column Widths Adjustable

# System Settings (Required)
ToolKit Version: 1.2.0
Operating System (Mac/Windows/Etc): Mac and Windows
Browser (Chrome/Firefox/Safari): Chrome
Browser Version:  61.0.3163.100
Other Extensions: Google Docs

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code]
</details>

# Steps

[2017-10-13 17:09] dbaldon commented on #974
@bluebird8203 Can you add this to the Trello board?

[2017-10-13 18:08] Taytay commented on #969
We've (YNAB) made a couple of attempts to not make this hard-crash, but they result in a blank account register instead, meaning that users are likely to be even more confused than they already are. So we've rolled back those changes. We're hoping that this collapsing of splits can be removed from the toolkit until a long term fix is in place.

[2017-10-13 18:13] dbaldon commented on #969
We're hoping to get a new release of the Toolkit out this weekend that will include PR #972 which fixes the issue.

[2017-10-13 18:37] kiki-kos commented on #969
Hey guys, just chiming in that I came here with the same issue and unchecking the toggle splits feature fixed it for me as well!

[2017-10-13 19:10] Taytay commented on #969
Thanks @dbaldon!

[2017-10-13 19:14] dalewking commented on #969
Probably should open another issue for it but I see another issue after the latest update. When opening an account register the data is squished (most values are truncated with a ...) and not lined up under the column headers. If I change the sort order or edit a transaction it fixes itself.

[2017-10-13 19:19] dbaldon commented on #969
@dalewking yeah a new bug report should be opened for that.

[2017-10-13 21:07] RaptorX commented on #969
Please notify me when you need to close this issue.

[2017-10-14 00:44] joking777 opened #977 "Add a Toggle Splits Button is broken"
# Name of Defective Feature
When the **Add a Toggle Splits Button** feature is turned on I am getting the following error on the accounts screen. This started this afternoon.

_Something has gone wrong likely having to do with internets and tubes. Refresh your browser to get back in business._

Looking in the developer tools it looks like it is causing a javascript error

`
Handling an uncaught er

[2017-10-14 00:47] dbaldon commented on #977
Thanks fur the bug report. This has already been reported in issue #969.  Closing as a duplicate.

[2017-10-14 00:47] #977 closed

[2017-10-14 00:55] joking777 commented on #977
Apologies. Looks like I'm late to the party.

[2017-10-14 00:57] dbaldon commented on #977
No worries.

[2017-10-14 02:02] dbaldon commented on #969
Release 1.3.0 of the Toolkit has been released. Feel free to resume toggling your splits. Thanks to @joshmadewell for the quick fix and @blargity  for the quick release. Also @Taytay and @jorgehmv for their help in chasing this down. Really appreciate the help and cooperation!

@RaptorX closing the issue but feel free to reopen if necessary.

[2017-10-14 02:02] #969 closed

[2017-10-14 02:04] #960 closed

[2017-10-14 02:05] dbaldon commented on #953
Fix is available in release 1.3.0. Feel free to reopen if necessary.

[2017-10-14 02:05] #953 closed

[2017-10-14 02:08] dbaldon commented on #947
Fix is available in release 1.3.0. Feel free to reopen if necessary.

[2017-10-14 02:08] #947 closed

[2017-10-14 02:10] dbaldon commented on #935
Fix is available in release 1.3.0. Feel free to reopen if necessary.

[2017-10-14 02:10] #935 closed

[2017-10-14 02:11] dbaldon commented on #934
Fix is available in release 1.3.0. Feel free to reopen if necessary.

[2017-10-14 02:11] #934 closed

[2017-10-14 02:11] dbaldon commented on #928
Fix is available in release 1.3.0. Feel free to reopen if necessary.

[2017-10-14 02:11] #928 closed

[2017-10-14 02:12] dbaldon commented on #919
Fix is available in release 1.3.0. Feel free to reopen if necessary.

[2017-10-14 02:12] #919 closed

[2017-10-14 02:15] dbaldon commented on #868
@boucksy can you check and see if this is still an issue? If it sin't, please close the issue. Thanks.

[2017-10-14 02:17] #861 closed

[2017-10-14 02:18] dbaldon commented on #858
Fix is available in release 1.2.0. Feel free to reopen if necessary.

[2017-10-14 02:18] #858 closed

[2017-10-14 02:19] dbaldon commented on #473
Fix is available in release 1.2.0. Feel free to reopen if necessary.

[2017-10-14 02:19] #473 closed

[2017-10-14 02:21] dbaldon commented on #321
Closing issue as it should have been fixed. Feel free to reopen if you still experience problems with the number formats.

[2017-10-14 02:21] #321 closed

[2017-10-14 02:22] dbaldon commented on #237
Fix is available in release 1.3.0. Feel free to reopen if necessary.

[2017-10-14 02:22] #237 closed

[2017-10-14 02:47] dbaldon opened #978 "Link Activity Back To Their Account Transaction crashes YNAB"
# Name of Defective Feature
Link Activity Back To Their Account Transaction

# System Settings (Required)
ToolKit Version: 1.3.0
Operating System (Mac/Windows/Etc): Windows
Browser (Chrome/Firefox/Safari): Chrome
Browser Version:
Other Extensions:

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code]
</details>

# Steps to Reproduce the B

[2017-10-14 02:51] dbaldon commented on #978
This looks like it may be related to the same issue that Toggle Splits was having after the 11 Oct 2017 update. i.e. contentResults.

[2017-10-14 03:17] bluebird8203 commented on #974
added on Trello - https://trello.com/c/bGbll7NX

[2017-10-14 06:52] NetJon opened #979 ""Reset Column Width" link appears even when the "Make Column Widths Adjustable" feature is turned off"
# Name of Defective Feature

Make Column Widths Adjustable

# System Settings (Required)
ToolKit Version:  1.3.0
Operating System (Mac/Windows/Etc):  Windows 10 Professional
Browser (Chrome/Firefox/Safari):  Chrome
Browser Version:  Version 61.0.3163.100 (Official Build) (64-bit)
Other Extensions:  AdBlock, Bookmark Manager, Empty New Tab Page, Evernote Web Clipper, Extension Defender, Facebook Di

[2017-10-14 15:37] dbaldon commented on #979
This was fixed in [commit](https://github.com/toolkit-for-ynab/toolkit-for-ynab/commit/dc3f2bcaf132c45ffa00aa623f74e90a1dd86c80#diff-870983f45c36646d1dfe385fe92742a2) but removed in [commit](https://github.com/toolkit-for-ynab/toolkit-for-ynab/commit/e08405b2f4d2fb6e8979ead9f4fe2d37b60f19e3#diff-870983f45c36646d1dfe385fe92742a2). @blargity where is the `enabled` setting being checked? I thought it

[2017-10-14 15:50] cori87 opened #980 "Columns are out of alignment when turning on running balance feature"
# Name of Defective Feature
Running balance

# System Settings (Required)
ToolKit Version: 1.3.0
Operating System (Mac/Windows/Etc): Mac OS X
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: 61.0.3163.100 (Official Build) (64-bit)
Other Extensions:
1Password: Password Manager and Secure Wallet
Chrome Remote Desktop
Cisco WebEx Extension
Docs
Evernote Web Clipper
Grammarly for Chrome
Honey

[2017-10-14 15:53] dbaldon commented on #980
@cori87 can you try a couple of things?

1. Go to the budget screen and then come back to the account screen. Is it the same or better?
2. Minimize the browser window and then restore it. Is it the same or better?
3. Refresh the browser page (not sure how you do that on a Mac). Is it the same or better?

[2017-10-14 16:00] dbaldon commented on #975
@V29 can you provide a screen shot of this behavior? I'm having a hard time picturing it. Thanks.

BTW, the 1.3.0 release done last night fixes the Toggle Splits issue. The Resize Inspector issues should also be resolved.

[2017-10-14 16:09] dbaldon commented on #974
Closing as it is now on Trello.

[2017-10-14 16:09] #974 closed

[2017-10-14 16:14] dbaldon commented on #931
@tremsy @quolpr is this issue now resolved? I see that the PR @quolpr submitted has been merged and included in release 1.3.0. If it's all resolved I'd like to close this issue.

[2017-10-14 16:15] dbaldon commented on #891
Closing as not a Toolkit issue.

[2017-10-14 16:15] #891 closed

[2017-10-14 16:16] dbaldon commented on #962
@arconautishche is this still an issue?

[2017-10-14 16:19] dbaldon commented on #959
@Zedseayou this should be fixed in release 1.3.0. Feel free to reopen the issue if necessary.

[2017-10-14 16:19] #959 closed

[2017-10-14 16:39] cori87 commented on #980
1. Go to budget screen and come back to account screen - same
2. Minimize and restore - same
3. Refresh page - same
4. Click through other account pages - better!  I think that first account I looked at after the new add-on change got hung up.  It still had the round "clear" button.  After cycling through other accounts I can see the "flag" icon instead and the columns have resolved.

We can close

[2017-10-14 18:10] dbaldon commented on #980
OK, I'll close the issue but feel free to reopen if you continue seeing the initially reported behavior.

[2017-10-14 18:10] #980 closed

[2017-10-14 22:52] gebo22 opened #983 "Running Balance Not Displaying"
# Name of Defective Feature -> RUNNING BALANCE

# System Settings (Required)
ToolKit Version: NO IDEA WHERE TO LOOK - IT JUST UPDATED TODAY.
Operating System (Mac/Windows/Etc): MAG
Browser (Chrome/Firefox/Safari): CHROME
Browser Version: Version 61.0.3163.100 (Official Build) (64-bit)
Other Extensions:

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export<

[2017-10-14 22:54] gebo22 commented on #983
issue seems to have solved itself ?!

[2017-10-14 22:54] #983 closed

[2017-10-14 23:03] dbaldon commented on #983
@gebo22  If you see this happen again, try clicking to a different account and see if the issues resolves itself. This is the second issue opened today but then the issue disappears. Thanks.

[2017-10-14 23:19] gebo22 commented on #983
Hey david - that’s exactly what happened. Switched to a different account and it appeared.

On Oct 14, 2017, 16:03 -0700, David Baldon <notifications@github.com>, wrote:

[2017-10-14 23:24] dbaldon commented on #983
ok, thanks. I'm seeing a pattern.

[2017-10-15 11:25] dbfraser commented on #818
I've seen the same thing on my system - when turning on "Income From Last Month" under budget screen settings, and using it to look at "Previous Month (easy)" (and possibly the others as well - I haven't tested that), and Inflow:TBB entries included in a split are not added into the Income from last month.

[2017-10-15 15:32] squirrelnutkin opened #984 "Contributing $ to this effort"
hi there! Love your extensions. It's great that it's "Freeware" but wondering if there is some way to contribute a few bux to the project.

thanks, Nina

[2017-10-15 15:37] dbaldon commented on #984
Thanks for the thought @squirrelnutkin but there really isn't. The Toolkit devs are spread all over the globe and the level of contribution varies greatly. There really isn't an easy way to distribute any contributions. Maybe someday there'll be a way to contribute but there isn't at the moment.

[2017-10-15 18:15] christickner opened #986 "FEATURE REQUEST: Subcategories"
# Feature: Subcategories

## Background

Categories are great for organizing our budget. I especially like the ability to see totals per category: budgeted, activity, available.

Some of my categories I consider "umbrella" categories of a rather broad category of my budget. I like seeing a total for this broad umbrella category because those totals are useful for me.

Within these broad categories

[2017-10-16 11:32] arconautishche commented on #962
Unfortunately, yes. Now I can't get the calculator to ever open, also not on the Budget page.

[2017-10-16 13:00] dbaldon commented on #962
So it doesn't appear when when you tab to the OUTFLOW or INFLOW fields? Can you post a screen shot after you've tabbed to the OUTFLOW field while editing or adding a transaction? Here is what I see when editing a transaction;
![image](https://user-images.githubusercontent.com/11460228/31613123-bcec0906-b247-11e7-9235-148e22839553.png)

On the budget screen the calculator icon will not be displayed

[2017-10-16 13:28] tremsy commented on #931
Everything is working fine for me after the update. It would be good to know if the issues are resolved for @quolpr or @M-Pass. Also, thank you @quolpr for generating a PR. I spent some time working on it but have been quite busy lately, so I never got around to finishing it.

[2017-10-16 13:58] arconautishche commented on #962
Tabbed, or clicked inside, the result is the same:

![image](https://user-images.githubusercontent.com/26841556/31615334-884fdf3c-b289-11e7-85fb-8b7bc635d06b.png)

![image](https://user-images.githubusercontent.com/26841556/31615737-daffb12a-b28a-11e7-84b1-96ce598bb681.png)

[2017-10-16 14:13] dbaldon commented on #962
This is quite odd. As I said earlier I know there is an issue with the calculator button not showing in the account register the first time you add/edit a transaction but if you cancel then add/edit it should appear when the OUTFLOW or INFLOW field is active.

On the budget screen I don't have any idea why it's not showing up. Are you familiar with the Dev Tools in Chrome? If so, open the tools an

[2017-10-16 16:23] boucksy commented on #868
@dbaldon I only commented on the issue. It doesn't seem like it's happening so I'd recommend @Teri3436 close the issue.

[2017-10-16 21:28] woodnboats commented on #984
Is there any kind of "scutwork" that could be farmed out to non-coder beneficiaries to take some of the workload of you incredible people?

Or some other way to express our appreciation?

[2017-10-17 00:23] dbaldon commented on #932
@tcanens is this still an issue with the 1.3.0 release?

[2017-10-17 00:28] dbaldon commented on #962
So another issue reported on the forums is a new feature that only some users have. I can see from the budget screen shot (the icon to the left of the Groceries category name) that you are likely one of those users. The new feature is related to new credit card payments and adding an icon to categories. I suspect that's related to the issue in the budget screen. I do not have this new functionalit

[2017-10-17 01:02] blargity commented on #984
Thank you @squirrelnutkin and @woodnboats, I love that you want to help support the project.

We just don't currently have an administrative framework for doing this. By that I mean dealing with the tax implications of receiving money, as well as figuring out who it goes to are tricky. We've got 49 contributors, most of whom aren't around anymore, but who gets what? Some of us are really active, o

[2017-10-17 01:23] tcanens commented on #932
Yes. Looks like it's specific to stickied credit cards. (I started using YNAB only recently and have always had the sticky version, so I didn't know that non-stickied was even a thing when I filed the issue...)

The issue is that the sticky header isn't found by things like [this](https://github.com/toolkit-for-ynab/toolkit-for-ynab/blob/master/source/common/res/features/pacing/main.js#L136), sinc

[2017-10-17 02:19] hugodahl opened #988 "Toolkit release notes/update message is cut off on lower resolution display"
# Name of Defective Feature
Release Notes/Update Message display

# System Settings (Required)
ToolKit Version: 1.3.0
Operating System (Mac/Windows/Etc): macOS 10.12.6 (aka "Sierra")
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: 61.0.3163.100 (Official Build) (64-bit)
Other Extensions:
* [1Password](https://chrome.google.com/webstore/detail/1password-password-manage/aomjjhallfgjeglblehe

[2017-10-17 02:24] dbaldon commented on #988
Thanks fur the bug report. A PR has already been submitted for this. You can press "refresh" to get rid of the modal.

[2017-10-17 12:31] falkencreative commented on #608
Closing this issue now that my improvements have been integrated. Please open a new issue if you are still having trouble or want to discuss this further.

[2017-10-17 12:32] #608 closed

[2017-10-17 12:34] #840 closed

[2017-10-17 12:36] #739 closed

[2017-10-17 12:41] falkencreative commented on #988
This issue has been corrected (https://github.com/toolkit-for-ynab/toolkit-for-ynab/pull/987) and will be included in the next update.

After the next update, the modal will be placed higher on the screen, will be scrollable (in case the "Continue" button is not immediately visible), and clicking on the background overlay will also close it.

[2017-10-17 12:41] #988 closed

[2017-10-17 12:47] falkencreative commented on #890
Closing, since as far as I can tell, this has been fixed. If you have additional issues or want do discuss this further, please open a new issue. Thanks!

[2017-10-17 12:47] #890 closed

[2017-10-17 12:52] falkencreative commented on #887
Closing out old issues. As far as I can tell, this seems to be most likely either a YNAB/budget settings issue (not Toolkit related). You could easily test if this is a Toolkit issue by disabling the Toolkit and seeing if you are still experiencing the issue.

If you are still having trouble or want to discuss this further, please open a new issue.

[2017-10-17 12:52] #887 closed

[2017-10-17 12:54] falkencreative commented on #874
Closing out old issues. If you're still experiencing this, or want discuss further, please open a new issue. Thanks!

[2017-10-17 12:54] #874 closed

[2017-10-17 12:57] #132 closed

[2017-10-17 12:58] falkencreative commented on #868
Closing out old issues. If you're still experiencing this or want to discuss further, please open a new issue. Thanks!

[2017-10-17 12:58] #868 closed

[2017-10-17 13:00] falkencreative commented on #845
@blargity - Any thoughts on this? With the recent work I've been doing on the website, I actually agree -- might be nice to have the website split out from the main Toolkit code.

[2017-10-17 13:11] dbaldon commented on #846
@zeeleezae this is a result of the feature not responding correctly to the changes that occur as you go from the budget screen to an account screen and back. IN your case and the originally reported case the feature needs to correctly respond to changes.

[2017-10-17 13:17] hugodahl commented on #988
Good to know about it being already addressed in a PR. I didn't see any issues open about it, which is why I opened it. Probably should have checked latest merges and PRs. I'd intended to work it myself, but I'd been beat to the punch! Maybe next time!

[2017-10-17 16:39] falkencreative commented on #986
I somewhat suspect that this is something that YNAB would have to implement themselves, just due to how much of the app would need to change to support this. There would need to be a way to differentiate YNAB's categories from our custom sub categories, change how the Budget appears for those subcategories, show these subcategories properly in category selection dropdowns, in reports, etc etc.

I

[2017-10-17 16:39] #986 closed

[2017-10-17 16:44] falkencreative commented on #865
Closing out this feature request since the change has now been integrated into the Toolkit. Thanks for contributing!

[2017-10-17 16:44] #865 closed

[2017-10-17 17:17] falkencreative commented on #963
I've added this as a potential item on our Trello board: https://trello.com/c/Q7Rx7UvD/447-create-reoccurring-transaction-from-existing-transaction

Thanks for the idea!

[2017-10-17 17:17] #963 closed

[2017-10-17 18:29] dbaldon commented on #914
This issue should be fixed as of release 1.3.0. Feel free to reopen the issue if necessary.

[2017-10-17 18:29] #914 closed

[2017-10-17 19:47] woodnboats commented on #984
Thank you, as well as your teammates, for your work.
If you would like my help with GitHub, I'd be glad to do it.
I must confess that I'm not very GitHub savvy, but if you could show me what to do, I'll give it a try.
I'm retired, so my time is pretty much my own.
Kirk

[2017-10-17 19:49] woodnboats commented on #984
Thank you, as well as your teammates, for your work.
If you would like my help with GitHub, I'd be glad to do it.
I must confess that I'm not very GitHub savvy, but if you could show me
what to do, I'll give it a try.
I'm retired, so my time is pretty much my own.
Kirk

On Mon, Oct 16, 2017 at 7:03 PM, Kevin Brown <notifications@github.com>
wrote:

[2017-10-17 21:47] lawrence-dol commented on #889
Just wondering how the WebExtension version is going? I don't see any activity in the Git log, and I miss the toolkit's enhancements.

[2017-10-17 22:08] joshmadewell commented on #889
slower than we'd like :/

there are actually a number of open PRs open moving us towards WebExtensions, anything you see that references "sauce" moves us towards web extensions :P

[2017-10-17 22:24] mirwinator commented on #944
I'm also having a similar problem, and it seems to be related to nYNAB superseding the Toolkit's color formatting setting "Highlight all Negative Category Balances Red". On the budget screen when I first load nYNAB, the color for all of the budget categories is the default: orange for credit card overspending or for a transaction that will soon take the category balance below zero. However, when I

[2017-10-17 22:33] simplysteph commented on #944
I don't think that's what would've been causing mine.  Specifically the credit card payment balances were changing colors and I keep them fully funded.

[2017-10-18 01:40] dbaldon commented on #944
This is the description for the Paid In Full Credit Card Assist;
`Highlights credit card category balances with a yellow warning if the balance of the category does not match the account balance. Provides a button in the inspector to rectify the difference.` So, does the balance of the category match the CC balance?

The colors should be applied as soon as the Toolkit loads or when you navigate to

[2017-10-18 02:18] simplysteph commented on #944
Haven't looked in a few days but yes, the category and account balances
match. And shows green until I click on the budget and then colors start
randomly (?) changing. And then if I refresh they're back to green again.

On October 17, 2017 8:41:00 PM David Baldon <notifications@github.com> wrote:

[2017-10-18 02:20] dbaldon commented on #944
Ok, thanks.

[2017-10-18 02:30] mirwinator opened #997 "Colors of budget categories change from nYNAB default to Toolkit colors randomly when clicking in budget"
# Name of Defective Feature

I'm also having a similar problem, and it seems to be related to nYNAB superseding the Toolkit's color formatting setting "Highlight all Negative Category Balances Red". On the budget screen when I first load nYNAB, the color for all of the budget categories is the default: orange for credit card overspending or for a transaction that will soon take the category balanc

[2017-10-19 23:46] kenny3794 commented on #878
The same is true when matching two transactions.

[2017-10-20 00:50] dbaldon commented on #965
I have this feature active on my account now so I'll try to have a look at what's going wrong.

[2017-10-20 01:52] falkencreative commented on #965
Sounds great. Hopefully the fix is straight-forward -- I just haven't had the chance to look at it yet.

[2017-10-20 02:45] dbaldon commented on #965
It's the usual. DOM changes because of the new feature.

[2017-10-21 17:23] dbaldon commented on #979
A different PR will take care of the issue which means the change by @blargity is just fine.

[2017-10-22 07:28] besho82 opened #1004 "Change Behaviour of Enter Key When Adding Transactions"
# Change Behaviour of Enter Key When Adding Transactions

# System Settings (Required)
ToolKit Version: 1.3.0
Operating System (Mac/Windows/Etc): Windows 10
Browser (Chrome/Firefox/Safari): chrome
Browser Version: Version 61.0.3163.100 (Official Build) (64-bit)
Other Extensions:

# Export of Toolkit Settings (Bottom Left of Settings Page)

<details>

<summary>Settings Export</summary>

[code]
</de

[2017-10-22 14:03] dbaldon commented on #1004
@besho82  thanks for the bug report. I edited it to move the toolkit settings to the proper location. In the future, the settings go in between the lines containing the 3 backtics (the backtips must not be removed).

Anyway, PR #996 will resolve this issue.

[2017-10-23 13:07] Marper2017 commented on #1004
Was just coming out here to log the same bug - rather the duplicate will just indicate I have the same issue.

[2017-10-23 18:00] GeorgLink commented on #984
@woodnboats thanks for offering to help.
I have not used GitHub much until about a year ago and I hope you find helping out fairly easy todo.

I'll try to give you one way you can help us without:
- subscribe to GitHub or stop by regularly to look for new issues
- read the issue and comment on it: if it is a bug, reproduce it and confirm it - if you cannot reproduce it or think some information is

[2017-10-23 18:06] tremsy commented on #936
This sounds very similar to issue #902. Perhaps the same fix will work for both issues?

[2017-10-23 19:18] dbaldon commented on #936
Scenario #2 sounds like the same as this issue. The one sounds different to me. Still related to the code not being aware of when something changes but the way it changes is different than moving between the budget and account screens.

[2017-10-23 20:27] woodnboats opened #1008 "Net Worth Toolkit Report crashes for individual accounts"
#Tookit Reports

# System Settings (Required)
ToolKit Version: 1.3.0
Operating System (Mac/Windows/Etc): Windows 10
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: Version 61.0.3163.100 (Official Build) (64-bit)
<details>
<summary>Other Extensions:</summary>

[code]
</details>

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code]

[2017-10-23 20:38] dbaldon commented on #1008
@woodnboats thanks for the bug report. I reformatted your issue to use the standard layout with one exception. I put the Other Extensions info in an expandable section to reduce the amount of scrolling necessary to get to the reproduction steps.

[2017-10-24 16:46] falkencreative commented on #997
Just a quick note -- this is something I'm actively working on to fix/improve. Hopefully coming in the next Toolkit update, or the following depending on when the next update happens.

Thanks for the bug report!

[2017-10-24 17:03] falkencreative commented on #932
Just a quite note -- there are a couple of fixes in progress that should help with this, including fixes to the Pacing, Goal Indication and Resize Inspector features. I'm not sure if these fixes will fix absolutely everything, but it's a step in the right direction and we're working on it.

[2017-10-24 18:30] woodnboats commented on #1008
Thanks, David. I had a little trouble figuring out how to use the report
template. Should I just have entered  my text without removing the prompts?

Kirk

On Mon, Oct 23, 2017 at 2:38 PM, David Baldon <notifications@github.com>
wrote:

[2017-10-24 18:46] dbaldon commented on #1008
@woodnboats the only text that should be removed is the [paste settings here] stuff. Most folks also don't include the other extensions info which is generally ok.

[2017-10-26 01:46] ahatzz11 opened #1011 "Unable to build project on mac - resize-inspector/index.js error"
# Name of Defective Feature
Unable to build the current project.

# System Settings (Required)
ToolKit Version: 8a64916c5c865d29e7faa2afa3e47a69f9ea24ba
Operating System (Mac/Windows/Etc): Mac
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: 62.0.3202.62 (Official Build) beta (64-bit)

</details>

# Steps to Reproduce the Behavior

1. I followed the instructions [here](https://github.com/t

[2017-10-26 01:50] dbaldon commented on #1011
For now add toolkit/ to the import statements. We had a bit of a chicken and egg situation with the PR that introduced the alias of toolkit and it wasn't added for this PR. I'm working on another PR for this code and I'll add the alias.

[2017-10-26 01:55] ahatzz11 commented on #1011
That worked great, thanks!

[2017-10-26 01:55] #1011 closed

[2017-10-26 01:57] dbaldon commented on #1011
I've got problems on Windows 10 where the alias path won't resolve so I have to figure that out before I can complete my PR. Not good.

[2017-10-26 12:39] mirwinator commented on #997
Thanks for the update! I'll keep monitoring nYNAB's behavior and look for changes.

[2017-10-27 02:49] dbaldon opened #1015 "Error messages in console related to reading undefined property 'goalType'"
# Name of Defective Feature
Highlight all Negative Category Balances Red

# System Settings (Required)
ToolKit Version: 1.4.0 (un released)
Operating System (Mac/Windows/Etc): Windows 10
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: 62.0.3202.75
Other Extensions:

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code]
</details>

[2017-10-27 16:29] falkencreative opened #1017 "Clarify Privacy icon location"
### Name of Defective Feature
Privacy mode

### Suggestion
Update the feature description to be more clear where the privacy toggle icon will appear if it is enabled.

(Based on question: https://www.reddit.com/r/ynab/comments/792pup/where_is_the_privacy_mode_toggle_button/)

[2017-10-28 06:15] blargity commented on #984
Cool, I'll go ahead and close this issue in that case. Feel free to reach out to any of us for an invite into the team Slack so you can collaborate more closely with us. Thanks again!

[2017-10-28 06:15] #984 closed

[2017-10-28 15:11] justinvts opened #1019 "Reports don't tie to Toolkit reports."
# Toolkit Reports category balances don't tie to budget or reports

# System Settings (Required)
ToolKit Version: 1.3.0
Operating System (Mac/Windows/Etc): Windows
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: 61.0.3163.100
Other Extensions:

# Export of Toolkit Settings (Bottom Left of Settings Page)
<[{"key":"AccountsDisplayDensity","value":"1"},{"key":"AccountsEmphasizedOutflows","va

[2017-10-28 16:17] Murphybp2 opened #1020 "Credit Card Payment section not displaying correctly on Budget"
# Credit Card Payments Section on Budget

# System Settings
ToolKit Version:  1.98.1
Operating System: Mac El Capitan 10.11.6
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: Version 62.0.3202.75 (Official Build) (64-bit)
Other Extensions: Screenshot attached

# Export of Toolkit Settings
<details>
<summary>Settings Export</summary>

[code]
</details>

# Steps to Reproduce the Behavior

1.

[2017-10-28 16:21] dbaldon commented on #1020
@Murphybp2 Thanks for the bug report. Closing as a duplicate of #965 which has had PR #1007 submitted which corrects the issue. The fix will be included in the next release.

BTW, the screen shots you provided were great.

[2017-10-28 16:21] #1020 closed

[2017-10-28 16:23] Murphybp2 commented on #1020
Ok, didn't find that one when I searched the issues.  I just discovered the same thing, that turning off the Allow Resizing of Inspector feature resolves the issue.

[2017-10-28 16:26] dbaldon commented on #1020
Yeah trying to find an existing issue can be difficult because of how folks word things. No worries though because we try and stay on top of things just to keep the issue count down. The fewer open issues there are the more we like it.

[2017-10-28 16:27] dbaldon commented on #1020
Then there is the situation where the feature is broken isn't related to what you see. This issue is a great example of that.

[2017-10-31 07:59] smathev commented on #1004
Was just coming here to log the same bug, I've tried installing, reinstalling, resetting, and everything in between.

@dbaldon - do you have an estimate of when this bug might be fixed?

Thx in advance!

[2017-10-31 12:19] dbaldon commented on #1004
I don't have a date for when the next release will out but I believe it will be soon. @blargity who does the releases is very busy so it's a matter of when he can find the time.

[2017-10-31 12:32] blargity commented on #1004
Release is currently pencilled in for Wed Nov 1st evening Sydney time. 👍

[2017-11-01 13:12] desertbeach3 opened #1024 "Can't use budget in Chrome."
I get the following error.  I am unable to do anything with my budget.

Uh-oh!
An error occurred in Toolkit for YNAB (a browser extension you installed to enhance YNAB). Click here to report the issue to the YNAB Toolkit project.

[2017-11-01 14:03] hcalloway opened #1025 "Collapsable Side Menu button is no longer showing on left side of screen"
# Name of Defective Feature
collapsable side menu

# System Settings (Required)
1.4.0
ToolKit Version:
Operating System (Mac/Windows/Etc):  Windowns
Browser (Chrome/Firefox/Safari):  Chrome
Browser Version:
Other Extensions:

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code]
</details>

# Steps to Reproduce the Behavior

1. ​
2. ​
3. ​

[2017-11-01 14:15] dbaldon commented on #1025
Thanks for the bug report. Please edit the issue and paste your exported settings. Thanks.

[2017-11-01 14:21] hcalloway commented on #1025
Sorry.  First time reporting a bug.  I hope I entered the info you needed.  Thanks!

From: David Baldon [mailto:notifications@github.com]
Sent: Wednesday, November 1, 2017 10:16 AM
To: toolkit-for-ynab/toolkit-for-ynab <toolkit-for-ynab@noreply.github.com>
Cc: hcalloway <hope.m.calloway@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [toolkit-for-ynab/toolkit-for-ynab] Collapse option

[2017-11-01 14:26] dbaldon commented on #1025
No worries. Thanks for the info. Did you intend to close the issue?

[2017-11-01 14:27] hcalloway commented on #1025
Good grief…No I didn’t mean to close it.  Sorry!

From: David Baldon [mailto:notifications@github.com]
Sent: Wednesday, November 1, 2017 10:26 AM
To: toolkit-for-ynab/toolkit-for-ynab <toolkit-for-ynab@noreply.github.com>
Cc: hcalloway <hope.m.calloway@gmail.com>; State change <state_change@noreply.github.com>
Subject: Re: [toolkit-for-ynab/toolkit-for-ynab] Collapse option is no longer showing on

[2017-11-01 14:30] dbaldon commented on #1025
Try toggling the feature off, reload YNAB then toggle it back on and reload YNAB again.

[2017-11-01 14:42] hcalloway commented on #1025
Tried it and still not working.

From: David Baldon [mailto:notifications@github.com]
Sent: Wednesday, November 1, 2017 10:30 AM
To: toolkit-for-ynab/toolkit-for-ynab <toolkit-for-ynab@noreply.github.com>
Cc: hcalloway <hope.m.calloway@gmail.com>; State change <state_change@noreply.github.com>
Subject: Re: [toolkit-for-ynab/toolkit-for-ynab] Collapse option is no longer showing on left side of scr

[2017-11-01 15:03] dbaldon commented on #1025
Updated issue title to make it easier for folks to recognize that the issue has been reported.

[2017-11-01 15:05] hcalloway commented on #1025
Thank you!

From: David Baldon [mailto:notifications@github.com]
Sent: Wednesday, November 1, 2017 11:04 AM
To: toolkit-for-ynab/toolkit-for-ynab <toolkit-for-ynab@noreply.github.com>
Cc: hcalloway <hope.m.calloway@gmail.com>; State change <state_change@noreply.github.com>
Subject: Re: [toolkit-for-ynab/toolkit-for-ynab] Collapsable Side Menu button is no longer showing on left side of screen (#10

[2017-11-01 15:55] tumblehawk opened #1026 "Triggering Fresh Start causes repeating error w/ Toolkit"
# Name of Defective Feature
When I did a Fresh Start, I now get the following popup and can't use YNAB: "An error occurred in Toolkit for YNAB (a browser extension you installed to enhance YNAB). Click here to report the issue to the YNAB Toolkit project."

# System Settings (Required)
ToolKit Version: Most recent
Operating System (Mac/Windows/Etc): Windows
Browser (Chrome/Firefox/Safari): Chrome

[2017-11-01 19:44] dbaldon opened #1027 "Days Of Buffering causes YNAB Uh-oh error if budget is refreshed while looking at a future month"
# Name of Defective Feature
Days Of Buffering

# System Settings (Required)
ToolKit Version: 1.4.0
Operating System (Mac/Windows/Etc): Windows
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: 62.0.3202.75
Other Extensions:

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code]
</details>

# Steps to Reproduce the Behavior

1. ​Get

[2017-11-01 19:50] senk182 opened #1028 "Running Balance"
Running Balance is not being updated if a change is made to the inflow or outflow amount.

Toolkit Version: 1.3.0
OS: MAC
Browser: Chrome

# Steps to Reproduce the Behavior

1. ​Enter transaction with Inflow amount
2. ​Change inflow amount

# Expected Behavior
Running Balance updated accordingly

# Actual Behavior
Running Balance does not change from what it was when transaction is first entered.

[2017-11-01 21:32] dbaldon commented on #1027
Just found that this also occurs when navigating from an account register to the budget screen IF in the budget screen I was looking at a future month. In this case I was on the month of December.

[2017-11-02 17:04] ShawnMcGraw1 opened #1029 "Firefox Add on Options"
# Name of Defective Feature

# System Settings (Required)
ToolKit Version: 12.0
Operating System (Mac/Windows/Etc): Windows 10 & Windows Server 2016
Browser (Chrome/Firefox/Safari): Firefox
Browser Version:  56.0 (32-bit) & 56.0.2 (64-bit)
Other Extensions: Roboform

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code]
</details>

# Steps

[2017-11-02 21:18] evilmanimani opened #1030 "Collapsible Side Menu buttons not working in collapsed state"
# Name of Defective Feature

Collapsible Side Menu

# System Settings (Required)
ToolKit Version: 1.4.0
Operating System (Mac/Windows/Etc): Windows 10
Browser (Chrome/Firefox/Safari): Vivaldi (Chromium)
Browser Version: 1.13.966.3
(Tested in Chrome 63.0.3239.30 as well on a different Windows 10 PC)
Other Extensions: tested w/ extensions off

# Export of Toolkit Settings (Bottom Left of Settings Pa

[2017-11-02 23:10] blargity commented on #1029
That version sounds quite old, which doesn't surprise me because Firefox hasn't been accepting our updates for quite a while. They've discontinued support for the way we're built, and we're currently in the process of moving over to Web Extensions, which will let us run on newer versions of Firefox.

My suggested workaround as we continue to work towards this is to use Chrome. If you can't do that

[2017-11-02 23:41] JonBone opened #1031 "Running Balance Round-Off"
# Name of Defective Feature
Running Balance

# System Settings (Required)
ToolKit Version:1.4.0
Operating System (Mac/Windows/Etc): Win
Browser (Chrome/Firefox/Safari):Chrome
Browser Version: 61.0.3163.100
Other Extensions:None

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code]
</details>

# Steps to Reproduce the Behavior

1. ​Enter D

[2017-11-03 06:58] MattJGlick commented on #1027
@dbaldon This might be what I tried to address here: #1032. How many transactions does the budget you're testing with have?

[2017-11-03 11:09] mirwinator commented on #1024
I believe I am also suffering from this issue. My typical settings include "hide age of money" and "show days of buffering", and this morning, when I tried viewing my budget, I received continuous "Uh-oh!" errors. These errors occurred on a new budget that included only a limited number of transactions. I turned off "hide age of money", turned off "show days of buffering", and was then able to loa

[2017-11-03 13:07] dbaldon commented on #1027
This a test budget with 122 transactions dated from 08/12/2016 - 08/04/2017.

Interesting, I just got the error again but this time with an added bonus...sorta;
![image](https://user-images.githubusercontent.com/11460228/32374987-ee12cb58-c06d-11e7-92b6-12eb9a9dd5bd.png)
I reckon that's a new issue. :)

[2017-11-03 14:23] ShawnMcGraw1 commented on #1029
Kevin,

I appreciate your reply.  I retrieved version 12.0 from the Firefox Add-on
Repository <https://addons.mozilla.org/firefox/addon/toolkit-for-ynab/>.
Please see the attached screenshot for your reference.  It appears that it
was last updated in the repository on Sep 14, 2017.

Unfortunately, my company blocks the installation of Chrome extensions,
but, oddly enough, allows the installation o

[2017-11-03 16:39] MattJGlick commented on #1027
@dbaldon If you turn off the Days of Budgeting feature, when you load the budget does the "Age of Money" box load? I'm thinking that since the last transaction is a few months old that the Age of Money box might not be there, which the DoB feature currently relies on.

[2017-11-03 16:49] dbaldon commented on #1027
When you move to a future month, the AOM section disappears. It makes sense that loading a budget when having been in a future month or navigating from an account register to the budget would cause the issue because of the missing AOM.

[2017-11-04 03:53] dbaldon commented on #1027
The problem is the empty AOM <div> and the code is counting on it existing as it clones the node, makes some changes then appends the cloned node. The fix shouldn't be too difficult but cloning won't work. The DOB <div> will have to be constructed by hand like it is in most of the other features.

[2017-11-04 04:21] MattJGlick commented on #1027
Agreed on the problem, I tried to address that in #1032. I took the approach that if AOM isn't present then DOB isn't computable. That's definitely the issue happening in #1026 (fresh start). Just not sure if it also applies to your scenario where you have a significant number of transactions, just none recently.

[2017-11-04 06:24] MattJGlick commented on #1027
@dbaldon Updated my PR (#1032) with your suggestion of creating from scratch, let me know if that solves your problem.

[2017-11-04 12:24] roizentner commented on #1025
I'm experiencing the same issue here...
I enabled the Collapsible Side Menu, then saved Toolkit settings and refreshed YNAB --> the collapse button appeared.
Then, I continued changing other settings, saved and refreshed --> the collapse button disappeared.
I tried reverting the other settings I modified, to no avail. I can't seem to bring back the collapse button.

[2017-11-04 15:20] jdoggg420 opened #1034 "Clicking on the pacing value will toggle emphasis is not working correctly"
# Name of Defective Feature
Toggling emphasis in pacing

# System Settings (Required)
ToolKit Version: 1.4.0
Operating System (Mac/Windows/Etc): Mac
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: 61.0.3163.100
Other Extensions:

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[{"key":"AccountsDisplayDensity","value":"1"},{"key":"A

[2017-11-04 17:36] dbaldon commented on #1025
@hcalloway @roizentner Can one or both of you verify that if you refresh YNAB while on the budget screen that the collapse menu button does show up?

[2017-11-04 18:08] roizentner commented on #1025
@dbaldon, yes, when I refresh it from the budget screen, the button shows up.

[2017-11-04 18:11] dbaldon commented on #1025
ok, thanks. I see what the problem is and am also fixing issue #1030 while I'm at it.

[2017-11-05 02:11] blargity commented on #1029
Ah, that's version 1.2.0, not version 0.12.0, which is definitely much newer!

The challenge is that we need to upgrade to WebExtensions in order to run on the newest versions of Firefox, which we're working towards, but I don't have a firm timeframe for when it'll be completed. Once we complete the transition we should be able to run on Chrome, Firefox, and Edge.

In the meantime there are two th

[2017-11-05 03:36] MattJGlick commented on #1034
Looks like @jprzepiorski handled this in #1035

[2017-11-05 03:53] MattJGlick commented on #1017
@falkencreative would something like:

be preferable to the current:

Would be a pretty easy change I could take if you'd like.

[2017-11-05 21:48] JonBone commented on #1031
Fixed with release of ver 1.4.0

[2017-11-05 21:48] #1031 closed

[2017-11-06 00:20] ChenDesign commented on #1017
@MattJGlick Sounds good. Maybe a slightly revised version?

If you'd like to add a pull request, that would be great!

[2017-11-06 00:22] falkencreative commented on #1017
@MattJGlick Sounds good. Maybe a slightly revised version?

If you'd like to add a pull request, that would be great!

[2017-11-06 15:38] yndara opened #1037 "Extra columns not displaying correctly"
# Name of Defective Feature
Add Check Number Column, Show Running Balance

# System Settings (Required)
ToolKit Version: 1.4.0
Operating System (Mac/Windows/Etc): Mac OS X El Capitan 10.11.6
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: 62.0.3202.75
Other Extensions: None

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code]
</

[2017-11-06 21:53] NicoNet opened #1038 "FEATURE REQUEST: Budget Action Log"
# Name of Requested Feature
Budget Action Log

# Description of Requested Feature
A transaction log of all Budget changes.  I sometimes find myself wondering where the money came from in specific category, and presently in YNAB there is no indication of where the money came from, other than Inflow.

# Example of Requested Feature
There are a number of ways I imagine this being done:

2017-11-02 Ma

[2017-11-07 00:00] michellemyhre commented on #1026
I am receiving the same error after doing a fresh start.
![image](https://user-images.githubusercontent.com/33437014/32470247-9788ddb8-c30b-11e7-8bb8-af71cf65c252.png)
_

[2017-11-07 00:03] dbaldon commented on #1026
@michellemyhre turn off the Days of Buffering feature until you have some transactions in the new budget and the Age of Money displays on the budget page.

[2017-11-07 11:49] jdoggg420 commented on #1034
weird, still doesn't work for me

[2017-11-07 15:16] dbaldon commented on #1034
@jdoggg420 PR #1035 hasn't been merged yet so it's not in the code you're running. Unless of course you're building the Toolkit yourself and pulled in their PR.

[2017-11-07 15:25] yndara commented on #1037
And... in a strange twist, today it appears to be working fine. No idea what is different, but I guess I'll close the issue for now. If it reappears, I'll reopen it!

[2017-11-07 15:31] yndara commented on #1037
Sigh, and now it's back. So I guess what I'm really saying is that it's intermittently broken.

[2017-11-08 11:51] falkencreative commented on #1038
I've added this as a potential feature within the Trello board: https://trello.com/c/TXTzuU8u/455-track-movement-of-money-in-budget

That said, I suspect there are some technical limitations to doing this that would make it challenging/impossible for the Toolkit to handle, mostly around how the data would be stored. YNAB doesn't track when and why budget values change, so we'd have to store that i

[2017-11-08 11:51] #1038 closed

[2017-11-08 15:57] josh120775 opened #1039 "Switching budgets triggers error"
# Name of Defective Feature
Toolkit

# System Settings (Required)
ToolKit Version:1.4
Operating System (Mac/Windows/Etc):Windows 7
Browser (Chrome/Firefox/Safari): Chrome
Browser Version:61.0.3163.100 (Official Build) (64-bit)
Other Extensions:

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code]
</details>

# Steps to Reproduce the Beha

[2017-11-08 21:27] desertbeach3 commented on #1024
I still cannot use YNAB in Chrome.  I'm still getting the following error.

Uh-oh!
An error occurred in Toolkit for YNAB (a browser extension you installed to enhance YNAB). Click here to report the issue to the YNAB Toolkit project.

[2017-11-08 22:10] MattJGlick commented on #1024
@mirwinator The limited number of transactions is the problem. Our suggestion is that you turn off the "Days of Buffering" feature until the "Age of Money" box pops up at the top. When "Age of Money" appears, the "Days of Buffering" feature will be able to work properly.

We are aware of the problem and have created a fix #1032, but you won't see it until the next release.

[2017-11-08 22:10] MattJGlick commented on #1024
@desertbeach3 How many transactions does your budget have? if you're experiencing the same problem that @mirwinator then read my previous comment for how to address.

[2017-11-08 22:40] desertbeach3 commented on #1024
Only a few because I did a fresh start after moving less than 2 weeks ago.  I haven’t been able to use it in Chrome so I haven’t even been able to add my checking account.  There are only 4 transactions in my savings.  I also have nothing budgeted so far because it’s now been a week of not being able to use it.  I will try turning off what you suggested in the other email.

From: Matt Glick [mailt

[2017-11-08 22:44] desertbeach3 commented on #1024
I turned those off and I no longer get the error.  Thank you!

From: Matt Glick [mailto:notifications@github.com]
Sent: Wednesday, November 8, 2017 4:10 PM
To: toolkit-for-ynab/toolkit-for-ynab <toolkit-for-ynab@noreply.github.com>
Cc: desertbeach3 <rthomp830@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [toolkit-for-ynab/toolkit-for-ynab] Can't use budget in Chrome. (#1024)

@mirw

[2017-11-09 02:23] jlo-2001 commented on #1039
I got the same error when I did a fresh start on a budget. I turned off the extension & the error went away, but when I turned it back on the error came back. I also tried opening a new tab with the app & extention. The most logical setting was the quick switch one, but turning that off didn't make the error go away.

Chrome 61.0.3163.100 (Official Build) (64-bit) on Windows 10
Settings Export:
`[

[2017-11-09 02:35] MattJGlick commented on #1024
@desertbeach3 No problem, glad it worked out!

[2017-11-09 02:36] MattJGlick commented on #1039
This is a known bug in the current release. It's discussed a bit here: #1024.

The limited number of transactions (in your case a new budget) is the problem. Our suggestion is that you turn off the "Days of Buffering" feature until the "Age of Money" box pops up at the top. When "Age of Money" appears, the "Days of Buffering" feature will be able to work properly.

We are aware of the problem and

[2017-11-09 02:43] jlo-2001 commented on #1039
Turning off Days of Buffering seems to have taken care of the problem. Thanks!

[2017-11-09 17:51] senk182 commented on #1028
Additional Info:
If you turn off the Running Balance option and then turn it back on, the correct Running Balance shows up.   It also appears as if deleting a transaction (outflow or inflow) does not result in the running balance being corrected so it is hard to know when this has happened.   Where this is of greatest concern is on a checking account where you might think you are going to be OK wi

[2017-11-09 20:28] ChenDesign commented on #963
@Mako88 - YNAB has now integrated this functionality into the YNAB app:

**Nov 8, 2017**
"You can now select an existing transaction and either click the Edit menu or the Make Recurring button on the calendar dropdown to create a scheduled transaction based on the selected transaction."

https://www.youneedabudget.com/release_notes/

[2017-11-09 20:29] falkencreative commented on #963
@Mako88 - YNAB has now integrated this functionality into the YNAB app:

**Nov 8, 2017**
"You can now select an existing transaction and either click the Edit menu or the Make Recurring button on the calendar dropdown to create a scheduled transaction based on the selected transaction."

https://www.youneedabudget.com/release_notes/

[2017-11-09 20:30] Mako88 commented on #963
Thank you, that's awesome!!

[2017-11-09 20:34] Mako88 opened #1042 "[Suggestion] Link multiple transactions"
Currently YNAB allows you to link an imported transaction with an entered transaction. It would be nice to be able to link multiple entered transactions to a single imported one, assuming the amounts add up.

My use case is with paychecks from me and my wife. It's be nice to be able to enter our paychecks separately, and then link them to a single deposit.

[2017-11-10 05:35] MattJGlick commented on #1028
@joshmadewell From what I can tell this bug comes from these lines of code: https://github.com/toolkit-for-ynab/toolkit-for-ynab/blob/master/sauce/features/accounts/additional-columns/running-balance.js#L68-L71

If the row already has a running balance, we don't recompute it. But obviously in the case in which the row is being editing, it needs to be updated. Is there any reason for us to not just

[2017-11-10 21:27] bradfordnhull commented on #1039
The same thing is happening when I open a different budget after updating "Our Budget" and selecting "Testing Rentals". I states that something went wrong and to refresh (reload).  This has been happening this week erratically.  If I turn off the Toolkit the problem stops.
[{"key":"AccountsDisplayDensity","value":"2"},{"key":"AccountsEmphasizedOutflows","value":true},{"key":"AccountsStripedRows","

[2017-11-10 22:29] dbaldon commented on #1039
@bradfordnhull Did you try turning off the Days of Buffering feature?

[2017-11-10 22:38] dbaldon commented on #1028
I wonder what calling `calculateRunningBalance` would do to performance. Maybe it could be updated to only recalculate the running balance for transactions that are newer than the updated/deleted transaction. I haven't looked closely at the code so this suggestion could be way off base.

[2017-11-10 23:01] bradfordnhull commented on #1039
Not specifically but I will try turning only Days of Buffering OFF, and leave all the other preferences on and see what happens. Thanks for your suggestion.

[2017-11-11 01:59] senk182 commented on #1028
I guess I would vote for recalculating the running balance every time.   Not sure what the impact would really be on overall performance but as it stands now, I find myself turning it off and that back on almost everytime I use YNAB.    This is because no matter how hard we try, transactions get into the wrong account from time to time.   And, I am not sure when transactions get pulled in that are

[2017-11-11 11:17] xandroxygen opened #1044 "[New Feature] Press Enter in the Move Money modal"
When I'm moving money between categories, I automatically push Enter after putting the amount and category to move. However, this either takes focus away from the modal and closes it, or does nothing.

Now, you can press Enter after selecting a category and have the same behavior as clicking OK!

[2017-11-11 18:57] pchristopherson commented on #1037
I have a similar problem but don't have the Check Number column enabled. I do have running balance turned on. It only happens occasionally. If I switch to a different account and come back, it's usually fixed until I refresh Chrome.

![image](https://user-images.githubusercontent.com/19996102/32692558-ea236892-c6ce-11e7-9037-10861f982b8d.png)

[2017-11-11 22:20] yndara commented on #1037
Ooh, that comment by @pchristopherson reminds me, I meant to update here! The system specs I posted above are a family member's computer. I originally thought that I had not seen the problem on my own computer. Turns out it does very occasionally happen on my machine as well, which is running macOS High Sierra 10.13.1.

And yes, switching to a different account seems to fix the problem, at least f

[2017-11-13 11:33] ImmortalScientist commented on #1037
I have the same issue - with extra columns, it shows the new columns incorrectly when they're first loaded (for example switching from the budget view to the accounts view) but as @pchristopherson describes it tends to fix itself when switching to another account (as long as it stays within Account view.)

I'm using Chrome 61.0.3163.100 on Windows 10.
![screenshot](https://user-images.githubuserco

[2017-11-13 13:47] dbaldon commented on #1037
@ImmortalScientist @pchristopherson @yndara Can I ask you to try something? When the display is wonky, minimize the browser window and then restore it to the previous size. I've noticed for a long time that YNAB doesn't quite line things up properly but changing the size of the window which causes the window to be repainted, will make things right.

[2017-11-13 13:50] ImmortalScientist commented on #1037
@dbaldon Just tried this - Resizing or Minimising/restoring the open window do not make the column widths line up for me. I can only get it to fix by switching between accounts or doing some action within the accounts page to get it to redraw.

Weird one isnt it...

[2017-11-13 21:47] Flyou10 opened #1046 "The pacing column will not turn on/off for categories."
# Name of Defective Feature
"Pacing"

# System Settings (Required)
ToolKit Version: 1.4.0
Operating System (Mac/Windows/Etc):  Windows
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: Version 62.0.3202.94 (Official Build) (64-bit)
Other Extensions:

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code]
</details>

# Steps to Reprod

[2017-11-13 23:07] dbaldon commented on #1046
Thanks for the bug report. Closing as a duplicate of #1034. Feel free to chime in on that issue to let us know you're having the same issue.

[2017-11-13 23:08] #1046 closed

[2017-11-13 23:10] dbaldon commented on #1042
Couldn't that be accomplished with a split transaction? If they're separate transactions, I'm having a hard time understanding the use case.

[2017-11-14 00:06] Mako88 commented on #1042
Here's an example:

On Monday I get paid $300. I enter it into YNAB, but don't deposit it yet. On Wednesday, my wife gets paid $400. On Thursday a friend gives us $50. On Friday I go and make a single deposit of $750. When YNAB imports from the bank it will import a single $750 transaction. It would be nice to be able to link the $300, the $400, and the $50 transactions all to that single bank tra

[2017-11-14 04:07] dbaldon commented on #1042
Seems like on Wednesday you could update the transaction entered on Monday to be a split transaction and then on Thursday add a new split for the last $50 and set the date to Friday.

I'm making the suggestion because I doubt the Toolkit can do what you're asking. It sounds like if we did do it, it would be "fragile" and prone to being broken by changes made by YNAB.

[2017-11-14 13:32] Jagstyles commented on #889
Any updates? Just updated Firefox to v57 (Quantum) and no YNAB Toolkit :(  Really miss having the added functionality.

[2017-11-14 14:18] yndara commented on #1037
I haven't gotten the chance to try it yet (mine is behaving) but my family member tried it and says that "Minimize/restore did not work for me, but switching accounts appears to work fine."

[2017-11-14 14:33] dbaldon commented on #1037
So far my theory isn't panning out.

Are any of you familiar with using the Chrome Dev Tools? If so, can you provide a screen shot of the Console? I'm wondering if errors are silently being thrown. The Console window will show it if that's what's happening. If you're not familiar with the Dev Tools, simply press F12 while in YNAB. A new window will open that looks like this;
![image](https://user-

[2017-11-14 14:59] ImmortalScientist commented on #1037
No problem. I didnt see any error messages specific to toolkit or otherwise in the console...
![untitled](https://user-images.githubusercontent.com/22246611/32786610-5848696a-c94c-11e7-9f23-1e31eef2760a.png)

[2017-11-14 15:04] dbaldon commented on #1037
Well I guess that's good and bad. :) I'm not able to recreate the issue.

Can each of you besides the OP add a comment with an export of yours settings? This could be an issue with a particular combination of features.

[2017-11-14 15:06] ImmortalScientist commented on #1037
No problem - settings are attached.

`[{"key":"AccountsDisplayDensity","value":"0"},{"key":"AccountsEmphasizedOutflows","value":false},{"key":"AccountsStripedRows","value":true},{"key":"ActivityTransactionLink","value":false},{"key":"AdditionalColumns","value":true},{"key":"AdjustableColumnWidths","value":true},{"key":"BetterScrollbars","value":"0"},{"key":"BudgetBalanceToZero","value":false},{"ke

[2017-11-14 17:58] dbaldon commented on #1037
@ImmortalScientist do you know how to select a specific element in the Dev Tools? If so, can you go to the Elements tab and then select the first Running Balance entry in the account register. Not the heading row but the first entry. Then expand each of the elements you see in the screen grab below;
![image](https://user-images.githubusercontent.com/11460228/32795913-cc7b7260-c932-11e7-8c00-ae3e62

[2017-11-14 18:11] ImmortalScientist commented on #1037
Sure - I've included screenshots of the requested elements from the dev tools.

This is taken when the columns are misaligned as per previous screenshots
![displayed_wrong](https://user-images.githubusercontent.com/22246611/32796578-0d1202c4-c967-11e7-91d6-e572e77b6011.PNG)

And this when the columns appear correctly.
![displayed_correct](https://user-images.githubusercontent.com/22246611/32796576

[2017-11-14 23:36] blargity commented on #889
Yup, we've been refactoring at a steady pace, but it's a lot of work. Would be happy to accept pull requests to help us along. 👍

[2017-11-15 00:58] iannnnnnnn opened #1047 "[New Feature Request] Carry Over Negative Category Balance"
I have submitted feature requests to YNAB officially for this, but they don't seem to entertain it. Hoping fellow power users will!

I'd love to be able to carry over a category balance without it affecting my budget -- for example, work reimbursements or expenses that I know will be reimbursed in ~60 days that I don't want to affect my overall budget outlook.

I used to do this all the time in YN

[2017-11-15 13:45] PteDefcon commented on #847
Just wanted to add since I haven't seen it mentioned is that it seems to have an issue when budgeting into the new year. As soon as I started budgeting into January, any "stealing" that happened no longer appeared as the red negative error.

[{"key":"AccountsDisplayDensity","value":"2"},{"key":"AccountsEmphasizedOutflows","value":true},{"key":"AccountsStripedRows","value":true},{"key":"ActivityTra

[2017-11-15 13:50] coltlking commented on #846
I have a similar problem.  Whenever I select then leave a category with a goal, it changes from blue to orange.  I don't have to do anything to the category or budget any amount to it, just select the category and then select a different category.  As other users have commented, refreshing YNAB or changing to any other left-side option (accounts or Budget/Reports etc) seems to reset it also.

I on

[2017-11-16 13:51] saegiru opened #1048 "Add support for Firefox Quantum"
# Name of Defective Feature

Add support for Firefox Quantum - currently it won't allow to install the addon.

# System Settings (Required)
ToolKit Version: N/A
Operating System (Mac/Windows/Etc): Windows 10
Browser (Chrome/Firefox/Safari): Firefox
Browser Version: Quantum
Other Extensions: N/A

# Export of Toolkit Settings (Bottom Left of Settings Page) N/A
<details>
<summary>Settings Export</sum

[2017-11-16 14:12] dbaldon commented on #1048
Have a look at the comment from @blargity in Issue #1029 regarding Firefox and the Toolkit.

[2017-11-17 18:36] prograhaming opened #1049 "Goal Indicator Warning Color: Changes back to yellow"
# Name of Defective Feature
Goal Indicator Warning Color

# System Settings (Required)
ToolKit Version: 1.4.0
Operating System (Mac/Windows/Etc): Mac
Browser (Chrome/Firefox/Safari):Chrome
Browser Version: Version 62.0.3202.94 (Official Build) (64-bit)
Other Extensions: HTTPS Everywhere, Ublock origin, Privacy Badger

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>S

[2017-11-17 20:36] Flyou10 commented on #1034
I'm having the same problem.

The pacing columns is no longer "selectable".  In other words I cannot turn specific categories on and off as to what is going to have a pacing bar & the pacing amount.

[2017-11-18 21:51] jonocyrus opened #1051 "Budget Rows Progress Bars - Gone"
# Name of Defective Feature
Budget Rows Progress Bars

# System Settings (Required)
ToolKit Version: v 1.4.0
Operating System (Mac/Windows/Etc): Mac OS X 10.11.6
Browser (Chrome/Firefox/Safari): Google Chrome
Browser Version: Version 63.0.3239.52 (Official Build) beta (64-bit)
Other Extensions:

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary

[2017-11-18 23:25] dbaldon commented on #932
@tcanens these issues should be resolved with the 1.4.0 release so I'm closing this issue. Feel free to reopen it if you still see a problem.

[2017-11-18 23:25] #932 closed

[2017-11-19 05:30] Toeler commented on #1037
I can reproduce this with the Toggle Splits feature disabled. It may be a similar issue to #969 because the `accountController.notifyPropertyChange('contentResults')` is enough to trigger the columns to render correctly.

[2017-11-19 20:07] casner opened #1053 "Warn When Clicking a Quick Budget Option"
# Warn When Clicking a Quick Budget Option

# System Settings (Required)
ToolKit Version: 1.4.0
Operating System (Mac/Windows/Etc): Chrome OS
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: 62.0
Other Extensions: n/a

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code]
</details>

# Steps to Reproduce the Behavior

1. ​Turn on "

[2017-11-20 15:18] dbaldon commented on #1037
@joshmadewell I added
[code]
to AdditionalColumns::willInvoke() which seems to take take of the issue. Does that code change seem OK to you? If so, I'll do a PR otherwise...

[2017-11-20 19:20] Toeler commented on #1037
@dbaldon Did you confirm that it doesn't infinite loop? As a quick test I threw that code into ::invoke() and it started looping, no idea is ::willInvoke() is treated differently.

[2017-11-20 20:30] dbaldon commented on #1037
@toeler that's why I put it in willInvoke(). Otherwise it requires a "control" variable in invoke() to ensure it's only done once which is janky.

[2017-11-21 00:48] Holbourne opened #1055 "Days of Buffering Metric causes YNAB not to load. (Chrome)"
# Name of Defective Feature:  Days of Buffering Metric

# System Settings (Required)
ToolKit Version: 1.4
Operating System (Mac/Windows/Etc): Windows 10
Browser (Chrome/Firefox/Safari): Chrome ( I did not check other browsers)
Browser Version: Version 62.0.3202.94 (Official Build) (64-bit)
Other Extensions: OneNote, Enpass, Grammarly, Power Thesaurus

# Export of Toolkit Settings (Bottom Left of S

[2017-11-21 21:41] Holbourne commented on #1055
Hi Matt,
Thank you for getting back to me!

  *   The problem was short-lived. The answers to 1 & 3 were yes.
  *   I reproduced the problem several times in both Chrome and Sleipnir.
  *   I did not calculate the # of transactions.
When I tried to reproduce the error before replying to you today the error was gone.
This probably explains why I may have been the only person to report it!

Thanks a

[2017-11-23 03:20] damccull commented on #1053
This is happening to me as well. I've temporarily disabled the setting, but would love to see a fix on this ASAP.

[2017-11-26 18:37] smoothk opened #1057 "Error Clicking Transactions within Budget Categories"
# Name of Defective Feature
Clicking an Activity Item from the Budget screen then clicking a transaction from the resulting list causes an error.

# System Settings (Required)
ToolKit Version: 1.4.0
Operating System (Mac/Windows/Etc): Windows 10
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: 62.0.3202.94 (Official Build) (64-bit)
Other Extensions: Roboform, Evernote, Clearly, SnagIt

# E

[2017-11-26 20:37] dbaldon commented on #1057
Thanks for the bug report. Closing as a duplicate of #978. A PR has been submitted for this and should be in the next release.

[2017-11-26 20:37] #1057 closed

[2017-11-29 07:53] Twizzes commented on #1049
I think this is a duplicate of #846

[2017-11-29 22:44] rthompsonhi commented on #1055
I have a negative balance (Just setting up YNAB with all zeros except 1 transaction that's in the negative).  I think this may be the problem.  If I turn the buffer off things are fine.   I will report back once some income is recognized.

[2017-11-30 13:36] falkencreative commented on #1049
Yes, looks like a duplicate, so I'll close this report out.

Thanks for the report @prograhaming -- we have some work to do on this feature to make sure it works consistently.

[2017-11-30 13:36] #1049 closed

[2017-11-30 13:38] falkencreative commented on #1048
This is somewhat of a long-term issue, transitioning the Toolkit over to web extensions so Firefox support can be added back. We're working on it, but progress is slow going as everyone here is a volunteer and works as they have time available.

[2017-11-30 13:38] #1048 closed

[2017-11-30 13:40] #1017 closed

[2017-12-01 16:34] casner commented on #1039
Saw the same problem today; will turn it off. I've never seen the problem before, and I've always had the days of buffering on. What changed?

[2017-12-02 18:24] falkencreative commented on #1055
I've been trying to experiment and try to duplicate this issue, and at least so far, I simply can't. I've been trying the exact same settings used by @Holbourne above, with no issues. I've tried doing a fresh start, accounts with fewer than 10 transactions, and accounts with a negative balance, and haven't had any luck with this yet.

Not saying there isn't an issue, obviously, it's just tricky to

[2017-12-02 20:49] falkencreative commented on #1053
Thanks for reporting this. I'm not necessarily sure I'd call this a bug, per se, since nothing is actually broken, but I agree that if the point of the confirmation is to avoid accidentally overwriting existing budgeted values, there's no need to confirm if zero is budgeted.

I've added an adjustment, and you should see this new behavior in place after the next Toolkit update.

[2017-12-02 20:49] #1053 closed

[2017-12-02 21:01] falkencreative commented on #1047
Thanks for the feedback. This is pretty commonly requested, actually: https://trello.com/c/JjMfuRPt/135-red-arrow-like-functionality.

This is a pretty tricky request, unfortunately, both from a technical perspective (since it would be in conflict with how YNAB is built so far, especially how credit card debt is handled), and also from a philosophical perspective since it is a feature YNAB has (th

[2017-12-02 21:01] #1047 closed

[2017-12-02 21:21] wildmtnlilac commented on #846
Same issue. Thanks for working on this! The Toolkit is amazing.

[2017-12-03 11:16] falkencreative commented on #117
I realize this was requested forever ago... But I've added a bugfix that will appropriately highlight the Pacing column value in red or with square edges if the "Highlight all Negative Category Balances Red" or "Square Negatives Mode" features are enabled.

This change should be included in the next version of the Toolkit.

[2017-12-03 11:16] #117 closed

[2017-12-03 13:47] falkencreative commented on #246
This report is old enough that I'm going to close it out, in the hopes that @tremsy's fix above has corrected or improved this issue.

If anyone is still having issues, please open a new bug report with up to date info about your situation, what you're expecting and what the Toolkit is showing, and we'll take another look. Thanks!

[2017-12-03 13:47] #246 closed

[2017-12-03 14:13] falkencreative commented on #234
Hey everyone. Due to the age of this bug report, I'm going to close this issue. I've been going through old bug reports, and I have tried to look into this myself, and I haven't been able to duplicate the issues that people seem to be having (particularly with incorrect income values from months before YNAB was being used, or with income from tracking accounts being incorrectly counted).

This doe

[2017-12-03 14:13] #234 closed

[2017-12-03 15:23] devildhero opened #1068 "my balance is not displaying"
# Name of Defective Feature - balance is not showing

# System Settings (Required)
ToolKit Version: mist
Operating System (Mac/Windows/Etc): windows
Browser (Chrome/Firefox/Safari): chrome
Browser Version:
Other Extensions:

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code]
</details>

# Steps to Reproduce the Behavior

1. ​
2. ​
3. ​

[2017-12-03 16:06] falkencreative commented on #256
As far as I can tell based on my debugging, upcoming transactions no longer result in a percentage bar appearing -- I suspect this feature has been fixed in the past, though this particular bug report wasn't updated. I'm going to consider this item complete, but feel free to open a new bug report if you are still having issues.

[2017-12-03 16:06] #256 closed

[2017-12-03 16:11] falkencreative commented on #1068
Hey there. Sorry, but we'll need more details in order to help you with this or potentially fix any bugs.

When you say "my balance", what balance are you referring to? What Toolkit feature is this related to?

[2017-12-03 16:13] falkencreative commented on #1051
I believe this issue is related to YNAB's semi-recent addition of moving the credit card categories to the top of the budget, which results in an error in this feature.

I've submitted a fix (#1069) which should be included in the next version of the Toolkit and fix the issue.

[2017-12-03 16:15] falkencreative commented on #1044
Closing this out since the feature has been merged into the Toolkit.

[2017-12-03 16:15] #1044 closed

[2017-12-03 16:17] falkencreative commented on #339
Due to the age of this issue and the merged fixes, I'm going to close this out.

If you're still having trouble, feel free to submit a new bug report. Thanks!

[2017-12-03 16:17] #339 closed

[2017-12-03 16:50] falkencreative commented on #419
I know this is a pretty old bug report, but I've been working my way through the oldest items. At least as far as I can tell, I haven't been able to reproduce this issue. Uncategorized transactions or not, I haven't been able to find a situation where the Available amount is green yet the Available amount doesn't match up properly with the card balance.

I somewhat suspect that this may actually b

[2017-12-03 16:50] #419 closed

[2017-12-03 16:55] falkencreative commented on #486
I realize this is a pretty old bug report, but I've been working my way through some of the oldest bugs to see if I can close out any of these issue reports.

I was able to reproduce the issue where the progress bar for monthly goals shows 100% if the available amount is > than the expected monthly budget amount. A fix for this issue has been submitted in #1069. Assuming it gets integrated into th

[2017-12-03 16:59] falkencreative commented on #486
@dbaldon In regards to your comment:

I've updated this functionality because, while your comment is somewhat technically true if the goal is for a specific total, YNAB doesn't consider that $25 carryover to be applicable to a monthly goal. YNAB would expect $100 to be budgeted every month in order to meet the goal, and it would ignore any leftover money. To keep the Toolkit's behavior consistent

[2017-12-03 17:50] falkencreative commented on #626
Working my way though the oldest of the bug reports, to see if I can get these closed...

I've made some adjustments to the underlying loop that controls the label colors, which should fix the issue shown in the video above. This fix should be integrated into the next version of the Toolkit.

Due to the age of this bug report and my fix above, I'm going to close this, but if anyone has further iss

[2017-12-03 17:50] #626 closed

[2017-12-03 17:51] falkencreative commented on #706
I'm going to close this issue out due to its age, but if you can reproduce this feel free to add a new bug report. Thanks!

[2017-12-03 17:51] #706 closed

[2017-12-03 17:52] falkencreative commented on #965
This issue should be fixed in the most recent version of the Toolkit. I'm going to close this issue, but feel free to submit a new bug report if you're still having issues. Thanks!

[2017-12-03 17:52] #965 closed

[2017-12-03 18:00] falkencreative commented on #723
Thanks for reporting this issue. I actually think I've run into this myself, but didn't think anything of it at the time.

I've submitted a bug fix which corrects this, and it should be fixed in the next Toolkit release.

[2017-12-03 18:00] #723 closed

[2017-12-03 18:06] falkencreative commented on #768
Working my way through older bug reports... Thanks for reporting this, and my apologies that it's taken quite a while to address this.

This issue was a result of the progress bar being wrongly calculated based on the Available amount, not the Budgeted amount, for monthly budgeting goals. As your screenshots show, if the Available amount in the category matched or exceeded the monthly goal, it wou

[2017-12-03 18:06] #768 closed

[2017-12-03 18:10] devildhero commented on #1068
this is mist wallet.. and when i open it, it's syncing and i go to fund section to send some ether to get contracts, and when it sent,, it's doesn't show any balances of ether wallet

[2017-12-03 18:13] falkencreative commented on #1068
Sorry, you sure you're reporting this to the right place? This issues section is for bugs related to the Toolkit for YNAB, a browser extension for the You Need a Budget app. http://toolkitforynab.com/

We don't have anything to do with Mist Wallet, so we can't help with that. I'm not familiar with Mist Wallet, but maybe you need to report the issue here? https://github.com/ethereum/mist/issues

[2017-12-03 18:15] falkencreative commented on #944
Just wanted to comment on this briefly -- the two bugfixes above should help fix or improve this issue. They should be included in the next release of the Toolkit.

[2017-12-03 18:23] #1029 closed

[2017-12-03 18:30] falkencreative commented on #1042
Thanks for reporting your idea.

That said, I agree with @dbaldon above -- I don't think there's going to be something that's possible to do with the Toolkit, and could potentially cause issues down the road if YNAB ever changed their functionality.

Realistically, I think most people would prefer to do the split transaction approach (or they simply delete the imported transaction and clear the ma

[2017-12-03 18:30] #1042 closed

[2017-12-03 18:31] #979 closed

[2017-12-03 18:38] falkencreative commented on #1015
@dbaldon Have you been able to reproduce this recently? I've tried looking at it and I can't duplicate it. I highly suspect that this has been fixed in the latest version, but the bug report wasn't ever updated.

[2017-12-03 19:09] dbaldon commented on #1015
I still get it occasionally in my development area. I have most but maybe not all merged PRs. I’m traveling right now but will check when I get home the week of the 10th. I suspect it’s another case of not finding a category but still using the object to attempt to get the sub-category.

[2017-12-03 19:26] falkencreative commented on #902
Thanks for reporting this. I've added a fix (#1069) that should correct this issue. This fix should be included in the next release of the Toolkit.

[2017-12-03 19:26] #902 closed

[2017-12-03 19:30] falkencreative commented on #731
Working my way through older bug reports...

I've added a fix for this that should prevent this feature from splitting into two lines. This fix should be included in the next version of the Toolkit.

[2017-12-03 19:30] #731 closed

[2017-12-03 19:39] falkencreative commented on #967
I've added a fix for this. It doesn't restore the original functionality, since I found it too buggy, but I have restored the default YNAB behavior which gives a solid background to the entire row when it is selected. Deselecting the row will show the percentage bar again.

Realistically, I think this feature needs to be rebuilt and the percent bars styled in a different way, but that'll be a long

[2017-12-03 19:41] falkencreative commented on #863
Looks like this request is included on our Trello board where we track feature requests. Thanks for the feedback!

https://trello.com/c/tP7ggGyP/278-sophisticated-transaction-export

[2017-12-03 19:41] #863 closed

[2017-12-03 19:45] falkencreative commented on #1019
@justinvts Wanted to check in one more time before I close this bug report. Any other comments on this? I'm not sure if we can help otherwise, since it isn't clear what your issue is.

[2017-12-03 22:41] mirwinator commented on #944
Great, thanks! i'll be on the lookout for the fix.

[2017-12-04 00:18] falkencreative commented on #1068
I'm 99% sure that this issue isn't about the Toolkit, so I'm going to close this bug report. Best of luck fixing your issue with Mist Wallet.

[2017-12-04 00:18] #1068 closed

[2017-12-04 16:42] falkencreative opened #1073 "Spare Change issue"
# Name of Defective Feature
Show Spare Change

# System Settings (Required)
ToolKit Version: 1.5.0

# Steps to Reproduce the Behavior
1. ​Enable the Accounts Screen > Show Spare Change feature
2. ​View a credit card account account with "Payment" info showing in the top right corner
3. Select a single transaction

# Expected Behavior
This feature should play nicely with the new "Payment" section i

[2017-12-04 16:45] falkencreative opened #1074 "Monthly Notes Popup Width Issue"
# Name of Defective Feature
Monthly Notes Popup Width

# System Settings (Required)
ToolKit Version: 1.5.0

# Steps to Reproduce the Behavior
View the Budget Section of the Toolkit options, and look for the second to last option on the page. The title and help description for this feature is incorrect -- it should related to the Monthly Notes Popup Width feature, but shows text related to the Larg

[2017-12-04 16:49] falkencreative commented on #1074
Looks like this was my mistake, actually. Oops.

**This might be a good item for someone who wants to make their first contribution to the Toolkit?**

This file needs to be updated: https://github.com/toolkit-for-ynab/toolkit-for-ynab/blob/master/sauce/features/budget/monthly-notes-popup-width/settings.js

And this is the old file with the correct descriptions: https://github.com/toolkit-for-ynab/

[2017-12-05 22:21] tumblehawk opened #1075 "Goal Progress Bars"
# Name of Defective Feature - goal progress bars

# System Settings (Required) - Windows 10
ToolKit Version: Latest
Operating System (Mac/Windows/Etc): WIndows 10
Browser (Chrome/Firefox/Safari): Chrome and Firefox
Browser Version: Latest
Other Extensions: Pocket

# Export of Toolkit Settings (Bottom Left of Settings Page)
[{"key":"AccountsDisplayDensity","value":"0"},{"key":"AccountsEmphasizedOut

[2017-12-05 23:32] falkencreative commented on #1075
Yep, this is a known issue, and something I've been working on -- I think related to YNAB's semi-recently released credit card changes. I believe it should be fixed in the next version of the toolkit.

I'm going to close this bug report, simply because this issue has been brought up a couple times before, but feel free to comment again if you still have trouble after the next version.

[2017-12-05 23:32] #1075 closed

[2017-12-06 01:43] #1074 closed

[2017-12-06 15:01] tmfrescata opened #1078 "Collapsable menu doesn't work properly"
# Name of Defective Feature

Collapsable menu

# System Settings (Required)
ToolKit Version: 1.4.0
Operating System (Mac/Windows/Etc): macOS High Sierra
Browser (Chrome/Firefox/Safari): chrome
Browser Version: Version 62.0.3202.94 (Official Build) (64-bit)
Other Extensions: Docs, Sheets, Slide, Google Docs offline

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Sett

[2017-12-06 15:44] falkencreative commented on #1078
Thanks for reporting this. This issue has also been reported here: https://github.com/toolkit-for-ynab/toolkit-for-ynab/issues/1025. A fix has been added (#1050) and this issue should be corrected in the next release of the Toolkit.

I'm going to close this issue, but feel free to submit a new bug report if this is still an issue after the next release.

[2017-12-06 15:44] #1078 closed

[2017-12-06 15:46] tmfrescata commented on #1078
Thanks!

[2017-12-06 15:48] tmfrescata commented on #1078
Sorry for my ignorance, is there a workaround now or do I have to wait for the next version?

Thanks for the good work!!

[2017-12-06 15:51] falkencreative commented on #1078
As far as I understand it, there isn't currently a workaround unfortunately, since the fix requires code changes. (Unless you're comfortable downloading the extension here and building it yourself, which requires some technical knowledge and use of the command line and isn't something we really expect the average Toolkit user to be able to do.)

Quite a few change requests have been submitted rece

[2017-12-06 15:52] tmfrescata commented on #1078
That sounds great!  Thanks again!

[2017-12-06 18:59] tmfrescata commented on #1078
Hi, Benjamin,

Could you help me with this question?  I have it for a long time and now that I have someone to ask…

How does the backstage work regarding the Check Number.  I would like to use it, but I’m afraid because I wonder if that’s information that could be lost since it’s not available in the regular version of the app.

Thanks for your patience,

Tiago
Lisbon, Portugal

[2017-12-06 19:11] falkencreative commented on #1078
That data is actually being stored in a field provided by YNAB themselves, but it isn't currently being used by YNAB. I believe YNAB has said that if that field ever gets removed, they will merge the contents of that field with the memo field, so that information won't disappear.

[2017-12-06 20:06] tmfrescata commented on #1078
Thanks!  Is there a way to import information to that field or does it have to be done manually?

[2017-12-06 20:08] falkencreative commented on #1078
Use of that field would need to be manual, because YNAB's direct import system doesn't explicitly support check numbers.

[2017-12-06 20:10] tmfrescata commented on #1078
All clear!  Nice of you to help!

[2017-12-06 20:15] falkencreative commented on #722
In the process of going though old bug reports...

I suspect this either got fixed or improved by YNAB since the bug report was filed, but I've added a fix that should help improve this, putting the account name and amount within one pixel of each other. This fix should be included in the next Toolkit release.

I'm closing this bug report due to its age and the upcoming fix, but feel free to submi

[2017-12-06 20:15] #722 closed

[2017-12-06 20:47] falkencreative commented on #921
Going through older bug reports...

I've added a bugfix that should correct this issue. This fix should be included in the next release of the Toolkit.

In an attempt to reduce the number of outstanding bug reports in the Issues section, and in part due to the age of this report, I'm going to close this bug report. However, if you have any further issues after the next release, please feel free to

[2017-12-06 20:47] #921 closed

[2017-12-06 21:06] falkencreative commented on #730
Looks like my recent bugfix #1069 also corrected this issue.

[2017-12-07 05:30] falkencreative commented on #1019
Closing out this bug report due to inactivity.

If you're still having issues, feel free to submit a new bug report or comment on this one with more details.

[2017-12-07 05:30] #1019 closed

[2017-12-08 18:11] btg1987 commented on #978
Not sure if this helps or not, but I did notice that this only happens if the transaction clicked via the activity window relates to a transaction that has been reconciled and also hidden (via the Toggle Reconciled Transactions button) on the account screen. In other words, it will work properly only if you are showing _all_ the transactions within that account.

[2017-12-09 19:00] senk182 commented on #1028
An update on this.   I did find a quicker way to get the running balance to recalculate without turning the option off, closing YNAB, reopening it, putting Option back on, etc.    What I found is that I can put in two transactions (one outflow and one inflow) for $1.   This will cause the running balance to be recalculated from the date point that you put these at.   I then delete the transactions

[2017-12-10 01:31] falkencreative commented on #1073
Put a fix in place, so I'm closing out this bug report. Will reopen if I'm able to reproduce it in the future.

[2017-12-10 01:31] #1073 closed

[2017-12-10 08:04] dbaldon commented on #1028
Reopening as the code needs to be fixed.

[2017-12-11 14:04] SathyaBhat commented on #1055
I can replicate this with a new budget with nothing allocated

[2017-12-11 14:52] falkencreative commented on #1055
@SathyaBhat - Any chance you'd be willing to do a export of your budget (https://docs.youneedabudget.com/article/162-exporting-a-budget), as well as an export of your Toolkit settings (available in the bottom left corner of the Toolkit Settings page) and email them to me at ben [at] falkencreative.com? This may help me debug the issue.

Secondly, can you check the Javascript console and copy/paste

[2017-12-11 16:17] SathyaBhat commented on #1055
@falkencreative Sure, I can send the required details.

- I have 25(!) accounts, none of them have positive / negative balances. The reason for this is that I have strayed off YNAB's philosophy and want to start afresh with a new budget for the upcoming year. I was preparing the budget and the categories and payees and the goal was the transfer the opening balances come first of Jan.

(fwiw I am a

[2017-12-11 16:40] falkencreative commented on #1055
Thanks, that will be super helpful. I'll look into it when I get the chance, hopefully this week.

[2017-12-11 22:29] Twizzes commented on #997
This should be fixed with #1060.

[2017-12-11 22:29] Twizzes commented on #944
This should be fixed with #1060

[2017-12-11 22:30] Twizzes commented on #846
This should be fixed with #1060

[2017-12-12 19:38] Servant707 commented on #818
Here's a solution that I got working:
Change `var income` to:
[code]

And change `var total` to:
[code]

[2017-12-14 11:12] mburke1246 opened #1083 "New Report feature request"
# Feature Request
I would like to put a feature request to have a report that would allow me to either export or print the transactions from my account. I am trying to review our spending and it would be handy if I could export or print the search results that I was able to do from the account register.

I know its old school, but I still use the old pen and paper method in our books.

Great Toolk

[2017-12-15 01:59] Mako88 opened #1084 "[Suggestion] Allow Setting Available Amount"
A feature I've wished for since starting YNAB is the ability to just set an available amount for a category, and have it do the math for me.

For instance: I have $100 to be budgeted. I have a category where I've budgeted $50, and I've spent $35. (So there's $15 available). I want there to be $35 available in that category because that's what I need for something. I'd like to be able to click on t

[2017-12-15 14:32] dbaldon commented on #1084
Why is adding $20 to the BUDGETED column not sufficient? If it's because there are times when the math isn't as simple as your example, I'd suggest using the calculator (inline or pop-up).

[2017-12-15 21:31] falkencreative commented on #1083
Are you aware of YNAB's Export feature? https://docs.youneedabudget.com/article/162-exporting-a-budget. It generates a file which you should be able to filter or print as needed?

You should also be able to print the account view using the Browser's built in printing functionality, though I think it may not print all transactions if you have a super long list that isn't visible.

[2017-12-16 23:36] SharonPerp opened #1086 "There is no splits button to toggle"
# Name of Defective Feature
Toggle Splits Button

# System Settings (Required)
ToolKit Version: 1.40
Operating System (Mac/Windows/Etc): Mac
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: 63.0.3239.84 (Official Build) (64-bit)
Other Extensions:
Toby 4 Chrome
Adblock Plus
App Launcher for Inbox
Cookies
Dashlane
Evernote Web Clipper
Eversync
Google Hangouts
Honey
Plan to Eat
Send to Calend

[2017-12-17 12:16] falkencreative commented on #1086
I've tried using the exact same settings you're using, and the button is showing up, so I suspect you're looking for it in the wrong place?

The Toggle Splits buttons should show up in the toolbar, to the right of the "Add Transactions" button. Clicking it will hide or show all split transactions. See screenshot:

![screenshot](https://user-images.githubusercontent.com/880344/34079353-2e0f810c-e2f

[2017-12-17 15:27] SharonPerp commented on #1086
You're absolutely right! Don't know how I missed it but, thanks!

On Sun, Dec 17, 2017 at 4:16 AM Benjamin Falk <notifications@github.com>
wrote:

[2017-12-17 15:27] falkencreative commented on #1086
OK, great. I'm going to close this issue, since it sounds like the issue has been resolved.

[2017-12-17 15:27] #1086 closed

[2017-12-17 15:29] falkencreative commented on #1051
@jonocyrus - We released a new version this morning with fixes in place. When you get the chance, double check if this is still an issue for you?

[2017-12-17 15:30] falkencreative commented on #1039
@bradfordnhull @casner @jlo-2001 @josh120775 - We released a new version this morning with fixes in place. When you get the chance, double check if this is still an issue for you?

[2017-12-17 15:31] falkencreative commented on #1034
@jdoggg420 @Flyou10 - We released a new version this morning with fixes in place. When you get the chance, double check if this is still an issue for you?

[2017-12-17 15:31] falkencreative commented on #1030
@evilmanimani - We released a new version this morning with fixes in place. When you get the chance, double check if this is still an issue for you?

[2017-12-17 15:32] falkencreative commented on #1027
@dbaldon - Might be worth checking if our latest release fixes this issue?

[2017-12-17 15:33] falkencreative commented on #1026
@tumblehawk @michellemyhre - We released a new version this morning with some fixes. When you get the chance, double check if this is still an issue for you?

[2017-12-17 15:33] falkencreative commented on #1025
@roizentner @hcalloway - We released a new version this morning with some fixes. When you get the chance, double check if this is still an issue for you?

[2017-12-17 15:34] falkencreative commented on #1024
@desertbeach3 - We released a new version this morning with some fixes. When you get the chance, double check if this is still an issue for you?

[2017-12-17 15:34] falkencreative commented on #997
@mirwinator - We released a new version this morning with some fixes. When you get the chance, double check if this is still an issue for you?

[2017-12-17 15:35] falkencreative commented on #978
Closing this out, since this feature has been removed from the Toolkit and implemented natively by YNAB.

[2017-12-17 15:35] #978 closed

[2017-12-17 15:36] falkencreative commented on #975
@V29 - We released a new version this morning with some fixes. When you get the chance, double check if this is still an issue for you?

I'll give it a couple days, but if we don't hear back and we can't reproduce, I'll likely close this issue due to its age.

[2017-12-17 15:37] falkencreative commented on #967
@Lotsofjoy - We released a new version this morning with some fixes. When you get the chance, double check if this is still an issue for you?

[2017-12-17 15:37] falkencreative commented on #944
@simplysteph @mirwinator - We released a new version this morning with some fixes. When you get the chance, double check if this is still an issue for you?

[2017-12-17 15:38] falkencreative commented on #936
@Flyou10 - We released a new version this morning with some fixes that may help with this. When you get the chance, double check if this is still an issue for you?

[2017-12-17 15:40] falkencreative commented on #846
Everyone - We released a new version this morning with some fixes that may help with this. When you get the chance, double check if this is still an issue for you?

[2017-12-17 15:41] falkencreative commented on #486
Everyone - We released a new version this morning with some fixes that may help with this. When you get the chance, double check if this is still an issue for you?

[2017-12-17 17:17] jdoggg420 commented on #1034
it works now, thank you!

[2017-12-17 18:34] dbaldon opened #1087 "Pacing progress line only displays on a subset of categories"
# Name of Defective Feature
Budget Rows Progress Bars - option Pacing progress selected

# System Settings (Required)
ToolKit Version: 1.5.0
Operating System (Mac/Windows/Etc): Windows 10
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: 63.0.3239.84
Other Extensions:

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code]
</details>

[2017-12-17 18:35] dbaldon commented on #1087
@falkencreative and I have talked about this feature and how it needs to be redesigned/rewritten so I'm OK with the answer for now being YYGT (yeah, you get that) because it'll be "redone" at a future date.

[2017-12-17 18:40] falkencreative commented on #1087
"The pacing progress bar should be displayed on each master category and all sub-categories. I also think the line should have clearly defined edges not the gradual edges shown in the screen shot below."
I believe the reason why some categories don't include the pacing info is because the feature allows you to "turn off" certain categories, since pacing info may not be useful on all categories (fo

[2017-12-17 19:36] dbaldon commented on #1087
More likely it's related to this which I just noticed;
[code]
This is what appears in the Sources tab;
![image](https://user-images.githubusercontent.com/11460228/34082692-788117ea-e328-11e7-8919-de5f076bf699.png)
The problem is getCalculation() is returning a null because it doesn't find the master-category_sub-category as expected. I can see that is because (in my case) the sub-category has been

[2017-12-17 19:42] falkencreative commented on #1087
OK, didn't realize there was a JS error. Sorry about the debug message -- I bet I accidentally left that in there after the last round of bugfixes.

[2017-12-17 19:44] dbaldon commented on #1087
I think the JS error is only there for my situation. No worries on the console message. I'll remove it when I do the PR.

[2017-12-17 20:33] Lotsofjoy commented on #967
Yay!  looks fixed!  THANK YOU!!!

[2017-12-17 20:33] falkencreative commented on #967
Great! Closing out this issue.

[2017-12-17 20:33] #967 closed

[2017-12-17 20:36] Flyou10 commented on #1034
It's fixed!  It's fixed!  You guys rock!  The extension makes YNAB so much better.  I really appreciate the effort everyone puts into this.

[2017-12-17 20:37] falkencreative commented on #1034
Great! Thanks to you both for responding. I'm going to close out this issue.

[2017-12-17 20:37] #1034 closed

[2017-12-17 20:49] falkencreative commented on #1084
Thanks for the suggestion! Enhancement requests are tracked on our Trello board. I've added a new card: https://trello.com/c/tCoYDbUd/459-set-available-amount. We'll keep this in mind as a potential feature for the future, and hopefully others will see it and up-vote it if that sounds useful to them too.

Since the feature request now "lives" over there, I'm going to close this to keep our issues

[2017-12-17 20:49] #1084 closed

[2017-12-17 20:53] falkencreative commented on #1083
Our Trello board, which tracks various feature requests, has a couple potential features that likely overlap with your request:

https://trello.com/c/tP7ggGyP/278-sophisticated-transaction-export
https://trello.com/c/gz01Nk5k/317-reports-export-info

Unfortunately, printing options are pretty limited, and other than the Toolkit adjusting what's already there on screen, most printing improvements w

[2017-12-17 20:53] #1083 closed

[2017-12-17 21:00] dbaldon commented on #1087
Closing as my PR fixes the issue.

[2017-12-17 21:00] #1087 closed

[2017-12-17 23:30] jonocyrus commented on #1051
Fixed!

[2017-12-17 23:30] #1051 closed

[2017-12-17 23:52] mirwinator commented on #997
@falkencreative - I think everything looks good now. I artificially created some credit card overspending, and the category went red immediately rather than yellow. I also refreshed nYNAB, and the cell was still red prior to clicking anywhere. Thanks for your all's hard work!

[2017-12-17 23:53] #997 closed

[2017-12-17 23:54] evilmanimani commented on #1030
Working great now, cheers!

[2017-12-18 01:34] falkencreative commented on #1030
Great! I'm going to mark this as complete and close this issue. Thanks to @dbaldon for the fixes!

[2017-12-18 01:34] #1030 closed

[2017-12-18 01:34] falkencreative commented on #1051
Great, glad to hear it!

[2017-12-18 01:35] falkencreative commented on #997
Great! Thanks to @Twizzes for the fix.

[2017-12-18 12:46] V29 commented on #975
Hi, sorry never saw the original reply. I just tested it out and it seems fine now, so should be good to close the issue out, thanks!

[2017-12-18 12:46] #975 closed

[2017-12-18 14:23] coltlking commented on #846
Thanks for the new update! This is working for me now.  I had a similar issue, but wanted to see if it was fixed as well and it doesn't look to be.

I am using "Monthly Funding Goals" for a number of categories which have upcoming transactions (most of them recurring).  These categories (ones with a Monthly Funding Goal and an upcoming transaction) show orange instead of blue, as shown in the atta

[2017-12-18 14:55] falkencreative commented on #846
That's not an issue, as far as I understand it -- that's expected behavior based on how this feature is coded. The order of what the labels will show if the category has a goal:

-- Negative red for cash overspending (most important)
-- Negative orange for credit overspending
-- Orange for upcoming transaction warning
-- Blue if has unmet goal and none of the above (least important)

Basically, th

[2017-12-19 14:49] lucyjune1684 commented on #846
Yes, it shows as orange without the toolkit which is confusing. The blue
indicates that I probably WAMmed and it's underfunded but nothing was
overspent. It looks like it's working currently, thank you!

On Mon, Dec 18, 2017 at 9:55 AM, Benjamin Falk <notifications@github.com>
wrote:

[2017-12-21 15:19] roizentner commented on #1025
@falkencreative I can confirm the collapsable menu works properly now and doesn't disappear. Thank you very much!!!

[2017-12-21 16:40] falkencreative commented on #1025
Great! I'm going to consider this issue fixed, and close this out. If you run into any other issues, feel free to comment or report a new issue.

[2017-12-21 16:40] #1025 closed

[2017-12-23 18:48] imerin opened #1092 "YNAB4 style calculator not working"
# Name of Defective Feature

# System Settings (Required)
ToolKit Version: 1.5.0
Operating System (Mac/Windows/Etc): Windows 10
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: 63.0.3239.84 (Official Build) (64-bit)
Other Extensions: 1Password, AdBlock Plus

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>
[{"key":"AccountsDisplayDens

[2017-12-23 19:48] joshmadewell commented on #1092
Going to reopen this and fix the issue because I've noticed it as well :)

[2017-12-23 19:49] imerin commented on #1092
I closed it because after toggling it a few times and reloading YNAB it worked as expected.  Happy to hear its not just me

[2017-12-23 20:03] joshmadewell commented on #1092
Yeah it's one of them finicky ones which only show up at random times. Pretty sure I know the cause and will have a fix for our next release :)

[2017-12-24 18:50] joshmadewell commented on #1028
@MattJGlick @senk182 I'm trying to look into this right now -- sorry I've been to busy too look into it until now. Do you guys have any specific steps that cause this to reproduce? I've tried adding a new transaction and then updating but that seems to work for me...

Also -- we don't recalculate if there is already a running balance assigned because we're listening to an event here: https://githu

[2017-12-25 00:56] senk182 commented on #1028
Yes.    If you have a transaction already there and you either delete it or change the amount, the running balance is not recalculated.  The work around that I posted earlier about adding two transactions that essentially cancel each other out does not really correct the running balance.   The only way to get it right is turn off the option, close YNAB, open YNAB, turn on the option, close YNAB, a

[2017-12-25 01:41] joshmadewell commented on #1028
@senk182 and this happens consistently as soon as you open YNAB or do you switch around through budgets before this happens?

[2017-12-25 03:01] senk182 commented on #1028
It only happens if I change/delete a transaction in a given account.    Otherwise, the running balance is correct.   If I do the whole turn it on, turn it off thing, then the account is ok.   The way I know it is wrong is when I go to reconcile an account.   If I don’t see the expected balance on a particular transaction, then I know I missed doing it whenever I corrected a transaction.

[2017-12-25 16:08] dbaldon commented on #1027
The error is no longer occurring so I'm closing the issue.

[2017-12-25 16:08] #1027 closed

[2017-12-25 16:11] dbaldon commented on #1015
This was corrected by PR #1088 so I'm closing the issue.

[2017-12-25 16:11] #1015 closed

[2018-01-03 12:43] gimbo commented on #1086
Just to say, this tripped me up too, so maybe there's a UX issue here. I was looking for something on each individual split and it took me a long time to spot the button at the top.

[2018-01-03 12:49] gimbo commented on #872
I think this should be re-opened, because this is not good UX: when I double-click on a transaction to edit it, I expect to be able to edit it, period; if it's a split, that means I expect to see the whole thing - *without* having to *also* click the "Toggle Splits" button.

For weeks now I've been assuming there was an bug in Toolkit For YNAB around split editing, and I've been temporarily disabl

[2018-01-03 16:17] joshmadewell commented on #872
@gimbo When I built this feature there were a lot of behind the scenes things happening in YNAB which made doing the proper UX quite difficult. Things may be different now so I can have another look, or better yet since you're technically inclined you could also make a PR yourself if you'd like!

[2018-01-03 16:39] gimbo commented on #872
:-) Thanks - I don't do so much front-end stuff these days but if I get chance I'll take a look. And I hear you on UX being difficult - hope this didn't sound like moaning, I really appreciate the tool and it's all meant as constructive input.

[2018-01-03 17:15] dbaldon commented on #730
Still not fixed. The problem only shows up if the setting is `Pacing on name column and goals on budgeted column` so I'm reopening the issue. I'm currently refactoring this feature so I'll see if I can figure out what's going on.

[2018-01-04 00:18] dbaldon commented on #730
The problem can be seen in the screen shots I originally posted. The mater-category name cell begins further to the left than the sub-category name cell because the sub-category doesn't have the drop-down arrow element. The width of the master-category checkbox is ~22px while the sub-category checkbox is ~30px. I'm not sure how to fix this without screwing up the alignment of the category names. @

[2018-01-04 11:26] falkencreative commented on #730
Honestly, I'm not sure. Maybe you check when applying the css, to see if the category you're applying the line to is a master category, then adjust the math slightly?

Or you ignore this for now, if you're working on a refactored version anyway that will likely change how that bar displays? If the line is an absolutely positioned element instead of a background gradient, that will give you more co

[2018-01-04 11:34] falkencreative commented on #1086
Part of the challenge with this is that what we can do with splits is pretty limited currently from a technical standpoint due to the way the register is built and how YNAB figures out when to load more transactions when the register is scrolled.

The button is at the top because we can currently only open or hide all splits at once, and can't do them individually. I've considered adding a toggle

[2018-01-04 14:46] gimbo commented on #1086
I hear that. Thanks for the feedback! Good to know these things have been thought about. :-) And I want to say I really love Toolkit for YNAB, it's really great.

[2018-01-04 15:27] dbaldon commented on #730
I'm going to try putting the monthly indicator (the vertical gray bar) on the `<ul>` elements and leave the category progress on the name cell.

[2018-01-04 22:38] dbaldon commented on #730
That didn't work as the name cell background overrides the <ul> element background.

[2018-01-05 00:58] dbaldon commented on #730
I went ahead and submitted the refactor PR without solving this issue. As has been previously stated this feature needs to be re-swizzled to better present the information. At least to me it's not intuitive as currently implemented.

[2018-01-06 13:36] tmfrescata opened #1113 "Menu "Edit > Categorize As" is limited (too small / cropped) when you have many categories"
# Name of Defective Feature

Menu "Edit > Categorize As" is limited (too small) when you have many categories.

I think this a problem from YNAB itself, but could you try to improve it?

When you try to add categories to multiple movements, the menu is too small and doesn't roll, so you can't access the categories in the top (depends on screen size, of course).  I'm working on a regular old MacBoo

[2018-01-06 15:12] dbaldon commented on #1113
@bluebird8203 can you open a feature request on Trello for this? Thanks.

[2018-01-06 15:22] tmfrescata commented on #1113
Thanks

[2018-01-06 16:01] deermont2 opened #1115 "Auto adjust split transactions not working correctly"
# Auto adjust split transactions

# System Settings (Required)
ToolKit Version: 1.5.0
Operating System (Mac/Windows/Etc): Win10
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: 63.0.3239.132
Other Extensions: LastPass, Office Online, AdBlock for youtube,

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code]
</details>

# Steps to

[2018-01-06 17:18] bluebird8203 commented on #1113
https://trello.com/c/HKuwrayC

[2018-01-06 17:21] tmfrescata commented on #1113
Thank you.  Very nice of you!

[2018-01-06 17:45] MateoM1955 opened #1116 ""add another split" is not working"
# Name of Defective Feature "add another split"

# System Settings (Required)
ToolKit Version: 1.5.0
Operating System (Mac/Windows/Etc): windows 10
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: Version 63.0.3239.132 (Official Build) (64-bit)
Other Extensions: AdBlock 3.22.1, Amazon Assistant for Chrome 10.1712.7.1200, Bookmark Manager 2.2016.128.11729, Cisco WebEx Extension 1.0.12, Docs

[2018-01-07 16:14] dbaldon commented on #1113
Closing as the request as been added to Trello.

[2018-01-07 16:14] #1113 closed

[2018-01-08 18:25] mbritb opened #1121 "Goal Indicator Warning Color not working"
# Name of Defective Feature
Goal Indicator Warning Color

# System Settings (Required)
ToolKit Version: 1.5.0
Operating System (Mac/Windows/Etc): Windows
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: Version 63.0.3239.132 (Official Build) (64-bit)
Other Extensions: uBlock Origin, Pinterest, Inbox by Gmail, LastPass, Emoji Keyboard, Application Launcher for Drive (by Google)

# Export of

[2018-01-08 18:37] mbritb commented on #846
It's still a bug...BUT if you'll turn ON the Highlight ALL Negative Category Balances option...then the Goal Indicator Warning Color will turn your unmet category bubbles blue...but your credit card overspending will be red. Which, I know, negates having blue unmet goals...but if you really need your overspending and your unmet goals to be different colors...this achieves that until they get it fi

[2018-01-09 04:12] SpacemanPete opened #1122 "Link to Documentation for how to build a feature is 404"
Hi,

I saw a previous issue for this but it looks like the link to documentation in the main README under the "Contributions" header is broken:
text:
"For documentation on how to build a feature, see the documentation."
url:
https://github.com/toolkit-for-ynab/toolkit-for-ynab/blob/master/source/common/res/features/HOW_TO_BUILD_FEATURES.md

I started using YNAB 5 months ago and I'm loving it! Afte

[2018-01-09 04:28] SpacemanPete commented on #1122
woops, I just found the "New Framework" documentation link in a section below, however, does that broken link then need to be removed or should it still point to a different doc page?

[2018-01-09 04:28] joshmadewell commented on #1122
Oh no! I've fixed it here #1123

The link you seek is [here](https://github.com/toolkit-for-ynab/toolkit-for-ynab/blob/master/docs/building-features.md)

Please let us know if you find the docs are useful! A few things have changed since they were originally written so there's definitely a chance they've gone a bit stale...

Feel free to either open a PR with fixes or another issue that we can add

[2018-01-09 04:41] SpacemanPete commented on #1122
Thanx!

Between that doc page and reviewing some of the features source code, I think I've got all I need to get a pretty good handle on feature building.

Is there a process for new developers joining the team? I commented on a ticket on the Trello board to volunteer for building a new feature, but since I'm new to ember, is there perhaps a list of simple items that I can voluneer for to get my f

[2018-01-10 01:07] casner commented on #1039
Same problem this afternoon, in 1.5. I opened YNAB, clicked on the dropdown in the upper left, and selected the other budget from the dropdown. Immediate error message.

[2018-01-10 13:56] dbaldon commented on #1122
@SpacemanPete I started a response to your comment on the Trello card but obviously never finished it. I guess some other shiny object came along and distracted me. 😉

In reality you don't need to know Ember to contribute to the Toolkit. Knowing css, html, javascript, jquery, the DOM model (especially using events) is enough. The reason I say that is that the majority of the Toolkit is injection i

[2018-01-10 14:02] dbaldon commented on #1121
I believe what you're observing is a 'priority issue' or possibly a 'mutually exclusive' issue. IOW, which feature should take priority over another feature when they both operate on the same pieces of data or if you activate feature A then you should not be allowed to activate feature B.

[2018-01-10 14:06] dbaldon commented on #1039
@casner can you do two things?

1. Export and paste your settings in this issue?
2. After you get the error message, press F12 and look at the console and then cut & paste any error messages you see.

I suspect you have a particular feature activated that is throwing an error. The console message should identify which feature is causing the problem.

[2018-01-10 15:05] casner commented on #1039
I think the 1.4 settings were still hanging on. I exited YNAB, went into the Toolkit Settings with 1.5, and checked and re-saved the settings. When I opened YNAB and changed budgets, it worked without the error

[2018-01-10 17:03] SpacemanPete commented on #1122
@dbalatero Thanks for the wonderfully thorough response and I'm excited to dig into this and contribute!

Other than volunteering for tasks is there a process that you guys follow to sync up and discuss the backlog and roadmap?

Do you all have any guidance on specific dev environment recommendations?
I've got the repo setup locally and I'm going to create a dedicated budget with dummy content tha

[2018-01-10 17:03] #1122 closed

[2018-01-10 18:16] dbaldon commented on #1122
Not really. We're just not that formal.

Not really though I think most of us use dummy budgets for testing.

Yes. It's be nice if the items on the Trello board were given priority but not all contributors are able to work on those items for a variety of reasons.

Different contributors operate differently. I tend to use branches for all my PRs while others only use them for large PRs. But I suck

[2018-01-10 23:05] blargity commented on #1121
Also, unsure if this is related to your issue, but YNAB just fixed this bug:

[code]
https://www.youneedabudget.com/release_notes/web-release-notes-january-3-2018-2/

[2018-01-11 00:07] StephenBrown2 commented on #730
I wonder if the maths could be rigged to average the progress of each of the subcategories and show _that_ progress on the master?

[2018-01-14 16:40] dbaldon commented on #730
I don’t think the sub–categories are the problem. The vertical line is supposed to show how far into the month you are. IOW, on the 15th the line should be halfway across the “area”. So there’s no way to average that.

[2018-01-14 19:25] drcdev opened #1134 "[BETA] Days of Buffering error causing other settings not to display/function"
# Name of Defective Feature
Days of Buffering error causing other settings not to display/function.

# System Settings (Required)
ToolKit Version: 2.0.0.1249
Operating System (Mac/Windows/Etc): Windows 10
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: 63.0.3239.132 (64-bit)
Other Extensions: Dashlane (active), RES (active), Ghostery (disabled)

# Export of Toolkit Settings (Bottom Left o

[2018-01-14 19:30] dbaldon commented on #1134
I just discovered the issue and am working on a fix. The issue is a problem with the days of buffering feature throwing an error which prevents all the other features from being loaded. It's an easy fix but not sure how quickly it'll get pushed to the beta extension but I'm sure it'll be much faster than the GA extension.

[2018-01-15 15:38] kayjenx opened #1136 "[BETA] Repeating error caused when I try to go into any account"
# Name of Defective Feature
View Accounts

# System Settings (Required)
ToolKit Version: 2.0.0.1272!
Operating System (Mac/Windows/Etc): Windows 7
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: Version 63.0.3239.132 (Official Build) (64-bit)
Other Extensions: Disabled all and still did not work

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Expor

[2018-01-15 17:13] joshmadewell commented on #1136
AHHH thank you for the report -- should have a fix for it in the next beta release!!!

[2018-01-15 17:46] sgspecker opened #1137 "Category Report failing with negative value"
# Name of Defective Feature
Spending by Category Report

# System Settings (Required)
ToolKit Version: 1.5.0
Operating System (Mac/Windows/Etc): Mac OS
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: 63.0.3239.132 (Official Build) (64-bit)
Other Extensions:

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>
[code]
</details>

# Steps

[2018-01-15 17:48] kayjenx commented on #1136
Great! I'm new to beta. I disabled it since I can't view any accounts. Do
you send a email to Beta users when a new version is released?

On 15 January 2018 at 11:13, Josh Madewell <notifications@github.com> wrote:

[2018-01-15 17:59] joshmadewell commented on #1136
Ideally we update the beta nightly but we have it set up in a way it could be more frequent. I don't think an email will go out but it should automatically update. We may also comment on this thread once it's released to.let you know!

[2018-01-15 22:14] joshmadewell commented on #1136
@kayjenx this should be fixed in the newest beta version!

[2018-01-15 22:50] KylieUser opened #1138 "Height of Rows in Account Register doesn't stick"
# Name of Defective Feature
Height of Rows in Account Register

# System Settings (Required)
ToolKit Version: 1.5.0
Operating System (Mac/Windows/Etc): Windows 10
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: 63.0.3239.132 (Official Build) (64-bit)
Other Extensions:
[FireShot Pro Screen Capture #006 - 'Extensions' - chrome___extensions.pdf](https://github.com/toolkit-for-ynab/toolkit-fo

[2018-01-15 22:55] joshmadewell commented on #1136
@kayjenx sorry, I jumped the gun on alerting you that this was released -- it should be in the next release but that hasn't gone out quite yet!

[2018-01-15 23:35] clay-vessel777 commented on #1136
Same.  Here's my error. ![capture](https://user-images.githubusercontent.com/35471817/34965561-a8d23aee-fa09-11e7-9306-6257bbc07be1.PNG)

[2018-01-15 23:53] joshmadewell commented on #1136
This one actually just got pushed to beta so you should see in in version: 2.0.0.1276

[2018-01-16 00:56] bluebird8203 commented on #1136
I'm still getting this repeated error, despite being on version 2.0.0.1276

[2018-01-16 05:25] drcdev commented on #1134
Just confirmed this is the issue. I disabled the Days of Buffering option and everything else came back. Thanks! Looking forward to a fix, but this will make the toolkit usable again.

[2018-01-16 06:27] joshmadewell commented on #1136
@bluebird8203 could you post your settings? I'm not getting any issues right now :/

[2018-01-16 06:32] bluebird8203 commented on #1136
Oddly enough, it seemed to work fine when I disabled the original toolkit, and turned the beta on.
As soon as I closed that tab, and opened YNAB in a new tab, I got the error message again.

[{"key":"AccountsDisplayDensity","value":"2"},{"key":"AccountsEmphasizedOutflows","value":true},{"key":"AccountsStripedRows","value":false},{"key":"ActivityTransactionLink","value":true},{"key":"AdditionalColu

[2018-01-16 14:00] dbaldon commented on #1136
Y'all may already know this but you don't want to have the GA and Beta versions of the Toolkit active at the same time. The browser will allow it but it will cause problems for the Toolkit. I know this because when I'm developing I get burned way more often than I like to admit. I use Chrome and if you sign into your Google account it syncs your extensions across browsers including enabling them.

[2018-01-16 14:51] kayjenx commented on #1136
@dbaldon Just confirming that I am no longer getting this error. Seems to be resolved for me.

[2018-01-16 19:09] asujosh1 commented on #1037
Just updated to the Beta and I'm still seeing the columns misaligned or squished.
![capture](https://user-images.githubusercontent.com/11829300/35007184-6d311338-fabe-11e7-9013-87ef09b59a10.JPG)

[2018-01-16 19:19] dbaldon commented on #1037
@asujosh1 can you export your settings (from the beta) and paste them here? Thanks.

[2018-01-16 19:20] asujosh1 commented on #1037
[{"key":"AccountsDisplayDensity","value":"0"},{"key":"AccountsEmphasizedOutflows","value":true},{"key":"AccountsStripedRows","value":true},{"key":"AdditionalColumns","value":true},{"key":"AdjustableColumnWidths","value":true},{"key":"AutoDistributeSplits","value":false},{"key":"BetterScrollbars","value":"0"},{"key":"BudgetQuickSwitch","value":false},{"key":"CalendarFirstDay","value":"0"},{"key":"C

[2018-01-17 00:33] bluebird8203 commented on #1136
@dbaldon  - I saw the note in the toolkit Slack channel  about being to enable/disable each version from the extensions screen, so I've been disabling the 1st version, before enabling the 2nd version.

Here are the error messages.

![image](https://user-images.githubusercontent.com/16366835/35019270-36164c22-fae3-11e7-932a-a04e402b2f7b.png)

[2018-01-17 02:23] dbaldon commented on #1136
@bluebird8203 turn off the Paid in Full Credit Card Assist feature and see if the error goes away. I must say that this error doesn't make sense to me and I can't recreate it. Can you list the exact steps you go through that result in the error? Thanks.

[2018-01-17 04:42] drcdev commented on #1134
Toolkit updated to build version 2.0.0.1276 today and re-enabled Days of Buffering. Everything seems to be working now. Will keep an eye out and close if the issue doesn't reoccur in the next day or two.

[2018-01-17 05:48] bluebird8203 commented on #1136
@dbaldon - The error does go away when I turn off the Paid in Full Credit Card Assist.
The exact steps were:
open a new tab in Chrome
choose the nYNAB shortcut from my favorites bar
as soon as the screen comes up which allows you to select which budget to open, the error message appears as well
refresh per error message, same error appears.

[2018-01-17 17:50] zahndy26 opened #1141 "Payee not exporting when using copy transactions function"
# Payee not showing using copy transaction function

# System Settings
ToolKit Version: 1.5.0
Operating System (Mac/Windows/Etc): Windows
Browser (Chrome/Firefox/Safari): Chrome
Browser Version:
Other Extensions:

# Export of Toolkit Settings (Bottom Left of Settings Page)

[code]
</details>

# Steps to Reproduce the Behavior

1. ​Toolkit report
2. ​Click to Drill down to budget category
3. ​Expor

[2018-01-17 20:07] dbaldon commented on #1141
@zahndy26 Thanks for the bug report. This has already been reported in Issue #968 so I'm closing this issue.

[2018-01-17 20:07] #1141 closed

[2018-01-17 20:44] dbaldon commented on #968
Notes;
`ynab.formatDateWithoutTime(transaction.get('date'))` should get the correct date.
`transaction.get('payee').name` should work to include the payee in the output.

[2018-01-17 23:02] sgspecker opened #1142 "Hide hidden categories in Toolkit reports"
# Name of Defective Feature
I prefer the Toolkit reports because the callouts make them easier to read. Unfortunately, I cannot find a way to prevent "Hidden Categories" from displaying in the "Spending by Category" report. Ideally, it would be nice to better control the Tookit reports (such as hiding specific categories as you can do in the standard YNAB reports), but at the least, it would be ni

[2018-01-18 03:59] joshmadewell commented on #1142
Hey there @sgspecker! This is more of a feature request than a bug because this is as designed however, I do agree with you that having the ability to hide categories would be quite desirable. I actually made a fresh start in my budget today and found some reporting weirdness in the toolkit reports related to how we're filtering categories so I plan on making some traction to add more custom filte

[2018-01-18 12:08] falkencreative opened #1143 "[BETA] Features not disabled after toggling "off" switch"
# System Settings (Required)
ToolKit Version: Beta 2.0.0.1284!
Operating System (Mac/Windows/Etc): Mac
Browser (Chrome/Firefox/Safari): Chrome 63.0.3239.132

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code]
</details>

# Steps to Reproduce the Behavior
I'm seeing some buggy behavior related to disabling the Toolkit. If I click on the

[2018-01-18 16:18] joshmadewell commented on #1143
Are you sure you're not running two toolkits at the same time?

[2018-01-19 02:49] drcdev commented on #1134
Updated to 2.0.0.1284 today and still stable. Going to close for now and come back to it if it occurs again later on.

[2018-01-19 02:49] #1134 closed

[2018-01-19 06:17] kenny3794 opened #1144 "[BETA] Calculator doesn't always open when clicked"
# Name of Defective Feature
Calculator

# System Settings (Required)
ToolKit Version: 2.0.0.1284
Operating System (Mac/Windows/Etc): Archlinux
Browser (Chrome/Firefox/Safari): Chromium
Browser Version: 63.0.3239.132 (64 bit)
Other Extensions: ChromeIPass, PrintWhatYouLike, Wikibuy, uBlock Origin, Gnome Shell Integration, RokuCast

# Export of Toolkit Settings (Bottom Left of Settings Page)
<detail

[2018-01-19 10:41] #1143 closed

[2018-01-19 14:04] dbaldon commented on #1144
@kenny3794 can you provide more detail such as which screen you're seeing the behavior on (budget or account). Is it consistent or does the behavior change over time?

[2018-01-19 15:02] shopifypaul opened #1145 "Header Blocking Top Row Text on Budget Page"
# Name of Defective Feature

Budget screen.

![](https://screenshot.click/gh82jqhlf53hhij1io2a8a85t1vd2j.jpg)

# System Settings (Required)
ToolKit Version: 1.5.0
Operating System (Mac/Windows/Etc): macOS High Sierra
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: Version 63.0.3239.132 (Official Build) (64-bit)
Other Extensions: N/A

# Export of Toolkit Settings (Bottom Left of Settings P

[2018-01-19 15:53] dbaldon commented on #1144
Also, have you ever observed this with the non-beta version of the Toolkit?

[2018-01-19 15:55] dbaldon commented on #1136
@bluebird8203 does it happen with the beta version of the Toolkit or just the GA version? I would expect it would be with the GA version only.

[2018-01-19 16:33] kenny3794 commented on #1144
The behavior is observed on the Accounts window.  It is consistent.  Move the mouse over the edge of the button.  At the very point the button changes color, I expect a response because the button color changed.  There's a margin around the calculator icon.  This is true for that entire margin.

This is observed with the non-beta version also, yes.

[2018-01-19 19:23] kenny3794 commented on #1144
Looking over the non-beta version on another PC, and I noticed that the behavior is caused by this code in the /popup-calculator/main.js
[code]

When I disable this call to dismissCalculator, the calculator pops-up when I click anywhere on the button.  This leads me to believe that it pops up and dismisses in very rapid succession. Of course, with this code removed, clicking outside the calculator

[2018-01-20 01:16] bluebird8203 commented on #1136
it was definitely happening with the Beta version, but even with PIF assist turned back on, it isn't anymore, though I am doing the exact same thing as previously.

[2018-01-20 03:45] dbaldon commented on #1136
Hmm, maybe both versions of the Toolkit were activated. Let us know if you see it again.

[2018-01-20 04:46] kenny3794 opened #1146 "Rounding Error in Calculator"
# Name of Defective Feature
Popup Calculator

# System Settings (Required)
ToolKit Version: 2.0.0.1284 (AND 1.5.0)
Operating System (Mac/Windows/Etc): Linux (1.5.0 version on Windows)
Browser (Chrome/Firefox/Safari): Chromium (Chrome for 1.5.0 version)
Browser Version:
     Chromium: 63.0.3239.132 (64-bit)
     Chrome: 62.0.3202.94 (32-bit)
Other Extensions: N/A

# Export of Toolkit Settings (Bott

[2018-01-20 14:33] spammagnet commented on #1116
I had a similar experience but found it works consistently if you click on the text of the label, rather than on the plus sign. Perhaps the resolution involves increasing the size of the area that's sensitive to a mouse click.

[2018-01-20 17:40] dbaldon commented on #1116
This is a bug in YNAB itself. You can prove it by disabling the Toolkit and then performing the same steps listed above. Clicking the plus sign does nothing. Clicking the text of the button as @spammagnet pointed out, does result in a new split transaction line being opened.

Closing this as "not a bug". Feel free to reopen it if you're able to show that it is a Toolkit bug.

[2018-01-20 17:40] #1116 closed

[2018-01-21 17:59] mbritb commented on #1121
I don't think it's a priority issue. If BOTH were turned ON - then yea, it's probably a priority issue. But that's not the case.  And I've never had a problem with the bug you mentioned.

[2018-01-23 13:05] dbaldon commented on #936
@Flyou10 I'm going to close this issue. If you continue to experience the issue feel free to reopen it.

[2018-01-23 13:05] #936 closed

[2018-01-23 13:06] dbaldon commented on #1024
@desertbeach3 I'm closing this issue. If you still think there is a problem feel free to reopen it.

[2018-01-23 13:06] #1024 closed

[2018-01-23 13:08] dbaldon commented on #962
@arconautishche I'm closing this issue. If you still think there is still a problem feel free to reopen it.

[2018-01-23 13:08] #962 closed

[2018-01-25 01:58] bmccullock opened #1149 "Reset Columns Blocks Filter Button"
# Name of Defective Feature
Make Column Widths Adjustable -- Reset Columns

![image](https://user-images.githubusercontent.com/5814136/35366642-77777cf2-0148-11e8-81e4-459f445cb538.png)

# System Settings (Required)
ToolKit Version: 1.5.0
Operating System (Mac/Windows/Etc): Windows 10
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: 63.0.3239.132 (Official Build) (64-bit)
Other Extensions:

[2018-01-25 03:06] formerflyboy commented on #1149
I just started seeing this issue tonight as well. The only way to uncover the filter link is to disable adjustable width columns. Looks like the reset link needs to be moved a bit and all will be well.

[2018-01-25 05:00] kenny3794 opened #1151 "[BETA] In Calculator, pressing enter doesn't record last calculation"
# Name of Defective Feature
Calculator (observed on Accounts window)

# System Settings (Required)
ToolKit Version:   2.0.0.1292
Operating System (Mac/Windows/Etc): Linux
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: Version 63.0.3239.132 (Developer Build) (64-bit)
Other Extensions:

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[2018-01-25 05:10] kenny3794 opened #1152 "[BETA] Auto Adjust Split Transactions does nothing"
# Name of Defective Feature
Auto Adjust Split Transactions

# System Settings (Required)
ToolKit Version:  2.0.0.1292
Operating System (Mac/Windows/Etc): Linux
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: Version 63.0.3239.132 (Developer Build) (64-bit)
Other Extensions: N/A

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code

[2018-01-25 05:24] kenny3794 opened #1153 "[BETA] Add Auto-Distribute Button To Split Transactions"
# Name of Defective Feature
Add Auto-Distribute Button To Split Transactions

# System Settings (Required)
ToolKit Version:  2.0.0.1292
Operating System (Mac/Windows/Etc): Linux
Browser (Chrome/Firefox/Safari): Chromium
Browser Version: Version 63.0.3239.132 (Developer Build) (64-bit)
Other Extensions: N/A

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Exp

[2018-01-25 05:27] kenny3794 opened #1154 "[BETA] Calculator off-screen, disappears when scrolling"
# Name of Defective Feature
Calculator (In accounts window)

# System Settings (Required)
ToolKit Version:  2.0.0.1292
Operating System (Mac/Windows/Etc): Linux
Browser (Chrome/Firefox/Safari): Chromium
Browser Version:Version 63.0.3239.132 (Developer Build) (64-bit)
Other Extensions: N/A

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[co

[2018-01-25 06:17] rvandam opened #1155 "Smooshed/overlapping scheduled and reconciled buttons"
# Name of Defective Feature
Toggle Scheduled and Reconciled Transaction Buttons

# System Settings (Required)
ToolKit Version: 1.5.0
Operating System (Mac/Windows/Etc): Ubuntu 17.10
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: 63
Other Extensions: Lots but nothing else running on ynab

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summa

[2018-01-25 14:10] casner commented on #1155
Confirmed here. Identical behavior, cause.

[2018-01-25 18:21] dbaldon commented on #1155
PR #1150 should take care of this. Not sure when it'll be available but hopefully before too long.

[2018-01-25 20:13] WanderingRaven opened #1156 "Reset Columns / Filters {links overlap}"
# Name of Defective Feature
Near the search bar, where Filters link was, Reset Columns link now exists and they overlap, causing neither to be accessible.  Resizing of columns themselves work.

# System Settings (Required)
ToolKit Version:  1.5.0
Operating System (Mac/Windows/Etc):  Windows 8.1
Browser (Chrome/Firefox/Safari):  Chrome Version 63.0.3239.132 (Official Build) (64-bit)
Browser Version

[2018-01-25 20:16] dbaldon commented on #1156
@WanderingRaven thanks for the bug report. It has already been reported in Issue #1149 so I'm closing this issue. A PR has already been created for the issue though I cannot say when it will be available.

[2018-01-25 20:16] #1156 closed

[2018-01-25 20:16] joshmadewell commented on #1155
@rvandam Thanks for the report -- this has been reported already (#1149) and a fix is ready to go just not released yet (#1150)

[2018-01-25 20:16] #1155 closed

[2018-01-25 20:23] casner commented on #1149
This also happens to filter link buttons if adjustable width columns is not enabled. Win7x64, Chrome.

[2018-01-25 20:25] rvandam commented on #1155
@joshmadewell thanks for the heads up, I tried searching before i submitted but didn't catch that one

[2018-01-25 20:30] joshmadewell commented on #1155
@rvandam Not a problem! The issue doesn't seem the same since it's about a different feature -- I just wanted to make sure others aren't confused :D

[2018-01-25 20:31] joshmadewell commented on #1149
@bmccullock @casner @formerflyboy

We have a fix ready to go for this which is pending our next release :D

[2018-01-26 04:05] bmccullock commented on #1149
@joshmadewell I just noticed that it also occurs with 'Toggle Scheduled and Reconciled Transaction Buttons.'

[2018-01-26 04:27] joshmadewell commented on #1149
@bmccullock Yep! those have been fixed with #1150 as well :D -- this has been pushed to our Beta extension and we hope to have it in the production extension ASAP

[2018-01-26 11:04] blargity commented on #1152
I think this was resolved in #1090. Are you still having this issue with the latest beta? (Version number should end with .1310)

[2018-01-26 11:05] blargity commented on #1153
Thanks for reporting this. It appears to be a duplicate of #1152 to me, so I'm going to go ahead and close it. If I'm wrong, please let me know.

Also, I think we've already fixed this in beta as well. 👍

[2018-01-26 11:05] #1153 closed

[2018-01-26 11:06] blargity commented on #1092
Cool, looks like this is resolved so I'll go ahead and close it.

[2018-01-26 11:06] #1092 closed

[2018-01-26 11:09] blargity commented on #1136
We have now put a feature in so that if both versions of Toolkit try to load, whoever happens to load last should warn you and deactivate itself. Which one takes priority isn't determined though, so if you get that warning dialog, I'd recommend disabling one of them yourself so you know which version you're actually using.

I'm going to go ahead and close this because I think we've fixed it, but i

[2018-01-26 11:09] #1136 closed

[2018-01-26 11:10] blargity commented on #1039
Alrighty, sounds like we've resolved this, I'm going to go ahead and close it for now. If there's something else still wrong please let us know!

[2018-01-26 11:10] #1039 closed

[2018-01-26 11:12] blargity commented on #889
@Jagstyles, @lawrence-dol, @MegBergen, there is now a Firefox Quantum version available here:

https://addons.mozilla.org/en-US/firefox/addon/toolkit-for-ynab/

I'll go ahead and close this issue. Obviously if you find any bugs with it please let us know!

[2018-01-26 11:12] #889 closed

[2018-01-26 11:16] blargity commented on #845
Yeah, the way GitHub does pages is definitely weird.

My workflow is that I've got the repo cloned twice on my machine, once in `toolkit-for-ynab` and another in `toolkit-for-ynab-gh-pages`. I then leave the pages repo on that branch, and it acts like it's two repos for all intents and purposes.

I'm not opposed to this change at all, I just haven't found the time to fix it because it's working as

[2018-01-26 11:18] blargity commented on #631
Alrighty, I'm going to go ahead and close this issue. If Safari ever supports WebExtensions then we'll be able to look at Safari support again.

[2018-01-26 11:18] #631 closed

[2018-01-26 11:19] blargity commented on #206
Is this still an issue, or have we managed to solve it in between the report and now?

[2018-01-26 14:33] MichaelNMaggs commented on #889
Thank you!

[2018-01-26 15:19] dbaldon commented on #1152
It's not working for me.

[2018-01-26 15:21] dbaldon commented on #1115
Thought maybe the latest changes to this feature would resolve this issue but they haven't.

[2018-01-26 15:22] dbaldon commented on #1152
Closing this issue as it's already been reported in #1115. Please watch that issue for progress on the fix.

[2018-01-26 15:22] #1152 closed

[2018-01-26 16:21] kyliebrooks opened #1157 "Oversized Toolkit Spending by Payee report"
# Name of Defective Feature

Toolkit's Spending by Payee report

# System Settings (Required)
ToolKit Version: 2.0.1
Operating System (Mac/Windows/Etc): Windows 10
Browser (Chrome/Firefox/Safari): Firefox
Browser Version: 58
Other Extensions: bitwarden, Social Fixer, uBlock Origin

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[{"key":"go

[2018-01-26 16:34] MegBergen commented on #889
Thanks so much for all your hard work on this and everything else!

[2018-01-26 16:45] dbaldon commented on #1157
Please check for an updated version of the extension. The current version of the Toolkit on FF is 2.0.2.

I'm not able to reproduce the problem using FF 58 and Toolkit 2.0.2.

[2018-01-26 17:03] kyliebrooks commented on #1157
It seems to be reproducible on Toolkit 2.0.2. I will restart FF and try again.

[2018-01-26 17:07] kyliebrooks commented on #1157
The update of the beta for firefox added 2.0.1 for whatever reason. I disabled that, reloaded YNAB, same issue.

I then deleted 2.0.1 snd just restarted. Same issue.

![screenshot-2018-1-26 ynab 1](https://user-images.githubusercontent.com/35844394/35451515-7e77f8f2-0291-11e8-80f0-0d465ea527a6.png)

[2018-01-26 17:12] dbaldon commented on #1157
This is very odd. You're also missing the Filters date slider which should be just above the Accounts drop-down. What is your hardware and screen resolution? Is the window maximized? If not, what is it sized at?

[2018-01-26 17:16] kyliebrooks commented on #1157
What hardware information do you need? My screen resolution is 1366 x 768. The window is maximized, yes.

[2018-01-26 17:16] kyliebrooks commented on #1157
This is what it looks like with less payees:
![screenshot-2018-1-26 ynab 2](https://user-images.githubusercontent.com/35844394/35451916-c8617956-0292-11e8-94d2-a75abaa2fe4c.png)

[2018-01-26 17:25] kyliebrooks commented on #1157
I decided to uninstall 2.0.2, restart and reinstall. This went away. Thanks for trying!

[2018-01-26 17:25] #1157 closed

[2018-01-26 19:10] lawrence-dol commented on #889
Thank you. Seems to be working perfectly for me.

[2018-01-27 14:22] dbaldon commented on #317
I'm closing this issue as it appears to be fixed in the latest builds. Feel free to reopen if you still observe the behavior.

[2018-01-27 14:22] #317 closed

[2018-01-27 14:32] dbaldon commented on #206
There are times when the values still don't appear. The most recent one I observed was after using the "budget quick switch" to open a budget that I know has pending imports and they do not show up. Once I selected an account to view they did show up. The problem is related to triggering the code at the "right" time. It needs to be after all the other elements in the sidebar have been rendered (if

[2018-01-27 14:44] dbaldon commented on #206
I see that this feature doesn't have an `onRouteChanged()` function. I'll add one which should handle the budget quick switch issue.

[2018-01-27 19:58] jf4nathan opened #1158 "Overlapping buttons in Account View"
# Name of Defective Feature
Overlapping buttons in Account View

# System Settings (Required)
ToolKit Version: 1.5.0
Operating System (Mac/Windows/Etc): Mac
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: Version 63.0.3239.132 (Official Build) (64-bit)
Other Extensions:

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code]
</deta

[2018-01-27 19:59] jf4nathan commented on #1158
[https://imgur.com/a/t5OA5](https://imgur.com/a/t5OA5)

[2018-01-27 21:36] dbaldon commented on #1158
@jf4nathan thanks for the bug report. I'm closing since this has already been reported in Issue #1149 and fixed. The version with the fix is available in the Toolkit beta and the production version to a sub-set of users. It'll be available to everyone in the coming days.

[2018-01-27 21:36] #1158 closed

[2018-01-27 21:50] dbaldon commented on #1026
@tumblehawk I'm going to go ahead and close this issue. If you still encounter the same problem feel free to reopen it.

[2018-01-27 21:50] #1026 closed

[2018-01-27 23:02] tracymckibben opened #1159 "[BETA] Scheduled/Reconciled toggles don't work in Firefox 58"
# Name of Defective Feature
Scheduled/Reconciled toggles

# System Settings (Required)
ToolKit Version: 2.0.1.1308
Operating System (Mac/Windows/Etc): Windows 10
Browser (Chrome/Firefox/Safari): Firefox
Browser Version: 58.0 64-bit
Other Extensions: Numerous

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code]
</details>

# Steps to Repr

[2018-01-28 14:56] ianandrach opened #1160 "Spending By Payee Report in Firefox 58 no scrollbar"
# Name of Defective Feature
Reports - Spending by Payee

# System Settings (Required)
ToolKit Version: 2.0.1.1308
Operating System (Mac/Windows/Etc): Windows 10
Browser (Chrome/Firefox/Safari): Firefox
Browser Version: 58 (64 bit)
Other Extensions: LastPass

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code]
</details>

# Steps to Repro

[2018-01-28 19:51] drcdev opened #1161 "[BETA] Toolkit Reports sidebar item disappears when switching between native reports"
# Name of Defective Feature
Toolkit Reports

# System Settings (Required)
ToolKit Version: 2.0.2.1310
Operating System (Mac/Windows/Etc): Windows 10
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: 64.0.3282.119 (Official Build) (64-bit)
Other Extensions: Dashlane, Ghostery, RES

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code

[2018-01-29 04:43] kenny3794 commented on #1115
I noticed that if I edit an existing transaction that has been split, the Auto-Distribute button appears.  Hope this helps.

[2018-01-29 17:41] LeoWoerteler commented on #1160
The pie chart is also not centered on the page and not scaled properly. Additionally there is a weird circle artifact in my chart:

![grafik](https://user-images.githubusercontent.com/545684/35525138-ed775664-0523-11e8-8777-a7a0cc40ada3.png)

[2018-01-29 21:23] Retrend53 opened #1162 "Toggle for Scheduled and Reconciled overlapped on selection bar"
The selections for recociled transaction toggle; scheduled transaction s toggle and I think its reset column widths are bunched together at the right hand side of the screen.

# System Settings (Required)
ToolKit Version: 1.5.0
Operating System (Mac/Windows/Etc): Windows 10
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: 63.0.3239.132
Other Extensions: nil for Ynab

# Export of Toolkit Se

[2018-01-29 21:28] dbaldon commented on #1162
@Retrend53 thanks for the bug report. The problem has already been reported and fixed. The new version is being rolled out so hopefully you'll see it before too long.

[2018-01-29 21:28] Retrend53 commented on #1162
have updated chrome to 64.0.3282.119 (Official Build) (64-bit) and issue is still apparent
![ynab 1](https://user-images.githubusercontent.com/25094360/35535405-6569ebc8-057e-11e8-8bf4-7cbbb809d3c9.jpg)

[2018-01-29 21:29] Retrend53 commented on #1162
Have update Chrome to 64.0.3282.119 (Official Build) (64-bit) and issue still apparent.
![ynab 1](https://user-images.githubusercontent.com/25094360/35535431-85fb0f3e-057e-11e8-989a-b341d5b9f2b2.jpg)

[2018-01-29 21:29] #1162 closed

[2018-01-29 21:30] Retrend53 commented on #1162
OK, thanks

[2018-01-29 21:31] dbaldon commented on #1162
The issue is related to the version of the Toolkit not Chrome. Watch for Toolkit version 2.0.2.

[2018-01-30 05:47] Cuppatea56 opened #1163 "Won't load since update"
# Name of Defective Feature
YNAB Toolkit

# System Settings (Required)
ToolKit Version:
Operating System (Mac/Windows/Etc):
Browser (Chrome/Firefox/Safari):
Browser Version:
Other Extensions:

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code]
</details>

Since the update I cannot load ynab with the toolkit enabled, if I disable it and

[2018-01-30 11:53] jkqu opened #1164 "Settings reset on latest update - Not to default"
# Name of Defective Feature

Settings

# System Settings (Required)
ToolKit Version: 2.0.2
Operating System (Mac/Windows/Etc): Windows
Browser (Chrome/Firefox/Safari): Chrome
Browser Version:  63.0.3239.132
Other Extensions:  None Ynab related

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code]
</details>

# Steps to Reproduce the Behav

[2018-01-30 12:57] dbaldon commented on #1163
@Cuppatea56 I edited your bug report so that it displays as intended. However, you're missing significant information without which we cannot research the issue. Please provide the required information; **System Settings (Required)** and **Export of Toolkit Settings (Bottom Left of Settings Page)**. Thanks

[2018-01-30 13:05] dbaldon commented on #1164
@jkqu Can you provide examples of feature settings that did not carry forward? That'll help us track down what may have gone wrong. Thanks.

[2018-01-30 13:14] jkqu commented on #1164
Hi David,

I've since put all the settings back to how I originally had them so would
be hard for me to do so. (bad memory) When back at home this evening I'll
see if the same occurs on a different machine and try to replicate.

100% everything in the General category was flipped to on.

On Tue, Jan 30, 2018 at 1:06 PM David Baldon <notifications@github.com>
wrote:

[2018-01-30 14:13] spammagnet commented on #1164
What's the intent of the red color of the extension icon? That it's enabled or disabled completely? If I use the button on the icon, it turns on undesired settings as described above. If I turn off any single feature to set it back to my preference, the button goes red. It seems related but I don't know if it's intentional. It seems not?

[2018-01-30 14:55] thejasonadam commented on #1164
Same issue here. Settings all changed when I updated.

Most things turned on that I didn't have on before. Dozens, too many to list all. Here are some:

- Check number column on
- Square corners turned on
- Calculator turned on
- Larger Clickable Area for Icons now on
- Make the Calculator Work Like YNAB4 on
- Show Menu When Right Clicking On Transaction turned on

I also have the red icon now, un

[2018-01-30 14:57] dbaldon commented on #1164
@jkqu on your other machine, **before you start YNAB**, please export your settings and then export them again after having started YNAB. Then paste both of them here. This should allow us to see what changed. Thanks, appreciate the help.

[2018-01-30 14:58] thejasonadam commented on #1164
Something to note:

Another setting that changed was that in account view, all of my debits were listed in red and in parens. I had never seen this before, and I don't even know where that setting exists.

I changed just a few settings and hit save, after that no more red numbers and no parens.

Shame, I liked that! Wish I knew how to get it back. Setting seems to have shut itself off.

[2018-01-30 14:59] thejasonadam commented on #1164
Edited a few of my posts above.

[2018-01-30 15:06] dbaldon commented on #1164
The icon being red indicates that the Toolkit has been disabled via the "master switch". Basically that allows you to turn off all the features in the Toolkit without disabling it in the browser. In the screen shot below it's the icon between the bug icon and the Settings button;
![image](https://user-images.githubusercontent.com/11460228/35573255-2d768474-059c-11e8-84c5-560fcfeefd2c.png)
This is

[2018-01-30 15:24] dbaldon commented on #1164
@thejasonadam

I've never seen that either and can't find a feature that does that. That said, it could be I'm just missing it.

[2018-01-30 15:53] joshmadewell commented on #1164
@thejasonadam the feature is highlight outflows in the accounts section.

Now, about settings resetting. When the extension upgraded...we're you asked to new permissions? If so, did you accept or decline?

[2018-01-30 19:30] thejasonadam commented on #1164
@joshmadewell

Thanks for that

Not that I recall. I'm on my laptop right now, and I haven't upgraded yet. Still on 1.5.0. Anything I can do before I upgrade to help?

[2018-01-30 19:30] thejasonadam commented on #1164
@dbaldon

I'm on MacOS 10.13.2 and Chrome

[2018-01-30 19:35] dbaldon commented on #1164
@thejasonadam Export your current settings **before** you upgrade on your laptop. Then export again **after** you've upgraded. This will be helpful especially if you observe the same odd behavior.

[2018-01-30 19:47] joshmadewell commented on #1164
@thejasonadam Another thing that would be incredibly useful for us would be to follow these steps:

1. Go to chrome://extensions
2. Scroll down to Toolkit for YNAB (v1.5.0) and click `background/index.html`
3. In the window that pops up, click the "Console" tab
4. Type into the console window: `JSON.stringify(localStorage);`
5. Paste the result of that into this thread.

If you could also provide

[2018-01-30 19:48] thejasonadam commented on #1164
@dbaldon

OK, I'd be happy to. But how do I export the settings? Is it what @joshmadewell wrote below?

[2018-01-30 19:50] joshmadewell commented on #1164
@thejasonadam you can export settings by going to the Toolkit Options page and clicking the `Export/Import Settings` button in the bottom left of the page. What I asked for is something a bit different.

[2018-01-30 19:51] joshmadewell commented on #1164
@thejasonadam
![screen shot 2018-01-30 at 1 50 20 pm](https://user-images.githubusercontent.com/3503785/35587857-93b6a9c6-05c4-11e8-930a-a3735e1a22af.png)

The button is just below the dark mode toggle

[2018-01-30 20:22] thejasonadam commented on #1164
@joshmadewell @dbalatero Thanks guys.

My laptop doesn't seem to want to upgrade the extension. Any way to force the upgrade?

[2018-01-30 20:24] joshmadewell commented on #1164
@thejasonadam there's actually not right now -- we're slowly rolling out this version of the extension because we were afraid of issues exactly like this one. The only way to force the upgrade that I know of is to uninstall/reinstall which will cause you to lose all of your settings anyway :(

If you could at least provide your export and the output of that console command we might be able to trac

[2018-01-30 20:25] thejasonadam commented on #1164
[Before Upgrade.txt](https://github.com/toolkit-for-ynab/toolkit-for-ynab/files/1679225/Before.Upgrade.txt)

[2018-01-30 20:25] thejasonadam commented on #1164
[{"key":"AccountsDisplayDensity","value":"0"},{"key":"AccountsEmphasizedOutflows","value":false},{"key":"AccountsStripedRows","value":true},{"key":"ActivityTransactionLink","value":true},{"key":"AdditionalColumns","value":true},{"key":"AdjustableColumnWidths","value":false},{"key":"AutoDistributeSplits","value":false},{"key":"BetterScrollbars","value":"0"},{"key":"BudgetBalanceToZero","value":true

[2018-01-30 20:25] thejasonadam commented on #1164
@joshmadewell There ya go. I'll also post back once i receive the upgrade. Thanks for all your hard work. This extension is the best!!!

[2018-01-30 20:26] joshmadewell commented on #1164
@thejasonadam were you able to also follow the steps in my previous comment?

[2018-01-30 20:36] thejasonadam commented on #1164
@joshmadewell Do you want me to do that on my my laptop (not upgraded, running 1.5) or my desktop (upgraded, running 2)?

[2018-01-30 20:38] joshmadewell commented on #1164
@thejasonadam Just the laptop. Thanks!

[2018-01-30 20:41] thejasonadam commented on #1164
@joshmadewell here you go:

{"AccountsDisplayDensity":"\"0\"","AccountsEmphasizedOutflows":"false","AccountsStripedRows":"true","ActivityTransactionLink":"true","AdditionalColumns":"true","AdjustableColumnWidths":"false","AutoDistributeSplits":"false","BetterScrollbars":"\"0\"","BudgetBalanceToZero":"true","BudgetQuickSwitch":"false","CalendarFirstDay":"\"0\"","CategoryActivityCopy":"false","Categ

[2018-01-30 20:46] joshmadewell commented on #1164
@thejasonadam awesome, thank you!

[2018-01-31 01:29] spammagnet commented on #1164
Sorry that I haven't participated in this but I've been at work. I haven't followed all the details of this correspondence but will address some of the points I caught.

When I saw the upgrade I just accepted it. The settings were not initially what I had set before. Many more were selected than I previously had chosen.

With respect to the on/off toggle, it seemed that if changed any single setti

[2018-01-31 13:02] lang510 opened #1165 "Age of Money"
# Name of Defective Feature

# System Settings (Required)
ToolKit Version:
Operating System (Mac/Windows/Etc):
Browser (Chrome/Firefox/Safari):
Browser Version:
Other Extensions:

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code]
</details>

# Steps to Reproduce the Behavior

1. ​
2. ​
3. ​

# Expected Behavior

Feature is Turned on so

[2018-01-31 14:13] gilberta opened #1166 "Transactions with split categories not displaying properly"
# Name of Defective Feature

Split transactions

# System Settings (Required)
ToolKit Version: v 2.0.2
Operating System (Mac/Windows/Etc): Windows 7
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: Version 63.0.3239.132
Other Extensions: Lastpass, uBlock Origin

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code]
</details>

# St

[2018-01-31 14:28] dbaldon commented on #1166
Did you toggle the splits open? IOW, you have to click the Toggle Splits button on the toolbar to see the split txns. You can tell if the splits are "open" or "closed" by looking at the small arrow to the left of the word Toggle. If the arrow points down, the splits are open. If the arrow points to the right, the splits are closed.
Open
![image](https://user-images.githubusercontent.com/11460228/3

[2018-01-31 14:30] dbaldon commented on #1165
@lang510 please provide the required information and an export of your settings so we can look into this further. Also, the description in **Expected Behavior** doesn't make sense. Can you please clarify? Thanks

[2018-01-31 14:41] lang510 commented on #1165
Version: 2.02
Mac 10.13.2
Chrome Version 63.0.3239.132 (64 bit)
Setting:

[{"key":"AccountsDisplayDensity","value":"0"},{"key":"AccountsEmphasizedOutflows","value":true},{"key":"AccountsStripedRows","value":true},{"key":"AdditionalColumns","value":"true"},{"key":"AdjustableColumnWidths","value":true},{"key":"AutoDistributeSplits","value":true},{"key":"BetterScrollbars","value":"0"},{"key":"BudgetP

[2018-01-31 14:51] dbaldon commented on #1165
@lang510 thanks for the update.

Is the Toolkit icon on the browser toolbar red? If so, click the icon and toggle the middle switch. Then refresh the YNAB tab. This sounds like what has been reported in Issue #1164. Do you notice any other settings that are not what they were before the Toolkit upgrade?

[2018-01-31 16:32] vagabond0079 opened #1167 "Overspent categories are highlighted in blue rectangle rather than red oval"
# Name of Defective Feature

Highlight all Negative Category Balances Red

# System Settings (Required)
ToolKit Version: v2.0.2
Operating System (Mac/Windows/Etc): Mac OS 10.13.2
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: Version 64.0.3282.119 (Official Build) (64-bit)
Other Extensions: many

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Expo

[2018-01-31 16:52] gilberta commented on #1166
@dbaldon you are correct, I seem to have never noticed this toggle before -- that "fixed" my issue.

[2018-01-31 16:53] #1166 closed

[2018-01-31 17:50] janisjjensen opened #1168 "Toolkit won't load"
# Name of Defective Feature
I just installed Toolkit but nothing loads. When I click on "open settings" it just opens and empty page. Also went to View<Reload with plug-ins but that doesn't change anything either.

# System Settings (Required)
ToolKit Version: 0.7.6
Operating System (Mac/Windows/Etc): Mac
Browser (Chrome/Firefox/Safari): Safari
Browser Version: 11.0.3
Other Extensions:

# Export o

[2018-01-31 17:53] joshmadewell commented on #1168
@janisjjensen Safari is so far behind in web technology it became nearly impossible to support and as a result we've dropped official support for the browser. We now only support Firefox and Chrome.

Sorry for the inconvenience.

[2018-01-31 17:53] #1168 closed

[2018-02-01 02:39] atruber commented on #1121
I have experienced the same issue with the Goal Indicator Warning Color. My underfunded goals are coded blue if I also turn Goals Indication on. When I turn Goals Indication off, the underfunded goals return to yellow, even if Goal Indicator Warning Color is still on.

[2018-02-01 13:13] scottolsen commented on #1159
I'm on Chrome 64 and the icons are stacked on the filter.

![image](https://user-images.githubusercontent.com/113754/35680212-4eb73226-071f-11e8-9a1d-61f9efdba4be.png)

[2018-02-01 13:49] jjnich opened #1169 "When I save it disables the toolkit"
# Name of Defective Feature
"Save" button

# System Settings (Required)
ToolKit Version: 2.0.2
Operating System (Mac/Windows/Etc):
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: 63.0.3239.132
Other Extensions: None that effect YNAB

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Settings Export</summary>

[code]
</details>

# Steps to Reproduce the Behavio

[2018-02-01 16:02] ChrisTheCat commented on #1169
I had a similar problem - when the last update loaded, it disabled YNAB.

[2018-02-01 16:06] ChrisTheCat commented on #1164
The extension automatically updated for me about an hour ago. After the update, YNAB was disabled (red) and many of my settings were changed (e.g. check number column was on, despite the fact that I never turned it on and don't use or want that feature, all the row heights were set to default, etc.). I enabled the extension and restored my settings from an export to fix all this.

[2018-02-01 18:19] alexmidd opened #1170 "Reconciled transactions not showing in selected colour"
# Name of Defective Feature
Reconciled Text Colour

# System Settings (Required)
ToolKit Version: 2.0.2
Operating System (Mac/Windows/Etc): MacOS High Sierra 10.13.3
Browser (Chrome/Firefox/Safari): Chrome
Browser Version: 63.0.3239.132
Other Extensions: Google Docs Offline, Docs, Sheets, Slides, Epirchrome Helper

# Export of Toolkit Settings (Bottom Left of Settings Page)
<details>
<summary>Sett

[2018-02-01 18:35] adamadam78 commented on #1169
Same issue.  click save in Toolkit settings turns off the toolkit.

[2018-02-01 19:01] drmoman opened #1171 "Uh-Oh label"
# Name of Defective Feature, opening account info, go to update a transaction,
An error occurred in Toolkit for YNAB (a browser extension you installed to enhance YNAB). Click here to report the issue to the YNAB Toolkit project.

# System Settings (Required)
ToolKit Version:
Operating System (Mac/Windows/Etc): Mac
Browser (Chrome/Firefox/Safari): Google Chrome
Browser Version:63.0
Other Extension

[2018-02-01 19:15] dbaldon commented on #1170
@alexmidd thanks for the bug report. Please double check your Toolkit settings. We've had some reports of settings not being retained correctly when the 2.0.2 version of the Toolkit gets installed.

[2018-02-01 19:51] alexmidd commented on #1170
I've checked and checked again. It's set to "Dark gray with green background".

[2018-02-01 19:53] dbaldon commented on #1170
Is the Toolkit icon on the browser toolbar red? If so, click it and toggle the middle switch. It should go green. Then refresh the YNAB browser tab to reload it.

[2018-02-01 19:56] alexmidd commented on #1170
No it's green.

Alex

On 1 Feb 2018 19:53, "David Baldon" <notifications@github.com> wrote:

[2018-02-01 20:08] alexmidd commented on #1170
<img width="580" alt="screen shot 2018-02-01 at 20 07 34" src="https://user-images.githubusercontent.com/17952481/35700697-a15b70d4-078b-11e8-9e8f-ef8d8e122ea6.png">

[2018-02-01 22:30] KillerofGods commented on #1164
Once the update hit the toolkit was disabled and I ended up having to disable/reenable the toolkit to get the icon to reappear. Settings are all messed up as well

[{"key":"AccountsDisplayDensity","value":"0"},{"key":"AccountsEmphasizedOutflows","value":true},{"key":"AccountsStripedRows","value":true},{"key":"AdditionalColumns","value":"true"},{"key":"AdjustableColumnWidths","value":true},{"key":"

[2018-02-01 22:35] dbaldon commented on #1164
Interesting. This is the first time I've seen this `{"key":"DisableToolkit","value":true}`. It has been false in all the other settings users have pasted here.

@KillerofGods at what point did you export your settings?

[2018-02-01 23:05] KillerofGods commented on #1164
Was trying to figure out why some of my toolkit features weren't working (pretty sure it was everything that wasn't working) realized there was no icon for toolkit disabled reenabled toolkit extension via chrome and my settings changed.

Previously I was looking to see if anyone else was having issues with toolkit and I saw this thread. When I got the toolkit to work I pretty much exported immedia

[2018-02-02 00:41] librarianjess commented on #1164
Chiming in to say this also happened to me just now. Toolkit auto-upgraded and YNAB looked very different from what I'm used to. I realized Toolkit had been disabled (I didn't disable it), turned it back on, but nothing changed, strangely. All my settings had been altered. I also have a second computer and will upload info as outlined above once I get home.

[2018-02-02 01:45] KillerofGods commented on #1164
Alright well I figured out why the settings are almost identical, it changed it before I got it working and the only changes that occurred were ones I was tweaking prior to get it working. Just didn't notice because I got the settings to where I liked them and never looked at them again.

[2018-02-02 02:35] kevinawoo commented on #1159
Same, I'm on Chrome v63.0.3239.132
![](https://cl.ly/2K043P0H1k22/Image%202018-02-01%20at%206.34.22%20PM.png)

[2018-02-02 05:04] joshmadewell commented on #1169
I believe I've pinpointed a fix for this and it should be available to you all soon! Sorry for the inconvenience!

[2018-02-02 05:05] joshmadewell commented on #1165
This is likely fixed with #1172 sorry for the inconvenience!

[2018-02-02 05:06] joshmadewell commented on #1167
@vagabond0079 Please keep a lookout for 2.0.3 and let us know if this gets resolved!

[2018-02-02 05:08] joshmadewell commented on #1170
This doesn't seem like one that should have been effected by our 2.0.2 issues but nonetheless, look out for 2.0.3 and let us know if this is resolved!

[2018-02-02 05:09] joshmadewell commented on #1164
I believe I've discovered the issue here and have a fix ready in #1172 -- please look out for version 2.0.3 of the toolkit for this fix!

[2018-02-02 05:11] joshmadewell commented on #1163
@Cuppatea56 please resubmit your issue filling out the form. We really need to know what version of the toolkit you're running, what browser you're using, and what settings you have set.