[2016-04-03 12:43] falkencreative commented on #229
@blargity - You can go ahead and close this issue when you have the chance. Thanks!

[2016-04-03 13:19] falkencreative commented on #114
Working my way through some older bugs... I've added a pull request that fixes this feature in Firefox, and properly vertically centers the indicator as well.

#276

[2016-04-03 13:19] blargity commented on #229
Thank you!

[2016-04-03 13:19] #229 closed

[2016-04-03 16:07] bluebird8203 commented on #256
@dbaldon - I don't know how to add a feature that's not been fully released into the extension store.
If it's not too much trouble to walk me through it, i am willing though.

All my subcategory names are unique though - it seems to be related to the scheduled transactions instead.

I've included a screenshot of where I'm seeing this bug the most - none of these categories have goals - but all hav

[2016-04-03 17:31] falkencreative commented on #273
We can close this one out: http://forum.youneedabudget.com/discussion/50092/save-not-working-in-0-4-4#latest

[2016-04-03 18:56] dbaldon commented on #256
@bluebird8203 If you're at version 0.4.4 all my recent code changes are now available to you. There is however an outstanding issue/question with upcoming transactions and how they're calculated and displayed. See my question to @egens dated March 31.

The progress bar is based off of upcoming txns in the currently selected month. That's why Condo Fee (and others) don't have a progress bar. I susp

[2016-04-03 23:48] falkencreative commented on #202
@blarg - you should be able to close this. As far as I can tell, it's working properly for me on Chrome.

[2016-04-03 23:51] falkencreative commented on #262
As far as I can tell, this issue is fixed and can likely be closed.

[2016-04-04 04:24] bluebird8203 commented on #256
![image](https://cloud.githubusercontent.com/assets/16366835/14238070/894cb8a6-f9e9-11e5-9e6a-588562daf7d8.png)

I am running version 0.4.4, & yes, I do have a mortgage payment due on April 16th.  The upcoming transactions are within a $2 of the amounts in the category names, other than Enmax (electricity, gas & water) which I save up for higher months.
I would expect that since I don't have a goa

[2016-04-04 10:34] falkencreative opened #284 "Budget balance to zero should respect "Warn When Clicking a Quick Budget" option"
See title.

[2016-04-04 11:45] blargity commented on #273
Verdict, if you're experiencing this, in this case, uninstalling then reinstalling the Toolkit fixed the issue.

[2016-04-04 11:45] #273 closed

[2016-04-04 13:58] lang510 commented on #206
Same problem in 4.4, :(

[2016-04-04 14:50] casner commented on #206
For me, it worked in 4.3, but stopped working in 4.4. PC with Chrome.

[2016-04-04 22:26] lese1030 opened #287 "Firefox addin is not working"
I've uninstalled and reinstalled twice and just receive a blank screen when I open the YNAB add on options.

[2016-04-05 00:55] dbaldon commented on #256
@bluebird8203 For the progress bars to not display on a category with upcoming txns but no goal, means changing a basic part of the feature. I'm ok with that (it's confusing to me for it to be there and then gone when the upcoming txn is entered in the register) but it needs to be discussed and I'd really like @egens to chime in as I believe he originally implemented this feature. @blargity how do

[2016-04-05 01:12] kergoth opened #289 "Safari extension direct download needs updating to 0.4.4"
It's 0.4.3 currently :)

[2016-04-05 02:53] topcat39 commented on #287
FF 45 on Win 10 still works for me.

[2016-04-05 02:57] lese1030 commented on #287
I'm on Mac El Capitan. Works on my safari browser.

[2016-04-05 12:13] blargity commented on #287
I'm on El Capitan 10.11.4. Just removed it and reinstalled it on Firefox 44.0.2 and it worked for me. FF then updated itself to 45.0.1 and it still worked.

What version of FF are you running?

[2016-04-05 12:14] blargity commented on #289
The person that signs them for us has been away for a bit. When he comes back I'll get the latest up.

[2016-04-06 01:11] lese1030 commented on #287
I am using 45.0.1 as well.  I uninstalled it and reinstalled it again and all I have is a blank screen when I click on "open settings."

[2016-04-06 02:27] lese1030 commented on #287
![screen shot 2016-04-05 at 10 27 45 pm](https://cloud.githubusercontent.com/assets/18272917/14304046/8966a848-fb7d-11e5-8980-7df0ef44b671.png)

[2016-04-06 02:28] lese1030 commented on #287
Not sure why it says chrome and I'm using Firefox.  I've checked several times and even looked up the add on through Firefox's add on list and still have the blank screen.

[2016-04-08 05:27] lawrence-dol opened #293 "Income From Last Month Incorrect"
Invents numbers for prior months with no transactions (prior to starting with YNAB), which throws off all subsequent calculations.

[2016-04-08 22:50] lawrence-dol opened #294 "Income from last month counts all deposits, even those not classified (or split) into TBB"
If you make a deposit and not classified as TBB or a split partly classified as TBB it counts that towards "Income From (last-month)". But if it wasn't assigned to TBB it wasn't budgetable income. It may have been a reimbursement, etc.

This loses the ability to ensure that in a given month "Income From" and "Budgeted In" match.

[2016-04-08 23:07] lawrence-dol commented on #293
Duplicate of #234

[2016-04-08 23:07] #293 closed

[2016-04-09 02:21] Geiseku commented on #114
@blargity this can probably be closed now.

[2016-04-09 02:30] Geiseku commented on #115
This works correctly now

[2016-04-09 02:38] Geiseku commented on #116
This all looks good on my screen

[2016-04-09 08:05] blargity commented on #114
Alrighty, in that case feel free to reopen if it starts happening again.

[2016-04-09 08:05] #114 closed

[2016-04-09 08:05] blargity commented on #116
Yup, I think @falkencreative fixed it!

[2016-04-09 08:05] #116 closed

[2016-04-09 08:36] blargity commented on #289
Now that v0.4.5 is out I'll be updating the link directly to the latest. I'll close this issue when it's available.

[2016-04-09 08:39] blargity commented on #287
The 'chrome://' bit is actually normal for Firefox. Could you check for me and see if there's anything in the console on the options page? That might help us figure out what's going on.

To do that, right click, select 'Inspect Element', then select the console tab like this:

![screen shot 2016-04-09 at 6 38 18 pm](https://cloud.githubusercontent.com/assets/1531750/14402775/47d2aa46-fe82-11e5-856

[2016-04-09 08:40] blargity commented on #194
I'm going to go ahead and close this issue. If this is still occurring, definitely let us know.

[2016-04-09 08:40] #194 closed

[2016-04-09 08:41] blargity commented on #189
@radiocolin, could you let me know if this is fixed for you in v0.4.5?

[2016-04-09 08:48] blargity commented on #260
Alrighty, as we haven't heard back I'm going to assume this is fixed. If not definitely let us know!

[2016-04-09 08:48] #260 closed

[2016-04-09 08:49] blargity commented on #115
Great, I'll close the issue then, thanks for following up @Geiseku.

[2016-04-09 08:49] #115 closed

[2016-04-09 08:50] blargity commented on #119
@ChrisTheCat, could you have a look with v0.4.5 and let us know if this is working correctly now?

[2016-04-09 08:52] blargity commented on #157
@nconantj, can you test with v0.4.5 and let us know if this is still happening for you?

[2016-04-09 08:52] blargity commented on #166
I believe this is fixed now.

[2016-04-09 08:52] #166 closed

[2016-04-09 08:54] blargity commented on #262
Great, I'll close then. Thanks!

[2016-04-09 08:54] #262 closed

[2016-04-09 08:54] blargity commented on #202
Alrighty, if anyone else encounters this feel free to re-open.

[2016-04-09 08:54] #202 closed

[2016-04-09 11:13] blargity commented on #256
@dbaldon, I agree. The feature is specifically about showing goals progress. I think we should leave this here and if @egens gets some time to chime in I'd love to hear his point of view.

If that doesn't happen, I'd consider this a bug based on what the settings say and I'd leave it here for anyone to tackle.

[2016-04-09 11:15] blargity commented on #237
Sounds like it could be something about how the specific feature loads in. I'll leave this here and we'll get to it when we get a chance.

[2016-04-09 11:18] blargity commented on #206
I wonder how much of this is weirdness from the direct import feature since YNAB are having so much fun with it themselves. I'll go ahead and leave this here for now. If anyone in the US gets a chance to look at it that'd be awesome.

[2016-04-09 12:51] #220 closed

[2016-04-09 12:55] dbaldon commented on #256
My preference would be to remove the progress bar for upcoming txns altogether. I use the goal indicator feature which shows a 'U' for a category with upcoming txns within the selected month. Once the upcoming txn has been entered, the 'U' is no longer displayed. I like how that works and it is meaningful but not confusing. The coming anf going of the progress bar for upcoming txns is confusing.

[2016-04-09 15:21] kburla opened #295 "Settings that switch backend storage can result in blank dropdowns, which then prevents users from saving their options."
I've enabled the simple pacing indicator as well as goal indicator warning color. Pressing save used to pop up a "saved" overlay prompting to reload YNAB. It's not doing that now and the changes aren't saved on refresh of the settings.

[2016-04-09 15:23] blargity commented on #295
Are you able to see if there's an error in the console on the settings page for me?

You can definitely remove the extension and install it fresh, which will fix the issue, but if you've got a bit of time to get to the bottom of it with me I'd love to know what it actually is so other people don't experience it.

[2016-04-09 15:23] kburla commented on #295
Also, inspector is giving me the error "Cannot read property 'value' of undefined" for this line:

options.js
15: return setKangoSetting(elementId, select.options[select.selectedIndex].value);

[2016-04-09 15:27] kburla commented on #295
Yup, I can help troubleshoot. Should I reinstall? And if so will I need to reconfigure everything?

[2016-04-09 15:30] blargity commented on #295
That's really helpful, thanks!

If we can figure out what's going on before you reinstall that'd be great. (I suspect once you reinstall things will work). Yes, reinstalling will wipe your settings.

Based on what you're saying, it looks like one of the dropdowns might be blank for you. Could you flip through all 3 pages on the settings page and see if any are blank? If there's a blank one, can yo

[2016-04-09 15:32] kburla commented on #295
Ah, yes. "Budget Rows Progress Bars" was blank. I set it back to the 4th option which I had it set to before (don't know why it switched), and everything is saving again.

[2016-04-09 15:34] kburla commented on #295
Also, after I set it back. That dropdown no longer has a blank option (first option is Default).

[2016-04-09 15:34] blargity commented on #295
That's great info, thanks! What happened at some point is a change to how the setting saves its data.

I'll write some code so that it doesn't happen to anyone else and that worst case scenario a setting reverts to default on an upgrade but doesn't stop the page from working.

[2016-04-09 15:35] kburla commented on #295
You guys are awesome and very responsive. Thanks a ton and keep up the great work! :)

[2016-04-09 15:36] blargity commented on #295
Wish we could be this quick on all bugs, just happened to check in before going to bed right when you reported it.

Thanks for using the Toolkit!

[2016-04-09 15:55] #284 closed

[2016-04-09 16:45] falkencreative commented on #259
This fix should take care of this issue.

[2016-04-09 16:55] falkencreative commented on #248
@casner - I'm having some trouble duplicating this issue. When I test, I can select transactions in one account, move to another account, and the "Selected Transactions" text either clears itself (if there are now transactions selected in the current account), or updates appropriately.

The only time when switching accounts seems to keep the selected total values around is if I switch from an acco

[2016-04-09 17:30] falkencreative commented on #224
I've added a fix between the Striped Rows and Reconciled Text Color features. Striped rows will now include reconciled rows. If the Reconciled Text Color feature also changes the background color, it will take precedence. This should make these two features work more logically together in the majority of cases.

https://github.com/toolkit-for-ynab/toolkit-for-ynab/pull/299

[2016-04-09 17:53] falkencreative commented on #244
Just sent a pull request that should fix this issue.

[2016-04-09 18:09] ChrisTheCat commented on #119
Works for me, thanks!

[2016-04-09 18:47] tjf9 opened #301 "Paid in full assistant not working in 0.4.5"
The orange shading when available for payment does not equal the balance is not working.  I have uninstalled and reinstalled the extension with no success.

[2016-04-09 18:48] tjf9 commented on #301
Other features appear to be working fine.

[2016-04-09 20:29] dbaldon commented on #247
@leinhto Can you check if this is still occurring? I just selected txns from both 2015 and 2016 and the calculations were correct. My account was a checking account. In which type of account did you observe the incorrect behavior?

[2016-04-09 20:48] falkencreative commented on #301
At least so far, I haven't been able to duplicate the issue. In my testing in Chrome, I'm not having problems -- it's correctly changing from green to orange to red depending on the amount budgeted.

Do you have any more details beyond the fact that it's "not working"? What browser are you using? Can you post a screenshot? (If you can't attach a file here, in the Extensions section of the forum).

[2016-04-09 21:21] tjf9 commented on #301
Attached are screen shots.  The first one shows that one account (Cigna Amex) is out of balance and is not colored orange.  In the second one, I added a cash back transaction to the Citi Card to throw it out of balance and it also does not change color.  I'm on Chrome too.

I double checked the settings and the PIF Assist is on.  I tried turning it off and saving and restarting, then turning it ba

[2016-04-09 21:27] falkencreative commented on #301
Thanks. I'll look into it. You're probably right -- it's likely some specific combination of settings that you're using.

[2016-04-09 21:32] falkencreative commented on #301
Looks like it's something about the Square Negatives feature -- when that's turned on, I'm no longer getting the credit card warning. I'll work on a fix, and hopefully it'll be included in the next version of the Toolkit.

[2016-04-09 21:37] tjf9 commented on #301
I found a conflict with "Unhighlight all Positive Category Balances" when that is turned on with PIF Assist, the orange color does not show up.  I have the Square Negatives turned on.

[2016-04-09 23:15] leinhto commented on #247
It seems to be working fine now. Thanks.

On Sat, Apr 9, 2016 at 4:29 PM David Baldon <notifications@github.com>
wrote:

--

Thanks and Regards,
Othniel Alexandre

[2016-04-10 00:37] casner commented on #248
Win7x64, Chrome. It seems consistent, and somewhat confusing. Even if I have a line selected, filter out the line, then switch to another account, it is still shown. If I then select another transaction in the new account, they are added. I have sometimes had to open All Accounts, and turn off all filtering to find the selected transaction.

________________________________
From: Benjamin Falk <no

[2016-04-10 01:48] blargity commented on #119
Great, thanks for confirming.

[2016-04-10 01:48] #119 closed

[2016-04-10 01:50] blargity commented on #247
Great, thanks for confirming. I'll close out this issue.

[2016-04-10 01:50] #247 closed

[2016-04-10 01:59] blargity commented on #301
@tjf9 I just pulled in @falkencreative's fix for this. If you're able to, could you test with the current master branch? If not, the next release should happen around the 13th.

[2016-04-10 02:06] #295 closed

[2016-04-10 02:08] blargity commented on #224
Fix is now merged. If anyone can test and confirm with the latest master branch then that'd be awesome. Otherwise the next release will be around the 13th.

[2016-04-10 02:16] blargity commented on #256
Yup, makes sense to me.

[2016-04-10 02:41] tjf9 commented on #301
Figuring out how to install a test version is a bit beyond me.  But I'll check it out once the code is released and let you know if it's not working.

[2016-04-10 02:41] blargity commented on #301
No worries!

[2016-04-10 05:28] Geiseku commented on #224
@blargity looks like @falkencreative's fix is working as intended.

[2016-04-10 05:29] blargity commented on #224
Perfect, I'll close off the issue. If it reoccurs definitely let us know.

[2016-04-10 05:29] #224 closed

[2016-04-10 05:31] Geiseku commented on #244
Still looks pretty random to me when moving between months.

[2016-04-10 05:32] Geiseku commented on #259
All sorted. Thanks @falkencreative

[2016-04-10 05:33] blargity commented on #259
Sweet, I'll close it off then.

[2016-04-10 05:33] #259 closed

[2016-04-10 08:32] blargity commented on #289
Version 0.4.5 is now on this link: http://toolkitforynab.com/safari-updates/toolkitforynab_latest.safariextz so I'll go ahead and close this issue. Enjoy!

[2016-04-10 08:32] #289 closed

[2016-04-10 09:13] falkencreative commented on #244
Just to confirm, are you downloading and building the latest version of the Toolkit? This fix won't work in the publicly released version yet. What browser are you using?

[2016-04-10 09:36] falkencreative commented on #301
@blargity - That fix was for something else, not related to this case. I don't think I'll be able to get to a fix today (taxes to do!) but I'll look into it over the next few days.

[2016-04-10 09:36] Geiseku commented on #244
@falkencreative I downloaded and build the latest master not long before commenting. I'm using Firefox 45.0.1 on Windows 10.

[2016-04-10 09:38] falkencreative commented on #244
OK. I don't have Windows 10 to test on, but I'll check in Firefox.

Do you see this same behavior when opening or closing groups and switching months without the Toolkit enabled? If so, that may be a YNAB browser issue, and something I may not be able to fix unfortunately.

[2016-04-10 09:40] Geiseku commented on #244
Just had a quick play on Chrome 49.0.2623.110 m and I'm getting the same issues.

[2016-04-10 09:45] Geiseku commented on #244
It's actually not random at all. It seems to be clashing with goal progress bars. The categories that appear when changing months with everything collapsed are only those that don't have a goal.
If I turn off progress bars completely, this behaves as expected.

[2016-04-10 09:49] Geiseku commented on #244
@falkencreative Firefox and Chrome are both behaving the same way for me. It also doesn't matter if I switch months, or switch to account view and back, still the same behaviour as in my last post.

[2016-04-10 09:51] falkencreative commented on #244
OK. That makes more sense. Sounds like it really isn't an issue with the expand/collapse feature, but with the goal progress bars.

@egens @dbaldon - I'm not sure which of you is best suited to look at this, but I think it's best that one of you handle this one based on your previous work with the goal progress bars feature.

[2016-04-10 13:07] nconantj commented on #157
It works as expected now.

[2016-04-10 13:07] #157 closed

[2016-04-10 14:44] dbaldon commented on #244
I'll take a look at it.

[2016-04-10 18:00] dbaldon commented on #244
Hmm, I'm not observing the behavior as described. What I see is that the collapsed state is lost when changing months. IOW, if I'm in April and all categories are collapsed and I then move to May or March, all the categories are not displayed. Can someone explain what the expected behavior is? Maybe provide a screen shot or two showing the behavior you're observing.

[2016-04-10 18:13] dbaldon opened #302 "Goal indicator truncated on the bottom."
Here is a screen shot showing the truncation.
![image](https://cloud.githubusercontent.com/assets/11460228/14412024/f859eec4-ff1d-11e5-8fbc-2fc6a6cb2349.png)

[2016-04-10 18:24] falkencreative commented on #302
Quick note -- I have been able to duplicate this issue. I'm not sure why I'm seeing this now, because I thought I thoroughly tested the goal indicator positioning with the different budget row heights... I'll take another look and fix it.

[2016-04-10 22:12] alexmidd commented on #260
Hi there. Yes, sorry for the delay. Have just tested in v0.4.4 and it is now working fine. Thanks for your assistance on this.

[2016-04-10 22:21] dbaldon commented on #302
Glad it's not just me. :)

[2016-04-11 12:49] blargity commented on #189
Alrighty, I'm going to go ahead and close this issue assuming it's fixed. If I'm wrong definitely let us know.

[2016-04-11 12:49] #189 closed

[2016-04-11 12:54] blargity commented on #244
I would assume that on changing months the collapsed categories would stay the way they were, as per the way YNAB works normally when you collapse a category with built in behaviour.

I think @falkencreative did a fix where he switched it to just sending `.click()` events to the master categories, so it should behave that way now I'd guess.

[2016-04-11 12:54] blargity commented on #287
@lese1030 are you still having trouble with this?

[2016-04-11 17:00] sushi512 opened #304 "Pacing no longer appearing"
I'm on Chrome with OS X El Capitan and the Pacing feature has disappeared from the budget screen.

I tried reloading the page, signing out and into YNAB, turning the feature off and back on yet the pacing has disappeared.

Would it be possible to bring it back - it has become one of my favorite features and I've always wondered how come YNAB never had anything like this in the first place.
Thanks

[2016-04-11 20:01] egens commented on #234
As I can see "Total inflows" number doesn't include money that had been transferred to tracking acconts. Income from last month counts them as it should. So they may differ much.

I can't find other wrong behavior mentioned.

One may run this code and investigate "income" variable for the transactions that shouldn't be there so we can add some filters to get rid of them.
[code]

[2016-04-11 20:19] egens commented on #246
@blargity  I could do this, but I'm not able to find out how to filter hidden transactions as I have none of them. :(

@jredders DoB doesn't count outflows from tracking accounts. Am I understand you right that you want it to count them? Why? There was some discussion and we decided to remove them. https://trello.com/c/Jvf53llN/104-days-of-buffering-basic-option

@looknsharp

[2016-04-11 20:29] egens commented on #246
Sorry for absence, guys.

@blargity I could do this, but I'm not able to find out how to filter hidden transactions as I have none of them. :(

@jredders DoB doesn't count outflows from tracking accounts. Am I understand you right that you want it to count them? Why? There was some discussion and we decided to remove them. https://trello.com/c/Jvf53llN/104-days-of-buffering-basic-option

@looknsha

[2016-04-11 23:28] Geiseku commented on #304
Are you referring to the pacing progress bars, or the pacing amount column, or both?
In either case it's still working for me.

[2016-04-11 23:50] Geiseku commented on #244
@dbaldon here's what April currently looks like with everything expanded:
![collapse 1](https://cloud.githubusercontent.com/assets/16808102/14445774/1a5b6c42-008f-11e6-8dcf-8b3202eec8da.png)

I then use the collapse master categories button, and move forward to May. It looks like this:
![collapse 2](https://cloud.githubusercontent.com/assets/16808102/14445775/1a60f946-008f-11e6-8c52-dbe8a4762828.p

[2016-04-12 02:01] jredders commented on #246
@egens no, I don't want outflows from tracking accounts to be counted.  I was trying to figure out why my DOB seems too low.  If I set it to a month, what exact days does it use?  I was trying to export my data from YNAB then filtering it in Excel to try and match the DOB calculated value.  I couldn't figure out how to get it to match.

[2016-04-12 05:51] egens commented on #246
@jredders "all accounts page and selected all outflow transactions in budget accounts within the last month" this should be right if you have no outflow transactions from tracking accounts.

Transactions filtering goes here
[code]

Date filtering set to 1 month gives transactions from [Current time - 365/12 days; Current time] period.

[2016-04-12 09:17] Newguru-1 commented on #301
Paid in full assistant is working for me, but I have to refresh the browser every time I enter a budget, in order for the option to show up (chrome 49.0.2623.112 m, under Windows).

[2016-04-12 13:35] dbaldon commented on #244
Thanks for the additional data. I'll try and look at it tonight.

On Mon, Apr 11, 2016 at 6:50 PM, Geiseku <notifications@github.com> wrote:

[2016-04-12 15:16] dbaldon commented on #244
Which version of the Toolkit are you using? Also, which Toolkit features do you have turned on? Which browser are you using?

Sorry for all the questions but I'm not able to recreate what you describe and in fact see different behavior from what @blargity described as the expected behavior. What I see is that when I move to a different month all the master cats are opened up. I also saw one instan

[2016-04-12 16:10] falkencreative commented on #302
I've submitted a fix: https://github.com/toolkit-for-ynab/toolkit-for-ynab/pull/305

Sorry -- this was totally my fault. I changed the class name on the indicators to add a "toolkit" prefix, and forgot to update the budget row height as well.

[2016-04-12 16:57] falkencreative commented on #301
Both of you -- I've added a fix that hopefully will fix both of your issues. This should be included in our next release.

[2016-04-12 17:03] falkencreative commented on #304
@sushi512 - A little more detail would be helpful to resolve this issue. Like Geiseku said above, are you referring to the pacing progress bars, or the pacing column? What pacing settings are you using? Just to confirm, you're looking in the current month, right?

[2016-04-12 17:20] falkencreative opened #308 "Toolbar Icon in Firefox"
From @Rhei: http://forum.youneedabudget.com/discussion/50229/icon-on-toolbar-firefox

"I've been customizing my toolbar on Firefox, and because I didn't really need the Toolkit icon there all of the time I decided to put it away in the menu.  However, it looks like it comes back everytime I open my laptop back up.  Using a Macbook Pro with OSX 10.11.4 and Firefox 45.0.1.  I haven't noticed this on

[2016-04-12 19:44] egens commented on #270
Seems okay.

@blargity what do you think if I add `el.getAccount().onBudget` to filters for last month income?
[code]

[2016-04-12 22:22] Geiseku commented on #244
@dbaldon I downloaded and built the latest master about 24 hours ago. I'm running Firefox 45.0.2 and Chrome 49.0.2623.112 m (with identical toolkit settings) on Windows 10, and both are showing the same behaviour.

I've listed all my current settings here: [ynab toolkit settings.pdf](https://github.com/toolkit-for-ynab/toolkit-for-ynab/files/216046/ynab.toolkit.settings.pdf)

@blargity any chance

[2016-04-12 22:29] falkencreative commented on #244
@Geiseku If you open the console (https://developer.mozilla.org/en-US/docs/Tools/Web_Console/Opening_the_Web_Console), paste in "ynabToolKit.options" into the command line and hit "Enter", you'll get a text based list of the options.

I wonder if we should have something like this built into a tab in the Toolkit options -- an easy place to access a text-based list of the settings so it can be easi

[2016-04-12 22:35] Rhei commented on #308
So I attempted a few different scenarios  Each was done with the Toolkit and another extension icon placed in the menu of Firefox:

1. The problem is not recreated when I close and re-open Firefox, nor when I manually put the laptop in sleep mode (Apple -> Sleep).
2.     Close the lid (which I assumed was sleep mode as well) and I watched as the Toolkit forced its way back onto my toolbar from the

[2016-04-12 22:46] falkencreative commented on #308
Thanks for the response. This is somewhat of a weird issue, and maybe a side effect of the specific code we're using to generate an extension that can export to Firefox, Chrome and Safari from the same code base. Maybe there's some specific Firefox setting that we don't know about, or it's a known issue that we have no control over.

One way or another, we'll try to look into it.

[2016-04-12 22:58] Rhei commented on #308
Sure thing.  Sorry my first post wasn't all that clear.  I was very tired, and more than a little drunk.

[2016-04-13 00:46] Geiseku commented on #244
@falkencreative thanks for that. I reckon being able to copy these out from the options tab somewhere would be good. A full import/export of settings would be even better.

[2016-04-13 01:50] falkencreative opened #310 "Goal Warning Color Fixes"
Need to make some adjustments to the goal warning color change to ensure that warnings about upcoming transactions don't get overridden by the label color change.

I'll take care of this as soon as I have time.

[2016-04-13 01:53] falkencreative opened #311 "Goal Indicator Fix"
Looks like there is a situation where, if a category has upcoming transactions ("U" indicator) and a goal gets added, multiple stacked indicators will result. Probably should adjust to either combine the indicators (ideally), or make the goal indicator override the upcoming indicator.

I'll handle this as soon as I have time.

[2016-04-13 02:26] dbaldon commented on #244
@Geiseku You can also do this; JSON.stringify(ynabToolKit.options)

[2016-04-13 03:24] dbaldon commented on #244
@Geiseku This appears to be related categories that are individually collapsed and then the toolkit collapse being used. When a category is individually collapsed, YNAB writes a bit if data to "local storage" like this: {"6bebf879-910b-5c06-f65d-fb5747344d76":true} however, when the toolkit collapse is used, the local storage is not updated to reflect that the categories have been collapsed or un-

[2016-04-13 03:27] falkencreative commented on #244
_"This appears to be related categories that are individually collapsed and then the toolkit collapse being used"_
Out of curiosity, is that true even with the updated functionality I put in place recently which calls a click() on each uncollapsed row, rather than manually hiding/showing? My hope was that, since it's using more native functionality, it might cause fewer problems.

[2016-04-13 06:10] Geiseku commented on #244
@dbaldon that doesn't sound like the behaviour I'm seeing.

I've actually turned off the toolkit collapse button and I'm still seeing the same behaviour (after clicking collapse on each master category manually).

To me that says it is entirely an issue with the goal progress bars interfering with the hidden status. Turn off progress bars and everything works properly.

[2016-04-14 03:20] dbaldon commented on #244
I've created a PR that should fix this. I could not test it on Firefox because I haven't been able to figure out to load an unsigned add-on.

[2016-04-14 12:42] falkencreative commented on #244
@dbaldon This might help in the future? https://blog.mozilla.org/addons/2015/12/23/loading-temporary-add-ons/

[2016-04-14 12:57] dbaldon commented on #244
Thanks for the tip. I'll try it out tonight.

On Thu, Apr 14, 2016 at 7:42 AM, Benjamin Falk <notifications@github.com>
wrote:

[2016-04-15 06:20] timroerstroem opened #313 "PIF assist working a bit too well"
I have PIF assist enabled, and one of my credit cards currently has a positive balance. With nothing budgeted towards that credit card and no spending on it, the available amount is 0, as it should be and the balance is some positive number. Ideally, this should leave the available amount grey (or green if there had been activity), but PIF assist is colouring it yellow.

[2016-04-15 13:47] falkencreative commented on #313
This one is a little tricky. Technically, the PIF assist feature provides a warning if the "Available" number doesn't match the account balance, so the functionality is working properly according to the current functionality.

We'll keep this comment in mind though.

[2016-04-15 14:36] rft183 commented on #287
I have the same issue with Firefox 45.02.  There is nothing in the console for me.

[2016-04-15 20:44] crazydog115 opened #314 "Feature request: Privacy mode"
I'd like to see a feature where you can toggle the hiding of all dollar amounts until some control or event, like a hover over the empty area, toggles their visibility. This would make it so when viewing YNAB in a public-y area, you don't have to worry about people seeing exact dollar amounts, if you don't want that to be public information.

[2016-04-16 15:50] dbaldon opened #315 "Toggle Transaction Filters setting is lost when moving between Budget and Account"
When moving back and forth between the budget screen and the account screen the filter setting goes back to what I set using the native filter drop down.

I'm pretty sure I understand why this is occurring. I believe it's the result of the .xxx_account_filter value in the Local Storage area not being updated after clicking the Toolkit's "Scheduled" or "Reconciled" button. The feature as written up

[2016-04-17 03:51] dbaldon commented on #315
Looking at the code a little closer I see where container.filters.set('scheduled',setting_scheduled) is called but what I don't observe is the Local Storage being updated like when I use the native filter dialog. That's what prompted my comments above using the Ember methods.

[2016-04-17 11:46] blargity commented on #313
I'm not sure, but there might be a way to make it more obvious to people. I'll label this as an enhancement.

[2016-04-17 20:54] bluebird8203 opened #316 "Goal progress bar - what % to display (monthly amount or overall)"
In the following screenshot, all the categories have Target Category Balance by Date  goals set.
I have budgeted enough to each category for the month to be on track to reach my goal, usually the next whole $ or nearest $5..
At one time, I thought I had seen that the progress bar would be full if I had reached the monthly target amount needed, but it seems like sometime in the past few weeks to a

[2016-04-18 03:30] StephenBrown2 opened #317 "Income from last month shifts header down over budget"
With the "Income From Last Month" feature on, the header goes down over the rows:

![ynab-2-income-from-last-month-2](https://cloud.githubusercontent.com/assets/1148665/14593092/ce8609ec-04eb-11e6-8704-dae096387abe.png)

With it off for comparison:
![ynab-2-income-from-last-month-1](https://cloud.githubusercontent.com/assets/1148665/14593114/fe51ff64-04eb-11e6-8c76-39aae623fa4b.png)

[2016-04-18 15:52] jukkyrjo opened #321 "Budget Balance to Zero doesn't recognise Budget number format"
Number format set as 123 456,78
Clicking Balance to 0.00 tries to input amounts ten time bigger

[2016-04-19 12:32] dbaldon commented on #316
@bluebird8203 Please click the Edit link in the GOALS area and take a screen shot of the goal settings. Thanks.

[2016-04-19 15:44] falkencreative commented on #257
I've added an adjustment to this feature that should allow you to select multiple items and get the usual right click menu when you click on them. Hope that helps!

[2016-04-20 16:17] rft183 commented on #287
I uninstalled Firefox, deleted any Firefox directories leftover after uninstallation under AppData, and then reinstalled 64-bit Firefox (I have no idea if 32 or 64 was installed before).  After reinstallation, the plugin seems to be working fine.

[2016-04-20 16:40] rft183 commented on #287
It seems that the toolkit is not compatible with the ebates addon.

[2016-04-20 17:46] lese1030 commented on #287
Aha!  I have the ebates addon.  I'll remove that when I get home and see if that fixes the problem!  Thanks!

[2016-04-21 13:02] blargity commented on #287
Would be really interesting to figure out why. Might not be much we can do if ebates is tromping on what we're doing, but certainly worth looking into!

[2016-04-21 13:14] lese1030 commented on #287
I had to uninstall all of my addins to get it to work (OneNote, Evernote, and Ebates).  After that, it works just fine.  Since I'm an online shopper, the eBates addon is important to me so I hope that this can be fixed.

[2016-04-25 04:24] bluebird8203 commented on #316
@dbaldon - here you are.  I've also included the full budget line including the total available in that category.

![image](https://cloud.githubusercontent.com/assets/16366835/14773711/e2ee3b5a-0a6a-11e6-84a0-923aaefb80f7.png)

![image](https://cloud.githubusercontent.com/assets/16366835/14773738/256ab45e-0a6b-11e6-84de-29e97a8a2db8.png)

[2016-04-25 06:00] #314 closed

[2016-04-25 10:41] blargity commented on #321
Thanks for the report, we'll have a look!

Note for someone in the future, are we using this on this feature:
[code]

[2016-04-25 10:45] blargity commented on #317
When I was tackling a similar bug on the resizeable inspector feature I made good use of the CSS calc() trick.

https://github.com/toolkit-for-ynab/toolkit-for-ynab/blob/master/source/common/res/features/resize-inspector/main.css#L4

[2016-04-25 11:30] blargity commented on #311
Can this be closed now that #318 was merged?

[2016-04-25 11:31] blargity commented on #310
Can this be closed now that #318 is merged?

[2016-04-25 11:47] blargity commented on #316
There's two sides to this:

- You're looking at one month. It's quite possible that you'd expect to see a progress bar for just that month. The downside to this is your progress bars will probably just be 0%, then you'll budget and then they'll be 100%. That's not particularly useful.
- So that leads me to side with it's probably best if it's showing the overall goal amount for the entire goal you

[2016-04-25 13:13] falkencreative commented on #310
Yes, it can.

[2016-04-25 13:13] falkencreative commented on #311
Yes it can.

[2016-04-25 13:32] dbaldon commented on #316
Based on your original post, you're viewing these as monthly goals. If you change the type to be "Monthly Funding Goal" I suspect you'll see the behavior you expect.

I agree with @blargity that this feature is working correctly. That said, recent changes have changed the behavior a bit. Another thing, I have the "Add Goals Indication" feature turned on so I can easily tell what type of goal I hav

[2016-04-25 23:39] bluebird8203 commented on #316
Changing the goal to a monthly funding amount isn't as useful when you want a set amount by a certain date.  Looking at the goal indicator types, I would see an M whether I chose a monthly funding goal or the target by date.  If they're alike via indicator, shouldn't they be alike this way too?

When I see the current progress bars, it leads me to believe that I need to budget more this month, whe

[2016-04-26 03:24] dbaldon commented on #316
Target By Date and Target Category Balance should have an indicator of T
and Monthly Funding Goal should have an indicator of M. I don't remember it
displaying as you've described and that wouldn't make sense to me. I see
what you're saying but I think that is more confusing. Of course these
things always vary between individuals.

On my monthly goals I get a message like this "Budget $50.00 more

[2016-04-26 20:41] bluebird8203 commented on #316
I understand your point of view as well, so I think I'll have to turn off this feature.

if the goal indicators are working as you are stating above - then the toolkit settings page needs to be adjusted.  It currently reads as per below:

Add Goals Indication
Add goal indicators for subcategories with goals. Types: (M)onthly goal or target by date, (T)arget without date, and (U)pcoming transaction

[2016-04-27 11:21] dbaldon commented on #316
@egens could you please take a look at this issues? @bluebird8203 opened it regarding changes in how the progress bars are displayed. There is a secondary issue with the Goals Indicator. I'm pretty certain that some of the changes I've made in the feature are the cause of what has been reported. To me the question is; should the progress bar for a TBD goal be the % of the overall goal (what it's d

[2016-04-28 00:30] bluebird8203 commented on #316
@dbaldon - yes, I'll open another issue.

[2016-04-28 00:35] bluebird8203 opened #326 "Goal indicators - don't match setting page."
Per the settings page:

Add goal indicators for subcategories with goals. Types: (M)onthly goal or target by date, (T)arget without date, and (U)pcoming transactions.

My budget is showing the target by date goal with a T indicator.

![image](https://cloud.githubusercontent.com/assets/16366835/14872127/8514972a-0ca6-11e6-9b15-96ff1be6672b.png)

![image](https://cloud.githubusercontent.com/assets/1

[2016-05-01 21:57] dbaldon commented on #315
Adding a call to container.filters.applyFilters(); after setting the reconciled or scheduled attributes fixes the problem of local storage not being updated. Adding that call means I see local storage being updated and the filter settings are retained when moving between the budget and account. To be explicit the toggleReconciled() and toggleScheduled() functions are being called when I click of t

[2016-05-03 08:33] cassava commented on #308
I also have this problem: On Linux and Windows. Removing the icon, or customizing it out of the toolbar, then closing Firefox and starting again causes it to appear in the toolbar again. It seems to me that the extension is not causing any entry to be put into `about:config//browser.uiCustomization.state` variable. Perhaps that has something to do with it?

Based on my small amount of looking, it

[2016-05-05 02:54] dbaldon commented on #326
Fixed in PR #327

[2016-05-05 02:55] dbaldon commented on #315
PR #327 created which is a partial fix. I left the call to applyFilters() in knowing that the filter buttons stop working IF the user sets the filters using the dialog.

[2016-05-05 02:56] dbaldon commented on #302
Confirming that this is corrected with PR #305

[2016-05-05 14:06] blargity commented on #302
Great, I'll go ahead and close.

[2016-05-05 14:06] #302 closed

[2016-05-06 18:05] StephenBrown2 commented on #317
Height is only part of the problem.

I fixed it by adjusting the padding-top of .budget-content to 9em instead of 8em:
https://github.com/toolkit-for-ynab/toolkit-for-ynab/blob/master/source/common/res/features/resize-inspector/main.css#L10

Which may have been renamed at some point?

[2016-05-09 21:42] caleadfooter opened #328 "Chrome Toolkit Don't Work"
Hi, I use Chrome to work with nYNAB. I have been noticing the toolkit don't work. I have to do hard refresh at start of each nYNAB session.

[2016-05-10 11:19] blargity commented on #328
Hi there,

Sorry to hear it's not working for you!

When you say hard refresh, what do you mean exactly, clicking the refresh button in the address bar? Restarting your computer? Once you do that, does the toolkit work for you? Is it a particular feature that needs a refresh to work or is it all of them?

My generic "weird stuff is happening" first step is to try:
- Uninstalling the toolkit, quitt

[2016-05-13 15:04] malvim opened #329 "getVisibleTransactions fails when account has no transactions"
Hi,

In trying to write a small addition to toolkit-for-ynab, I stumbled across this error when you have an account with no transactions (I know, not likely, but still):

`ynabToolKit.shared.getVisibleTransactions(accountId)` fails in this line:

`visibleTransactions = transactions.filter(...` , because `transactions` is null.

It seems `ynab.YNABSharedLib.getBudgetViewModel_AllAccountTransactions

[2016-05-15 09:09] blargity commented on #329
That's cool, thanks for flagging it and supplying a fix!

[2016-05-15 09:09] #329 closed

[2016-05-17 22:59] MikeBishop commented on #313
I'll second this.  If your card balance goes positive, then the category is overspent (red).  If you fix the overspending by budgeting the "new money" back to the category, then it's yellow (balance doesn't match).

Simple fix seems like you could make sure it matches the lesser of zero or the account balance.  (I.e. if the balance is positive, the balance should be zero.)

[2016-05-18 23:00] malvim opened #331 "Wrong links in README.md (and possibly HOW_TO_BUILD_FEATURES.md)"
Hi,

Just noticed that, in README.md, links to the docs (`HOW_TO_BUILD_FEATURES.md`) are incorrectly pointing to `/src/common...` instead of the new structure `/source/common...`.

Also, all links in the docs currently point to the "old" repo (/blargity/toolkit-for-ynab) instead of the new /toolkit-for-ynab/toolkit-for-ynab repo.

I'm providing a pull-request to fix the links.

(Also, THANK YOU TH

[2016-05-19 10:46] #331 closed

[2016-05-19 10:46] blargity commented on #328
@caleadfooter were you able to get it working?

[2016-05-21 20:13] mglaman commented on #328
FWIW: Version 50.0.2661.102 (64-bit), just installed and no problems, aside for forgetting to click save at first ;)

[2016-05-23 18:50] falkencreative commented on #287
Additional issues with Firefox showing a blank settings page: http://forum.youneedabudget.com/discussion/50853/firefox-0-4-5-settings-not-showing

[2016-05-25 21:47] shanep2300 opened #334 "Hidden pacing still shows progress bar"
On some categories it's removed, on others it's not.

Chrome: Version 51.0.2704.63 m

![image](https://cloud.githubusercontent.com/assets/16820289/15557406/c302cb50-22a0-11e6-8084-7c9a3829de19.png)

[2016-05-26 15:15] aribroo opened #335 "Sum selected transactions no longer works"
I've tried this in firefox, chrome, and safari on both my personal (OS X) computer and my work (windows 7) computer. The rest of the extension is working as advertised, but not the "sum selected transactions" option. See attached screenshot. I select transactions - one or multiple - and nothing happens. In the past, this has worked.
![screen shot 2016-05-26 at 11 08 33 am](https://cloud.githubuser

[2016-05-31 06:13] joelbeckham opened #336 "contextmenu event handler gets attached repeatedly"
Thanks for your hard work on this extension! I appreciate it.

It seems that scrolling keeps attaching contextmenu event handlers to .ynab-grid and eventually slows the app down.

I think it might be here in /res/features/right-click-to-edit/main.js:

[code]

You can quickly see the number of attached handlers with this:
```jQuery._data( $('.ynab-grid')[0], "events" );```

Scroll a bit and check a

[2016-05-31 16:28] aubreeroney opened #337 "Paid in full credit card assist not working"
My credit card category balances dont match my account balances, but they are not highlighting in yellow.
![screen_shot_2016-05-27_at_11_32_53_am](https://cloud.githubusercontent.com/assets/19614052/15682355/1535c894-2712-11e6-87bb-98ae15d838ad.png)
![screen_shot_2016-05-27_at_11_33_04_am](https://cloud.githubusercontent.com/assets/19614052/15682354/1534f1c6-2712-11e6-9c0e-9d91e9b07af6.png)

[2016-06-03 15:54] Wags391 opened #338 "Not Working: "Show the Total of Selected Transactions""
I'm using Chrome Version 51.0.2704.63 (64-bit). The "Show the Total of Selected Transactions" option in the toolkit is not working for me.  It has in the past. Any known issues?

[2016-06-04 08:23] kimifoud opened #339 "Toolkit does not work after switching to different budget"
The toolkit does not handle switching to another budget. The bug seems to affect all features that rely on budget data but not the visual ones eg. Report button.
For example, the goal and pacing markers do not appear on the budget that is opened second.

Tested on chrome 50.0.2661.102 and 51.0.2704.79

[2016-06-04 08:30] kimifoud commented on #339
50.0.2661.102

[2016-06-05 19:54] yshavit opened #340 "automatically clear cash transactions"
One of the YNAB account types is cash (I'm not sure if this is anything more formal than having an account that's named "Cash' and not hooked up to any online account). When I enter in a cash transaction, there's nothing else to do -- I don't need to wait for it to appear anywhere on an account, for instance. So my cash transactions are always cleared, pretty much by definition -- and yet I still

[2016-06-06 02:43] ovrtq opened #341 "Pacing calculated wrong for simple indicator"
It appears that the simple indicator is not calculating the pace correctly. If, for instance, it's the 5th of the month, it compares your activity against where it should be after 4 days.

The progress bar calculates pace correctly.

[2016-06-06 12:22] blargity commented on #336
Thanks so much for the report. We've all been off doing other things for a while, but we'll get back into this shortly. It should be as simple as setting a flag in the Right Click to Edit feature code to only attach on invoke if it's not already there.

We'll get to it soon!

[2016-06-06 12:23] blargity commented on #337
Thank you for this report. We've all been off doing other things for a bit but we'll get back to this soon.

[2016-06-06 12:24] blargity commented on #338
Nope, none that we know of. It might have been broken in a recent YNAB update.

We've all been off doing other things for a bit but we'll be back in soon and will have a look. Thank you for letting us know!

[2016-06-06 12:25] blargity commented on #339
The features should all be configured to re-attach when you switch budgets. I'm assuming that refreshing the window fixes it for you?

If so, could you let me know which features specifically don't work for you? Is it just the goal and pacing markers or is it more than that?

Thanks for letting us know!

[2016-06-06 12:27] blargity commented on #340
I think some people use the cleared flag on cash accounts for other purposes, but I would argue that most of those can be handled with Flags anyway. I agree with you. This is definitely a feature request and will need to go over to our roadmap Trello board when one of us gets a chance.

[2016-06-06 12:29] blargity commented on #341
Thank you for letting us know, and yes, that's definitely odd. Out of previous experience with these kinds of things, what timezone are you in? We've had issues where a feature was built by someone in a UTC+something timezone (cough ME cough) that then doesn't work as expected for people in a UTC-something timezone (cough USA cough).

[2016-06-06 13:28] kimifoud commented on #339
Yes, refreshing the window fixes the issue.
Features affected by the issue:
- Add Goals Indication
- Budget Rows Progress Bars
- Budget Balance to Zero
- Goal Indicator Warning Color
- Remove Zero and Negative Categories When Covering Over-Budgeting (this feature does not seem to work at all, actually)

[2016-06-06 13:30] ovrtq commented on #341
I'm in Central US time zone. The progress bar works as it should though. It seems they may be calculated separately, as are inconsistent with each other.

[2016-06-06 13:53] kimifoud commented on #338
This bug seems to be related to the "Reconciled Transaction Buttons" feature. I can confirm that the calculation does not work for reconciled or future transactions if the transactions are made visible with the quick toggle buttons. However, the calculation works for the same rows if the built-in Filter-menu is used instead of the toolkit toggle buttons.

[2016-06-06 14:33] Wags391 commented on #338
My original post was for Mac OSX El Capitan, 64 bit.

Just used Chrome Version 50.0.2661.102 m on Windows 7 32 bit and it is working (After I deselected and reselected in Toolkit). I updated Chrome to Version 51.0.2704.79 m, and it still worked.

However, it stopped working. It seems to be intermittent on Windows. It won't work on some accounts and works for a minute on others, but as I switch bet

[2016-06-07 14:35] Wags391 commented on #338
I tried again with the original system, OS X El Capitan, Chrome Version 51.0.2704.63 (64-bit). I could not get it to work at all.

[2016-06-11 22:30] MikeBishop opened #345 "Flagging pending import transactions persists after import disabled"
- Turn on feature to indicate number of transactions awaiting import
- Wait for an account to have transactions pending import and the indicator showing
- On an account with pending import transactions, disconnect the account from the bank in the account details page

Note that the "Import (N)" disappears from the account page (YNAB's UI), but the number next to the account name in the account lis

[2016-06-13 19:30] caleadfooter commented on #328
Sorry for late response, no it does not work with Chrome 64-bit 51.0.2704.84 m unless I do a hard refresh (CTRL-F5) and it works.

The addons I use:
-Google Cast
-Google Docs Quick Create
-Dropbox for Gmail
-Adblock Plus

[2016-06-13 20:21] #315 closed

[2016-06-13 20:21] #338 closed

[2016-06-16 05:20] yshavit opened #346 "suggestion: pacing for only some groups"
I have a few groups in my budget (I think almost none being the stock ones that it started with), but my  "top level" division in the hierarchy (for my mental model of the groups) are whether the spending is (a) constant, like phone bills; (b) discretionary on a monthly basis, like grocery bills; or (c) long-term planning, like for a vacation (and I include in here things like heating bills, which

[2016-06-17 16:55] threehappypenguins commented on #272
I'm having the same issue!!!

[2016-06-19 00:20] kennyeni opened #347 "suggestion: swap description and payee info"
Hey,

I have been having trouble when autoimporting data from my bank website to YNAB when using their automatic syncing, as the description and payee is always wrong, making me swap both fields manually... which takes a long time.
Long story short, YNAB is unable to fix this as some users of the bank are reporting correct ordering, and others are swapped like me... so I'm wondering if there's a w

[2016-06-19 18:16] dbaldon commented on #347
I seriously doubt this can be done. This add-on can really only work with rendered data (what is shown in the browser). The import is adding data to the "data store" on the YNAB servers before it is rendered. While the add-on can read the data it cannot add any data. YNAB could do it but I'm certain right now it'd be a low priority. There are too many other things they really need to fix that woul

[2016-06-22 19:42] shama opened #349 "YNAB Upgraded to Ember 1.13"
Hey! We just upgraded Ember to 1.13 and noticed some errors in our logs related to the `import-notifications`:

[code]

I believe it's because `Ember.View.views` is no longer a valid way to access a view, so [this line](https://github.com/toolkit-for-ynab/toolkit-for-ynab/blob/master/source/common/res/features/import-notification/main.js#L7) fails.

I can help look into some fixes but wanted to gi

[2016-06-22 20:23] shama commented on #349
Something like this might work as a hot fix (but it is still using private APIs so it is subject to break on updates):

[code]

Although for that specific feature, getting the accounts from the shared library directly might be more future proof (but that API is considered private as well, so is also subject to change):

[code]

[2016-06-23 01:05] falkencreative commented on #349
Appreciate the comments! We'll have to look at fixing this.

[2016-06-23 08:11] StoltePer commented on #335
I can confirm this. It seems to be related to changing account. When YNAB is reloaded it works again. I might need to move around the accounts a few times - but it do stop to work. Also, it seems to be the SAME accounts that make it stop working. If I reload and having one of those open the function won't work no matter what. I can't find any other pattern.

[2016-06-23 14:24] CobraA1 commented on #349
I've noticed that Toolkit for YNAB on Chrome doesn't function at all with this change.

[2016-06-23 14:30] falkencreative commented on #349
@CobraA1 - It depends on the features you have enabled, but yes, without a fix in place there is the potential for the Toolkit to not work at all. We're working on it.

[2016-06-23 15:20] amswitzer commented on #349
I"m sure this has been reported, but since the upgrade to YNAB, I'm asked to refresh my browser after doing any transaction.
![unnamed image 3](https://cloud.githubusercontent.com/assets/20112567/16308776/503247ae-3934-11e6-9492-79b034aa28d2.png)

I've had to disable the extension in order to continue to work in YNAB without having to refresh after every transaction.

[2016-06-23 16:12] joshmadewell commented on #349
@amswitzer are you able to pull down the branch I just made to see if it resolved your issue?

[2016-06-23 16:17] amswitzer commented on #349
Sorry - I have no idea how to do that. Can you guide me through it?

[2016-06-23 16:20] falkencreative commented on #349
@amswitzer - You're just a regular YNAB forum user, not a Toolkit developer, right? Just double checking.

@joshmadewell - We probably should test this internally first, just so we don't need to worry about having non-technical users try to figure out accessing Github, building the plugin, etc.

[2016-06-23 16:21] falkencreative commented on #349
@joshmadewell - I'll look into testing this later today.

[2016-06-23 16:21] amswitzer commented on #349
@falkencreative: Yup. I was just trying to be a good user by reporting the bug and when I clicked on the "Report a Bug" option in the extension, it took me here.

[2016-06-23 16:23] harleypig commented on #349
@joshmadewell It worked for me, but I didn't do any extensive testing.

[2016-06-23 16:24] joshmadewell commented on #349
@amswitzer You did great :D

Unfortunately, I just switched to nYNAB and I'm not a user of the import feature so I can't actually test that.

@falkencreative I definitely think this needs to go through some thorough testing but I have most feature enabled in YNAB Toolkit and I went from having about 2-3 working to all of the ones enabled working so it definitely passed the eye test ;)

[2016-06-23 23:55] Bordermancer opened #351 "Goals Progress Bars and T, U indications not showing on Budget screen"
goals progress bars missing on Budget screen. I'm running Toolkit 0.4.5. and Firefox 47.0. This feature has been working great but just noticed the problem today.

[2016-06-24 01:40] harleypig commented on #351
This is probably related to #349

[2016-06-24 03:28] r-squared commented on #349
@joshmadewell I had the same problem as @amswitzer, and it wasn't just on import. Any change on an account screen that required a save (import, accept, edit) would give me that refresh warning.

I pulled down and built the latest from main before I realized you meant you'd forked and fixed stuff, but oddly enough whatever's already out there for 0.4.6 seems to have fixed the problem. I even switch

[2016-06-24 03:31] joshmadewell commented on #351
This is related to #349 and is resolved with my current PR #350

[2016-06-24 03:31] amswitzer commented on #349
Just to be clear, I experienced this issue with an transaction and not just
importing.

On Thu, Jun 23, 2016, 11:28 PM r-squared <notifications@github.com> wrote:

[2016-06-24 03:38] joshmadewell commented on #349
@r-squared I was working of master so maybe that's why I'm not seeing the issue, could you provide me steps to reproduce? I tried changing transaction amounts, clearing/unclearing, reconciling the account and I can't seem to reproduce the problem. :(

[2016-06-24 03:41] r-squared commented on #349
@joshmadewell, all of those will reproduce the issue for me, but only with the version on the Chrome Web Store. I just pulled down and built 0.4.5 and I can't reproduce there. I'm not sure what the difference would be, other than I have a slightly older version of node.

[2016-06-24 03:43] joshmadewell commented on #349
Well that's inconvenient :(

We might need some Toolkit members to look into that since I'm not able to deploy an actual update. I'll try pulling the version from the Chrome Store and see if the error is related to the fix that I made...

[2016-06-24 12:07] dbaldon commented on #349
As far as I know @blargity is the only one who can publish a new build of the extension. He's been quite busy with some personal issues but hopefully he'll see this Issue and take care of it.

[2016-06-24 12:38] r-squared commented on #349
Note to self, don't try testing just before bed... Going back and being a little more methodical with trying settings, I found I can reproduce in both locally built copies (0.4.5 and latest master) just by turning on the Show Import Notifications in Sidebar setting.

And now that that's out of the way, I can also confirm that @joshmadewell's hotfix-accessingEmberViews branch does indeed fix the pr

[2016-06-24 15:20] signorecello opened #352 "Pacing disappeared"
Hi!

Don't know if it is related to #349 or #351 but my pacing has just disappeared. It's undoubtely the feature I use the most, and I'm actually a bit lost without it!

I tried to understand those threads but it's just too much for my tiny brain. How can I implement that "hot fix" you mentioned?

Thank you!

[2016-06-24 16:50] falkencreative commented on #352
Sorry you're having issues. YNAB released an update recently that broke compatibility with some things that the Toolkit relied on, leading to some features not working, or the dreaded "please refresh" error popup.

Don't worry about the hotfix -- that's something we are discussing internally. We're working on a fix, and will release an updated version that corrects these issues as soon as we can.

[2016-06-24 16:56] falkencreative commented on #349
I've spent a little time with the hotfix, and as far as I can tell, it fixes at least the biggest issues (the main one I'm worried about is the popup "please refresh your browser" message). Nearly everything seems to be working for me, and I'm not getting any error popups. I did notice an issue with the coloring of reconciled transaction rows, but I think that likely is separate from this specific

[2016-06-24 17:36] signorecello commented on #352
Ok, thank you very very much :-) You're making my YNAB experience so much better!

[2016-06-26 11:23] StoltePer opened #354 "Confirmation gives refresh request"
Uh-oh!
Something has gone wrong likely having to do with internets and tubes. Refresh your browser to get back in business.

![image](https://cloud.githubusercontent.com/assets/20105827/16361970/28faba6c-3ba1-11e6-8a91-1385cf9b73d2.png)

[2016-06-26 14:03] MorithK commented on #354
Same problem here.

[2016-06-26 14:44] dbaldon commented on #354
This is likely related Issue #349 for which a fix has been identified. It will be available at some point. Not sure when.

[2016-06-26 14:59] blargity commented on #349
Sorry for the silence everyone, I plan to cut a release tomorrow! Thank you for the hard work on this!

[2016-06-26 15:44] alexmidd opened #355 "Current Month Indicator not working on Safari with v0.4.5"
The current month indicator does not appear to be lighting up for June, since sometime at the end of last week. Maybe it's suffering from Brexititis or something. I am using version 0.4.3 of the extension in Safari v9.1.1, Mac OS 10.11.5.

[2016-06-26 18:00] kimifoud commented on #351
@joshmadewell I've pulled and built your PR, but the goal indicators are still not working as expected. They do show up, but they're not right. Ie. Target goal shows up as M and there's no progress bar for any Upcoming transactions either.

[2016-06-26 18:00] falkencreative commented on #349
@blargity - Thanks for the follow up -- glad to hear it.

[2016-06-26 18:07] joshmadewell commented on #351
@kimifoud did you reload the plugin after you built? My target/monthly goals are showing up properly. What browser are you using?

[2016-06-26 18:13] kimifoud commented on #351
@joshmadewell sure did reload, the goal indicators didn't show up at all before the custom build. Chrome 51.0.2704.103 (64-bit). I'll try to investigate further.

[2016-06-26 18:24] joshmadewell commented on #351
Just as a note: Target by Date shows up as 'M'

The only ones that show up as 'T' are Target Balance Goals

[code]

[2016-06-26 18:25] kimifoud commented on #351
Yeah you're right, my bad. The goal indicators (M/U/T) do work as expected.

However, the progress bar is not shown for upcoming transactions (no goal set). I'm pretty sure it used to show up for that one too - or am I mistaken here, too? 😃

[2016-06-26 18:37] joshmadewell commented on #351
I didn't use that feature before the toolkit broke with the update so I can't speak to whether or not it was working for the upcoming transactions but according to [the code](https://github.com/toolkit-for-ynab/toolkit-for-ynab/blob/master/source/common/res/features/budget-progress-bars/main.js#L58) it looks like it was commented out and I can't find any history for a time that it wasn't.

[2016-06-26 18:45] kimifoud commented on #351
Looks like your PR is solid. Sorry for the trouble!

[2016-06-27 01:04] blargity commented on #349
Release 0.4.6 is now out. It looks to me like it fixes this issue, but let me know if I'm wrong. 👍

[2016-06-27 01:05] blargity commented on #354
I believe 0.4.6 will fix this issue for you. Let me know if that's not the case.

[2016-06-27 02:15] Geiseku commented on #355
Works for me in the latest master

[2016-06-27 02:16] Geiseku commented on #352
Pacing is back for me with the latest master. Looks like the fix is working properly.

[2016-06-27 02:23] Geiseku commented on #272
This seems to be working fine for me in the latest master.

[2016-06-27 02:42] PteDefcon opened #357 "Zero budget out"
Not sure if directly correlated to recent YNAB update, but the zero-out function no longer works. I had this issue before and it just required that I turn on and off the function then reload. I tried that again this time and the option doesn't show up in the inspector.

Thanks for all your help guys!

[2016-06-27 07:16] alexmidd commented on #355
OK, what does that mean?

Alex
On 27 Jun 2016 03:15, "Geiseku" <notifications@github.com> wrote:

[2016-06-27 07:58] blargity commented on #352
Awesome! I'll go ahead and close this for now, feel free to open another issue if you notice anything else that's broken. This wasn't the only victim.

[2016-06-27 07:58] #352 closed

[2016-06-27 07:58] blargity commented on #357
Quite possibly related to the latest update. One of us will have a look ASAP and get to the bottom of it.

[2016-06-27 07:59] blargity commented on #355
@alexmidd sorry for the geek speak.

It means we've fixed the code and someone else has verified it works, and was just waiting to be released. That fix got released this morning in 0.4.6. Does using that version fix it up for you?

[2016-06-27 08:00] blargity commented on #349
Alrighty, after a few confirmations that the crashes at least are fixed with the hotfix I'm going to go ahead and close this issue so we can track other issues individually. Thank you again @shama for your help!

[2016-06-27 08:00] #349 closed

[2016-06-27 08:02] blargity commented on #351
Alrighty, now that that's been merged and released I'll go ahead and close this issue. If you encounter any other update related weirdness, please don't hesitate to let us know in a new issue.

[2016-06-27 08:02] #351 closed

[2016-06-27 08:06] blargity commented on #347
The only way for the extension to do this would be a pretty unreliable thing. What YNAB *can* do is create a setting on the account for whether you want description and payee to be swapped. I'd suggest that this might be able to be accessed via the edit account options and button.

But unfortunately this is a feature that just won't work well in extension land. I'm going to go ahead and close it a

[2016-06-27 08:06] #347 closed

[2016-06-27 08:08] blargity commented on #346
If you're talking about showing pacing via the progress bars feature, you can click on the progress bars to activate and deactivate them per category, allowing you to do what I think you want to do. Does that help?

[2016-06-27 08:09] blargity commented on #328
Ok, we'll have to have a look and see what might be stopping it from loading. That's really odd. Thank you for getting back to me though.

[2016-06-27 08:13] alexmidd commented on #355
OK, thanks Kevin. I will  check later when I get home.

Alex
On 27 Jun 2016 08:59, "Kevin Brown" <notifications@github.com> wrote:

[2016-06-27 08:25] blargity commented on #287
For anyone that stumbles upon this in the future, it looks like there may be conflicts with other add ons running at the same time. Ebates in particular has been confirmed to cause issues. Try disabling your other add ons one at a time and comment below if you find a new one that conflicts. We'll have a look when we get around to it!

[2016-06-27 13:22] glowtape opened #359 "Suggestion: Allow exclusion of at least one category group from Days of Buffering calculation."
I'd wager a lot of people have savings categories for larger expenses, and these may influence the Days of Buffering calculations in an undesired way, making the values a little meaningless, depending on how much money has been amassed. It'd be nice if you could select at least one category group, like your Savings group or whatever else may apply to other people, and then chose whether to exclude

[2016-06-27 14:37] joshmadewell opened #361 "Ember Update Broke Change Enter Key Behavior"
via Digitalwolf (forums)

I'm having an issue where the setting for changing the behavior of the enter key.  It was working before the Ember update, but now, even with the option turned on, the enter button does save and add another.  Is this something being looked at?

This is a great extension and I appreciate it still being fixed.

[2016-06-27 14:48] yshavit commented on #346
I was actually talking about the circles, not progress bar -- but it's a similar problem.

Deactivating them does help, with three caveats

1. I _think_ I've seen them re-activate later (though it could just be I was using a different computer and the settings didn't sync -- I forget :) ).
2. It's be nice to hide them completely (to reduce visual clutter), not just gray them out.
3. It'd be nice t

[2016-06-27 15:16] joshmadewell commented on #361
Doesn't seem to be related to the Ember Update -- it appears that the add-rows div is always on the page  now so we can't check for that to determine if we should apply the change.

I'm working on a fix right now for this.

[2016-06-27 16:03] alexmidd commented on #355
Hi, I have updated it to the latest version of the Safari extension, which
seems to be v0.4.5, but the current month indicator is still not working.

On 27 June 2016 at 09:13, Alex Middleton <alexmidd@gmail.com> wrote:

--
Alex Middleton

[2016-06-27 16:13] caleadfooter commented on #328
Now with new updates pushed to nYNAB, this toolkit is breaking more. Lots of options do not work now.

[2016-06-27 16:17] joshmadewell commented on #328
@caleadfooter what version of the toolkit are you using? Our release yesterday (v0.4.6) should have fixed _a lot_ of the issues we were seeing but there may still be more. Could you be more specific as to what you're seeing?

[2016-06-27 19:51] caleadfooter commented on #328
Was using 0.45.  then I force updated it to 0.46. Same issue. I had to remove some extensions like Google Docs Quick Create and Dropbox for Gmail. It seemed to fix the issue.

[2016-06-27 20:32] joshmadewell commented on #328
You should have only had to logout/login (as per some users in the forums). Could you try re-installing the other plugins and make sure it's still working?

[2016-06-27 22:03] caleadfooter commented on #328
Same issue even with logging in/out, it was showing vanilla nYNAB.  I hardly use those extensions anyway and I can live without them because I cannot work nYNAB without this toolkit! :)

[2016-06-27 23:35] Geiseku opened #364 "Reconciled Text Colour not working"
The Reconciled Text Colour setting is having no effect for me regardless of what setting I choose. I'll do some investigating with the console and see what's going on.

[2016-06-27 23:56] joshmadewell commented on #364
@Geiseku I think I found the issue.

Since 'use strict' is in the `main.js` file for this plugin, we're failing on line 17/18 setting an undeclared variable.

I think we might need to look into JSCS rules or maybe even consider using eslint to catch these issues. I can make a PR that fixes this unless you would rather?

[2016-06-28 00:31] Geiseku commented on #364
Go for it.

[2016-06-28 10:41] #257 closed

[2016-06-28 10:49] blargity commented on #361
I believe this one is now fixed in master and is just waiting on the next release.

[2016-06-28 10:49] blargity commented on #357
I think this is now fixed in the master branch. If you're able to test that it resolves your issue there then great, if not I should be able to do another release later this week with this in it.

[2016-06-28 12:10] devinhedge opened #367 "Chrome 0.4.6 - Accounts disappear upon collapse of sidebar"
Steps to recreate:
1. Enable Sidebar collapse
2. Go to Budget Tab
3. Collapse Sidebar
4. Click on Accounts
5. Account list is blank

See attached Screencast.

NOTE: refreshing the page brings back the account list.
[YNAB Extension Bug-HD 1080p.mov.zip](https://github.com/toolkit-for-ynab/toolkit-for-ynab/files/336958/YNAB.Extension.Bug-HD.1080p.mov.zip)

[2016-06-29 13:02] PteDefcon commented on #357
Compiled and tested; it works!

[2016-06-30 01:54] joshmadewell commented on #310
@blargity close this?

[2016-06-30 01:54] joshmadewell commented on #311
@blargity close this?

[2016-06-30 01:57] joshmadewell commented on #328
I've tried reproducing this by install all the same extensions and I'm not having any issues. Not sure what to do to reproduce this bug.

[2016-06-30 11:05] blargity commented on #367
Thank you, looks like this was introduced when YNAB upgraded to the latest Ember.

[2016-06-30 12:03] signorecello opened #370 "Pacing disappeared - Again"
Hi!

The fix you launched in 0.4.6 was great! But my pacing disappeared again. I noticed though that Budget Rows Progress Bars showing pacing works now (it also stopped working when I started the #352 issue).

I can attach some printscreens if needed :)

Thank you very very much!

[2016-07-01 17:46] joshmadewell commented on #326
@blargity close this?

[2016-07-01 17:46] joshmadewell commented on #316
@bluebird8203 Are we cool to have this one closed?

[2016-07-01 17:52] joshmadewell commented on #336
@blargity close this?

[2016-07-01 17:57] joshmadewell commented on #335
This is most likely related to #339

@aribroo Can you confirm whether this is after switching budgets or not?

[2016-07-01 18:21] joshmadewell commented on #337
@aubreeroney are you still having this issue? Does the feature ever work for you?

[2016-07-01 20:05] aribroo commented on #335
@joshmadewell Definitely not after switching budgets, I only have one. Could be after switching accounts, I can't figure out a pattern though, if so.

[2016-07-01 21:19] joshmadewell commented on #335
@aribroo does the feature _never_ work for you or is it a "hit or miss" kind of deal?

[2016-07-01 21:28] aribroo commented on #335
@joshmadewell It’s hit or miss. Maybe works 15% of the time, rough estimate.

[2016-07-02 00:05] joshmadewell commented on #335
@aribroo Alright man, I finally found *something* that reproduces this and I've fixed it.

This is a pretty roundabout way to get it to happen:

1. Go to some account
2. Select transactions
3. You should see total selected
4. Go to Budget
5. Go to the next month
6. Go back to current month
7. Go to All Accounts
8. Select some transactions
9. You should see selected transactions total but it never

[2016-07-02 10:22] blargity commented on #354
I'll go ahead and close this. Feel free to re-open if there's still a problem for you.

[2016-07-02 10:22] #354 closed

[2016-07-02 14:04] #316 closed

[2016-07-03 20:25] joshmadewell commented on #370
@signorecello Please post some screen shots. What browser are you using? Pacing is showing up for me so I'm not sure where to start. Make sure your settings didn't change with the upgrade.

[2016-07-03 21:06] #311 closed

[2016-07-03 21:06] #310 closed

[2016-07-03 21:10] joshmadewell commented on #304
This will most likely be resolved with #371 -- I'm sure it was resolved before and is back much like #370

[2016-07-03 21:46] joshmadewell commented on #248
@casner I'm revisiting older issues and having trouble reproducing this one. There have been many releases since you posted this issue, are you still experiencing the problem?

[2016-07-03 21:51] joshmadewell commented on #244
@Geiseku I'm revisiting older issues to see if we can get them closed. Are you still experiencing this bug after @dbaldon's fix?

[2016-07-04 00:30] Geiseku commented on #244
@joshmadewell yeah, pretty sure @dbaldon got this sorted with his PR back in April. Don't remember seeing this behaviour for a while now.

[2016-07-04 11:43] blargity commented on #334
This should now be fixed. Let us know if it's not and we'll have another look.

[2016-07-04 11:43] #334 closed

[2016-07-04 11:44] blargity commented on #336
This should now be fixed. Let us know if it's not and we'll have another look.

[2016-07-04 11:44] #336 closed

[2016-07-04 11:44] blargity commented on #326
This should now be fixed. Let us know if it's not and we'll have another look.

[2016-07-04 11:44] #326 closed

[2016-07-04 11:44] blargity commented on #301
This should now be fixed. Let us know if it's not and we'll have another look.

[2016-07-04 11:44] #301 closed

[2016-07-04 11:44] blargity commented on #294
This should now be fixed. Let us know if it's not and we'll have another look.

[2016-07-04 11:44] #294 closed

[2016-07-04 11:44] blargity commented on #272
This should now be fixed. Let us know if it's not and we'll have another look.

[2016-07-04 11:44] #272 closed

[2016-07-04 11:44] blargity commented on #270
This should now be fixed. Let us know if it's not and we'll have another look.

[2016-07-04 11:44] #270 closed

[2016-07-04 11:44] blargity commented on #263
This should now be fixed. Let us know if it's not and we'll have another look.

[2016-07-04 11:44] #263 closed

[2016-07-04 14:32] Wags391 commented on #335
I'm having trouble with "Selected Transactions" as well. Mac OS X El Capitan, Chrome Version 51.0.2704.103 (64-bit).

When I load YNAB for the first time and switch to an account, selected transaction amount does not show up. If I select an account, then reload the page, the selected transaction will work until I switch to another account.

Thanks!

[2016-07-04 14:35] joshmadewell commented on #335
@Wags391 we have a fix that's gone into master and should be deployed for the next release

[2016-07-05 00:19] signorecello commented on #370
Thank you very much :) I was using Opera, but I tried also with Chrome and it was still gone...

Thank you for the fix and for such kind work for all ynabers!

[2016-07-05 19:37] JayneinVT opened #382 "Vertical Gray Line"
There is a vertical gray line starting with my first category name on the budget screen and continuing down the page. I uninstalled the toolbar and restarted YNAB and it was gone. I reinstalled the toolbar and restarted YNAB and it was back, albeit covering only one line this time.

Hopefully, you can see it on this:

[YNAB.pdf](https://github.com/toolkit-for-ynab/toolkit-for-ynab/files/348478/YNA

[2016-07-05 19:41] joshmadewell commented on #382
Hey @JayneinVT I saw this too and freaked out but it turns out that it's an intentional feature of the pacing feature. It represents the current day of the month (the further down the row it is, the further into the month we are).

We may implement a feature to make this optional but right now, as far as I know, this is intentional.

[2016-07-05 19:49] JayneinVT commented on #382
Ah, thanks for the reply!

[2016-07-05 19:49] #382 closed

[2016-07-06 12:42] casner commented on #248
It is indeed still there. Win7x64, Chrome 51.0.2704.106 m, Toolkit 0.4.6.  If I select a line, then change accounts, the total follows, but of course does not show on the new account.

[2016-07-06 12:44] casner commented on #248
I went to all accounts, and selected All, then deselected All, and the total is STILL there. Really strange!

[2016-07-06 12:46] casner commented on #248
I selected an item in the new account, and the total didn't update.

[2016-07-08 18:27] Jagstyles opened #387 "Microsoft Edge Extension?"
With anniversary update just around the corner for Windows 10 and support for extensions in Microsoft Edge, will the extension be ported over?

Thanks

[2016-07-09 00:48] ryanzink opened #389 "Paid in Full button missing in inspector"
Perhaps I'm looking in the wrong place, but it doesn't look like the Paid in Full feature, though enabled, is working correctly for me. It is correctly highlighting the incorrect available balance for my card, but there is no button that I can find in the inspector to correct the difference. Here's what I see:

![image](https://cloud.githubusercontent.com/assets/13768946/16705030/d9e443a2-4533-11e

[2016-07-09 04:36] joshmadewell commented on #389
@ryanzink Thanks for the report, I've got a PR open and this _may_ be in the next release. Appreciate your help!

[2016-07-09 04:39] joshmadewell commented on #387
As long as you're using Chrome/Firefox on your Windows 10 machine, the plugin should work fine. I haven't been able to upgrade/test with Microsoft Edge.

[2016-07-09 11:41] Yoshiofthewire opened #391 "Approve Imported Transaction button missing"
When you import transactions the link icon never shows.
The Imported transactions remain bolded forever.

[2016-07-09 13:34] Jagstyles commented on #387
Oh I realize it works in Chrome/Firefox, what I'm asking is whether the extension will be made available for Microsoft Edge web browser.

[2016-07-09 14:39] joshmadewell commented on #391
@Yoshiofthewire I'm seeing this same issue with the toolkit turned off. Are you sure this issue is ToolKit related?

[2016-07-09 14:45] Yoshiofthewire commented on #391
If you import transactions with the toolkit off you should see the link button.
If you switch views the link button disappears, even with it turned off.

[2016-07-09 14:48] joshmadewell commented on #391
So it's disappearing even with the toolkit off? That may be an issue for help@ynab.com

[2016-07-11 02:06] nardz13 commented on #335
came here to report this - i'm using chrome both regular and incognito and selected transactions never works.

[2016-07-11 02:08] joshmadewell commented on #335
@nardz13 please let us know if this is working after our next release!

[2016-07-11 02:11] nardz13 commented on #335
ok no problem. when will i expect to see the next release ?

[2016-07-11 02:15] joshmadewell commented on #335
Hopefully soon. It's up to @blargity but it should be soon!

[2016-07-11 15:57] ryanzink commented on #389
@joshmadewell I tried again today on a different machine and see the button as expected.

[2016-07-11 16:01] joshmadewell commented on #389
Awesome, glad to hear it! If you want to close this issue, that'd be great!

[2016-07-11 16:03] #389 closed

[2016-07-11 23:59] joshmadewell commented on #370
@signorecello Are you still having this issue? If not, please feel free to close this issue :D

[2016-07-12 01:20] joshmadewell opened #396 "Editing transaction after search removes search results"
via Nolesrule (forums)

1. Search a transaction.
2. Double click a transaction to edit.
3. Should edit transaction in place but instead refreshes the transaction list.

[2016-07-12 02:35] nardz13 commented on #335
i've got the latest release (0.5.0)  but don't seem to be able to see this issue being fixed...

[2016-07-12 03:40] joshmadewell commented on #396
This is fixed. Will be available in our next release.

[2016-07-12 03:45] joshmadewell commented on #335
Darn....I'm having loads of issues reproducing this to be honest with you.

Could you provide me with the following:

1. Operating System
2. Browser
3. Other installed extensions
4. Any errors you see in the Developer Console when selecting transactions (Settings -> More Tools -> Developer Tools OR cmd + shift + i on mac OR (maybe) ctrl + shift + i on windows)

[2016-07-12 06:04] nardz13 commented on #335
My current setup:

1. Windows 7 Enterprise
2. Chrome  47.0.2526.80 m
3. Google Docs, Google Docs Offline, Google Sheets, Google SLides
4.

Chart.js - Moment.js could not be found! You must include it before Chart.js to use the time scale. Download at http://momentjs.com/
main.js:60 Uncaught TypeError: Cannot read property 'fromMonth' of nullgetVisibleTransactions @ main.js:60enhancedSelectedTotals

[2016-07-12 10:49] #364 closed

[2016-07-12 10:50] blargity commented on #361
I'll go ahead and close this as I'm pretty sure it's resolved. If this is still happening for you don't hesitate to open a new issue.

[2016-07-12 10:50] #361 closed

[2016-07-12 10:50] blargity commented on #357
Awesome, thanks for confirming!

[2016-07-12 10:50] #357 closed

[2016-07-12 10:53] blargity commented on #304
I'll go ahead and close this as I'm pretty sure it's resolved. If this is still happening for you please don't hesitate to open a new issue.

[2016-07-12 10:53] #304 closed

[2016-07-12 10:55] blargity commented on #355
Ok, I'm going to go ahead and rename the issue so it's really clear what the context is.

[2016-07-12 10:57] blargity commented on #346
Ok, in that case I'll go ahead and mark this as an enhancement. I'm not sure personally what the best way is to handle this because when you de-activate pacing the first time, it's not particularly clear what it's done, and if it just disappears, it's not clear how to re-activate it. That's why it's currently grey.

[2016-07-12 11:00] blargity commented on #387
It sounds like we might be able to support it with minimal effort:

[code]

From https://developer.microsoft.com/en-us/microsoft-edge/platform/documentation/extensions/

What we'll need to do is wait for them to release their extension API beyond "a small number of extension authors" so we can see the impact.

[2016-07-12 11:02] blargity commented on #328
Alrighty, I'll go ahead and close this bug so if someone has a new problem we can get more context around it. It seems like sometimes there are extension conflicts but I am rarely able to reproduce the issue on my machine. :-/

[2016-07-12 11:03] blargity commented on #391
I'm going to go ahead and close this issue, as if it's happening without the toolkit even installed it's definitely a bug with core YNAB.

[2016-07-12 11:03] #391 closed

[2016-07-12 11:04] blargity commented on #246
Is this logic working ok for people now or should we be looking at doing something here?

[2016-07-12 11:05] nardz13 commented on #335
for the record, am on my home laptop now, windows 10, chrome 51.0.2704.106 m, and this is working fine - selected transactions are summing up as expected

[2016-07-12 11:06] blargity commented on #335
If you can figure out what version of Chrome you're on at work, check how old it is. If it's more than 6 months old, yell at your IT department. If it's less than 6 months old it's probably worth checking out what's going on as you're not the only one where IT has disabled updates.

[2016-07-12 11:12] nardz13 commented on #335
as i said in my earlier message - 47.0.2526.80 m

without looking at version history i'm guessing that's more than 6 months?

[2016-07-12 11:25] blargity commented on #335
Ah, apologies, missed that comment.

Looks like it was released on December 8th, 2015. If it's working for you at home then unfortunately it's probably not going to help many people to spend time looking into it... 😦

I'm going to leave this here for a bit longer to see if anyone else can reproduce on a more recent Chrome. If so we can definitely have a look.

[2016-07-12 13:16] nardz13 commented on #335
that's fine - i can definitely cop that as a old shitty version of chrome issue.

[2016-07-12 13:53] falkencreative commented on #355
Quick note -- this is likely fixed in 0.4.6. Might be worth testing.

[2016-07-12 13:56] falkencreative opened #398 "Win10 Surface: Unable to edit transactions when running balance is enabled"
"When I have RB's on and go to add a transaction, the Save and cancel buttons are not displaying, so I can't add transactions. This is happening on my Surface (Windows 10), using chrome."

http://forum.youneedabudget.com/discussion/comment/645787/#Comment_645787
##

This may be fixed by adjusting the positioning of the save/cancel buttons so they don't overlap the running balance column?

[2016-07-12 16:16] Jagstyles commented on #387
If we could get this done, that would be great as its really the only thing preventing me from making MS Edge my primary web browser.

[2016-07-12 18:05] naeramarth7 opened #399 "Rounding in last line of Split Transactions"
### Description

For some (random) calculations, it looks like Chrome has issues with rounding.
You'll get the same result, when typing it into the dev console, so it's not an issue with the Toolkit itself. However, might be better to round it instead of just trusting Chrome's capabilities: `Math.round((<calculation>) * 100) / 100`.

Related to: [Trello - Last line of split default to remaining ba

[2016-07-12 20:23] egens commented on #246
@blargity we talked about filtration of hidden transactions but it's hard for me to implement this as I have none. (pretty hard time here with work and other things, haven't got much free time for TYNAB)

[2016-07-13 11:13] blargity commented on #399
The fix for this is in current master. If anyone can test from source that'd be awesome, otherwise it'll be in our next release.

[2016-07-13 11:26] blargity commented on #387
I'm having a great time with [Brave](http://brave.com) at the moment.

[2016-07-13 13:02] Cates50 opened #407 "Pasting function does not work"
When entering a transaction, the option to paste an amount or memo (such as transaction number) is not available.  This would be extremely helpful.

[2016-07-13 14:59] joshmadewell commented on #407
@Cates50 What operating system and browser are you using? I'm able to paste no OSX, Chrome.

[2016-07-13 15:02] nconantj opened #409 "Split Autocalculation replaces filled values"
Steps to reproduce:
1) Fill in line items.
2) Fill in total transaction value

Result: First split value replaced with value to bring transaction back to 0. If you correct this back the original value, the next line "corrects" the transaction.

Expected Result: Amount remaining to assign becomes $0 in both columns or represents the true amount remaining.

Work around: Return first split back to de

[2016-07-13 15:02] joshmadewell commented on #398
Got some screen shots from the person with the issue:

without RB
https://15254b2dcaab7f5478ab-24461f391e20b7336331d5789078af53.ssl.cf1.rackcdn.com/ynab.vanillaforums.com/editor/7w/qz4zgxvkclx6.png

with RB
https://15254b2dcaab7f5478ab-24461f391e20b7336331d5789078af53.ssl.cf1.rackcdn.com/ynab.vanillaforums.com/editor/10/7y2doy9h7kfn.png

[2016-07-13 15:18] Cates50 commented on #407
@joshmadewell I'm on Windows 10 using Chrome as my browser.  I can paste into the reconcile option, but not when posting a transaction.

[2016-07-13 15:27] joshmadewell commented on #409
Hmm, I intentionally did this because I wasn't sure of a clean way to determine whether a row was updated by code or by a user.

1. start split transaction
2. fill first split transaction (row 2)
3. fill second split transaction (row 3)
4. fill total (row 1)

At this point, the code needs to know if it was the user or if it was the code that filled row 2 which there's no super clean way to do...I'

[2016-07-13 17:38] joshmadewell commented on #398
The steps are:

1. Click Add Transaction
2. Open Dev tools

Now that you have the dev tools up click that first button with the arrow:

<img width="136" alt="screen shot 2016-07-13 at 12 30 37 pm" src="https://cloud.githubusercontent.com/assets/3503785/16813314/89f76bc8-48f6-11e6-9750-a4a9fb5b5548.png">

3. Now the tricky part, click your mouse just to the right of the "Cancel Button" in YNAB, you

[2016-07-13 18:53] Moots04 commented on #398
Josh, had trouble with that like also...but managed to find you.  Thanks for the assistance.  Thinking I got what you asked for....

![ynab dev tools](https://cloud.githubusercontent.com/assets/20445359/16815833/15b69800-4901-11e6-8576-fcb5d45f0dfc.PNG)

[2016-07-13 19:00] Moots04 commented on #398
On closer look, I don't think I got it...but there appears to be no way to click of the super small blue trim outside of the actual "cancel" area of the box....LMK!  Thanks!

[2016-07-13 19:01] joshmadewell commented on #398
Try clicking the actual Cancel, and then upload a screenshot of that for me

[2016-07-13 19:33] Moots04 commented on #398
Will do, but I'll be away from the computer for a few hours...
Want to say it didn't update or change when I clicked cancel, but I could be mistaken. Will try again and upload as soon as I get back to my surface.

Thanks!

Jeff Robert
Sent from my iPhone

On Jul 13, 2016, at 14:02, Josh Madewell <notifications@github.com<mailto:notifications@github.com>> wrote:

Try clicking the actual Cancel, and

[2016-07-13 23:44] Geiseku opened #410 "Search field missing from All Accounts"
@joshmadewell I'm only seeing the search field on All Accounts if I've been to an actual account first.

[2016-07-13 23:54] Geiseku opened #411 "Refresh search after inbuilt filters are used"
Currently if I do a search and then change any of YNAB's inbuilt filters, the transaction list refreshes and the search is ignored. I figure there's two options: 1) clear the search box, 2) re-do the search.

[2016-07-14 01:39] joshmadewell commented on #410
Got a fix up for this now, thanks for the report!

[2016-07-14 03:23] joshmadewell commented on #411
Thanks for this report, should be fixed in the next release!

[2016-07-14 06:50] whiskeysierra opened #413 "Automatic remaining value in split calculation ignores locale settings"
I'm operating in Germany, hence I use comma instead of the dot. Would be nice to take this from the YNAB settings (if possible).

[2016-07-14 12:46] Moots04 commented on #398
OK,
this is my full screen when I click "add a transaction"
![ynab full screen](https://cloud.githubusercontent.com/assets/20445359/16839815/c6a5dca8-4996-11e6-85aa-4e936c239bbf.PNG)

Then after I hit the portion of the cancel button that is visible, this is it....
![ynab full screen after cancel](https://cloud.githubusercontent.com/assets/20445359/16839877/12ab1ffa-4997-11e6-9d05-34af5e489bbf.PNG

[2016-07-14 13:53] joshmadewell commented on #398
I just meant the dev tools part on the right :D you can delete those if you're not comfortable with your budget being online :D

I think you're still missing a step.

After you've clicked add a transaction, go to the right hand side of chrome (in the dev tools section) and click the little icon that has a mouse on it

<img width="136" alt="screen shot 2016-07-13 at 12 30 37 pm" src="https://cloud.

[2016-07-14 14:30] Moots04 commented on #398
Josh,
Thanks for your patience, I'm out my element here. :-/

Yes, I did forget that step...and thought you wanted to see the entire screen, I did delete them from above, but honestly, really nothing there that I was too worried about...

Anyway...How about this...
add transaction:
![ynab - add trans](https://cloud.githubusercontent.com/assets/20445359/16843087/73c7c712-49a5-11e6-93eb-7bfdb5ff10cd

[2016-07-14 14:39] joshmadewell commented on #398
Super close! Now that you have the elements showing in the pane, can you just click inside dev tools on the words "ember-view ynab-grid-actions" and then post the same screenshot?

That should update the pane on the bottom with they styles...

[2016-07-14 15:31] Moots04 commented on #398
This???
![ynab - latest](https://cloud.githubusercontent.com/assets/20445359/16845329/1ee24d72-49ae-11e6-91a7-07702f3e7ca7.PNG)

[2016-07-14 15:39] joshmadewell commented on #398
yep! that's what I needed -- unfortunately the styling looks _right_...

I'm going to look at this some more and see if there is anything I can think of to fix this...

[2016-07-14 15:42] joshmadewell commented on #413
@whiskeysierra I believe this was inadvertently fixed by #400 and should be in the next release!

[2016-07-14 15:50] joshmadewell commented on #398
I think I found the issue, are you using the swap flags and cleared feature?

[2016-07-14 15:52] Moots04 commented on #398
I'll verify...but yes, pretty sure I'm using both of those....

[2016-07-14 15:56] joshmadewell commented on #398
Yeah, that's the issue, I'll take a look at this today. In the meantime, if you value the running balance more than the flag/cleared swap, then disable the the swapping feature to resolve this issue :smile:

[2016-07-14 15:58] Moots04 commented on #398
roger that.... :+1:

Again, thanks for the help with this issue!  Much appreciated

[2016-07-15 12:47] subtyep opened #415 "Refresh search after adding or deleting a transaction"
If I search on a term, and then add or delete a transaction, the search does not refresh. The transactions visible reset to all of the transactions without the search criteria being supplied.

If I add a new transaction that should be included by the search criteria it will not appear unless I reload that account completely.

[2016-07-15 14:21] joshmadewell commented on #415
Hey @subtyep! Thanks for the report! We actually have a fix for this in master which should be available in our next release!

[2016-07-16 16:43] danmalone89 opened #416 "suggestion: progress bar borders"
This suggestion applies to the **Budget Rows Progress Bars** and **Goals Indication Progress Bar** and is strictly a styling suggestion.

It's somewhat difficult to see where the 100% mark of the progress bar is. Can we add a vertical border line to that column?

![suggestion](https://cloud.githubusercontent.com/assets/8354943/16895943/6a0ca87c-4b4a-11e6-9bfd-f4bebf0106a8.png)

[2016-07-17 06:10] blargity commented on #409
I'm going to go ahead and tentatively label this as an enhancement as it's working as @joshmadewell expects it to. If you feel strongly that this is a bug, let's keep chatting!

[2016-07-17 06:11] blargity commented on #407
Does pasting this way work for you in default YNAB without the Toolkit, then once you turn the toolkit on it stops working? Or is this a feature that you'd like to see us build that doesn't exist yet?

[2016-07-17 13:45] Cates50 commented on #407
Yes.  It pasting in all the transaction fields work when the toolkit is
off.  I guess I would like to request the feature, because when I pay my
credit cards, I like to record the confirmation number in my memo field.  I
also like to copy and past the payment amount I'm making without having to
toggle back and forth between tabs.

On Sat, Jul 16, 2016 at 11:11 PM, Kevin Brown <notifications@github

[2016-07-18 04:30] Flyou10 opened #419 "PIF Indicator Problem?"
My CC is showing a yellow highlight even though the available is matching the account balance.  (2462.88).  When I fresh load YNAB it is shown correctly with no highlights.  However, after that I adjusted a few goals & WAM'ed a few budgets (not touching the CC category or doing anything that would change the Available number), and that is when it turned yellow.  The only way to fix it is to add a

[2016-07-18 06:36] yshavit opened #420 "progress bar and pacing indicator disagree"
I would think that the progress bar is filled as a percentage of how much of the budget you've used, and the vertical gray bar is how much of the month has gone by. If that's the case, then if the progress bar ends to the left of the bar, I'm ahead of my budget (e.g., I've sent 45% of my budget after 50% of the month).

But I'm looking at one budget line, and the progress bar is to the left of the

[2016-07-18 23:07] Geiseku commented on #407
I'm not having any issues with pasting in YNAB. I wonder if maybe it's another Chrome extension causing a conflict?

[2016-07-19 15:58] leonardochen opened #421 "Show all inflow transactions when clicking on "Funds for Month""
One feature that I think is missing in YNAB is the ability to quickly show all of the inflow transactions for that month, across all of the budget accounts.
We used to be able to do it on YNAB4 in the Budget screen by clicking on the "Funds for <Month>"

Would it be possible to implement something similar?

Thank you

[2016-07-19 21:03] signorecello commented on #370
It works on version 0.5! Thank you very much :) (sorry for the delay, I was AFK for some days!)

[2016-07-20 02:33] NetJon opened #422 "Running Balance Not Working - Column Appears, but no number in it"
Greetings,

I just enabled the "running balance" feature.

A new column appeared called "running balance."

But there are no numbers in it.

What actually has happened is that the "cleared" icons at the end of each transaction have all moved into the numberless "running balance" column.

Strangely, if I click on the head of the running balance column to sort by the running balance it disappears co

[2016-07-20 02:35] joshmadewell commented on #422
@netjon if you could post a screenshot that would be great. There _might_ be a fix for this already in the next release but I can take a look regardless when I get a chance

[2016-07-20 02:46] NetJon commented on #422
Hello

Josh ,

Here is a screenshot of the problem:  https://s19.postimg.org/ws5q6lkz7/running_balance_problem.jpg

I noticed when taking the screenshot that the numbers actually ARE there, they are just in the wrong places and partially cut off.

I don't know if this is a change or if it is different than when I first noticed the problem.

I added a bit to my original comment as well, probably wh

[2016-07-20 02:49] joshmadewell commented on #422
Hmm, this is an interesting issue, I _think_ I fixed something similar to this but it would have been some time ago so I don't remember if it's the exact issue but after reading your edits it sounds like it was.

As far as the sorting goes. You _must_ be sorted by date in order to see the Running Balance. I'll probably add that to the settings page for our next release :smile:

[2016-07-20 03:51] NetJon commented on #422
Hello again Josh!

Just to be very clear, the problem exists even when sorted by date.

It is only by first trying to sort by the running balance and then going BACK to sorting by date that the problem seems to resolve.

And upon reloading the page, even when sorting by date, the problem reappears.

[2016-07-20 06:42] Geiseku opened #423 "Save / cancel buttons missing when editing split transaction"
Just noticed this is happening to me. Sometimes they flash up briefly then disappear.

[2016-07-20 06:43] Geiseku commented on #423
When adding a new transaction with split categories everything seems to work fine.

[2016-07-20 06:48] herbroleknotty opened #424 "Reports not working with 1 month of data"
When I click on Reports, I see the reports page with no data. And then I am unable to switch to any other screen (like Budgets or Accounts). I must refresh the browser window to make it go away.

[2016-07-20 10:23] joshmadewell commented on #423
Is this happening while in a search/with running balance on? Can you please
paste an export of your settings in this thread?

On Jul 20, 2016 2:43 AM, "Geiseku" <notifications@github.com> wrote:

[2016-07-20 10:24] joshmadewell commented on #424
Which browser/os are you using?

On Jul 20, 2016 2:48 AM, "herbroleknotty" <notifications@github.com> wrote:

[2016-07-20 13:09] Geiseku commented on #423
Here's my usual settings

`[{"key":"options.dark-mode","value":false},{"key":"accountsDisplayDensity","value":"0"},{"key":"accountsEmphasizedOutflows","value":false},{"key":"accountsSelectedTotal","value":true},{"key":"accountsStripedRows","value":true},{"key":"accountTransactionSearch","value":true},{"key":"activityTransactionLink","value":true},{"key":"budgetBalanceToZero","value":true},{"key":"

[2016-07-20 13:18] Geiseku commented on #423
Seems to come back if I disable the search setting.

[2016-07-20 13:20] joshmadewell commented on #423
Are you editing a transaction while searching? If so that's a known issue
which I'm currently looking into.

On Jul 20, 2016 9:18 AM, "Geiseku" <notifications@github.com> wrote:

[2016-07-20 13:29] blargity commented on #407
It would be really helpful if you can tell us

- if you've got other extensions running
- if you've changed any Chrome settings
- if you're running an older version of Chrome by chance.

[2016-07-20 13:31] Geiseku commented on #423
Nope, I'm not actually using the search field. But if it's enabled in the toolkit settings I lose the buttons.

[2016-07-20 13:59] Cates50 commented on #407
I've got Chrome version Version 51.0.2704.106 m (just updated, still having the issue).
The other extensions I'm running are:
Dropbox for Gmail, Ebates Cash Back, Evernote Web Clipper, Google Docs Offline, Honey, Kaspersky Protection, Keeper® Password Manager, Koios, MakkhiChoose, Norton™ Family, and Pinterest Save Button.

I haven't changed any Chrome settings that I'm aware of.

[2016-07-20 14:03] joshmadewell commented on #407
We've seen issues before with users running the ebates extension. Could you
try disabling it momentarily to see if that's the issue?

On Jul 20, 2016 9:59 AM, "Cates50" <notifications@github.com> wrote:

[2016-07-20 14:10] Cates50 commented on #407
I deleted the ebates extension, closed my browser, reopened, and still having the issue.

[2016-07-21 01:27] kblaser7 opened #426 "Reports lost Category Headers"
Upon installing the New 0.5.0 for safari, it doesn't print the budget the same. It doesn't show the category headers, just the budgeted amount, activity and available.

[2016-07-21 01:29] joshmadewell commented on #426
Can you please post an export of your settings?

[2016-07-21 01:45] kblaser7 commented on #426
Is this what you are looking for?

[{"key":"enableRetroCalculator","value":false},{"key":"highlightNegativesNegative","value":false},{"key":"runningBalance","value":true},{"key":"googleFontsSelector","value":"0"},{"key":"accountsEmphasizedOutflows","value":false},{"key":"reports","value":true},{"key":"splitKeyboardShortcut","value":true},{"key":"splitTransactionAutoAdjust","value":true},{"key":"in

[2016-07-21 02:08] joshmadewell commented on #426
Yep! That's what I needed -- I'll look into this now and see if I can find anything. Can you post a screenshot of what you're seeing?

[2016-07-21 02:17] kblaser7 commented on #426
do you want to see  a copy of my printout?

[2016-07-21 03:35] joshmadewell commented on #426
@kblaser7 I must be misunderstanding the issue...

You mentioned Reports, Print out and budget categories.

Are you referring to the export feature of the toolkit? I was looking at the budget page thinking there were issues with that page.

[2016-07-21 03:46] joshmadewell commented on #426
@kblaser7 This should be included in the next release, thanks for the report!

[2016-07-21 13:27] Chanmander commented on #423
I can confirm the same behavior Geiseku is seeing. No save/edit on Splits when Search setting is enabled. I haven't used Search for anything yet.

[{"key":"accountTransactionSearch","value":true},{"key":"accountsDisplayDensity","value":"0"},{"key":"accountsEmphasizedOutflows","value":false},{"key":"accountsSelectedTotal","value":false},{"key":"accountsStripedRows","value":true},{"key":"activityTra

[2016-07-21 17:17] shama opened #428 "Incoming Changes to the Accounts Controller"
Hey! We'll have some Ember deprecation fixes going out to production likely early next week (the PR just passed QA). In the `accounts` controller, we are [no longer using the sortable mixin](http://emberjs.com/deprecations/v1.x/#toc_sortablemixin).

The properties `model` and `arrangedContent` are being removed.

The property `visibleTransactionDisplayItems` will be the list of transactions from t

[2016-07-21 17:33] joshmadewell commented on #428
@shama you're so awesome. Thanks for the heads up. I'll look into he running balance feature and make sure I refactor it to not use arrangedContent the only other feature that might be affected is search...

[2016-07-21 18:33] ClockVapor commented on #424
I'm also having issues with the reports on Chrome. Consistently getting this error:

    at Object.B (chrome-extension://lmhdkkhepllpnondndgpgclfjnlofgjl/res/features/reports/noUiSlider.8.2.1/nouislider.min.js:3:3416)
    at chrome-extension://lmhdkkhepllpnondndgpgclfjnlofgjl/res/features/reports/noUiSlider.8.2.1/nouislider.min.js:3:6583
    at Array.forEach (native)
    at O (chrome-extension://l

[2016-07-21 23:20] herbroleknotty commented on #424
Hi,
Windows 10 Chrome browser

On Jul 20, 2016 3:24 AM, "Josh Madewell" <notifications@github.com> wrote:

[2016-07-22 05:19] Geiseku commented on #424
@ClockVapor do you only have data in YNAB for July? It looks like it's not properly handling the start and end months of your budget being the same.

[2016-07-22 06:54] Gefahrensucher opened #430 ""Save" instead of "Save and next" option not working"
### Expected Behavior

The option "Change Behaviour of Enter Key When Adding Transactions
When you press enter while adding transactions, the default behaviour is 'Save and add another'. This option changes it to just 'Save'." should disable the next transaction, when pressing Enter at the end of a transaction.
### Actual Behavior

It just opens the next add transaction, when pressing enter, the o

[2016-07-22 14:20] ClockVapor commented on #424
@Geiseku Yep, I only have July data, so you're probably right.

[2016-07-22 16:34] bkothe-rm commented on #423
Just came to report this same issue.  If you need any specific issue let me know.

[2016-07-22 16:35] Ruby-Phoenix opened #432 "Running Balance column missing from some accounts"
### Expected Behavior
Running balance should be in all account except when veiwing all

### Actual Behavior
Two of my credit card accounts do not have this column but all other accounts (including other credit cards) appear fine.

### Steps to Reproduce the Behavior
Have tried deactivating function and reloading but no change

### Export of Toolkit Settings

[code]

### System Settings

Operating

[2016-07-22 19:38] synapseOH16 commented on #423
Also reporting the same issue. Definitely connected to Search on/off. Happens to me in Chrome and Firefox.

[2016-07-22 19:40] joshmadewell commented on #423
Hey all! This has been fix in #429 and will be fixed in our next release. Super sorry about the inconvenience!

[2016-07-23 00:34] herbroleknotty commented on #424
Oh, maybe that's part of my problem too. I did a fresh start and only have
July transactions.

On Jul 22, 2016 7:20 AM, "Nick Lowery" <notifications@github.com> wrote:

[2016-07-23 02:43] blargity commented on #415
This should now be fixed in v0.5.1. If that's not the case please let us know!

[2016-07-23 02:43] #415 closed

[2016-07-23 02:43] blargity commented on #413
This should now be fixed in v0.5.1. If that's not the case please let us know!

[2016-07-23 02:43] #413 closed

[2016-07-23 02:44] blargity commented on #411
This should now be fixed in v0.5.1. If that's not the case please let us know!

[2016-07-23 02:44] #411 closed

[2016-07-23 02:44] blargity commented on #410
This should now be fixed in v0.5.1. If that's not the case please let us know!

[2016-07-23 02:44] #410 closed

[2016-07-23 02:44] blargity commented on #399
This should now be fixed in v0.5.1. If that's not the case please let us know!

[2016-07-23 02:44] #399 closed

[2016-07-23 02:44] blargity commented on #396
This should now be fixed in v0.5.1. If that's not the case please let us know!

[2016-07-23 02:44] #396 closed

[2016-07-23 02:48] blargity commented on #430
Thanks for the report!

I think we've got enough to go by on this one without it, but just so you know where it's at, if you open the Toolkit Settings page there's a button in the bottom left.

[2016-07-23 03:21] Geiseku commented on #423
@joshmadewell just did a brief test of the fix it's looking good so far.

[2016-07-23 21:19] Geiseku commented on #424
@blargity are you able to have a look at this?
The reports module can't seem to handle the edge case of only have one month of data to report on.

[2016-07-24 02:00] blargity commented on #424
I'll do a fresh start in my budget and see if I can reproduce. I remember fixing that exact bug at some point so I'm wondering what could have changed. I'll get back to you guys.

[2016-07-24 02:01] blargity commented on #426
Hey @kblaser7, did 0.5.1 fix this issue for you?

[2016-07-24 12:49] MateoM1955 opened #433 "Not able to edit split transaction"
### Expected Behavior
Expect that I will be able to edit an already saved split transaction, specifically, need to adjust a monetary amount in one category so I can add another category with remaining balance.

### Actual Behavior
No option for adding a category or saving the edit appear.

### Steps to Reproduce the Behavior
1. ​Open up already saved split transaction
2. ​attempt to edit the split

[2016-07-24 13:51] joshmadewell commented on #433
Thanks for the report!

This is a duplicate of #423 and has been fixed in master with PR #429

It will be fixed in our next release.

[2016-07-24 14:33] joshmadewell commented on #398
@Moots04 -- I started looking into this today and it appears that the bug is no longer happening, are you noticing the same?

[2016-07-24 14:35] joshmadewell commented on #432
@Ruby-Phoenix are you sure you're sorted by Date in the other accounts? The Running Balance feature only appears when sorted by date.

[2016-07-24 14:51] joshmadewell commented on #428
@shama Is there any array that's going to contain the full list of already sorted content? That was the great thing about `arrangedContent`. Since you guys already sorted it, I didn't have to do any extra sorting on my end. It looks like `visibleTransactionDisplayItems` is just a pointer to the unsorted `accountsController.get('content')`.

If there's no array of fully sorted transactions, I guess

[2016-07-26 05:47] blargity commented on #433
I'm going to go ahead and close this as a duplicate.

[2016-07-26 05:47] #433 closed

[2016-07-26 11:11] saegiru opened #436 "Feature Request: Show multiple recurring items"
This is a request as opposed to a bug report. I would love a feature that shows multiple recurring items (preferably a month at a time), instead of only showing the next scheduled instance of an item. This would help have a better idea of where the running balance will be at a certain date.

For example, I generally divide my bills up into 4 installments and pay them weekly. Assume my electricity

[2016-07-26 16:02] shama commented on #428
@joshmadewell `contentResults` will be the sorted and filtered list of transactions. Let me know if that will work. The release with that change should be going out in about an hour.

[2016-07-26 17:08] joshmadewell commented on #428
@shama, currently `contentResults` is the sorted and filtered list but also only this "visible" content on the page (so if there are 600 transactions on the account, `contentResults` is only ~38 transactions) are you saying that that's changing and `contentResults` will be the entire array of transaction sorted and filtered?

If that's the case, that's awesome but I think it would not be good to u

[2016-07-26 17:22] gaya2081 opened #437 "Any Account Screen continuously prompts for refresh when Running Balance is enabled"
Defective ToolKit Feature Name:

### Expected Behavior
An account screen to load without prompting for refresh when Running Balance is enabled

### Actual Behavior
Account Screen loads and a 'Something went wrong Click here to Refresh' box appears and continues to appear even after refreshing when Running Balance is enabled

### Steps to Reproduce the Behavior
1. Ensure Running Balance setting is

[2016-07-26 17:28] shama commented on #428
@joshmadewell Ah right. I guess you'll need to use `visibleTransactionDisplayItems` and sort it on your own to build that calculation. Here is the code we're using to sort the transactions:

[code]

Hopefully someday we'll have a public API and all this will be much easier :)

[2016-07-26 17:33] joshmadewell commented on #428
@shama You are the most incredible person right now. When I rewrote using `content` I had an issue where I couldn't figure out the exact sorting you guys were using so somethings didn't match perfectly.

Also, if you guys need someone to help you making that API, I know someone that might want to help ;)

[2016-07-26 17:54] joshmadewell commented on #437
Thank you @gaya2081!!! We have an update ready to go into master and will be released ASAP

[2016-07-26 18:09] kblaser7 commented on #426
Yes Kevin. It look so much better!! Thanks.

[2016-07-26 18:15] kblaser7 commented on #426
Kevin, now I’m having a different problem. When I try to access my Checking Account so that I may reconcile transactions, All I get is a window. It says, "Uh-oh!
Something has gone wrong likely having to do with internets and tubes. Refresh your browser to get back in business.”
No matter how many times I attempt to refresh or completely close YNAB and try and reopen, I keep getting this message.

[2016-07-26 18:17] joshmadewell commented on #426
@kblaser7 this is related to #437

If you disable the Running Balance feature everything will go back to normal.

Running Balance will be working again once we release again v0.5.2.

[2016-07-26 18:21] kblaser7 commented on #426
Thanks again. That fixed it!!

[2016-07-26 18:46] Smash0065 opened #439 "Reports button disappear when selecting any other left menu items"
Defective ToolKit Feature Name: Reports button disappear

### Expected Behavior
I expect to see reports accessible on the left panel when I use the app. Usually it sits on the left menu panel and stays accessible within the different section (accounts, budget, any account).

### Actual Behavior
But if I click on Budget, accounts or anything else in the left panel, it make the report button disappe

[2016-07-26 20:23] waterkip opened #440 "Error with running balance"
Defective ToolKit Feature Name: Running balance

### Expected Behavior

Account view with running balance

### Actual Behavior

Something with tubes. The developer tool gives me:

Handling an uncaught error. Version of YNAB (at build time): v1.12238
TypeError: Cannot read property 'length' of undefined
    at updateRunningBalanceCalculation (main.js:32)
    at onYnabGridyBodyChanged (main.js:112)

[2016-07-26 20:32] joshmadewell commented on #440
Thanks @waterkip this is a duplicate of #437.

We have a fix for this ready to go into master and will be in the next release.

[2016-07-26 20:36] waterkip commented on #440
Ahh, I just did a git blame to see what caused it: 6b0538ec

[2016-07-26 20:40] joshmadewell commented on #440
It was actually the release made today by YNAB. A YNAB developer informed us a change was coming down the pipe that would break our code which is what the commit you've linked is related to. Unfortunately, when I rewrote running balance, I didn't realize we were losing `content` as well.

A fix has been coded using suggestions from #428 and #434 which can be found here: #438 if you're interested :

[2016-07-26 20:49] waterkip commented on #440
I'll have a look tomorrow. When is the next release scheduled?

[2016-07-26 20:50] joshmadewell commented on #440
We try to get them out on Wednesdays if there's enough to release which this fix might be considered that so potentially tomorrow. No promises though :D

[2016-07-27 01:46] bryall commented on #440
I installed the master branch and the crashed stopped but all the running balance values were 0

[2016-07-27 01:54] joshmadewell commented on #440
@bryall Right, that's expected -- the master branch actually has a merge from #434 in it which got rid of the thing causing the error currently in YNAB.

What you need to checkout now is the branch from #428 which has the new changes needed to get running balance working again.

[2016-07-27 02:22] miguelsolorio opened #441 "Inspector disappears when using "Allow Resizing of Inspector" option"
Defective ToolKit Feature Name: Allow Resizing of Inspector

### Expected Behavior
Switching between budget and accounts should keep the inspector persistent.

### Actual Behavior
Inspector disappears and scrolling on the budget screen no longer works.

<img width="1433" alt="pasted_image_7_26_16__7_11_pm" src="https://cloud.githubusercontent.com/assets/1030624/17161922/2e1beeee-5366-11e6-917d-e76

[2016-07-27 04:05] joshmadewell commented on #441
@miguelsolorio Thanks for the report! Look for the fix in our next release!

[2016-07-27 04:06] joshmadewell commented on #439
@Smash0065 Thanks for the report! Look for the fix in our next release!

[2016-07-27 04:07] joshmadewell commented on #432
@Ruby-Phoenix the next release should resolve this for you. We no longer depend on the data being sorted by date. Please let us know once you're using 0.5.2 (after it's release, of course).

[2016-07-27 04:10] joshmadewell commented on #422
@NetJon once we've released to 0.5.2, please let us know if you're still experiencing this issue.

There were some changes made to running balance for that release that may have resolved this.

[2016-07-27 04:28] Smash0065 commented on #439
Hello, you're welcome! Thanks to you for this amazing plugin !

Thomas Haulbert

Envoyé de mon iPhone

[2016-07-27 04:47] NetJon commented on #422
Okay.  When is that being released?

[2016-07-27 04:48] joshmadewell commented on #422
It hasn't been decided but it should be _soon_

[2016-07-27 04:50] NetJon commented on #422
Okay.  Thanks.  :-)

[2016-07-27 06:46] Smash0065 commented on #439
Ohhh and I just discovered that adding to the report button disappearance, the right panel (goals and so on) disappears too ! Its quite a annoying problem.. Thank you ahead

Activé 27 juillet 2016 à 06:28:24, Thomas Haulbert (haulbert.thomas@yahoo.fr) a écrit:

Hello, you're welcome! Thanks to you for this amazing plugin !

Thomas Haulbert

Envoyé de mon iPhone

Le 27 juil. 2016 à 06:06, Josh Made

[2016-07-27 09:43] waterkip commented on #440
Works for me  (tm). Thanks!

[2016-07-27 12:39] dbaldon opened #444 "Scheduled and Reconciled buttons and Txn Search box disappear when browser is resized"
Defective ToolKit Feature Name:
Add a Toggle Splits Button and/or
Add Transaction Search To Accounts and/or
Toggle Scheduled and Reconciled Transaction Buttons
### Expected Behavior

Buttons & input box related to above mentioned features should always be visible regardless of browser width.
### Actual Behavior

For some widths the buttons for the "toggle scheduled and reconciled" and "input box t

[2016-07-27 13:40] joshmadewell commented on #422
@NetJon 0.5.2 is released!

[2016-07-27 14:16] joshmadewell commented on #439
@Smash0065 that should have been fixed in our release as well! Enjoy!

[2016-07-27 15:26] Smash0065 commented on #439
Alright ! Thank you very much for your reactivity !

Thomas Haulbert

Envoyé de mon iPhone

[2016-07-27 18:22] Smash0065 commented on #439
Everything is fixed ! Thank you and keep up with your good work !

Activé 27 juillet 2016 à 17:26:08, Thomas Haulbert (haulbert.thomas@yahoo.fr) a écrit:

Alright ! Thank you very much for your reactivity ! 

Thomas Haulbert

Envoyé de mon iPhone

Le 27 juil. 2016 à 16:17, Josh Madewell <notifications@github.com> a écrit :

@Smash0065 that should have been fixed in our release as well! Enjoy!

—
Y

[2016-07-27 20:12] Moots04 commented on #398
Josh-

Sorry for the delayed response...As you had discovered, this problem was related to the "Swap cleared and flagged columns on Account Screen".  If this is turned off, it works fine, but if it's on, the problem is still there.

Thanks,
Jeff

________________________________
From: Josh Madewell <notifications@github.com>
Sent: Sunday, July 24, 2016 9:33:30 AM
To: toolkit-for-ynab/toolkit-for-y

[2016-07-27 20:37] joshmadewell commented on #398
@Moots04 I just want to confirm what version of the toolkit you're using now?

Could you confirm that you're on 0.5.2 and confirm the problem still exists with both the running balance and swap flag/cleared feature on?

I was able to reproduce this until recently...

[2016-07-27 23:06] blargity commented on #437
I'm pretty sure this is fixed in v0.5.2. Are you still seeing this issue?

[2016-07-27 23:06] blargity commented on #439
Thanks, I'll go ahead and close this!

[2016-07-27 23:06] #439 closed

[2016-07-27 23:07] blargity commented on #440
Thanks! I'll go ahead and close this.

[2016-07-27 23:07] #440 closed

[2016-07-28 14:58] Moots04 commented on #398
Josh,

Just confirmed, the problem is still there for me in Chrome.  I'm at 5.2

[cid:90873c27-8b55-4464-99a9-72199476aa8d]

But if I have the swap flag on, and add a transaction, the save and cancel buttons are moved to the left and almost totally obstructed...As soon as I turn that flag off...Everything works as it should.

Thanks,
Jeff

________________________________
From: Josh Madewell <noti

[2016-07-28 15:12] gaya2081 commented on #437
v0.5.2 fixed this issue.

[2016-07-28 15:12] #437 closed

[2016-07-28 19:01] joshmadewell opened #445 "Cannot Open Settings (Firefox)"
via TryingToChangeHabits on YNAB Forums

http://forum.youneedabudget.com/discussion/51833/unable-to-pick-toolkit-settings

Defective ToolKit Feature Name: Options

### Expected Behavior
When opening toolkit settings, you should see all the options of the toolkit

### Actual Behavior
A blank page is shown

### Steps to Reproduce the Behavior
1. ​Open Firefox
2. ​Click toolkit icon
3. ​Click open se

[2016-07-28 22:09] Geiseku commented on #445
Possible duplicate of #287

[2016-07-28 22:30] joshmadewell commented on #445
@Geiseku good call! I've asked the user to disable ebates and see if that resolves the issue and I'm quite certain it will...if it does, I'll close this and we can use the other issue.

I'm going to go ahead and look into this issue over the weekend.

[2016-07-29 12:52] subtyep opened #446 "Lefthand Navigation displays on top of Reports"
Defective ToolKit Feature Name: Reports - Net Worth Report

### Expected Behavior
When viewing the Net Worth Report, and I collapse the left hand menu, then expand it, the report would be fully visible.

### Actual Behavior
When viewing the Net Worth Report, and I collapse the left hand menu, then expand it, the menu displays on top of the report.

### Steps to Reproduce the Behavior
1. ​Click Rep

[2016-07-29 20:45] jumperalex opened #447 "Link Activity Back To Their Account Transaction doesn't work for filtered/reconciled transactions"
Defective ToolKit Feature Name: Link Activity Back To Their Account Transaction
### Expected Behavior

Clicking on an activity row from the budget screen will jump to the corresponding transaction in the account regardless if the transaction is hidden ... I'd expect the filters to be turned off to display such a hidden transaction.
### Actual Behavior

It only works correctly if the transaction in

[2016-07-29 21:06] joshmadewell commented on #447
@jumperalex Thanks for the report -- I've reproduced this and it seems YNAB might have changed the way they were filtering results on me. I'll look into this weekend.

[2016-07-31 01:10] blargity commented on #445
I'd love to get in and figure out what exactly the conflict is with that extension.

[2016-07-31 01:59] blargity commented on #355
Alrighty, I'm going to go ahead and close this issue. If it's happening for anyone definitely let us know!

[2016-07-31 01:59] #355 closed

[2016-07-31 02:00] blargity commented on #370
No worries! I'm going to go ahead and close this issue!

[2016-07-31 02:00] #370 closed

[2016-07-31 02:02] blargity commented on #308
I'm pretty sure this is related to Kango, which is the framework we use to build our extension. Next step to debug would be to generate a blank Kango extension and see if it exhibits the same behaviour. If so, we'll file a bug over there.

[2016-07-31 02:03] blargity commented on #441
Is this now fixed in 0.5.1?

[2016-07-31 03:00] blargity commented on #287
I did a bit of digging. When ebates is installed, it clobbers our version of jQuery, which then means we're suddenly on jQuery 1.9.1 and don't have Bootstrap Switch added to it. This makes the settings page fail to load.

I'm playing around now to see if I can find a good fix using `noConflict()`.

[2016-07-31 03:06] blargity commented on #287
I fixed the options page! Can anyone on this bug that can build from source test current master and let me know if it actually resolves the issue completely or if it only fixes the options page?

[2016-07-31 03:11] blargity commented on #339
Has any of this weirdness gone away since 0.5.1? We did a bunch of fixes that should have made things better here, just not sure if it's completely fixed.

[2016-07-31 03:11] blargity commented on #445
I believe I've fixed it. Ebates was clobbering our value for `$`. Using jQuery in `noConflict(true)` mode seems to have fixed it for me. If anyone else can help test that'd be amazing.

[2016-07-31 03:21] blargity commented on #321
I tested this today and I believe we've fixed it a while ago. I budgeted $100 to a category, then outflowed 125 from it, then clicked the balance to zero button and it correctly put 125 in the budget box.

Is this fixed for you as well?

[2016-07-31 03:22] blargity commented on #432
Is 0.5.2 better? 👍

[2016-07-31 03:36] blargity commented on #424
This should now be fixed in master. If anyone's able to help test by building from source that'd be awesome, otherwise the fix will be in v0.5.3.

[2016-07-31 03:36] blargity commented on #422
Any better in 0.5.2?

[2016-07-31 03:57] #308 closed

[2016-07-31 04:27] blargity commented on #446
I just had a try at reproducing this on Mac and couldn't. I did add some code to resize the canvas when expanding / collapsing the sidebar: ffa4f29520f9c2ba0e1f4aabee571740033e23f9, but I couldn't find the original reported issue in 0.5.3 (current master).

I'm going to go ahead and mark this as should-be-fixed and I'll re-assess that if it's still definitely happening in 0.5.3 when it's released.

[2016-07-31 04:32] blargity commented on #426
Great, I'll go ahead and close this issue then!

[2016-07-31 04:32] #426 closed

[2016-07-31 04:33] blargity commented on #335
Alrighty, I'll go ahead and close this for now with the official resolution being, "Yell at your IT department". Booo.

[2016-07-31 04:33] #335 closed

[2016-07-31 04:38] blargity commented on #430
This is currently working for me, but having looked at the code, I think I see what might be going on.

- Are you using a non-US keyboard? If so, which one?
- Could you go to [this page](http://www.asquare.net/javascript/tests/KeyCode.html), press enter, then tell me what the values of the table are? We're currently only checking for '13' which is what a US keyboard will report when you do this, b

[2016-07-31 06:23] blargity commented on #436
Would [this](https://trello.com/c/kr17ngwX/180-show-matching-transactions-for-the-month-and-future-scheduled-transactions-in-right-pane) help, or is it more specifically so you can see it in the running balance column?

[2016-07-31 06:25] blargity commented on #428
When you do release an API I'm going to have a hayday making it easy to enter transactions across the web. :-)

Anyway, looks like this is all fixed, so I'm going to go ahead and close this issue.

[2016-07-31 06:25] #428 closed

[2016-07-31 06:29] NetJon commented on #422
Haven't had time to test it yet, but I did get your notice of the update.
I'll check soon and let you know.  :-)-------- Original message --------From: Kevin Brown <notifications@github.com> Date: 7/30/2016  10:36 PM  (GMT-06:00) To: toolkit-for-ynab/toolkit-for-ynab <toolkit-for-ynab@noreply.github.com> Cc: NetJon <tonetjon@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [toolkit-fo

[2016-07-31 07:32] blargity commented on #421
Really sorry for the delay on this one. I've gone ahead and added a Trello card to our roadmap here: https://trello.com/c/wu00rC9W/282-show-all-inflow-transactions-when-clicking-on-funds-for-month

I'll go ahead and close this issue so we can track status of that feature on the Trello board. Thanks for the idea!

[2016-07-31 07:32] #421 closed

[2016-07-31 07:35] blargity commented on #416
Sorry for the delay on this one. I've gone ahead and added a Trello card to track the status of this request: https://trello.com/c/ZLSbyktY/283-add-a-border-to-the-budget-progress-bar-features-so-it-s-more-visually-clear-where-the-bar-ends-exactly

So I'll go ahead and close this issue so we can track status of all feature requests in one place.

[2016-07-31 07:35] #416 closed

[2016-07-31 07:38] blargity commented on #346
Sorry for the delay. I've gone ahead and added it to our Roadmap Trello board so we can track all feature requests in one place: https://trello.com/c/d1IC7qWe/284-allow-configuration-for-pacing-to-only-enable-it-for-some-master-accounts-or-alternatively-allow-it-to-disappear-completely-inst

Should make it harder for this request to get lost in the shuffle.

I'm going to go ahead and close this is

[2016-07-31 07:38] #346 closed

[2016-07-31 09:53] kimifoud commented on #339
The problem still exists for the above features.

_Remove Zero and Negative Categories When Covering Over-Budgeting_ does work now but it seems to be implemented in YNAB now, so the feature is redundant in toolkit.

[2016-07-31 11:10] blargity commented on #339
Interesting. I just tested on my budget and got this when the feature is off:
![screen shot 2016-07-31 at 9 08 43 pm](https://cloud.githubusercontent.com/assets/1531750/17276144/0fe16b10-5763-11e6-8f16-5a5bc57bfac4.png)

And then this when it's on:
![screen shot 2016-07-31 at 9 08 15 pm](https://cloud.githubusercontent.com/assets/1531750/17276147/1ac90ad8-5763-11e6-9aee-eb28a3218f95.png)

Are you

[2016-07-31 11:14] kimifoud commented on #339
Well now I feel embarrassed, forgot to click the Save button on top of the settings page.
So, that feature works and is in no way redundant. The rest of the features still don't work after changing budget, though.

While we're at it, might be a good idea to make the settings persist without an explicit click of a button.

[2016-07-31 11:59] leonardochen commented on #421
Awesome. Thank you!

On Sunday, July 31, 2016, Kevin Brown <notifications@github.com> wrote:

[2016-07-31 12:20] blargity commented on #339
No worries, and fair enough. We'll look at those other features.

It'd be pretty easy to make them auto-save, but then there'd be no way to cancel. I still think auto-save is probably better. We'll see. 👍

[2016-07-31 23:46] Geiseku commented on #424
Fix seems to work for me in a test budget

[2016-08-01 00:57] azuroff opened #449 "Add useful names to the flag colors"
The flags in the Account view are useful - as long as you can remember from month to month what you meant by flagging a transaction as green vs. blue vs. red, and so on.

Since there is room to the right of the color name, it would be very nice to be able to add a short (<10 character) description of each flag color.

As far as defining/editing the flag names, you could either do it inline in the

[2016-08-01 07:53] nerdgore commented on #321
It is still not working.

<img width="603" alt="screen shot 2016-08-01 at 09 46 56" src="https://cloud.githubusercontent.com/assets/1582533/17286937/fd571750-57cc-11e6-9d98-674519a43a80.png">

<img width="479" alt="screen shot 2016-08-01 at 09 51 55" src="https://cloud.githubusercontent.com/assets/1582533/17287048/a04cd7ce-57cd-11e6-9c11-7180fe441429.png">

The problem is not the calculation itsel

[2016-08-01 11:57] joking777 opened #450 "Request: Running balance begins with current balance"
Defective ToolKit Feature Name: Running Balance
### Expected Behavior

When I am viewing a filtered view of transactions (e.g. hide reconciled transactions), it would be nice if the running balance operated on the filtered data set not the entire data set.

As the list of reconciled transactions grows it seems that a lot of unnecessary processing is being done on hidden rows. Also, the running bal

[2016-08-01 13:03] joshmadewell commented on #450
I would argue that this is an enhancement not a bug....

I believe running balance works as implemented in YNAB4 but I could be
wrong...

Either way, I can definitely look into this

On Aug 1, 2016 6:57 AM, "Michael King" <notifications@github.com> wrote:

[2016-08-01 13:16] joking777 opened #451 "Word wrap on Days of Buffering affects page layout"
Defective ToolKit Feature Name:

### Expected Behavior

Days of buffering word wrap wont affect the page layout.

The following CSS works to fix the issue, but there might be a better solution.

[code]

### Actual Behavior

When the browser window width is reduced below a certain point the text of the days of buffering div wraps and the page layout is affected.

![days_of_buffering](https://cloud.

[2016-08-01 13:19] joking777 commented on #450
@joshmadewell - I'm not familiar with how YNAB4 works, but I put it in as a request because I realize that opinions may vary as to how it should work. I couldn't think of any value to it working the way it does though. Thanks for looking at it.

[2016-08-01 14:34] daltonh2002 opened #452 "Can't Access Accounts in nYNAB"
Defective ToolKit Feature Name: Toolkit for YNAB

### Expected Behavior
Click on account to left of main screen to access account register.  Had same error a few weeks ago but came out of it - didn't this time.

### Actual Behavior
Continually comes up with message box: "Uh-oh! Something has gone wrong likely having to do with internets and tubes. Refresh your browser to get back in business. [Ref

[2016-08-01 14:40] daltonh2002 commented on #452
After leaving open while typing this issue, it finally came out of it.  I am still concerned however for future attempts.  Thanks!

[2016-08-01 14:44] joshmadewell commented on #452
@daltonh2002 You left out the version of the toolkit you're using in your report but it sounds like you're still on 0.5.1 because you're describing a bug that happened after a breaking change by YNAB. Could you confirm that this is the case and if it is please report back that this is resolved with an upgrade to 0.5.2?

Thanks!

[2016-08-01 15:00] daltonh2002 commented on #452
Thank you Josh.  When I clicked on the Toolkit icon, it stated "Welcome to
Toolkit for YNAB version 0.5.2!" though I'm not sure I upgraded it.  Is
that something that happens automatically?  I don't see a place where to
upgrade unless it only shows when there is one available and I may have
done it then.  Thanks again for the help!

Dalton Hodgins

On Mon, Aug 1, 2016 at 10:44 AM, Josh Madewell <n

[2016-08-01 15:02] joshmadewell commented on #452
Extensions do update automatically on Chrome though they may not happen immediately. Are you still seeing an issue now that you're on 0.5.2?

[2016-08-01 18:25] simplysteph commented on #409
I second the opinion that this is a bug.  I had to turn off that particular setting because it was overwriting my existing split amounts.

[2016-08-01 18:30] simplysteph opened #454 ""split" category shortcut not working"
Defective ToolKit Feature Name:
### Expected Behavior

Typing "split" in the category initiates a split transaction, per the setting description:

Add Split Transaction Keyboard Shortcut
Instead of clicking the Split button, type 'split' in the category input to automatically create a new split transaction.
### Actual Behavior

Nothing.  Still need to click the Split button
### Steps to Reproduce

[2016-08-01 18:34] joshmadewell commented on #454
@simplysteph Can you fill out the steps to reproduce this issue? I just tested on my own machine and the feature is still working for me. Thanks!

[2016-08-01 18:37] simplysteph commented on #454
Sorry - seemed so self explanatory I didn't do it. :-)
New transaction.... date, payee, then in Category box I start typing "split" (no quotes) and it shows me that there are no matches.  If I tab or hit enter to move past it, it leaves the category blank.

[2016-08-01 18:41] joshmadewell commented on #454
Are you sure you clicked save on the options after enabling the feature?

Can you also provide an export of your settings? Has this feature ever worked for you? I'm unable to reproduce this on my Mac right now with the same version of Chrome.

Once the category dropdown appears, can you scroll all the way down and see if "Actions" is there with "Split Transaction" ?

[2016-08-01 18:50] simplysteph commented on #454
Definitely saved, never worked. I'm currently on Windows (work) for this screenshot, but I use Mac at home with same results.

![split screenshot](https://cloud.githubusercontent.com/assets/20662531/17305053/4df1d562-57ee-11e6-906f-6a0e4c4445ee.JPG)

Settings:
[{"key":"accountTransactionSearch","value":true},{"key":"accountsDisplayDensity","value":"1"},{"key":"accountsEmphasizedOutflows","value":f

[2016-08-01 19:13] joshmadewell commented on #454
Your screen shot is really interesting because "Actions:" should be the only thing visible after you type "spli" I'm thinking this is something with how your budget is set up.

What are the names of the Categories inside of your "Vaction" category, if you don't mind?

[2016-08-01 19:15] simplysteph commented on #454
I actually don't have any visible categories under that parent right now.

[2016-08-01 19:17] joshmadewell commented on #454
I added that to my test budget and wah-lah:

![screen shot 2016-08-01 at 2 15 46 pm](https://cloud.githubusercontent.com/assets/3503785/17305879/872d7512-57f2-11e6-9d55-92d78b2f9e95.png)

It appears since your last category is empty, we're having an issue adding the split transaction to the list.

For now, if you remove the empty master category -- this should work but I'll be taking a look at thi

[2016-08-01 21:42] daltonh2002 commented on #452
Not at the moment.  I'm at work trying it with a different computer using
Chrome and it seems to work fine here.  It has 0.5.2  I will let you know
if something changes; thanks again for all the help!

Dalton Hodgins

On Mon, Aug 1, 2016 at 11:02 AM, Josh Madewell <notifications@github.com>
wrote:

[2016-08-02 07:25] NetJon commented on #422
Haven't had time to test it yet, but I did get your notice of the update.

I'll check soon and let you know.  :-)

[2016-08-02 07:28] NetJon commented on #422
It works better now.

When scrolling it returns to the appearance in my screenshot above, but when NOT scrolling the column is there with the numbers.

There is also a delay before the column appears.  That is, it appears a moment after everything else, like it is loading separately and last.

[2016-08-02 10:55] blargity commented on #450
My take on running balance is that it should show the balance of the account. Otherwise it's not a running balance, it's a running total of the transactions that are on the screen. That's why it doesn't work on the All Accounts view.

Anyone else want to chime in and add to the conversation?

[2016-08-02 11:45] joking777 commented on #450
@blargity - Isn't the balance the result of what has already cleared the account?

Maybe I am using the filtered view differently than others, but I would think that knowing what the balance would be once a check clears would be more useful than knowing the balance a week ago when the check was written.

I'm curious what the use case is for the current state since it was implemented in YNAB4 like

[2016-08-02 13:35] joshmadewell commented on #450
@joking777 I don't actually use the running balance very much at all because I don't have much of a need for it but I know there are a lot of people that use it to quickly find the highest account amount at any time (not sure what they need it for but that's what they do).

Another use case is to quickly see which transactions you need to clear in order to reconcile (not a perfect solution since a

[2016-08-02 13:39] joshmadewell commented on #422
@NetJon that's the expectation for the running balance column. Unfortunately it has to go away during the scrolling action because YNAB takes over the page at that time. Once you've stopped scrolling, that's when we can add the column to the page which is why you see the delay.

[2016-08-02 14:09] joking777 commented on #450
@joshmadewell - I'm good with the explanation and thanks for the consideration. I'll post it in the forum and see what people say.

I don't believe that either use case conflicts with my request though.

Someone would have to expand the transactions to find the high (or low) balance so the change wouldn't affect this use case.

In the second use case, the ledger would more accurately reflect the r

[2016-08-03 11:49] blargity commented on #450
I dont' use running balance either, but I believe it's mostly used by people to reconcile against their statements. I think the reason it didn't make it into nYNAB is because the reconcile feature is meant to do that, but some people really like double/triple checking.

Wouldn't the "Show Total of Selected Transactions" feature cover these other filtered cases though? Filter, then select all, and

[2016-08-04 13:43] simplysteph opened #455 "Commas have disappeared in account list & balances in headers"
Defective ToolKit Feature Name:
### Expected Behavior

See commas as thousand separator when set to USD
### Actual Behavior

No commas.
### Steps to Reproduce the Behavior
1. ​Look at account list or account header or running balance. All dollar amounts apparently. No commas.
2. ​Open YNAB in incognito window and see commas.
3. ​
### Export of Toolkit Settings (Bottom Left of Settings Page)

[code

[2016-08-04 19:27] #455 closed, assigned to nobody

[2016-08-05 11:43] joking777 opened #456 "Cannot split payment when Toggle Splits is collapsed"
Defective ToolKit Feature Name: Add a Toggle Splits Button

### Expected Behavior

Even if the toggle has splits collapsed, I should be able to create/edit a split transaction or at least get feedback that I need to untoggle.

### Actual Behavior

I can select to split a transaction and I get part of the split view, but with the actual split rows still hidden.

![toggle-split](https://cloud.github

[2016-08-05 15:12] joshmadewell commented on #456
@joking777 I see you're using 0.5.3 which means you're probably building locally. Can you make sure you've pulled the latest master? The issue with adding transactions should be fixed.

The issue with editing transactions with this feature is a whole 'nother animal which I've yet to have the time to tackle.

We're only hiding/showing splits within the `.ynab-grid-body` which does not include `.yna

[2016-08-05 23:41] pckilgore opened #457 "Feature Request: Link category goal progress to off-budget account balance"
For those of us who budget toward off-budget investment accounts, it would be useful to link a goal of "X amount of money" to the amount in the off-budget account and not the category balance.

Simple use case:

| Category | Budgeted this Month | Goal | Linked-Account |
| --- | --- | --- | --- |
| Off-Budget Retirement Investment | $500 | $100,000 | 401k |
| Off-Budget College Investments | $250 |

[2016-08-06 15:51] dbaldon commented on #457
@pckilgore I don't understand this sentence "I would never be able to reach it because every month money would flow off budget resetting the category balance to zero.". Can you provide more details?

[2016-08-06 17:48] joking777 commented on #456
You are right about adding a transaction. The behavior only exists when editing.

I pulled from master and retested. The behavior is the same and 0.5.3 and 0.5.2.

[2016-08-07 03:45] blargity commented on #456
I'm assuming the PR I merged fixes this issue, yeah? I'm going to go ahead and do a release as we have quite a few bug fixes in the queue now.

[2016-08-07 04:11] joking777 commented on #456
Yes, thanks!

On Aug 6, 2016 11:45 PM, "Kevin Brown" <notifications@github.com> wrote:

[2016-08-07 04:15] blargity commented on #456
Awesome, v0.5.3 is out, thanks for your help! I'll go ahead and close this issue.

[2016-08-07 04:15] #456 closed

[2016-08-08 10:19] kimifoud commented on #457
I'm quite sure he means goals that would track money/progress on off-budget accounts. The current YNAB goal types do not support this type of goal very well.
_Target category balance [by date]_ goals will always zero out when the saved sum is transferred from budget account to off-budget account, ie. 401k. So in effect the goal can never be reached.

[2016-08-08 12:45] blargity commented on #441
I'm going to go ahead and close this off. If it's still and issue let me know!

[2016-08-08 12:45] #441 closed

[2016-08-08 12:46] blargity commented on #287
Is this fixed for people on 0.5.3? It's out on Firefox now, so if you can update and let me know that'd be awesome.

[2016-08-08 12:46] blargity commented on #321
Alrighty, we'll have another look. Thanks for the detail.

[2016-08-08 12:47] blargity commented on #422
Alrighty, I'll go ahead and close this issue as it sounds like the original problem is now resolved and the feature is working as designed.

[2016-08-08 12:47] #422 closed

[2016-08-08 12:48] blargity commented on #432
Alrighty, I'm going to go ahead and close this issue. If it's not resolved please let us know!

[2016-08-08 12:48] #432 closed

[2016-08-08 12:49] blargity commented on #445
I'm going to go ahead and close this as a duplicate of #287. Should be resolved as well now.

[2016-08-08 12:49] #445 closed

[2016-08-08 12:49] blargity commented on #446
Is this any better for you in 0.5.3 now @subtyep?

[2016-08-08 12:50] blargity commented on #452
I'm going to go ahead and close this issue as I believe it's fully resolved in 0.5.2.

[2016-08-08 12:50] #452 closed

[2016-08-08 13:11] subtyep commented on #446
I'm now unable to reproduce. This may have just been a caching issue. I was initially able to reproduce, but after disabling caching (Chrome Developer Console -> Network Tab -> Disable cache), and disabling and then re-enabling the extension I am now no longer able to reproduce. Thanks for looking into it!

[2016-08-09 23:40] shama opened #460 "YNAB Custom Error Message for the Toolkit"
Hey! I wanted to give you all a heads up of an upcoming change. Typically when a user hits a hard error we get an error report and they are shown the message:

Now we are able to detect if the error has originated from the Toolkit so we'll be able to help direct the user to report the issue here with the message:

Hopefully this will help prevent those error reports from getting lost in our logs.

[2016-08-10 02:03] joshmadewell commented on #460
Awesome! Glad to see this!

The link should work perfectly! Thanks @shama

[2016-08-10 02:14] kchengg1 opened #461 "Mysterious Line shows when Pacing Progress Bars are enabled"
![image](https://cloud.githubusercontent.com/assets/14983566/17539693/30047500-5e7e-11e6-9114-b77fa3d35338.png)

Defective ToolKit Feature Name:

### Expected Behavior

No line

### Actual Behavior
Line shows down all budget columns

### Steps to Reproduce the Behavior
1. ​ Enable Budget Rows Progress Bars in settings, "Pacing on name column and goals on budget columns" or "Pacing progress"
2. ​
3

[2016-08-10 02:17] joshmadewell commented on #461
@kchengg1 This is actually a feature of the pacing feature.

The gray line represents how far through the month we currently are.

[2016-08-10 02:18] kchengg1 commented on #461
Oh, did not know that!

Thank you for your reply.

[2016-08-10 02:18] #461 closed

[2016-08-10 02:27] joshmadewell commented on #461
Not a problem! Let us know if you have any other issues! :D

[2016-08-10 03:31] #460 closed

[2016-08-11 12:19] Gefahrensucher commented on #430
Sorry for not giving feedback that long, blargity. Did not get Mails for Your answers, just switched it on again.
Right, I am using a german keyboard, will give it a shot with american Layout to verify Your suspect.

[2016-08-11 12:22] Gefahrensucher commented on #430
Your absolutely right. With an english keyboard-layout activated the switch works just fine.
Would be fantastic, if You could "repair" this for the german layout too.

[2016-08-11 13:23] blargity commented on #430
No worries! Could you go to [this page](http://www.asquare.net/javascript/tests/KeyCode.html), press enter, then tell me what the values of the table are? It'll say some other number than 13, which is what it'd do with the US keyboard. If I know what the magic number is I can add it into the code easily.

[2016-08-11 13:44] Gefahrensucher commented on #430
It is 13 too, to be exact it looked like this:
https://cldup.com/Qb_Os7YQWS.png

[2016-08-12 00:34] itsMartinw opened #466 ""Swap cleared and flagged columns on Account screen" feature does not swap columns in Safari"
Defective ToolKit Feature Name: Swap cleared and flagged columns on Account screen

### Expected Behaviour
It is expected that the two columns swap places when the toggle is enabled.

### Actual Behaviour
Nothing changes - The columns stay in the same spot.

### Steps to Reproduce the Behavior
1. ​Enable the toggle in the preferences and save.
2. ​Refresh YNAB and check the Accounts screen
3. ​Ver

[2016-08-12 00:37] itsMartinw commented on #466
Apologies - After submitting this I found I could update manually and it works with the latest release (0.5.1). Seems like it was fixed, but since I'm on Safari and the Auto-Update for Safari is a bit behind I missed out.

[2016-08-12 00:37] #466 closed

[2016-08-12 01:17] blargity commented on #430
Wow, that's really weird. I'll see if I can replicate it with any international keyboard layouts on my side. Thanks for bearing with me on this.

[2016-08-12 07:15] Gefahrensucher commented on #430
Sorry, I had hope, it would be easier. Thank You very much for Your work, really appreciate it!

[2016-08-12 13:09] Gefahrensucher commented on #430
Did You already change anything? It is working for me now...!

[2016-08-12 14:20] rjcrowder opened #467 "v0.5.3 Budget Print in Chrome"
Defective ToolKit Feature Name:
Budget printing v0.5.3 in Chrome Version 49.0.2623.87 (64-bit) on Linux

### Expected Behavior
Budget print does not show the very last line of my budget. The last category is "Debt Payments" and there is one budget item that should show up under it but does not. I tried it in Firefox and it works fine. Interesting that in firefox, the whole budget fits on one page.

[2016-08-12 14:40] podious opened #468 "Collapsed Sidebar Icons disappear when navigating to Accounts or Budget screen"
Defective ToolKit Feature Name:

### Expected Behavior
When I click on the Accounts or Budget icon, the icons should still be visible

### Actual Behavior
When I click on the Accounts or Budget icon, the icons disappear

### Steps to Reproduce the Behavior
1. ​ Click icon to collapse side bar
2. ​ Click Accounts or Budget icon
3. ​ Watch icons on the left disappear

### Export of Toolkit Settings

[2016-08-14 06:46] blargity commented on #467
Thanks for the report, someone will have a look when they get a chance. :-)

[2016-08-14 06:47] blargity commented on #446
No worries, I'll go ahead and close off this issue. If it comes back definitely let us know!

[2016-08-14 06:47] #446 closed

[2016-08-14 06:47] blargity commented on #424
Brilliant, I'll go ahead and close this issue then, thanks!

[2016-08-14 06:47] #424 closed

[2016-08-14 06:48] blargity commented on #468
This looks like a possible duplicate of #367 to me.

If so, I did some work on fixing this but haven't finished yet.

[2016-08-14 06:51] blargity commented on #287
I'm going to go ahead and close this issue as I haven't been able to reproduce this since 0.5.3. If it comes back please let us know!

[2016-08-14 06:51] #287 closed

[2016-08-14 07:01] blargity commented on #340
Looks like it's being tracked on Trello here: https://trello.com/c/6S7XGoGp/274-automatically-clear-cash-transactions-autoclear

I'll go ahead and close this issue so we can track progress over there.

[2016-08-14 07:01] #340 closed

[2016-08-14 19:55] joshmadewell commented on #467
@rjcrowder could you provide a screen shot of the print screen so that I can try and reproduce the number of categories you have in a test budget? Thanks

[2016-08-14 19:58] joshmadewell commented on #450
I've created a trello card for this here: https://trello.com/b/EzOvXlil/toolkit-for-ynab-roadmap

[2016-08-14 19:59] joshmadewell commented on #449
There is a trello card for this here: https://trello.com/c/p1kXGtZh

[2016-08-15 11:14] dbaldon commented on #450
I'm a bit late to this conversation but...in my view the running balance is the same as what we used to have in our paper check register. That value included all transaction whether they were cleared or not. IOW, the running balance was used to see if I had enough money to write a check for that shiny new widget.

[2016-08-15 12:34] podious commented on #468
I watched the video for #367 and it is not a duplicate.  In that video, the sidebar icons remain there.  In this bug that I reported, the sidebar icons all disappear.  I have to reload YNAB to get them back.  Let me know if you need more info or screenshots.

[2016-08-15 13:07] joking777 opened #470 "Reconciled rows turning white instead of green"
Defective ToolKit Feature Name: reconciled-text-color

### Expected Behavior

When using the reconciled text coloring (Dark gray with green background) clicking onto one row should leave the previous row green colored. I tested this with a test account with only 10 transactions and it seemed to work properly, but with my actual account which has several hundred reconciled transactions the behavior

[2016-08-16 14:31] smoothk opened #473 "Imported Transactions Count Disappears once a Single Account is Selected"
Defective ToolKit Feature Name: Show Import Notifications in Sidebar
### Expected Behavior

When enabled, I would expect the number of transactions to be displayed next to each account with transactions available to import.
### Actual Behavior

The feature is enabled and at first appears to function properly because several of my accounts display the number of transactions to import. However, once

[2016-08-16 14:33] smoothk commented on #473
Update... Once a single imported transaction is approved in one account the indicators return beside ALL accounts. Obviously, this is not as urgent as I first thought, but it's still annoying.

[2016-08-16 18:32] pchristopherson opened #474 "Goal-based features have stopped working with YNAB update"
Defective ToolKit Feature Name:

### Expected Behavior
Goal indicator and blue-colored available amount should show on categories with goals

### Actual Behavior
Indicators are missing and underfunded goal color is yellow.

### Steps to Reproduce the Behavior
1. ​Activate features
2. ​Open YNAB
3. ​

### Export of Toolkit Settings (Bottom Left of Settings Page)

[{"key":"accountTransactionSearch",

[2016-08-16 19:12] joshmadewell commented on #474
@pchristopherson Thanks for the report!

I've got a fix ready to go in and this will be resolved on our next release!

[2016-08-17 22:49] Voidheartd commented on #409
I had this completely screw up a split I was entering. I had added up several items to get the first split, and then lost that amount when this feature started replacing the amount with the total I was trying to enter. When I tried to fix that split, it screwed up the next split. This forced me to have to go back and add everything up all over again to get the totals for each split.

I think that

[2016-08-18 04:19] joshmadewell commented on #409
@voidheartd I've learned a lot about how YNAB works internally and may have another way to do this that won't acrew up numbers so I'll look into that tomorrow. Thanks for the report

[2016-08-18 12:21] blargity commented on #474
This is now released as part of v0.6.0. Does it work for you on the latest version?

[2016-08-18 13:07] pchristopherson commented on #474
Works great...thank you!

On Thu, Aug 18, 2016 at 8:21 AM, Kevin Brown <notifications@github.com>
wrote:

[2016-08-18 13:28] blargity commented on #474
Brilliant, thanks! I'll go ahead and close this issue.

[2016-08-18 13:28] #474 closed

[2016-08-18 14:19] podious commented on #328
I am experiencing the same issue, so you might want to reopen this bug.  I just repro'd it by closing Chrome and reopening it.  I can only get Toolkit to load on YNAB if I refresh the page.

Running Chrome 52.0.2743.116 m on Windows 7.  My extensions are:
Adblock Plus 1.12.1, Amazon Assistant 10.1607.15.512, Auto Refresh 0.21, Cisco WebEx Extension 1.0.1, crxMouse Chrome Gestures 2.9.1, Ebates Cas

[2016-08-18 14:25] blargity commented on #328
I have a feeling there might be a race condition around jquery with that many extensions going on. I'll see if I can reproduce.

[2016-08-18 14:44] caleadfooter commented on #328
Still having this issue. Seems like Podious and I are running similar extenstions. I run:
Adblock Plus 1.12.1
YNAB Toolkit 0.6.0
Dropbox for Gmail 1.1.3
Google Docs 0.9
Google Docs Offline 1.4
Google Sheets 1.1
Google Slides 0.9

Hope it will help to pinpoint the issue.

[2016-08-18 16:29] jjhall opened #476 "Feature Request: Account filter for Net Worth Report"
On the Net Worth report, I'd like to see a way to filter which accounts are included.  I like keeping my mortgage balance as a Tracking account so I can see at a glance when I'm hitting milestones on getting it paid off.  To keep from showing a big negative net worth, I've also added a tracking account for my home value.  I also use a tracking account to track some money owed to me (a couple thous

[2016-08-19 12:59] lidow commented on #468
I have the same/similar issue on OS X 10.11.6 with Safari 9.1.2 and Toolkit 0.5.1 (latest at the moment for safari).
Both Reports and Collapse are initially there, but after changing Budget and Account, they disappear, as never been there. On same Mac, but different browser (Chrome) the problem is not present.

![1st](https://cloud.githubusercontent.com/assets/790850/17810429/bfa9bbbc-6625-11e6-9a

[2016-08-19 13:08] blargity commented on #476
Thanks for the report. You're not alone! We're actually working on it already here: https://trello.com/c/oB1ZuBkC

So I'll go ahead and close this issue. You can track progress on it over on the roadmap.

[2016-08-19 13:08] #476 closed

[2016-08-19 13:18] nardz13 opened #478 "Suggestion: Allow reports to filter out selected account(s)"
i would love to be able to exclude certain accounts from the net worth report.

[2016-08-22 02:17] blargity commented on #478
This request is currently in progress and is being tracked on our roadmap here: https://trello.com/c/oB1ZuBkC

I'll go ahead and close this issue so we can track progress over there.

[2016-08-22 02:17] #478 closed

[2016-08-22 12:33] lang510 opened #479 "Memo Field"
Defective ToolKit Feature Name: imported transactions showing "Null" in memo field

### Expected Behavior after importing transactions, memo field is blank

### Actual Behavior Each imported transaction show the word "null" in the memo field.

### Steps to Reproduce the Behavior
1. ​
2. ​
3. ​

### Export of Toolkit Settings (Bottom Left of Settings Page)

[code]

### System Settings

ToolKit Vers

[2016-08-22 12:57] blargity commented on #479
Hi @lang510, could you give us a bit more detail? What type of importing are you doing, file based or direct connect? Have you tried disabling the toolkit and doing the import to try to isolate if it's a Toolkit bug or a YNAB bug?

Thanks!

[2016-08-24 18:05] mortenbroesby opened #480 "Bug: "Balance to 0.00" causes massive budgeting bug for Danish currency, inputting ≈1000% more than expected"
Defective ToolKit Feature Name: _"Balance to 0.00"_

### Expected Behavior
Clicking "Balance to 0.00" adds or removes the needed amount to zero out the selected category.

### Actual Behavior
Clicking "Balance to 0.00" adds the needed amount, but with the wrong separator.
- Danish currency looks like this: "360,00kr" === 360kr.
- Toolkit inserts "360.00" === 36.000kr (≈1000% more than needed).

##

[2016-08-25 08:25] QuaCKeReD opened #481 "Bug: Delete future dated transaction now performs 'enter in register now'"
Defective ToolKit Feature Name: Enter in Register Now

### Expected Behavior
right click, or select from menu, to delete future dated transaction, should delete transaction

### Actual Behavior
Enter in register now action is performed

NB; Selecting both the future dated and the newly 'created in register' items and deleting is a workaround

### Steps to Reproduce the Behavior
1. ​create future d

[2016-08-25 17:58] danolsen opened #483 "Budget Rows Progress Bars for goals not showing up on some rows"
Defective ToolKit Feature Name: Budget Rows Progress Bars

### Expected Behavior
# All rows with goals should show the progress bar when this feature is enabled.

### Actual Behavior
# This is working on the first three major sections on my budget. On all the rest of the major sections the progress bar does not show up like it should.

### Steps to Reproduce the Behavior
1. ​Enable Budget Rows Pro

[2016-08-25 17:59] joshmadewell commented on #483
@danolsen this might be related to the issues from YNAB's latest release. Do you have notes on the blurred out category?

[2016-08-25 18:02] danolsen commented on #483
@joshmadewell The blurred out category is a category I blurred out on the screenshot due to the sensitivity of the category.

[2016-08-25 18:07] joshmadewell commented on #483
@danolsen That's cool, I'm just asking if you have notes on the category? There's currently an issue where categories with notes break the progress bars feature of the toolkit. A fix is slated for our next release but if there are notes on really, any of the categories in your screen shot, that bug is likely the reason.

[2016-08-25 18:09] joshmadewell commented on #481
@QuaCKeReD Thanks for the report! I've pushed a fix that should go out in the next release :D

[2016-08-25 18:14] danolsen commented on #483
@joshmadewell That was the problem. Thanks!

[2016-08-25 18:14] #483 closed

[2016-08-25 18:26] luizcfav opened #485 "Feature Request: choose what accounts to show in reports"
Would be nice to chose which accounts we want to see in the reports.

In my case, my net worth is considering a card i use only at work and not as part of my budget.

Idk if the best way would be a drag the account i want and drop on the chart area but would be nice.

[2016-08-25 18:28] joshmadewell commented on #485
@luizcfav We've got some really exciting stuff coming your way pretty soon ;)

#482

[2016-08-25 18:30] danolsen opened #486 "Budget Rows Progress Bars shows 100% for goal when nothing is budgeted"
Defective ToolKit Feature Name: Budget Rows Progress Bars
### Expected Behavior

No progress bar should show up when there is not money budgeted to the category.
### Actual Behavior

One of my categories shows 100% progress bar when there is no money budgeted to the category.
### Steps to Reproduce the Behavior
1. ​Set a Monthly Funding Goal on the category.
2. ​See the $0.00 budgeted for the mont

[2016-08-25 18:30] luizcfav commented on #485
Wow, great. I just discovered this extension today on reddit and i'm already in love with it. Thanks for all the hard work.

[2016-08-25 18:30] #485 closed

[2016-08-26 18:50] joking777 commented on #470
This seems better since 0.6, but if you use the checkboxes to unselect the rows, they still turn white instead of back to green.

[2016-08-26 19:44] joshmadewell commented on #470
@joking777 Yeah, I fixed this one back a while ago but haven't fixed the unchecking part. This one will likely be pretty low priority for us.

[2016-08-27 14:28] falkencreative commented on #480
I'm honestly having trouble replicating this issue. Running Toolkit 0.6.0 on Chrome, Mac OSX, with your exact settings copied from above. At least as far as I can see, using the Balance to Zero button properly inserts commas and periods where I expect them to when using the Danish kr. I've tested with both positive and negative numbers, small (kr45,00) and large (-3.450.000,00).

Perhaps this is a

[2016-08-27 14:31] falkencreative commented on #479
Pretty sure this is a YNAB issue, not a Toolkit issue. YNAB's recent release notes included this fix:

"Chase Bank started doing something weird with their memos, passing in null on every one of them. A helpful memo for sure."
https://www.youneedabudget.com/release-notes

[2016-08-27 17:01] falkencreative commented on #467
I've added an adjustment to this feature that should help resolve the issue. @rjcrowder hopefully it will work for you! (most likely will be added in Toolkit 0.6.1)

[2016-08-27 18:05] mortenbroesby commented on #480
@falkencreative: I will dive further into the bug when I get home. I was certain that I also experienced this on my work computer (Mac). I definitely experience this on Win10 + Chrome (not Canary).

I might look into the source code myself and see if I can understand why it might happen for me. It's strange that you don't experience this. I will definitely also clear all browser cache and attempt

[2016-08-29 04:38] damccull opened #491 "Feature Request: Reports navigation framework"
After reading through the reports/main.js file, I have found that it is an all-in-one solution for the Net Worth report, where the same class seems to handle navigation to and from the report as well as calculating the report and laying it out.

In order to make writing reports easier for others, please extract the actual Net Worth report into its own file, and refactor the reports navigation code

[2016-08-29 04:49] joshmadewell commented on #491
@damccull if you take a look at #482 and #490 you'll see a complete refactor of how that code works.

Once that code is in master reports will only have to export a `calculate` and `createChart` function. `calculate` must return a promise and will be passed all transactions in the current account/date filter.

I'll write up some formal documentation for this tomorrow  but for the time being you ca

[2016-08-29 04:52] damccull commented on #491
Wow, you see the future or something, cause this was done before I even wished it! I think that's a great way to do it.

[2016-08-29 04:52] #491 closed

[2016-08-29 09:29] mortenbroesby commented on #480
@falkencreative: I have just tried opening up a new budget. Tried using Chrome on Windows and Mac, and Safari on Mac. Still experiencing the issue on my _existing budget_, but not on a _newly created budget_. I might just have to live with this bug.

[2016-08-29 10:56] #467 closed

[2016-08-29 13:41] falkencreative commented on #480
Sounds odd -- almost like it's an issue with YNAB's data that the Toolkit accesses, not with the Toolkit itself, since the Toolkit relies on YNAB to pass along accurate currency formatting data. The Toolkit's code doesn't change between different budgets.

One thing you might try... Open up your YNAB budget settings, and change the "Number Format" dropdown to something else, save, the change the n

[2016-08-29 14:23] joshmadewell commented on #480
@mortenbroesby can you try changing your currency to some other format (USD for example) and then changing it back to Danish?

It's a long shot but it might fix something?

[2016-08-29 15:15] mortenbroesby commented on #480
I tried switching to another number format and back. The bug persists. Tried switching to USD and back to DKK, same behavior. My reproducability rate is 100% (18 tries, 18 times reproduced).
Although if the issue lies with YNAB's data, nothing can be done apart from sending in a bug report to them. I'm going to go do that now.

I can live with having switched to the following number format: "123,4

[2016-08-29 15:18] falkencreative commented on #480
Sorry, it we can't reproduce it, and if it only appears in one budget and not in new budgets, I'm not sure how much more we can help? This is the first time we've seen this reported, so it probably has something to do with your specific budget.

[2016-08-29 15:21] mortenbroesby commented on #480
@falkencreative: I'm closing this bug with "Cannot reproduce". I completely agree that it's an edge-case not worthy of more time spent on it.

[2016-08-29 15:21] #480 closed

[2016-08-29 15:25] mortenbroesby commented on #480
Should anyone want to look into this in the future (maybe myself), here's a visual of the bug before and after clicking "Balance to 0": [](http://imgur.com/bIHix2z)

[2016-08-29 16:55] dbaldon commented on #486
I believe this is the same problem previously reported in Issue #483. It has been fixed and will be in the next release of the Toolkit.

[2016-08-29 18:00] danolsen commented on #486
I no notes on my categories so I am not sure this is the same issue. I made sure to remove all notes to see if that would fix it. Can you provide more details about what the issue may be that ties this to #483?

[2016-08-31 11:03] blargity commented on #486
The easiest way to find out is to upgrade to v0.7.0. (Just released!)

If you're still having the issue, then it's either not related or we didn't fix it properly. 👍

[2016-08-31 11:04] blargity commented on #481
This should be fixed in v0.7.0. Could you let me know if it's working for you?

[2016-08-31 11:05] blargity commented on #479
Alrighty, in that case I'll go ahead and close this issue. If we got it wrong don't hesitate to let us know!

[2016-08-31 11:05] #479 closed

[2016-08-31 11:05] blargity commented on #470
And @falkencreative swoops in with a magical fix!

Could you let us know if v0.7.0 is any better for you @joking777?

[2016-08-31 11:06] blargity commented on #473
That's really odd behaviour. We'll have a look when we get a chance. Sounds super annoying.

[2016-08-31 11:11] joking777 commented on #470
Awesome! Been busy with other things recently, but since @falkencreative took the time to fix this, I will certainly check it out asap.

[2016-08-31 11:43] QuaCKeReD commented on #481
Yup, looks good now :)

Thanks

--
Mark Kelly-Smith

On Wed, 31 Aug 2016, at 12:04, Kevin Brown wrote:

Links:

  1. https://github.com/toolkit-for-ynab/toolkit-for-ynab/issues/481#issuecomment-243731309
  2. https://github.com/notifications/unsubscribe-auth/ACo8Ylo66XVd93cwExJfKw-6qXdRtUh6ks5qlV--gaJpZM4Js0FG

[2016-08-31 11:44] blargity commented on #481
Awesome, thanks for getting back to us so quickly!

[2016-08-31 11:44] #481 closed

[2016-08-31 12:54] dbaldon opened #494 "IncomeVsExpense Report breaks when right date slider attempts to move before Jan 2016"
Defective ToolKit Feature Name:
Reports: IncomeVsExpense
### Expected Behavior
To date (right hand) slider should move past Jan 2016.

### Actual Behavior
To date slider stops at Jan 2016 and the YNAB app is locked up. It requires several page reloads to get it going. Once the app is reloaded if I try to access the reports again, the app locks up again. If I go to Local Storage and change the to d

[2016-08-31 13:01] blargity commented on #494
I'll go ahead and take this one as I'm working on one more Net Worth specific issue from the refactor.

[2016-08-31 14:31] Frostcrest opened #497 "REPORTS - Debt Bars Showing Up Inconsistently"
Defective ToolKit Feature Name:
Reports Time Filter Slider
### Expected Behavior
When using a maximum date range, "Debts" consistently show as either credit card debt, or expenses for the month.

### Actual Behavior
1. When at maximum date range, red "Debt" bars only appear next to the months in which I incurred credit card debt that was subsequently paid off.
2. When decreasing the earliest month

[2016-08-31 14:38] joshmadewell commented on #497
@Frostcrest We have a hotfix just about to go out for this one :D

[2016-08-31 14:55] blargity commented on #497
This is now released as part of v0.7.1. Any better?

[2016-08-31 14:56] blargity commented on #494
This should now be fixed in v0.7.1. I'll go ahead and close this issue as I was able to reproduce and it's now fixed. Thanks!

[2016-08-31 14:56] #494 closed

[2016-08-31 16:57] nconantj opened #498 "Immediate Income SubCategories"
Report enhancement request: Reduce income by "Immediate Income SubCategories". Perhaps a new option could be provided for those who desire to have it the way it currently is.

[2016-08-31 17:04] joshmadewell commented on #498
Hi @nconantj I'm not sure what you're...are you requesting that we hide the immediate income or something else?

I had a though to change the name in the table to "Negative Starting Balances" or...for the lack of a better term bring back "Pre-YNAB Debt"

[2016-08-31 17:05] joshmadewell commented on #498
The only reason I didn't do this upon release was because u wasn't 100% sure that was thr only thing rolled into that category.

[2016-08-31 17:12] nconantj commented on #498
Starting balances are not the only thing rolled into the category. I have some paycheck deductions that I roll back out through income.

What I am asking is for the ability to just roll it into the income line. It confused me at first, because it is under "Hidden Categories" and I don't have any of _my_ categories hidden (they don't export in the budget part of a CSV export).

[2016-08-31 17:29] joshmadewell commented on #498
Hmm.... can you send me a screen shot of some of those paycheck deductions and how exactly you're doing those transactions (splits/categories/etc.)

The numbers don't matter just as long as you tell me if they are inflow/outflows.

This is why we needed this feature out so we can learn about the edge cases...obviously YNAB's data is a foreign thing to us so it's hard to account for every case :D

[2016-08-31 18:41] dankcook opened #499 "REPORTS: Accounts Dropdown & Refresh"
Defective ToolKit Feature Name: Reports

### Expected Behavior
When selecting an account in the Accounts drop down in the Reports section, the report refreshes. If you click on the account name to the right of the drop down, the text is removed. When you select another account from the drop down, that Account name should appear to the right of the drop down and the report should refresh.

### Actu

[2016-08-31 18:43] nconantj commented on #498
This should illustrate it.

![untitled](https://cloud.githubusercontent.com/assets/8361799/18141409/613c9110-6f87-11e6-9439-ad03a226837c.png)

[2016-08-31 19:25] joshmadewell commented on #498
@nconantj That definitely helps me visualize the issue. I'll try taking a look at it when I get a chance and come up with something :D

[2016-08-31 20:09] waterkip commented on #450
The problem is that the sorting is done by YNAB and they don't change the order for reconciled vs non-reconciled transactions. If you toggle the filter you can see how it behaves and the balance is shown "correctly", as in, because all transactions are shown, the order is correct and the balances are correct.

I've asked them if they could change it, the answer was: thank you for letting us know,

[2016-08-31 23:12] blargity commented on #499
Hi @dankcook, I think we've just merged a fix for this to the code and it'll be in our next release (should be this afternoon Sydney time).

[2016-09-01 01:05] jonahwh opened #501 "Net Worth Report filter - End month is one month before selected month"
Defective ToolKit Feature Name: Net Worth Report

### Expected Behavior

I should be able to see a report for June, July, and August for these transactions
![image](https://cloud.githubusercontent.com/assets/794237/18151582/2f10e452-6fa5-11e6-8efb-4c16794f0e00.png)

### Actual Behavior

The report only shows June and July
![image](https://cloud.githubusercontent.com/assets/794237/18151586/36e92554

[2016-09-01 02:12] joshmadewell commented on #501
@jonahwh I think this is related to an issue that've I've fixed in #500

[2016-09-01 03:26] scias23 opened #502 "Import/Export settings pop-up box in Firefox 48 doesn't appear correctly"
Defective ToolKit Feature Name:
### Expected Behavior

Import/Export settings pop-up box should appear.
### Actual Behavior

Import/Export settings pop-up box doesn't appear.
Pressing CTRL+V after pressing the import/export button shows the pop-up box but still it doesn't display correctly.
### Steps to Reproduce the Behavior
1. ​Use firefox browser version 48 (ubuntu)
2. ​Go to add on settings
3.

[2016-09-01 11:23] nconantj commented on #498
0.7.2 Looks good.

[2016-09-01 11:23] #498 closed

[2016-09-01 12:21] R0MANI96 opened #504 "Error message trying to get into Reports screeen"
Defective ToolKit Feature Name: Income Vs. Expense Report

### Expected Behavior
I should be able to open up the Income Vs. Expense Report with no error message.  Google Chrome Version 53.0.2785.89 m

### Actual Behavior
This is the message that I receive when I try to enter the Income Vs. Expense Report in Google Chrome Version 53.0.2785.89 m.  This started happening in Toolkit Version 0.7.2.  No

[2016-09-01 12:27] Frostcrest commented on #497
@joshmadewell @blargity

Yes, thank you! A little late to the party, I guess. Keep up the wonderful work!

[2016-09-01 12:27] #497 closed

[2016-09-01 12:27] joshmadewell commented on #504
This looks normal! ;)

Would you mind opening the chrome dev tools Settings > More Tools > Developer Tools and taking a screen shot of the error? Thanks!

[2016-09-01 12:31] R0MANI96 commented on #504
Here you go!
![image](https://cloud.githubusercontent.com/assets/16820741/18167429/8623aa94-701e-11e6-9723-2b3efa5667b3.png)

[2016-09-01 12:32] R0MANI96 commented on #504
Also, accidentally skipped my OS version in my original post.  This is happening on both Windows 8.1 and Windows 10.

[2016-09-01 13:46] casner commented on #504
Same here.

[2016-09-01 14:23] maisi commented on #504
Same here toolkit version 0.7.2 , Chrome 52.0.2743.116 m (64-bit) , Windows 10 64bit

[2016-09-01 14:23] joshmadewell commented on #504
@R0MANI96 @casner @maisi

[2016-09-01 14:24] joshmadewell commented on #504
@R0MANI96 @casner @maisi

Is this all new to today (the reports worked yesterday)?

Also, do you guys have any incomes that do _not_ have a payee?

[2016-09-01 14:29] maisi commented on #504
@joshmadewell Reports worked like an hour ago for me.
I've added payees to all the incomes, but not all sub(split) incomes, if that matters.

[2016-09-01 14:32] R0MANI96 commented on #504
@joshmadewell

I did, but I just went through them all and gave them all a payee.  I refreshed but it's still throwing an error.  The new reports worked yesterday with no problem.

[2016-09-01 14:39] joshmadewell commented on #504
Okay, I just checked and there was no code released to this report in 0.7.2 so I'm not sure what's causing this but I've written up a check to make sure the payeeData exists so the error should at least stop happening.

we might be able to hotfix this but there's no guarantee :(

@maisi subtransaction incomes shouldn't matter as long as the parent has a payee :D

[2016-09-01 15:18] derek0221 opened #507 "income vs expense report feedback"
Defective ToolKit Feature Name: income vs expense report
### Expected Behavior

To show current expense totals, to the date, of the computer's clock of the user. Would like the report to only show data for transactions that have already occurred. FYI, I don't know if this type of report should work the way I'm describing it currently does-no accounting/business experience here.
### Actual Behavior

[2016-09-01 15:35] hsilva1 opened #508 "Error with Income vs. Expense Report in YNAB"
Defective ToolKit Feature Name: Income vs. Expense

### Expected Behavior: I clicked on Income vs. Expense which was supposed to show a chart.

### Actual Behavior: YNAB froze and an error screen came up saying to report issue.  I cannot get rid of the error screen even with refreshing or closing the window and reopening so I now cannot use reports at all.

### Steps to Reproduce the Behavior
1. ​

[2016-09-01 15:52] darthnice opened #509 "Income vs Expense Uh-oh! error"
Defective ToolKit Feature Name: Income vs Expense report

### Expected Behavior
Not crash

### Actual Behavior
Crash

### Steps to Reproduce the Behavior
1. ​Select Reports
2. ​Select Income vs Expense
3. ​Crash

Now since the toolkit remembers settings, I can't look at any reports because it crashes immediately upon selecting the reports button.

I do have some income that doesn't have a payee (p

[2016-09-01 17:02] joshmadewell commented on #509
@darthnice this is a duplicate of #504 and a fix will be available in our next release :D thanks!

[2016-09-01 17:03] joshmadewell commented on #508
@hsilva1 this is a duplicate of #504 and will be fixed in our next release!

[2016-09-01 17:18] joshmadewell commented on #507
@derek0221 this will be fixed in the next release. We had logic in here to skip scheduled transactions but it was incorrect. Now it's correct :D

[2016-09-01 17:22] joshmadewell commented on #407
@Cates50 it's been a while and we've had a few releases...are you still experiencing this...I don't think anyone on the team has been able to reproduce, unfortunately.

[2016-09-01 17:23] derek0221 commented on #507
To be clear you're saying scheduled transactions won't be included in the report for the next release?

[2016-09-01 17:33] joshmadewell commented on #419
@Flyou10 I'm having some trouble reproducing this one...

Do you have any steps that we can follow to reproduce this consistently? Are you still seeing the issue?

[2016-09-01 17:41] joshmadewell commented on #436
I'm guessing that trello link would work...adding multiple scheduled transactions to your register may achieve what you're looking for as long as running balance is on...

[2016-09-01 17:50] joshmadewell commented on #447
@jumperalex this should be fixed now?

[2016-09-01 18:01] danolsen commented on #486
@blargity The latest release did not fix it. I think the progress bar is comparing my monthly goal to the available amount instead of the amount I have actually budgeted for that month. Any category where my available amount is greater than or equal to my monthly goal the progress bar shows 100%.

[2016-09-01 18:06] joshmadewell commented on #507
Correct, they should be omitted on the next release. Should have never been
in there :)

On Sep 1, 2016 12:23 PM, "derek0221" <notifications@github.com> wrote:

[2016-09-01 19:04] Cates50 commented on #407
I've removed the toolkit for the time being.  Thank you.

[2016-09-01 19:04] #407 closed

[2016-09-01 19:11] derek0221 commented on #507
Great to hear! Any idea when the next release will be?

On Sep 1, 2016, at 1:06 PM, Josh Madewell <notifications@github.com> wrote:

[2016-09-01 19:13] joshmadewell commented on #457
I've made a Trello card for this here: https://trello.com/c/IbbUPcL3

Let me know if that explains the thoughts well enough...

[2016-09-01 19:15] joshmadewell commented on #468
@lidow you can install the safari extension directly [here](http://toolkitforynab.com/safari-updates/toolkitforynab_latest.safariextz) which is currently version 0.6.0 and should have your issue fixed.

The issue with this bug should be fixed now in 0.7.2

[2016-09-01 19:20] joshmadewell commented on #507
Hopefully within 24 hours we should have enough bugfixes for another one

[2016-09-01 19:29] jpabluz opened #511 "Retro Calculator should work on Accounts Screen"
Defective ToolKit Feature Name: Calculator
### Expected Behavior

Whenever I go to a cell and I want to do a quick calculation by adding two amounts, I type: 80+100, and the cell should be filled with the correct amount: 180.
### Actual Behavior

Whenever I type 80+100 and press Enter, the cell just blanks itself, and the value gets lost.
### Steps to Reproduce the Behavior
1. ​Go to account view

[2016-09-01 19:30] joshmadewell commented on #387
This is being tracked [here](https://trello.com/c/jWbRRYMG)

[2016-09-01 19:32] joshmadewell commented on #359
this is being tracked [here](https://trello.com/c/Nw2Uagpw)

[2016-09-01 19:40] joshmadewell commented on #337
I wonder if this is anyway related to #480

[2016-09-01 20:13] pckilgore commented on #457
Thanks Josh, I'll take a look.

--
Patrick

On Thu, Sep 1, 2016 at 2:13 PM, Josh Madewell <notifications@github.com>
wrote:

[2016-09-01 22:18] tundralily opened #512 "Income vs expense report page refresh loop error"
Defective ToolKit Feature Name: Income vs Expenses reports

#### Expected Behavior
- Expected the (very shiny and awesome!) report to show on my screen

### Actual Behavior
Displayed error with "Uh-oh! An error occurred in Toolkit for YNAB (a browser extension you installed to enhance YNAB). Click here to report the issue to the YNAB Toolkit project."

Clicked refresh now and then error happened a

[2016-09-01 23:08] joshmadewell commented on #511
@jpabluz the calculator function from the toolkit is only for the budget page.

[2016-09-01 23:49] dankcook opened #513 "Income vs Expense Report"
Defective ToolKit Feature Name: Income vs Expense Report

### Expected Behavior
Only show actual Outflows and not Budget numbers.

### Actual Behavior
September 2016 is showing a large negative number for one of my overall categories, Monthly Bills but I do not have outflows for that month.

### Steps to Reproduce the Behavior
1. ​
2. ​
3. ​

### Export of Toolkit Settings (Bottom Left of Settings

[2016-09-01 23:49] dankcook commented on #513
![image](https://cloud.githubusercontent.com/assets/21369254/18188113/db341216-7074-11e6-8416-ec62e50f41a2.png)

[2016-09-01 23:50] dankcook commented on #513
![image](https://cloud.githubusercontent.com/assets/21369254/18188118/e52ce716-7074-11e6-8e5b-059c4fb1debd.png)

[2016-09-01 23:56] joshmadewell commented on #513
@dankcook do you have an scheduled transactions in that category? We have a bug right now where scheduled transactions are being considered for reports. Should be fixed in our next release #510

[2016-09-02 00:01] dankcook commented on #513
Yes, most of my categories in that master category are scheduled.

[2016-09-02 00:04] joshmadewell commented on #513
Yeah, that's the problem right now. As soon as we release this should be fixed.

[2016-09-02 01:11] joshmadewell commented on #512
@tundralily this is a duplicate of #504 and will be fixed in the next release. in the interim, if you get rid of any inflows that do not have a payee (including transactions which are scheduled), you may see this resolve itself.

[2016-09-02 01:16] joshmadewell commented on #460
@shama Hey man, is there any way we can get the link changed to:

 https://github.com/toolkit-for-ynab/toolkit-for-ynab/issues

We're noticing that we get a lot of duplicate issues if we just send them to the /new page.

Thanks!

[2016-09-02 02:12] synapseOH16 opened #514 "Reports Issue"
Defective ToolKit Feature Name: Reports

### Expected Behavior
Open Income vs. Expense Report

### Actual Behavior
Uh-oh!

### Steps to Reproduce the Behavior
1. ​Attempt to open Reports
2. ​
3. ​

### Export of Toolkit Settings (Bottom Left of Settings Page)

[code]

### System Settings

ToolKit Version: 0.7.2
Operating System (Mac/Windows/Etc): Mac El Capitan
Browser (Chrome/Firefox/Safari): Chr

[2016-09-02 02:33] joshmadewell commented on #514
@synapseOH16 this is a duplicate of #504 and should be fixed with our next release

[2016-09-02 03:05] tisrael opened #515 "Last Month filter - feature"
I'd like to propose an addition of a new filter for "Last Month".

PR coming.

[2016-09-02 03:06] shama commented on #460
@joshmadewell Yep! I'll get it updated.

[2016-09-02 03:08] joshmadewell commented on #460
Classic case of being the best. Thanks, man!

[2016-09-02 03:42] Osyrus opened #517 "Feature Request: Change tag colour for all selected transactions"
In the old desktop version of YNAB, when many transactions were selected and you changed the tag colour, all of them would be modified. In the new YNAB only the one you click on to change the tag colour is changed, the other selected transactions are unaffected. Would be great to be able to have this back.

This extension is awesome by the way!

[2016-09-02 05:26] falconmid opened #518 "Income vs. Expense Report Produces Error Notification"
Defective ToolKit Feature Name: Income vs. Expense Report

### Expected Behavior
Clicking on Income vs. Expense Report should display the Income vs. Expense Report.

### Actual Behavior
All other report options (Net Worth, Spending by Category etc.) worked as expected.  Clicking on Income vs. Expense Report, however, produced the "Uh-oh!  An error occurred in Toolkit for YNAB (a browser extension

[2016-09-02 08:54] dslake commented on #518
Same steps for me produce the same error. Earlier today it said I had transactions without payees, but I looked fairly exhaustively for such a transaction and could not find any without payees. Now I just get the error message as reported in this issue. "An error occurred in Toolkit for YNAB (a browser extension you installed to enhance YNAB). Click here to report the issue to the YNAB Toolkit pro

[2016-09-02 09:12] rvdh commented on #518
Same here, I get this too. And now that @dslake mentions it, I do remember getting the same notification about transactions without payees. The only way for me to get reporting to work again is by switching to a different Budget, looking at a different report, and then switching back (but the Income vs Expense remains broken).

[2016-09-02 12:05] dbaldon commented on #518
I originally had the transactions without payees also. To find them I did the following:

1. Go to All Accounts
2. Sort on Payee
3. Scroll to the bottom of the register
4. Add payees as needed
5. Click on Show hidden transactions
6. Add payees as needed

That should take care of things.

[2016-09-02 13:01] joshmadewell commented on #518
@falconmid Thanks for all the details this is actually a duplicate of #504 and will be fixed in our next release!

[2016-09-02 13:02] rvdh commented on #518
@dbaldon that does seem to have fixed it for me. Thanks!

[2016-09-02 13:03] joshmadewell commented on #517
Thanks for the request! I made a trello card here to track :D

[2016-09-02 13:14] RunningOutOfInk opened #519 ""Uh-Oh! An error occurred in Toolkit for YNAB (a browser extension you installed to enhance YNAB). Click here to report the issue to the YNAB Toolkit project.""
Defective ToolKit Feature Name: Reports

### Expected Behavior
Clicking on the Reports link in the sidebar should load the Reports view.

### Actual Behavior
An error occurred and asked me to Refresh Now.

### Steps to Reproduce the Behavior
1. ​Click on the Reports link.

### Export of Toolkit Settings (Bottom Left of Settings Page)

[code]

### System Settings

ToolKit Version: 0.7.2
Operating S

[2016-09-02 13:19] joshmadewell commented on #519
@RunningOutOfInk Thanks for the report but this is a duplicate of #504

[2016-09-02 13:27] RunningOutOfInk commented on #519
Okay! Glad its already been reported then :)

[2016-09-02 14:55] phantom5251 opened #520 "Payee By Category Error?"
Defective ToolKit Feature Name: Payee by Category Report

### Expected Behavior

If one has split transactions at a vendor, it should be pulling in the total amounts for the payee.

### Actual Behavior

The report is only pulling in payees that have single line items.  Say you spend $7 at the grocery, and $5 is groceries and $2 is toiletries, it should pull in the $7, but it's only pulling in for

[2016-09-02 15:15] joshmadewell commented on #520
@phantom5251 Are you referring to the Spending By Payee report? You combined two reports into your title name :P

If you are, this will be fixed in our next release through #505

[2016-09-02 15:15] nconantj opened #521 "Feature Request: CSV Override"
I've reported this as a bug to YNAB in the past, with no resolution (despite it being, to me, relatively easy). As a work around, I am submitting the following feature requests.

1) When you use YNAB's export feature, the Budget.csv file does not include any user hidden categories, which it should. It would be nice if someone could create a new export that would override the default export (or sup

[2016-09-02 15:17] phantom5251 commented on #520
I was, my apologies!  Glad to hear it'll be fixed.  Thanks again!

[2016-09-02 15:17] #520 closed

[2016-09-02 15:30] joshmadewell commented on #515
@tisrael I've added this to trello (https://trello.com/c/SDvJm2zy) (where we track features) -- would you mind closing this issue now that it has a PR? thanks!

[2016-09-02 17:03] nconantj commented on #504
I just got the error myself.

It appears to have something to do with the month. I went from ending my reports with August 2016 to ending them with September 2016. I had no issue until I did this, now I can't access the reports.

[2016-09-02 17:45] jasonhyang opened #522 "Feature Request: Remove Starting Balances from Reports"
Defective ToolKit Feature Name: Reports

### Expected Behavior

Starting Balances really skew the pie chart visualizations and Income v. Expense reports. Would be great to remove these from the reports altogether as they are neither a representation of income nor expense on any monthly basis.

### Actual Behavior

Starting Balances are currently included.

### Steps to Reproduce the Behavior
1. ​

[2016-09-02 18:07] joshmadewell commented on #504
@nconantj we have a fix for this which will be in our next release :D

[2016-09-02 19:11] tisrael commented on #515
@joshmadewell -- yes, I'll close the issue.  Didn't realize that was the process.

Thanks!

[2016-09-02 19:11] #515 closed

[2016-09-02 20:01] Flyou10 commented on #419
No I am not having this problem anymore.  Thank you for looking into it.

[2016-09-02 20:13] Flyou10 opened #523 "Budget Screen Issues with an "uncategorized" spending activity."
Defective ToolKit Feature Name:  Budget indicators, Red, blue, yellow, orange Available highlights etc
### Expected Behavior

Normal operation of the highlights & budget indicators.
### Actual Behavior

The problem is when there is a spending activity that has not been categorized (thus creating an categorized row at the very top), none of the highlights work appropriately in the Budget screen.  N

[2016-09-02 20:14] Flyou10 commented on #523
![toolkit issue](https://cloud.githubusercontent.com/assets/20509741/18216996/e79e2950-711f-11e6-86ab-232d9bb161ea.jpg)

[2016-09-02 20:58] joking777 commented on #470
Looks good to me.

[2016-09-02 23:21] falconmid commented on #518
I initially received the same 'transactions without payees' message as well.  Good call rvdh on switching to a different Budget to reset the Report 'default.'  I can at least use the other report options until Income vs. Expense is fixed.  Thanks.

[2016-09-02 23:24] rcdailey opened #524 "Need more keyboard shortcuts"
YNAB 4 had many more useful keyboard shortcuts that the web version currently doesn't have. The ones I used the most that aren't available anymore are:
- F2: Enter edit mode for the currently highlighted transaction
- CTRL+SHIFT+C: Mark the currently selected transaction as cleared _while in edit mode_.

Can you add these via the toolkit?

[2016-09-03 02:55] blargity commented on #499
Alrighty, this should have been fixed in v0.7.2, and definitely in v0.7.3. Can you let us know if it's any better for you now?