[2016-01-03 19:26] joshslater opened #3 "ynab-4-calculator numeric "8" key (Mac)"
At least on Mac, pressing the numeric 8 key moves cursor to end of field (as if it were an arithmetic operator).

[2016-01-04 09:33] blargity commented on #3
Thanks @joshslater. I'll fix this tonight.

[2016-01-04 09:51] #3 closed

[2016-01-04 09:52] blargity commented on #3
Tested on Mac and PC. I don't have a numerical keypad hooked up to my Mac, but the keypad worked on PC. I think this does it.

[2016-01-04 22:04] troberson opened #5 "Feature Request: Adjust Column Widths"
I'm not sure how easy this is to implement but I am missing the ability to adjust the column widths in nYNAB.  Either my Memo column is tiny or I zoom out and my Category column is giant.  The ability to adjust column widths would be very handy.

I'm not sure this could be accomplished with injections though, might have to depend on the YNAB team.

[2016-01-04 22:08] blargity commented on #5
Not sure, but it certainly doesn't hurt to ask. I've added this to the roadmap here for discussion and voting: https://trello.com/c/dnQwTeqr/13-make-column-widths-adjustable

[2016-01-05 10:27] johde opened #7 "Calculator: + on swedish keyboard doesn't work"
The problem is the line is:
     if ((e.which == 187 && e.shiftKey) || // + on main keyboard

On my Swedish locale the keycode for + is just plain 187.

[2016-01-05 10:53] blargity commented on #7
Commit above uses Sting.fromCharCode, which should figure out what the actual character you typed was. I don't have access to an international keyboard, so could you make sure this works for you?

[2016-01-05 10:56] johde commented on #7
Works fine, thanks!

[2016-01-05 11:00] blargity commented on #7
Great, I'll merge it in.

[2016-01-05 11:02] #7 closed

[2016-01-05 12:54] blargity commented on #5
Thanks for the request! Let's keep talking over on the Trello board.

[2016-01-05 12:54] #5 closed

[2016-01-07 12:47] blargity opened #18 "Move Money Dialog feature CSS Slector too broad at the moment"
Just doing some further testing and noticed that the ```.modal-popup .modal-actions``` selector is too broad. This is from the budget screen...

![screen shot 2016-01-07 at 11 44 16 pm](https://cloud.githubusercontent.com/assets/1531750/12170863/dd706cce-b598-11e5-865e-0619dd863356.png)

Could you tighten this up a bit? I'm going to back this feature out until it's more specific so it'll miss the

[2016-01-07 14:37] johde commented on #18
I'll fix it.

[2016-01-07 14:52] johde commented on #18
Fixed, see: https://github.com/blargity/ynab-enhanced/pull/19

[2016-01-08 08:47] johde opened #27 "Toggle Splits needs improvement"
This feature needs some improvement. Very good start, but it will need to keep polling the page (or hook into Ember) when turned on to fix the issue with streaming data.

[2016-01-08 10:34] blargity commented on #18
Thanks!

[2016-01-08 10:34] #18 closed

[2016-01-10 04:54] blargity opened #43 "Total of Selected Transactions can be incorrect on the All Accounts screen"
**Steps**

1. Click on your first account.
2. Select two transactions.
3. Total is correct.
4. Click on All Accounts.

Expected: Total should show what's selected on the screen.
Actual: Total shows the value from before.

![selected transactions total](https://cloud.githubusercontent.com/assets/1531750/12220063/5a832182-b7b2-11e5-897d-a1a6511c9527.gif)

[2016-01-10 08:56] johde commented on #43
Not angry issue, ser Trello for comments.

[2016-01-10 09:56] johde commented on #43
Only visible transactions should count. Will fix this soon.

[2016-01-10 12:45] blargity opened #45 "Expand / Collapse Budget Groups doesn't seem to work on Firefox"
Bug report from forum user TLBauer:

The up/down arrow that controls expanding/collapsing the budget groups is visible, and the cursor changes when you float over the icon, but it has no functionality.  There is no sign of a button press event, and nothing happens to the budget groups.

My testing yields the same.

[2016-01-11 06:52] mhum commented on #45
Stupid JavaScript! Since I didn't wrap the comparison in parenthesis, it was concatenating numbers together instead of adding. Firefox also returns a different value for `e.offsetX` than Chrome :/ Gonna have to find a different way of determining of the `:after` element was clicked.

[2016-01-11 09:28] #45 closed

[2016-01-11 09:36] blargity commented on #43
Awesome, thanks!

[2016-01-11 09:37] blargity commented on #27
I think this feature is a prime candidate to try out the new MutationObserver stuff in the init feature. :+1:

[2016-01-11 17:56] ChrisTheCat commented on #27
It's not clear to me from the initial issue report text, but hide splits turns off if you scroll the page. If you have a lot of splits on a page, then clicking hide splits results in a blank page. Scrolling down unhides the splits, which makes the toggle not useful.

[2016-01-11 21:55] mikeb2 opened #54 "Add a Search with Autocomplete to the Move Money Dialog"
This setting does not appear to work in Firefox. The search box does exist, but typing the first few characters of a category name does not list the categories beginning with the typed characters.

[2016-01-12 01:12] Niictar opened #55 "Moving each script into the global ynabToolKit object"
I am working towards migrating each script that currently depends on DOM polling to use the mutationObserver object, so the scripts only fire when there is a relevant change to the page.

In order to do this, I need each feature to be defined within the window.ynabToolKit object so they can see the actOnChange() function.

So, over the next short period, I will be refactoring each script so that i

[2016-01-12 05:25] iamnafets commented on #55
@Niictar I attempted to do something similar for my pacing feature, but noticed that the observer would fire when the feature itself manipulated the DOM, triggering an endless loop. Is there a way to disable the observer while the feature is doing DOM updates?

[2016-01-12 11:45] blargity commented on #55
Just a heads up, discussion is also happening here on this: https://trello.com/c/mEPvAQUE/3-find-a-better-way-to-observe-dom-changes-and-inject-content-either-by-hooking-ember-internals-or-by-building-a-concise-non-polli

[2016-01-12 19:02] Niictar commented on #55
@iamnafets The endless loop is a pain and I've come across it myself. I got around it by getting the feature script itself to check if the work it wants to do to the DOM is already done and if so, breaks or returns out of the function call.

As @blargity is discussing in the other Trello card above, he is already looking at revamping how the features call the mutationObserver, so once that is done

[2016-01-13 12:01] blargity commented on #54
Thanks, I'll have a look and see if I can confirm tonight.

[2016-01-13 12:03] blargity commented on #43
Verified fixed, thank you again!

[2016-01-13 12:03] #43 closed

[2016-01-13 13:02] bnthews opened #64 "DoB with hide AoM calculation"
I'm having a bug with the DoB while AoM is hidden. When first opening YNAB it correctly hides AoM and keeps DoB, but then when you go into the budgeting screen and back to the accounts screen it shows both AoM and DoB until the page is refreshed.

[2016-01-13 13:06] sacherjj opened #65 "Can't get Settings to Open from Toolbar"
I went into settings and configured things.  I thought I was on 0.3.0.  I notice that I am 0.3.1 now and when I click settings I get nothing.  Console shows 3 errors each time I try:

chrome-search://thumb2/https://chrome.google.com/webstore/detail/ynab-enhanced/lmhdkkhepllpnondndgpgclfjnlofgjl Failed to load resource: net::ERR_FAILED
chrome-search://thumb2/http://192.168.2.1/ Failed to load resou

[2016-01-13 13:33] blargity commented on #65
Yup, apologies about that one. This should be fixed in 0.3.2 which should be available now! Let me know if you have any trouble.

[2016-01-13 13:59] sacherjj commented on #65
Yep, that fixed it.

[2016-01-13 13:59] #65 closed

[2016-01-13 13:59] blargity commented on #54
Wasn't able to get to looking at this tonight. I'll have another attempt tomorrow, sorry about the delay.

[2016-01-13 14:01] blargity commented on #64
Ok, I know what would be causing this. Our work on [this trello card](https://trello.com/c/mEPvAQUE/3-find-a-better-way-to-observe-dom-changes-and-inject-content-either-by-hooking-ember-internals-or-by-building-a-concise-non-polli) should fix it and will be coming with the next release.

[2016-01-13 14:32] Newguru-1 commented on #54
Under Firefox 42.0 (the version I have installed at work - cant update it myself) the "move searchbox" doesn't autocomplete and pressing "enter" closes the box.

Other than that, great work guys :)

[2016-01-13 14:34] Newguru-1 opened #66 "DoB doesn't show on Firefox 42.0"
DoB doesn't show on Firefox 42.0 (can't update Firefox at work - will try later at home with the latest version), although the option is turned on at the Toolkit for YNAB options.

[2016-01-13 15:25] mikeb2 opened #67 "Add Pacing to the Budget in Firefox"
There is no "Pacing" column on the budget screen in Firefox. Using add-on version 0.3.2 with Firefox 43.0.4.

[2016-01-13 16:12] Newguru-1 commented on #67
The same in Firefox 42. Guess it's the same problem with DoB. You can select them in the options, but they won't turn on.

[2016-01-13 17:27] dbaldon commented on #27
I posted this same comment to a card on Trello;
I think this should work as a transaction level toggle rather than a global toggle. Is it possible to default to Split's being hidden and add the small triangle to the left of the "Split (Multiple Categories)"? This also mimics YNAB 4 behavior.

[2016-01-13 20:41] egens commented on #66
#68 fix this

[2016-01-13 20:43] egens commented on #54
#68 fixes this.

[2016-01-13 21:19] Hackmodford opened #70 "Settings not working in Safari"
I've built version 0.3.0 for Safari. When you click the icon, the settings screen appears.

But you can see all the options.

The navigation on the left doesn't do anything and the save button does not save changes.

[2016-01-13 23:03] Hackmodford commented on #70
Problem exists in version 0.3.2

[2016-01-13 23:03] jenmas opened #71 "Pace of Money Not Showing"
I'm using Chrome. Don't see Pace anywhere. I confirmed that the setting is on. I turned it off and on again just to be sure.

[2016-01-14 00:06] blargity commented on #54
Just merged #68. Will pull a release tonight for the Firefoxy goodness.

[2016-01-14 00:07] blargity commented on #66
Just merged #68. Will pull a release tonight for the Firefoxy goodness.

[2016-01-14 02:27] jenmas opened #72 "AOM appears and disappears"
I have AOM set as hidden. It randomly appears and disappears. Using Chrome.

[2016-01-14 10:29] blargity commented on #72
Thanks for the report, we're currently working to fix this one.

[2016-01-14 10:31] blargity commented on #71
Pacing should show up on the budget screen. I'd love to do some further troubleshooting with you to get to the bottom of this.

Do you know how to take screenshots and/or open the Inspect Element screen so we can poke a bit deeper into what's going on?

[2016-01-14 10:31] blargity commented on #70
Cool, I'll take the builds you sent and see what I can do.

[2016-01-14 10:34] blargity commented on #72
I'm going to go ahead and close this as it's a duplicate of #64.

Rest assured we'll fix it, just want to track it all in one place.

[2016-01-14 10:34] #72 closed

[2016-01-14 10:42] blargity commented on #54
Just released v0.3.3 for Chrome and Firefox! Please reopen this issue if you're still having the issue after installing the latest version.

It'll probably auto-update, but if it doesn't, you can get it from here:
https://addons.mozilla.org/en-US/firefox/addon/toolkit-for-ynab/

[2016-01-14 10:42] #54 closed

[2016-01-14 10:42] blargity commented on #66
Just released v0.3.3 for Chrome and Firefox! Please reopen this issue if you're still having the issue after installing the latest version.

It'll probably auto-update, but if it doesn't, you can get it from here:
https://addons.mozilla.org/en-US/firefox/addon/toolkit-for-ynab/

[2016-01-14 10:42] #66 closed

[2016-01-14 11:24] Newguru-1 commented on #66
Sorry @blargity. With 0.3.3. on Firefox (42 - will test later on 43.0.4 ), the move box search bug is squashed ;), but DoM and Pacing still don't show, even if selected in the tollkit options. :(

[2016-01-14 11:25] Newguru-1 commented on #66
Can´t  reopen this thread. Must not have the permissions for it.

[2016-01-14 11:29] Newguru-1 opened #74 "O.3.3. still has issues with Pacing and DoM in Firefox 42."
Sorry @blargity. With 0.3.3. on Firefox (42 - will test later on 43.0.4 ), the move box search bug is squashed ;), but DoM and Pacing still don't show, even if selected in the tollkit options. :(

Had to create a new issue thread, because I must not have permissions to reopen closed threads. Sorry.

[2016-01-14 14:38] Hackmodford commented on #70
Settings work in 0.3.3

[2016-01-14 14:38] #70 closed

[2016-01-14 14:39] Hackmodford opened #75 "DoB doesn't work in Safari"
I have the option turned on in v0.3.3 but Days of Buffering does not appear.

[2016-01-14 16:16] Mansarde commented on #67
@Newguru-1
DoB works for me in Firefox 43.0.3 with v0.3.3, but the number is impossibly large.

As of today (14 Jan. 2016):
AoM = 44 days
DoB = 289 days

On-Budget positive total: 2,724.38
On-Budget negative total: -59.00
=> On-Buget Total: 2,665.38

Off-Budget positive total: 21.41
Off-Budget negative total: -12809,96
=> Off-Budget Total: -12.788,55

Closed accounts:
One with a balance of: 0.00

[2016-01-14 16:17] Mansarde commented on #74
@Newguru-1
DoB works for me in Firefox 43.0.3 with v0.3.3, but the number is impossibly large.

As of today (14 Jan. 2016):
AoM = 44 days
DoB = 289 days

On-Budget positive total: 2,724.38
On-Budget negative total: -59.00
=> On-Buget Total: 2,665.38

Off-Budget positive total: 21.41
Off-Budget negative total: -12809,96
=> Off-Budget Total: -12.788,55

Closed accounts:
One with a balance of: 0.00

[2016-01-14 19:18] mikeb2 commented on #74
Pacing is not showing Firefox version 43.0.4.

[2016-01-14 19:21] jenmas commented on #71
Hi

Here is a screenshot (let me know if you need it in another format).

Thank you.

[image: Inline image 1]

On Thu, Jan 14, 2016 at 5:31 AM, Kevin Brown <notifications@github.com>
wrote:

[2016-01-14 23:34] blargity commented on #71
Hi @jenmas, unfortunately it doesn't look like there's a screenshot attached. Could you give it another go?

[2016-01-14 23:43] jenmas commented on #71
Hmm. Sorry about that. I slapped it in a Word doc.

Best regards

On Thu, Jan 14, 2016 at 6:34 PM, Kevin Brown <notifications@github.com>
wrote:

[2016-01-15 03:59] humblpirate opened #80 "DoB"
When I look at my DoB it seems wildly off.  It says that my "total days of budgeting" is 105.  I have only been on nYNAB since 12/31/2015.  If you go back through the months, it wont let you go any earlier than September 2015.  Perhaps your tool is unable to distinguish between when someone began using nYNAB/began budgeting and when the first month that nYNAB was functional.

[2016-01-15 08:11] egens commented on #80
Already got this from forums and trello. For this I need to get some info from console of user having bug.

[code]
It must show an array of unique transactions type like this one. Show it please.
["subTransaction", "transaction", "scheduledTransaction", "scheduledSubTransaction"]

After that type "transactions" and press Enter. It will show an array of all transactions. I think it must have more e

[2016-01-15 08:16] egens commented on #74
@Mansarde #78 will probably fix large numbers.

[2016-01-15 16:00] humblpirate commented on #80
var accounts = ynab.YNABSharedLib.getBudgetViewModel_AllAccountTransactionsViewModel()._result;
[accounts.minTransactionDate._internalUTCMoment._d, accounts.maxTransactionDate._internalUTCMoment._d];

[Wed Sep 30 2015 20:00:00 GMT-0400 (EDT), Thu Jan 14 2016 19:00:00 GMT-0500 (EST)]

[2016-01-15 19:42] egens commented on #80
@humblpirate could you kindly give result for the first code block?

[2016-01-15 20:00] humblpirate commented on #80
["subTransaction", "scheduledSubTransaction", "transaction", "scheduledTransaction"]

[2016-01-15 20:51] TheTrendyCyborg commented on #80
Also seeing this issue, it claims I have 106 total days of budgeting. I started on January 1st, 2016.

First one is giving me `["subTransaction", "transaction", "scheduledTransaction"]`
I'm seeing 135 transactions from line two of that first block of code.

Second gives me `[Wed Sep 30 2015 20:00:00 GMT-0400 (EDT), Thu Jan 14 2016 19:00:00 GMT-0500 (EST)]`

[2016-01-15 21:58] Mansarde commented on #74
@egens
This is what the DoB tooltip says:
-----------------------------------
Total outflow: 32.707,90
Total days of budgeting: 3557
Average daily outflow: ~9,20
Average daily transactions: 0.4

But since yesterday that is based on the following data:
--------------------------------------------------------
As of 15 Jan. 2016:

AoM = 47 days
DoB = 288 days

On-Budget positive total: 2,593.88
On-Bu

[2016-01-16 05:41] iamnafets commented on #71
Hey @jenmas -- I don't know if github is picking up your attachment. Can you visit https://github.com/blargity/toolkit-for-ynab/issues/71 and post there?

[2016-01-16 05:53] jenmas commented on #71
That's the story of my life. Technology hates me.
[Doc1.docx](https://github.com/blargity/toolkit-for-ynab/files/92794/Doc1.docx)

[2016-01-16 06:35] blargity commented on #80
Which is now merged and will go in the next release!

[2016-01-16 06:39] blargity commented on #75
I'll debug shortly. There are definitely a few things to clean up on Safari. Thanks for letting us know.

[2016-01-16 07:01] blargity commented on #71
Definitely got it this time, thanks! I'll see if I can make this happen on this side.

The only other thing I can offer right now is it looks like you're using Hola. It used to be a good way to get around location restrictions on things like Netflix, but now they're selling access to use your internet to anyone that wants it (https://luminati.io/). So if they want to do something dodgy like hack o

[2016-01-16 07:01] blargity commented on #67
I'll have a look and see if I can replicate this soon. Thanks for the report!

[2016-01-16 09:45] egens commented on #74
@Mansarde your average daily outflow of 9 is too low. 3557 days is almost 10 years. Do you have some spaces in it? The feature won't work if so. But I will soon limit it to look 1 year history only. Hope it works if this is the problem.

[2016-01-16 09:48] egens commented on #80
@humblpirate @TheTrendyCyborg thanks for the effort.

Need this one
[code]
This code returns an object of first transaction. Double click on it to get internal data. Check it if it is really your first transaction.

If it is ok, this may be the problem - incorrect last transaction,
[code]

[2016-01-16 11:08] iamnafets commented on #67
I was able to replicate. It looks like the issue was related to Firefox's less lenient date parsing. Fixed in https://github.com/blargity/toolkit-for-ynab/pull/86

[2016-01-16 14:12] synapseOH16 opened #87 "nYNAB Graphics Missing"
After installing Toolkit in Chrome (Version 47.0.2526.111 (64-bit)), the graphics used in nYNAB have disappeared, now being represented by blocks, as if this is some kind of missing font issue? I am on iMac running (up to date) El Capitan.
![screenshot 2016-01-16 09 11 23](https://cloud.githubusercontent.com/assets/16733731/12372790/2291250c-bc31-11e5-8041-9fcb5124e8ce.png)

[2016-01-16 14:18] humblpirate commented on #80
Okay, I did that.  I'm a bit new to this so I'm not sure which parts of this you will want to see, but I'll do my best.  The ynabId: "YNAB:100000:2015-10-01:1" doesn't make a lot of sense.  Both the "date" and "import date" say September 31, 2015. The transaction does not seem to match anything I input, but it could relate to the direct import I have set up. The source is "raw_import" and the impo

[2016-01-16 15:03] GlennKarlsson opened #88 "Currency on calculated values"
Hi,

Love the new settings. I have however a "bug" to report (or its rather a request).

Can I get a function to remove the currency from the new calculated values? For example in the pacing column and the calculated transaction sum?

regards,
Glenn

[2016-01-16 16:30] TheTrendyCyborg commented on #80
I'm seeing something similar. It's a Sep 30th transaction, with a common payee (a grocery store) in a reasonable amount (-2890).

So I looked into it, and it's not in my YNAB register for any of my accounts. But then I looked at my bank statements. And I was able to find it. It's on the right date, but it's from before I started using nYNAB.

Notable flags on the transaction that may help you:

ac

[2016-01-16 16:48] egens commented on #80
@humblpirate @TheTrendyCyborg thanks guys, as I thought YNAB makes hidden some of the transactions from direct import. But I don't understand why they minTransactionDate function supports those transactions. This maybe a bug.

One more try. The function I used before is named visibleTransactions, our problem seems to be invisible transactions. Tthere is another way to get transactions.
[code]
Look

[2016-01-16 16:51] egens commented on #88
@GlennKarlsson just interesting, why you need it? It's more a feature request and better go to our Trello. It is better to have good explanation, so one of devs could say "Wow, that's great feature, I want it myself" and it will be done quicker.

[2016-01-16 16:54] TheTrendyCyborg commented on #80
That's returning 755 transactions, but if I go to all accounts and click the checkbox I see "edit(142)".

[2016-01-16 16:56] synapseOH16 commented on #87
After disabling the Toolkit extension, restarting Chrome to get the graphics/icons back, and working with the application for over an hour, the icons suddenly disappeared again. I'm thinking this issue is not directly related to the Toolkit extension.

[2016-01-16 17:28] egens commented on #80
@TheTrendyCyborg nice. I think it's better to have those hidden transactions into calculation.

Lets try this. It calculates DoB by means of two types of transactions getting.
[code]
Two arrays in the result. You may share or just say is first calculation better than second.

[2016-01-16 18:13] humblpirate commented on #80
The first calculation is better than the second.
![screenshot 2016-01-16 13 12 50](https://cloud.githubusercontent.com/assets/16713841/12373764/e96710c6-bc52-11e5-968c-c10fb2b9b74c.png)

[2016-01-16 18:18] TheTrendyCyborg commented on #80
Neither of them seems quite right for me, but that might be the lack of history on my account (not a full month yet) and the fact that I tend to load transactions in the beginning of the month in terms of bill payments. The first one's a bit low, but again my excuses for my poor buffering might cover that. Second one is way high for me, though. First one is definitely better.

[2016-01-16 18:20] humblpirate commented on #80
I was actually about to comment that the first seems better than the second, but it a bit low.

Is the DoB calculation: total outflow/days of budgeting = average daily outflow, then total money in accounts/average daily outflow=DoB?  If so, then mine should be about 60, rather than 32.

[2016-01-16 18:58] egens commented on #80
@TheTrendyCyborg look at you average daily outflow, it might be too high. I think this definitely is because of the lack of history. It will be more precise the more transactions you have.

@humblpirate average daily outflow contains only outflows from Budget accounts. And total money in accounts is on-budget accounts total.

[2016-01-16 19:14] humblpirate commented on #80
The first calculation above from the two arrays returned the number 32.  I can replicate that number by doing: total outflow divided by days of budgeting = average daily.  Then I did total inflows (not including starting balances) divided by the average daily and I get 32.  However, that number does not reflect the starting balances.  Is that intentional?  If total money in accounts is supposed to

[2016-01-16 19:19] egens commented on #80
@humblpirate the third number in arrays must be you on-budget total. Isn't it? 7495460

[2016-01-16 19:31] humblpirate commented on #80
@egens,  it is.  Between the two arrays, both the 0 row and the 1 row changed.  Should that have happened?
![screenshot 2016-01-16 13 12 50](https://cloud.githubusercontent.com/assets/16713841/12374020/c55bd48c-bc5c-11e5-9d63-d41cfc37acaa.png)

[2016-01-16 19:46] egens commented on #80
@humblpirate yeah, that should.
0: total outflow
1: average daily outflow
The first array is new calculation that counts all transactions, hidden as well.
The second array is old calculation with error - days of budgeting counts hidden transactions, but total ouflows doesnt't.

[2016-01-16 23:56] Mansarde commented on #74
@egens
Yes, I do indeed have gaps. Not for all accounts though.
When I started YNAB 4 in July 2014 I didn't enter any past transactions of my checking account *except* for all of my student loan payments from years earlier.
That means there are transactions from my checking account to my student load (off-budget) account from years before July 2014, but the rest of my checking account transactions

[2016-01-17 01:58] BrianLandry opened #91 "Suggestion visual change for pacing feature"
Instead of adding a new column to display pacing information, instead use the budget row as a progress bar representing the same information graphically. The progress bar is filled with red up until pace %, where it then switches to green. A line is also drawn depicting how far into the month you are. This allows a simple visual comparison to shown if you are one track, or how far percent wise you

[2016-01-17 02:17] humblpirate commented on #80
Okay. I apologize for all of the questions.  I'm just wondering why the DoB number is so low. It doesn't seem to match up with total outflows/days=average then total accounts/average.  So, the total accounts number is right.  And, you think you fixed the number of days. Is there a way to double check what it now thinks the number of days budgeted is? What about the outflows?  Is it counting (a) cr

[2016-01-17 02:17] iamnafets commented on #91
That is really cool! There have been a lot of great proposals for how to visualize pacing, and frankly I'm not surprised -- it's (in my mind) one of the most important parts of budgeting software. Answering "how am I doing" more frequently than monthly is a huge boon.

Given there are a lot of ways to skin this cat, let me see if I can set this up so that it can be enabled/disabled independently o

[2016-01-17 04:03] BrianLandry commented on #91
Thanks for considering it! Good question about about text legibility. I think switching the line to white addresses that.

![image](https://cloud.githubusercontent.com/assets/2424677/12375888/d8536380-bc9c-11e5-9950-9e669f3b795c.png)

[2016-01-17 08:56] egens commented on #74
@Mansarde I'm going to add an option to set how much history use in average daily outflow calculation. This will help you I hope.

[2016-01-17 09:04] egens commented on #80
@humblpirate this is where filtering to get nice outflow transactions goes in the new version
[code]
1. Tombstone is smth I don't really understand 100%. I think this filters subtransactions and starting balances.
2. Is not transfer.
3. Is outflow.
4. Came from budget account.

(a) credit card purchases - yes
(b) transfers to pay off CCs or otherwise - no
(c) the credit card starting balance which

[2016-01-17 12:37] GlennKarlsson commented on #88
@egens I consider it a bug, since there are a general setting in the budget how to present the currency. The options are before amount, after amount or no currency. The add-on should use that setting, in my opinion.

[2016-01-17 12:49] waterkip commented on #71
Pacing does not show when the amount spent is equal to the amount budgetted.

* Budget 50 towards X
* Spent 50 on X
* Pacing is "gone".

* Budget 51 towards X
* Pacing shows itself

Same goes for if you haven't spent anything, the pacing is missing. Although you can still see it when you highlight the column and/or hover above it.

[2016-01-17 12:54] waterkip opened #95 "Pace is "invisible""
Pacing does not show when the amount spend is equal to the amount budgetted.

* Budget 50 towards X
* Spend 50 on X
* No pacing

When you see it:

* Budget 51 towards X
* Spend 50 on X
* Pacing shows itself

Same goes for if you haven't spend anything, the pacing is missing. Although you can still see it when you highlight the column and/or hover above it.

[2016-01-17 12:55] egens commented on #88
@GlennKarlsson ah, I've got you!
https://trello.com/c/Txmc23Jc/146-remove-currency-from-calculated-pacing-and-total-for-transactions-when-budget-settings-say-don-t-display-symbol

[2016-01-17 13:05] GlennKarlsson commented on #88
Great. Thanks.

[2016-01-17 13:06] GlennKarlsson commented on #91
Must say I love this proposal.

[2016-01-17 16:04] Mansarde commented on #74
@egens
Aw thanks man, much appreciated! :smiley: :+1:

[2016-01-17 18:44] BrianLandry commented on #91
It looks like trello may be a more appropriate venue for this discussion. See this card that was independently created for a similiar suggestion: https://trello.com/c/HclNX5gf/145-budget-progress-bars-moar-prograss-burs.

I'm closing this issue so discussion can move to trello.

[2016-01-17 18:44] #91 closed

[2016-01-17 19:34] humblpirate commented on #80
I think the DoB is too low because when I manually calculate DoB it is almost 2x as high as your new calculation.  The current mouseover text states my total outflow (since December 31, 2015) as $2121.  That seems accurate.  I added up total outflows from the "all accounts" register and got $2008.  So $2121 is close enough.  I've been budgeting since December 31, so that is 17 days.  $2121/17 days

[2016-01-17 21:11] egens commented on #80
@humblpirate current tooltip is wrong, don't look at it. Left array count all transactions with hidden and gives ADO $232. I bet you got some big outflows in the last 100 days. New extension version will have my changes for it. You will be able to set 1 month history lookup.

[2016-01-17 23:50] iamnafets commented on #95
@waterkip -- Thanks for the report! This was previously part of expected behavior for pacing. I decided on this as a loose heuristic to determine which categories are more likely to be linear. Rent categories where a single payment is made halfway through the month are not necessarily pacing poorly.

Some of that discussion is here: https://trello.com/c/E6rbkTKs/122-pacing-shows-you-how-you-re-tra

[2016-01-18 11:45] johde commented on #88
This issue can be closed. @blargity

[2016-01-18 11:46] johde commented on #87
Don't think this is an issue related to the Toolkit. @blargity

[2016-01-18 11:50] blargity commented on #87
I've seen this on other production websites I maintain at work. It's usually a fonts related issue.

YNAB use a custom icon font to do all their icons. When they show up as boxes, it's your browser saying, "Gee, I don't know what symbol I'm supposed to put here, so here's a square". Usually that's a corrupt font in for font suitcase (mac) or a bad font installed system wide on Windows.

It's unlik

[2016-01-18 11:50] #87 closed

[2016-01-18 11:51] blargity commented on #67
Alrighty, in that case should we go ahead and switch over to local storage or Kango storage so we can get the fix out to users while we wait to hear back from YNAB? What do you reckon?

[2016-01-18 11:52] blargity commented on #71
I believe this is a duplicate of #67 and should be fixed on the next release. Definitely watch #67, and if I close it and it's not resolved for you please let us know!

Thanks again for the report and the effort you took on the screenshot. Much appreciated!

[2016-01-18 11:52] #71 closed

[2016-01-18 11:54] blargity commented on #88
No worries, thanks guys!

[2016-01-18 11:54] #88 closed

[2016-01-18 11:55] blargity commented on #95
I'm going to go ahead and close this issue in favour of the new feature on pacing. Definitely let us know if this isn't going to solve the need for you! We're here to help, and thanks for the report.

[2016-01-18 11:55] #95 closed

[2016-01-18 11:56] blargity commented on #74
Just an update @Mansarde, I merged this new configuration option into the code tonight, so it'll be headed your way shortly!

[2016-01-18 14:01] humblpirate commented on #80
Ah, I'll wait for the updates :-)

[2016-01-18 14:07] egens commented on #80
@humblpirate they are merged to master, so you can try it out from this repo.
https://github.com/blargity/toolkit-for-ynab#building-the-code

[2016-01-18 19:06] Mayfly01 commented on #80
@egens This is working brilliantly!  Thank you!

[2016-01-18 19:39] Mansarde commented on #74
:bow:

[2016-01-19 05:44] iamnafets commented on #67
Created a new PR here since I uglied the old one up.
https://github.com/blargity/toolkit-for-ynab/pull/105

Once that is merged, this issue is resolved.

[2016-01-19 11:23] blargity commented on #75
We've pushed some bug fixes for this. Can you test tomorrow when I give you 0.3.4?

Thanks!

[2016-01-19 19:00] Niictar opened #107 "Issue with actOnChange() function on master branch"
*The build on Master is broken, due to an issue with the actOnChange function*

This is fixed with pull request #106. This further builds on @blargity's request that actOnChange get refactored. That refactor is coming soon and should help solve these constant merge issues.

[2016-01-19 19:33] Niictar commented on #67
As I was working to get Pull Request #106 and #108 done, I noticed that the Pacing feature does not appear in Firefox (but does so in Chrome).

So, I checked out commit b62f7ec671eae05996a6cb3132ddacc67cb5b71a 'Reference asset from extension' and also commit 43311313833aab0043786ec736ad2df53b304edf 'Merge pull request #105 from iamnafets/pacing-enhancements-clean' and still could not see the Pacin

[2016-01-20 00:49] blargity commented on #107
I used to test every single PR before merging but then realised I was spending 8 hours a night just merging. I'll love it when we can get this pulled out so working on a feature is just working on that feature.

I really appreciate your help with the merging too, so thank you! :+1:

[2016-01-20 02:21] Jagstyles opened #110 "Font Size Too Big in Slim View Budget Screen"
I'm finding that the font size when using "SLIM" setting for the budget screen is a bit too large for the row height.  The text looks crammed particularly on the category names.  Any possibility of decreasing the font size just one more notch?

Thanks and great work! Love the toolkit!

[2016-01-20 10:38] blargity commented on #107
Alrighty, all merged, test at will sailor!

[2016-01-20 13:45] blargity commented on #74
Released in 0.3.4. I think we're still having issues getting Pacing to work in Firefox, but let us know how you go!

[2016-01-20 13:45] blargity commented on #64
This should now be resolved in 0.3.4. Let me know if you're still having the issue, otherwise I'm going to assume we're all good.

[2016-01-20 13:45] #64 closed

[2016-01-20 13:46] blargity commented on #110
@johde I think you're the one that built this originally. What do you reckon?

[2016-01-20 13:51] johde commented on #110
I'll have another look at it. @blargity

[2016-01-20 13:56] johde commented on #110
I would like more input from other people in regards to this. I don't want to affect legibility, and in my opinion, making the font any smaller makes it a bit too hard to read. If more people agree with this tho, I can adjust it, or add a fourth option with a smaller font size.

[2016-01-20 13:59] Jagstyles commented on #110
Perhaps to be on the safe side offer a 4th option? This would ensure existing users aren't impacted if they like the way it looks now but I do feel like category text is a bit too large for the row height and if I'm not mistaken, it's the same size as the master category name too.  Ideally, sub-categories should have a slightly smaller font size to make it easier to the eye to segment the categori

[2016-01-20 14:00] Jagstyles commented on #110
Another option is to try a different font color? Perhaps one that is slightly lighter than the master category font color?  I think it's lacking some differentiation from the master category name.  I realize the master category has a background fill colour across the entire row but even then, it just looks all jumbled up too tightly together.

[2016-01-20 14:25] bnthews commented on #64
Yup! All good now.

[2016-01-20 16:00] Niictar commented on #107
Seems okay, will close this one.

[2016-01-20 16:00] #107 closed

[2016-01-20 16:21] synapseOH16 commented on #27
I am experiencing the same as ChrisTheCat. I have also noticed that scrolling on any account page is choppy. Scrolling on the Budget page is smooth. Not sure if this makes a difference or not.

[2016-01-20 16:34] dbaldon opened #113 "Resized Inspector window width issues"
Two issues
1) After resizing the Inspector window and reloading the page, the Inspector window goes back to the original width.

2) With the browser window maximized I resized the Inspector window to about 20% of the screen width. After the browser window "restoring down", the Inspector window was no longer displayed. I had to maximize the browser window to resize the Inspector window wider so it

[2016-01-20 16:49] dbaldon opened #114 "Add goals indication doesn't display anything on Firefox."
I have a category with a "target without date" but I see no indication for the category.

I'm using version 0.3.4 of the toolkit on Chrome Version 47.0.2526.111 m

[2016-01-20 16:51] dbaldon opened #115 "Budget rows progress bars - nothing is displayed - Duplicate category names cause problems with this feature"
I have Budget rows progress bars set to "Goals progress" but I see nothing. Is there supposed to be a "goals" column for the progress bar?

I'm using version 0.3.4 of the toolkit on Chrome Version 47.0.2526.111 m

[2016-01-20 17:04] dbaldon commented on #115
I changed this to use "pacing progress" and "pacing on name column..." now I see the shading change. So it seems that the problem is related to using the "goals progress" option.

[2016-01-20 18:03] Jagstyles opened #116 "Pacing Column Numbers Are Not Vertically Centered when using Slim View on the Budget Screen"
I've noticed that when using the Paced column on the budget screen, the numbers are not vertically aligned to be centered.  Instead, they are aligned to be displayed at the bottom of the row height.  As a result, paced column numbers for each category are displayed slightly lower on the screen than the Activity and Available category numbers.

[2016-01-20 18:05] Jagstyles opened #117 "Show all negatives as red doesn't show negatives in the pacing column as red."
Would it be possible to allow the "Square Negative Numbers" feature be enabled for all numbers in nYNAB that have a background fill color.  Right now, only RED negative numbers get the square background fill - it would be nice to use the same square look for any number that has a colored background fill ie: amber, green.

[2016-01-20 19:27] ChrisTheCat opened #119 "Swap cleared and flagged moves save / cancel button off screen"
Turning on the "Swap cleared and flagged columns on Account screen" setting moves the "save/cancel" dialog buttons off screen on the left. They appear to be anchored on the cleared button/column.

I'm using Chrome on OS X.

[2016-01-20 23:35] Geiseku commented on #114
I'm not seeing these on any category at all.

Using 0.3.4 on Firefox 43.0.4

[2016-01-21 00:25] Jagstyles commented on #116
To follow-up on this, I can confirm that this problem seems to only existing when using the SLIM view on the Budget screen.  Not only is the numbers not aligned vertically in the center of the row height but a small portion of the background fill color on categories with warnings is cut-off.

[2016-01-21 00:25] Jagstyles commented on #114
Same with me.  v0.3.4 on Chrome.

[2016-01-21 02:36] humblpirate commented on #80
I had trouble getting all the steps completed to open the files to try these changes before the latest update.  (Again, n00b, sorry :$ )  So, in looking at the latest official update, the new tooltip seems to be wrong in multiple ways. I'm not sure if this includes any changes you made based on our above conversation or not. I think the new total outflow must be either (a) off by one decimal or (b

[2016-01-21 13:53] egens commented on #115
No it's supposed to be like this
![_054](https://cloud.githubusercontent.com/assets/748807/12482210/69937446-c05f-11e5-90e0-3a15cced0100.png)
Do you see any goal indicators with that option?

[2016-01-21 14:48] egens commented on #114
What's with budgeted/available/activity on goal category? Page update?

[2016-01-21 15:34] R0MANI96 opened #124 "Pacing Column Disappears"
I've noticed that the pacing column disappears when I look ahead to next month and then when I go back to the current month it's not there either.  The only way to bring the pacing column back is to reload YNAB.

[2016-01-21 16:21] dbaldon commented on #115
No. Here is what I see;
![image](https://cloud.githubusercontent.com/assets/11460228/12486525/b9b7b89c-c028-11e5-9acc-d7c3a0a1cd76.png)

[2016-01-21 16:24] dbaldon commented on #114
Not sure I understand your question @egens. Here is what I see;
![image](https://cloud.githubusercontent.com/assets/11460228/12486640/25f8cfdc-c029-11e5-982d-0b422ef864ca.png)
Does that answer your question?

[2016-01-21 16:32] cfmDeveloper commented on #27
I will say that i've noticed if I click anywhere on the page it toggles the splits to being fully extended again.  It was very confusing and annoying until i figured out what was going on.

[2016-01-21 17:50] caseytsui commented on #80
I have only been budgeting in this file for 22 days, and so I chose to use 1 month old transactions. My DoB is huge at 392 days. When I increase the length of history lookup, the DoB decreases. I apparently have 111 days of budgeting due to my accounts being connected to Direct Import. I have attached what happens to my DoB when I try different history lookups. After 6 months, the numbers don't ch

[2016-01-21 18:42] egens commented on #80
@humblpirate it goes with (b) now. Total days show what data YNAB has with those hidden transactions. There indeed are some 109 days history of your transactions in YNAB and some of it is hidden.

@caseytsui
* Why don't you like "All" option?
* Tracking accs shouldn't count. I use this code for total on budget. Can you check it out in F12?
`budgetAccountsTotal = ynab.YNABSharedLib.getBudgetViewMod

[2016-01-21 18:43] egens commented on #115
@dbaldon yeah, that is but I still can't understand what's wrong.

[2016-01-21 20:10] Niictar commented on #124
Thanks for the report @R0MANI96

The pacing column is meant to go away if you are not on the current month. But it should come back when you return. Can you let me know what browser and operating system you are using?

[2016-01-21 20:13] R0MANI96 commented on #124
No problem @Niictar I'm on my work machine right now, using Chrome Version 47.0.2526.111 m on Windows 8.1 64 Bit

[2016-01-21 21:21] dbaldon commented on #115
1 Error:
![image](https://cloud.githubusercontent.com/assets/11460228/12494917/637576f2-c052-11e5-9f31-7e1b8ba1cb99.png)

[2016-01-21 22:22] Mansarde commented on #74
Hi, just updated to 0.3.4, but there's still no pacing column visible.
I've turned it off, saved, turned it on, saved, refreshed website (full refresh with SHIFT).
If there's anything I can do to provide more helpful info (no matter how technical), let me know. :)

[2016-01-22 02:33] Niictar opened #126 "Preventative action against merge hell"
@blargity

The latest pull requests are merge hell just waiting to happen. You can guess which file is causing the most trouble.

If you can hold off on merging the PRs, I am taking it upon myself to solve the imminent merge conflicts since I built that file and since it's causing so much trouble. I am incorporating @johde's and @egens' changes so they don't get lost in the shuffle.

I'm working o

[2016-01-22 03:21] Geiseku commented on #115
I'm having a similar issue here, as well as seeing [#114](https://github.com/blargity/toolkit-for-ynab/issues/114).

I normally run Firefox, but I've got Chrome (47.0.2526.111 m) as well so, I installed this extension there, and opened YNAB in both browsers.

Both browsers show the progress bars for some, but not all goals. I don't see any correlation between goal types or anything else as to whic

[2016-01-22 04:11] Niictar commented on #126
I've made PR #127 so I am closing this. I will need to work on refactoring out the if statements another night :(

[2016-01-22 04:11] #126 closed

[2016-01-22 09:02] iamnafets commented on #124
@R0MANI96 -- I do not know if I addressed your issue exactly, but I did find a bug which was impacting FF and may have impacted your browser in certain instances. Proposed fix is here:

https://github.com/blargity/toolkit-for-ynab/pull/128

Would love for you to test once it's in.

[2016-01-22 09:05] iamnafets commented on #113
These are both good reports. I'm trying to work out the appropriate behavior:

1) It seems like the ideal would be to store this off every time the user interacts with the bar. I think this should be stored (and restored) as a percentage.
2) Ditto here. When the window is resized, the percentage should be re-projected onto the window width to determine the width in pixels.

Unfortunately the exten

[2016-01-22 09:06] iamnafets commented on #67
Good report @Niictar, this appears to be a merge error regression. I've fixed it here:
https://github.com/blargity/toolkit-for-ynab/pull/128

Please let me know if this fixes your issue.

[2016-01-22 10:05] blargity commented on #74
I'll see if I can replicate. Last I checked I was able to see this but I'll try harder to break it this time.

[2016-01-22 10:07] blargity commented on #115
@dbaldon, that error looks like you have an ad blocker installed (or something like ghostery / privacy badger) and the browser was trying to load google analytics.

[2016-01-22 10:09] blargity commented on #126
Don't feel guilty, I love the way we're headed, and when the script is ready we'll be good!

Thanks so much for merging for me in the mean time. I expect to get a lot of time tomorrow to finish out that Python script! :+1:

[2016-01-22 10:11] blargity commented on #117
If you had the show all negatives as red option turned on as well, would that solve the problem for you?

If not, I can think of where negative numbers are amber (credit cards) but are they ever green? Where does that happen?

[2016-01-22 10:12] blargity commented on #116
Thanks for the report and fair enough!

One of us will need to go in and get the two options to play nice together.

[2016-01-22 10:15] blargity commented on #113
@iamnafets if I were you, I'd store it in pixels first, try that and see how it feels, and then if it's frustrating I'd switch to percentages.

I think if it feels like the inspector is pegged to the right side of the window (in pixels) while you're resizing that would be normal and reasonable behaviour, which might save you some pain dealing with the percentages.

[2016-01-22 12:48] dbaldon commented on #115
@blargity I do indeed run AdBlock. Pausing AdBlock and reloading the page then looking at the console reveals no errors BUT the progress bar still isn;t displayed. With AdBlock active it does say that it blocked one ad. That's a bit odd. I wouldn't expect AdBlock to find anything to block on the nYNAB app page. Of course in CHrome AdBlock doesn't show which ad was blocked. I'll try it on FireFox.

[2016-01-22 13:14] dbaldon commented on #115
Installed this on Firefox along with AdBlock. AdBlock does not see an ad on the page. However, I still don't see the progress bar for my category with a goal.

[2016-01-22 13:21] R0MANI96 commented on #124
@iamnafets Will do!

[2016-01-22 13:47] Jagstyles commented on #117
Negative numbers are amber in the PACING column.  So if you are pacing towards an over budgeted category at the end of the month, the pacing number has an amber background fill but with rounded edges. It would be nice if it too was Square instead of Rounded.

[2016-01-22 15:00] Hackmodford commented on #75
The settings screen is broken again, like before.

[2016-01-22 17:40] blu313 opened #129 "Days of Buffering"
My DOB calculation says I have a total outflow of $44,000 and that I have been budgeting for 113 days. I started last week. Did I set something up wrong in YNAB?

[2016-01-22 21:49] egens commented on #129
@blu313 no, it's ok. If you have Direct Import, YNAB gets more transactions than it shows.

[2016-01-22 23:31] blu313 commented on #129
Gotcha. So that just means DOB won't work if I use direct import?

[2016-01-23 01:57] MikeBishop opened #130 "Extension setting sync"
Installation of extension is synced, but settings don't appear to be.  Would be nice not to re-configure on each machine.

[2016-01-23 02:46] blargity commented on #130
Currently we're storing the settings within the browser itself locally, which is why the settings don't sync. The only way to share settings like this would be to store them on a server somewhere and then have some sort of login.

I'd love to have it work in a centralised way, and I can think of some ways to achieve that.

[2016-01-23 02:46] blargity commented on #129
@egens, is there any way to filter these transactions out? There must be some kind of flag on them so YNAB doesn't treat them as real transactions, no?

[2016-01-23 02:47] blargity commented on #119
The fix for this has been merged and will be in the next release.

[2016-01-23 02:48] blargity commented on #117
In that case, it sounds like we should make the "show all negatives as red" actually show negatives as red in the pacing column as well and that'd solve this.

Does that sound like a good approach to you too?

[2016-01-23 02:52] blargity commented on #115
It looks like they're using Google Analytics and doing some tracking of usage of the app. It's not an ad per se, but AdBlock blocks trackers as well as ads.

If you want to see exactly what they're sending back to Google Analytics you can install the Google Analytics debugging extension and it'll show you all the info they're sending back as you use the app: https://chrome.google.com/webstore/deta

[2016-01-23 02:55] blargity commented on #110
These changes have been merged in and will be availble in the next release. I'll leave this open until @Jagstyles confirms that we've fixed it. :-)

[2016-01-23 02:56] blargity commented on #75
Alrighty, I'll do it async and properly which should fix this issue permanently, just will involve a refactor of the settings screen logic.

Thanks for the heads up.

[2016-01-23 03:45] Geiseku commented on #130
Doesn't Chrome provide a storage sync API for logged in users?

[2016-01-23 05:02] blargity commented on #130
Yes, but we also support Firefox and Safari. :+1:

YNAB actually have an API for this which syncs your account settings across devices when you're logged in, but have politely asked us not to shove random data into their DB for now.

[2016-01-23 05:37] Niictar commented on #124
I see pacing in Firefox!

[2016-01-23 06:01] Niictar opened #132 "Firefox: Reloading existing YNAB tab does not update settings"
Bug updated:

I have noticed this as a problem over the past couple of days in FireFox. I don't know if it's directly related to recent changes to our code base though, as I have gone as far back at v0.3.3 ( 6dabc529c0ebc07ace39f3023837de2b4b4dffb2 ) and the problem persists.

When you open a new browser tab, (or when the browser is restarted), each of the features appears to work as intended (eve

[2016-01-23 06:54] blargity commented on #132
I'm not sure why that'd be, as the injected script definitely has to run each time you load the app and refresh.

I'll try to reproduce.

[2016-01-23 07:05] Geiseku commented on #132
I'm seeing a difference between simply reloading a tab, and closing then opening a new YNAB tab.

Hitting F5 on the YNAB tab after changing settings does **not** pick up the changes. Any new YNAB tabs opened in the same browser session do pick up the changes.

[2016-01-23 07:43] Niictar commented on #132
@Geiseku Yea, I see the same behavior. Opening a new tab works works as expected. I'm going to update the bug description with that detail. Good catch.

[2016-01-23 08:02] egens commented on #129
@blu313 @blargity those hidden transactions are real. So that means if you just started and have 0 days of budgeting but have those hidden transactions, DoB can be calculated with ~100 days of history. They actually help!

[2016-01-23 08:05] egens commented on #115
@blargity as I understand Adblock doesn't affect this bug?

[2016-01-23 10:28] Geiseku commented on #115
I completely disabled the Adblock extension and I'm still seeing the same behaviour.

[2016-01-23 10:30] blargity commented on #129
Cool, sounds like a plan!

[2016-01-23 10:35] egens commented on #115
@Geiseku it's hard to debug without your data.
Could you kindle run this in console F12 ?
[code]

[2016-01-23 10:51] Geiseku commented on #115
Hi @egens, I ran it on two very similar categories. They both have a target category balance goal of $50 and both currently have $10 available in the category.

The first one "Music" gave this:
Object { Target: 0, Monthly: 0, Upcoming: 0 }

The second one "Books" gave this:
Object { Target: 4, Monthly: 0, Upcoming: 0 }

Of course Music is the one that has no progress bar.

[2016-01-23 10:53] blargity commented on #115
@egens, yup, it's not related.

[2016-01-23 11:19] Geiseku commented on #115
Since the only difference between the two categories I tested was their names, I had a crazy thought that maybe there was some internal conflicts or reserved names or something. I renamed "Music" to "Music2" and bingo, progress bar displayed. I then renamed in to "Klingons" just to be random, and it kept working. Changed it back to "Music", and goodbye progress bar.

[2016-01-23 11:28] egens commented on #115
@Geiseku and that code on the renamed Music gives
Object { Target: 0, Monthly: 0, Upcoming: 0 }
or else?

[2016-01-23 11:28] Geiseku commented on #115
Object { Target: 4, Monthly: 0, Upcoming: 0 }

[2016-01-23 11:32] Geiseku commented on #115
I also still get a result for the name "Music":

[2016-01-23 11:33] egens commented on #115
You have only one budget?

[2016-01-23 11:33] Geiseku commented on #115
Yes. Only one budget.

[2016-01-23 11:34] Geiseku commented on #115
Have a look at the contents of entityManager.subCategoriesCollection. I'm seeing a bunch of extra categories that look like the default budget set up.

[2016-01-23 11:41] egens commented on #115
Okay, I also see this. It looks like YNAB stores all deleted categories and taking cat by name isn't good. I'll look closer soon.

[2016-01-23 16:09] Niictar commented on #117
This one is kind of tricky, 'cause @iamnafets once set the feature up to show negative pacing as 'hot' (red) and toned it down after feedback. Then, for consistency (and interoperability with colourblind mode) we actually take and use YNAB's available category balance CSS selectors. Choosing to use 'negative' instead of 'cautious' as the CSS selector would make them square when that setting is ena

[2016-01-23 18:23] Jagstyles commented on #117
Whichever way would make it easiest for implementation but allow a consistent look with squared edges instead of rounded edges, that would be great!

[2016-01-23 18:24] Jagstyles commented on #110
Great, I'll await next version and will report back.  Thanks!!!

[2016-01-23 20:30] RobFreundlich commented on #115
I'm having the same problem as dbaldon showed, but for pacing progress bars.  Running the calculations from egens to get the calculation variable, I get incorrect results as well.  In fact, I get bars on almost no categories.

But as I explored a bit, I noticed the problem.  Check this out:

![image](https://cloud.githubusercontent.com/assets/7975013/12532593/dbf24904-c1e5-11e5-9818-ed57bace2f1f.p

[2016-01-23 20:34] dbaldon commented on #115
I do believe RobFreundlich as hit on the issue. I also see the progress bars if I move ahead to February.

[2016-01-23 20:53] egens commented on #115
@dbaldon @RobFreundlich hope #134 fix this.

[2016-01-23 21:15] dbaldon commented on #115
Look forward to the fix and trying it out. Thanks much!

[2016-01-23 21:16] dbaldon commented on #114
BTW, the fix for issue #115 should fix this as well. Moving forward to February I did see the goal indicator.

[2016-01-23 22:30] RobFreundlich commented on #115
I'll check it out when a new point release comes out, but it's not clear that it'll do it.  #134 is about timezone problems, but I wouldn't expect a timezone error to affect affect the actual date (and therefore the month) unless it is currently near midnight on the first or last day of the month.

Oh - wait, unless you are not worrying about the time for this calculation, so it's defaulting to mi

[2016-01-23 22:53] iamnafets commented on #67
Think this is fixed. Can someone confirm?

[2016-01-24 00:07] iamnafets commented on #115
That's exactly what was happening, RobFreundlich. The date returned was in UTC. For those with offsets negative wrt UTC, the month was being detected correctly. For those with offsets positive wrt UTC, the month was appearing forward.

[2016-01-24 00:53] blargity commented on #115
And the PR has been merged. If you've got tech chops, feel free to clone master, do a built and try it on your budget. Otherwise I'll be releasing 0.3.5 on Wednesday Sydney time.

And @RobFreundlich, my favourite one of these is that Newfoundland does half hour daylight savings. Just to be different. Thanks guys.

[2016-01-24 00:55] blargity commented on #114
Pull request merged! If you've got the tech chops for it, clone master, do a build and try on your own budget. If not, I'll be releasing 0.3.5 on Wednesday Sydney time.

[2016-01-24 00:58] blargity commented on #132
It's so odd though... You'd think refreshing the page would have to re-run the content script. May have to play around in the FF debugger and see if it's caching or something.

[2016-01-24 03:52] Geiseku commented on #115
Looks like there's a few different bugs at play here.

[2016-01-24 03:55] Geiseku commented on #114
If this works for @dbaldon then I guess I've got a different bug. I built the current master and I'm not seeing a change in bug behaviour.

[2016-01-24 22:28] RobFreundlich commented on #115
Half hour DST?  My head is going to explode.  I bet in during DST a year that's divisible by 4 but ends in two zeroes that isn't a millenial year except after "C" or when sounded like "A" when the moon is full twice in one month or is in the seventh house, the don't *ever* know what time it is!

[2016-01-25 04:11] StephenBrown2 commented on #115
Yay! I now know why my goals/pacing wasn't displaying! Now to eagerly await Wednesday... or is that Tuesday for me in US CST, UTC -6? ;-)

[2016-01-25 12:31] blargity commented on #130
I've gone ahead and added this to the Roadmap here:
https://trello.com/c/bse9h25w/172-sync-toolkit-settings-between-installed-computers

I'm going to go ahead and close this issue so we can track this along with the other feature requests. Thank you for contributing, I think this would be a really cool feature!

[2016-01-25 12:31] #130 closed

[2016-01-25 12:32] blargity commented on #129
Alrighty, looks like this was answered. I'm going to go ahead and close this. If we didn't answer the question, please let us know so we can get to the bottom of it!

[2016-01-25 12:32] #129 closed

[2016-01-25 12:32] blargity commented on #124
@R0MANI96, this has been released as part of 0.3.5. Does pacing work for you now?

[2016-01-25 12:33] blargity commented on #119
v0.3.5 was released tonight. Could you let us know if this is fixed or if we should have another look?

[2016-01-25 12:35] blargity commented on #117
Yeah, @Niictar, I think if they've specifically chosen the "show all negatives as red" option, then negatives in the pacing column should turn red. Maybe the best implementation is to stop using YNAB's classes and just doctor up the pacing column with .negative-value or something, then have the show negatives as red feature can target both classes so we don't have to change what's already working.

[2016-01-25 12:36] blargity commented on #114
0.3.5 came along early. Just released!

Let me know if this now works for you guys or if you're still seeing weirdness.

[2016-01-25 12:37] blargity commented on #110
v0.3.5 was released. Does this option work for you? :+1:

[2016-01-25 12:39] blargity commented on #80
Ok, v0.3.5 released containing the #125 fix!

[2016-01-25 12:40] blargity commented on #75
This works for me in v0.3.5 that I sent you @Hackmodford (which was actually built from this branch: https://github.com/blargity/toolkit-for-ynab/tree/mutation-observer, not master). Could you let me know if this is working for you now?

[2016-01-25 12:41] blargity commented on #74
There was one more bug fix that might have fixed this for you that got released in 0.3.5 (just a few minutes ago). Are you still seeing this issue with the latest release?

[2016-01-25 12:42] blargity commented on #67
#128 has now been incorporated in v0.3.5. @mikeb2 or @Newguru-1, are either of you still having this problem with v0.3.5?

[2016-01-25 12:44] blargity commented on #27
Should we just remove this feature until it works fully? We can do that with "hidden: true" in the settings.json so it's easy to restore now whenever we want to.

[2016-01-25 14:05] R0MANI96 commented on #124
@blargity I'm still on version 0.3.4.  I haven't received an update.  But I did notice over the weekend that on my personal PC's at home, when I go to the next month and then go back to the current Month the Pacing Column still appears for the current month.  Those PC's are using Chrome as well.

[2016-01-25 14:28] Niictar commented on #27
This should actually have a fix in our latest release (0.3.5) if someone can test and confirm that.

[2016-01-25 14:41] blargity commented on #27
Ok, awesome, wasn't aware that that was part of your refactor. Good stuff!

[2016-01-25 15:48] mikeb2 commented on #67
The pacing column is now displayed in Firefox 43.0.4.

[2016-01-25 16:00] dbaldon commented on #114
Oh boy, things are worse than they were before. For me I still don't see the indicator. If I move forward to February I see an indicator for categories that don't have a goal and don't see it for the categories that do have a goal. If I move back to January and then back to February, the indicators are gone for all categories. But...as I've tried to replicate what I see, it doesn't always behave t

[2016-01-25 16:02] dbaldon commented on #115
Using 0.3.5 I no longer see the shading when moving forward to February. So now I don't see it all.

[2016-01-25 16:31] casner commented on #27
Just tested; works fine. In fact, I also have the coloring of reconciled transactions and that seems better also, and scrolling is smoother.

[2016-01-25 16:52] ChrisTheCat commented on #27
Works better with 0.35, but still not fixed. With the new functionality, I experience this:

I have many splits in my scheduled transactions. When I view the account (showing scheduled and current transactions only, reconciled transactions hidden), if toggle splits is off, I can scroll down past the scheduled transactions to see the current transactions. When I turn toggle splits on, scrolling dow

[2016-01-25 16:53] ssilence5 commented on #119
This doesn't quite work as intended. If it is the first row, then it works fine.

![image](https://cloud.githubusercontent.com/assets/3661815/12557709/1e5df714-c35a-11e5-8d16-a81b08014528.png)

However, when you get to a lower row it seems to stick in one place (same location it was previously).

![image](https://cloud.githubusercontent.com/assets/3661815/12557734/33e5a6d6-c35a-11e5-9bc7-b1f8ac14c

[2016-01-25 16:55] ChrisTheCat commented on #119
I see the same behavior ssilence5 reports, using Google Chrome on OS X.

[2016-01-25 16:59] dbaldon commented on #27
It is better but I still a section of white space at the bottom of the register. If I continue scrolling down the white space eventually goes away but as I scroll up it reappears when the original split txn is shown. It is certainly better than it was.

[2016-01-25 17:00] ssilence5 commented on #119
Let me add that I am using Google Chrome v48 (64-Bit) on Windows 7, with Toolkit for YNAB v0.3.5

[2016-01-25 17:01] Niictar commented on #119
Thanks for the reports! We'll take a look at what extra work needs to be done with this.

[2016-01-25 17:42] casner commented on #27
I can get the white space to occur if I look at All Accounts and All Dates. That provides a huge number of scheduled splits. It looks like a buffer overrun, since if I limit the number of lines with a shorter time horizon or just one account I don't see the problem.

[2016-01-25 18:04] R0MANI96 commented on #124
@blargity Ok finally on 0.3.5 all looks good so far!  I'll test this when I get home today too.  Thank you!

[2016-01-25 23:25] Jagstyles commented on #110
Sweet! Looks perfect!!! Thanks for this.  You can close this now as issue has been resolved.

[2016-01-26 00:57] dbaldon commented on #114
Here's a screen shot from the computer at home after reloading nYNAB and moving forward to February;
![image](https://cloud.githubusercontent.com/assets/11460228/12569538/6080465c-c395-11e5-83e3-436296fbbd49.png)
None of those categories has a goal but you can see a goal indicator and shading on the Internet Streaming Services category.

[2016-01-26 02:32] StephenBrown2 commented on #115
I wasn't at first either, even after a refresh, but a trip to the accounts page and back to the budget brought them back.

[2016-01-26 02:45] StephenBrown2 commented on #114
'U' means that you have upcoming transactions in that category for that month. It looks like YNAB is marking those that you haven't spent anything in with yellow, and your carry over is positive $4.41. Toolkit is then showing you're 100% covered for that goal. Perhaps because you already paid it in January?

[2016-01-26 03:08] corinne opened #137 "Inspector Disappears when Selecting "Allow Resizing of Inspector" Option"
As the title says. I'm using a mac with El Capitan. Latest version of the extension, I believe. 0.3.5. Chrome browser.

[2016-01-26 03:16] iamnafets commented on #137
How big is your window/monitor?
On Jan 25, 2016 7:08 PM, "Corinne" <notifications@github.com> wrote:

[2016-01-26 14:12] dbaldon commented on #115
Another data point. It appears that the categories getting the errant shading and goal indicator are all related to for which there is a scheduled transaction. See screen snips below;
![scheduledtransactions](https://cloud.githubusercontent.com/assets/11460228/12582718/6690ad7e-c404-11e5-9da8-f371c6f6140f.png)
![categories1](https://cloud.githubusercontent.com/assets/11460228/12582727/705aacce-c40

[2016-01-26 14:22] dbaldon commented on #114
@StephenBrown2 that makes sense though the U was not immediately obvious as I was only expecting something for a category with a goal. I think the U should be optional. However, this doesn't explain why the two categories (not shown) with a "real" goal don't have any shading or indicator.

[2016-01-26 22:29] Geiseku commented on #115
I also lose the progress bars when I move forward to February.

[2016-01-26 22:29] Geiseku commented on #114
I'm still getting to indicators at all in Firefox.

[2016-01-26 22:55] Mansarde commented on #74
@blargity
Yes! Pacing is now shown in Firefox.
Thank you very much, nice work! :+1:

[2016-01-26 22:56] tomeddie commented on #115
@StephenBrown2 is correct.  When I go forward to February, there are no progress bars.  But if I then go to the accounts page and back to the budget they will suddenly show up.

[2016-01-26 23:07] Mansarde commented on #114
I can confirm what @Geiseku said, i.e. I have no indicators showing in Firefox either.
No refresh, re-login, clearing cache, turning the option off and on again or opening YNAB in a new tab helps.

[2016-01-26 23:50] dbaldon commented on #115
@StephenBrown2 @tomeddie What do you mean by the "accounts page"?

[2016-01-27 00:23] dbaldon commented on #115
Took a look at the Console and I see this;
![image](https://cloud.githubusercontent.com/assets/11460228/12599545/6318b3ae-c458-11e5-985b-295d18e15821.png)

[2016-01-27 00:57] blargity commented on #74
Awesome! Thanks for letting us know.

[2016-01-27 00:57] #74 closed

[2016-01-27 04:08] dbaldon commented on #115
I added this "if ( "Uncategorized Transactions" != subCategoryName )" to main.js and goals.js after the category name is obtained after noticing that I had a category named Uncategorized Transactions with a - for the budget amount. That got rid of the errors i noted in my previous comment and resulted in shading as expected.

When I moved forward to February I noticed that code isn't driven again.

[2016-01-27 07:13] Niictar commented on #117
I'm thinking of implementing an update this way:

- Update description for 'highlight negatives red' to better describe it as 'highlight negative balances red'
- Add rule that will apply square styling to negative values in the pacing column
- Look at adding a toggle to the Pacing column that will let users choose a red 'hot' highlight in addition to the existing available grey/amber toggle for ne

[2016-01-27 17:37] Niictar commented on #27
Thanks for the reports! Unfortunately, I can't reproduce some of the remaining problems that you are finding, due to the structure of my own budget. This doesn't mean it won't ever get fixed. However, I'm unable to recreate the problem with scheduled split transactions for example -- so I can't get visibility into what the problem is. Sorry about that! If another member of the team can reproduce s

[2016-01-27 18:09] casner commented on #27
Using 0.3.5:

It does not seem to be related to the number of items in a split: I split my paycheck 22 ways, and it scrolls fine when collapsed when viewing just the Saving Account. And of course it scrolls fine when not collapsed as the option isn't doing anything - that's YNAB default.

It does seem to be related to the total number of items showing when splits are collapsed, whether those items

[2016-01-27 18:53] tomeddie commented on #115
@dbaldon By the "Accounts Page" I mean clicking on this:
![accounts_ynab](https://cloud.githubusercontent.com/assets/745087/12624465/1e7d6e38-c4e4-11e5-8d60-89866f5c7286.png)

[2016-01-27 18:54] tomeddie commented on #115
As a followup to when I switch months, I get the following in the console:
![console_ynab](https://cloud.githubusercontent.com/assets/745087/12624490/3f0a1ffc-c4e4-11e5-9abf-1f49a559319e.png)

[2016-01-27 19:16] ChrisTheCat commented on #119
Here's another example - the save/cancel button is covering part of the split.

![screenshot 2016-01-27 11 13 41](https://cloud.githubusercontent.com/assets/8732435/12625126/4479b45e-c4e7-11e5-9a71-8e9e16941c52.png)

With the swap cleared/reconciled feature turned off (default YNAB behavior) the save cancel button appear in the correct location.

![screenshot 2016-01-27 11 15 52](https://cloud.git

[2016-01-27 19:17] Niictar commented on #119
Thanks @ChrisTheCat We have pushed through an update that should squash this. We're expecting it to be available for the next release (0.3.6).

[2016-01-27 19:23] ChrisTheCat commented on #27
I made a screenshot
[2016-01-27_1122.swf.zip](https://github.com/blargity/toolkit-for-ynab/files/107189/2016-01-27_1122.swf.zip)
video using a test budget as an example.

[2016-01-27 21:37] dbaldon commented on #115
Thanks @tomeddie that's what I figured you meant.

I also see the error messages you posted when switching months.

[2016-01-28 00:19] Hackmodford commented on #75
DoB works in 0.3.6

[2016-01-28 00:19] #75 closed

[2016-01-28 14:20] corinne commented on #137
13 inch
On Jan 25, 2016 7:16 PM, Stefan Mai <notifications@github.com> wrote:How big is your window/monitor?
On Jan 25, 2016 7:08 PM, "Corinne" <notifications@github.com> wrote:

—Reply to this email directly or view it on GitHub.

[2016-01-28 14:47] nconantj opened #140 "Don't Hide Splits When Entering or Editing a Transaction"
When I go to enter a split transaction with splits collapsed, I can't edit the splits. I have to toggle the splits open.

This is also an issue when trying to edit a split transaction.

This would mesh well with the idea of transaction level split toggling (https://github.com/blargity/toolkit-for-ynab/issues/27#issuecomment-171371898).

[2016-01-28 15:21] StephenBrown2 commented on #115
Yes, @tomeddie figured it out. ;-)

I have found though that if I go back and forth between the months the bars go away again... probably related to the error messages @tomeddie and @dbaldon are seeing.

I see different errors though:
[code]

[2016-01-28 15:59] DMarie0409 opened #141 "Progress bars disappear when changing months"
If I change months in the budget screen the month I was on loses the progress bars if I go back to that month. I am on Chrome.

Steps to recreate:
1. Go to month with progress bars present, in this case January
2. Click on Next Month arrow to go to next month, in this case February
3. Click on Previous Month arrow to go back to current month, in this case January - progress bars that were previous

[2016-01-28 16:39] Kleonike opened #142 "Toggle splits button truncates list of transactions in account window"
It appears that the toggle splits button may impose a limit on the number of transactions that are viewable for an account. When I turn off the Create Toggle Splits button setting, I can see all the transactions I've entered for the affected account. The account is a credit card that I use a lot. The total number of entered transactions is 39. When the Toggle Splits button is enabled, I see only 2

[2016-01-29 01:28] Geiseku commented on #141
This is discussed in #115

[2016-01-29 11:29] blargity commented on #115
All of those "unknown property is being set" errors come with default YNAB and seem to be unrelated to the extension. (To verify, disable the Toolkit for a bit, reload YNAB, click around on months and you should see the same error messages.)

[2016-01-29 11:29] blargity commented on #141
I'm going to go ahead and close this one as a duplicate of #115. @DMarie0409, if I'm wrong please let me know!

[2016-01-29 11:29] #141 closed

[2016-01-29 11:31] blargity opened #143 "The toggle splits button does not appear on Safari"
From forum user pgauntlett, Toggle splits button doesn't appear in Safari. Can anyone replicate?

[2016-01-29 11:31] blargity opened #144 "Reconciled transactions do not adopt the specified colour on Safari"
From forum user pgauntlett. Can anyone replicate?

[2016-01-29 14:34] Bordermancer opened #145 "Toggle Splits feature causes future transactions to be partially hidden when sorting by date. (Firefox 44)"
Toolkit for YNAB v 0.3.5! has a new bug.

With the Toolkit enabled, if I sort my checking account transactions by date with the future ones at the bottom of the list only 6 out of my 11 future ones are visible. When I disable the Toolkit, all 11 of them are visible.

I also believe that it caused a problem with two monthly recurring transactions dated today which I approved in the register early t

[2016-01-29 14:59] BurgerDessert commented on #114
On mine, I have the letter indicators but no progress bar.

Running Version 0.3.5 on Chrome Version 48.0.2564.97 m

![capture](https://cloud.githubusercontent.com/assets/16907324/12678853/e3ab3d26-c66e-11e5-916a-f00b4b5719f8.PNG)

[2016-01-29 21:32] Niictar commented on #27
@blargity

I don't have great news about this.

I've been able to recreate a number of these issues being reported. The problem is in how the accounts list is being constructed. There is a calculation being made by YNAB that says "Okay, browser height is 500px. I know I can fit just over 16 full rows on the screen" and then proceeds to do just that.

When we hide a row, the application doesn't kno

[2016-01-30 04:16] blargity commented on #27
@Niictar, the functionality to do this is already in the settings system.

Just put "hidden: true," in the settings.json and it'll disable the feature entirely, including for those that have it turned on, and hide it from the options screen. :smile:

That makes it easy to flip it back on for testing or disable quickly and re-release should something need to be shut off.

[2016-01-30 04:17] blargity commented on #145
Could you let us know what options you have turned on? If all options are turned off, does the problem still occur?

Essentially when everything is turned off the toolkit should have no effect and it should work. If we then go through and turn the settings on one at a time, we'll be able to figure out exactly what's causing the issue.

[2016-01-30 04:18] blargity commented on #110
Awesome, thanks for getting back to us!

[2016-01-30 04:18] #110 closed

[2016-01-30 04:18] blargity commented on #80
Does this work for everyone now? Can I close this issue?

[2016-01-30 13:23] Bordermancer commented on #145
I initially had all of the following options turned on.

Budget Screen:

Collapsible Side Menu

Accounts Screen:

Add a Toggle Splits Button

Show the Total of Selected Transactions

Change Behavior of Enter Key When Adding Transactions

Budget Screen:

Expand/Collapse budget master categories button

Make the Calculator Work Like YNAB4

Remove Zero and Negative Categories When Covering Over-Budge

[2016-01-30 13:35] blargity commented on #145
Thank you for your sleuthing @Bordermancer, that helps a lot! There are some known issues with the Toggle Splits feature and we're contemplating disabling it altogether until it's more reliable. (#27)

We also already know about Firefox not refreshing settings on reload (#132)

I'm going to go ahead and rename this issue to describe what's going on. Unfortunately in the short term the likely remed

[2016-01-30 17:47] caseytsui commented on #80
Looks good to me now.

[2016-01-31 02:20] blargity commented on #80
Awesome, thanks! If anyone else has trouble feel free to re-open or open a new issue.

[2016-01-31 02:20] #80 closed

[2016-01-31 02:23] blargity commented on #144
Looks like this was my fault. Fix just got merged in and will be in the next release. (#147)

[2016-01-31 02:24] blargity commented on #145
Confirmed, fix for now is to disable this feature (merged in #147).

I'll go ahead and close this issue. The Firefox not refreshing settings issue can be tracked in #132.

[2016-01-31 02:24] #145 closed

[2016-01-31 02:24] blargity commented on #143
Since we've disabled this feature in PR #147 I'm going to go ahead and close this issue.

[2016-01-31 02:24] #143 closed

[2016-01-31 02:26] blargity commented on #140
The toggle splits feature has caused a lot of additional bugs. We've gone ahead and disabled it for the next release until we can go through and have a look properly.

I'm going to go ahead and close this issue and when we get back around to looking at it again we'll make sure it's less buggy in general. Thank you very much for the report!

[2016-01-31 02:26] #140 closed

[2016-01-31 02:26] blargity commented on #124
Hey @R0MANI96, how did your testing go? Can I close this issue off?

[2016-01-31 02:28] blargity commented on #117
Yeah, I think the interaction between these features is tricky. Your solution sounds as consistent as we can make it.

[2016-01-31 02:30] blargity commented on #55
This is now complete. The final task is to document what we've done, which I'll do shortly.

[2016-01-31 02:30] #55 closed

[2016-01-31 02:31] blargity commented on #27
Unfortunately we've had to disable this feature for now as it brought with it too many bugs.

We'd be happy to have another look at bringing this back, we just need to make sure we test before we re-release.

I'm going to go ahead and close this issue.

[2016-01-31 02:31] #27 closed

[2016-01-31 03:25] R0MANI96 commented on #124
@blargity All looks good!  Thanks a lot!

[2016-01-31 05:27] blargity commented on #124
Awesome, thanks for checking back in!

[2016-01-31 05:27] #124 closed

[2016-01-31 05:41] blargity commented on #142
Yeah, we're having a lot of trouble with the Toggle Splits feature. Unfortunately we're going to need to disable it until we can debug it a bit more.

[2016-01-31 12:04] Kleonike commented on #142
Makes sense. Thanks for letting me know. I'll stay tuned.

[2016-01-31 17:18] dbaldon commented on #115
@egens If a user moves to the previous month in the Budget screen, should they still see the progress bars? It seems to me that they should.

[2016-01-31 19:58] dbaldon commented on #115
Changing the if statement in the changedNodes function to this;
if ( (changedNodes.has('navlink-budget') && changedNodes.has('active') ) || changedNodes.has('budget-inspector' ) ) {
results in the shading as you move back and forth between Jan and Feb. If you move to Dec or Mar, you do not get the shading. That is I believe related to code YNAB code in entityManager.getMonthlySubCategoryBudgetCalc

[2016-01-31 21:00] Niictar commented on #115
@dbaldon Thanks. I tested your proposed change and things look improved. I have submitted a pull request based on that update.

[2016-02-01 17:20] cowboy opened #151 "Settings not persisting across multiple computers"
I haven't looked at the source, are `chrome.storage` and `storage.sync` being used?

[2016-02-02 02:00] Rastilyn opened #152 "Add transaction - Split, no splits are shown"
When adding a new transaction and needing to split it i will chose "split (multiple categories) in the transaction window but no extra lines to split show up. Clicking add another split also does nothing. Disabling the addon fixes the issues.
![split bug](https://cloud.githubusercontent.com/assets/17017097/12737472/6bd75a5c-c91e-11e5-99f6-f86eeef3d301.jpg)

[2016-02-02 02:03] Rastilyn commented on #152
I kind of take this back... i just starting turning off features to try and pinpoint the issue come to find out the toggle splits collapses the split entries as well. While this make's sense it is still kind of annoying.

[2016-02-02 07:09] Geiseku commented on #151
This is currently a feature request on the Trello board.

[2016-02-02 11:42] blargity commented on #152
Thank you for the report!

This particular feature has caused a lot of bugs and will be disabled in the next release because it's causing more problems than helping people at the moment. When we get these ironed out we'll enable it again. Sorry about that!

[2016-02-02 11:47] blargity commented on #151
@cowboy, no they're not. We're built on a cross browser platform called Kango which supports Firefox and Safari as well. We could use Chrome storage on Chrome and Kango storage elsewhere, but that'd still not work if you switched browsers or weren't logged into Chrome on a machine.

We've actually found the place that YNAB store their user settings. This means whenever you log in to YNAB we'd get

[2016-02-02 11:47] #151 closed

[2016-02-02 16:36] Rastilyn commented on #152
Good deal! i do like the feature itself it makes the transaction window much easier to read!

On a side note, would it be possible to have the addon auto fill the split transactions entries with the PAYEE field from the master entry? i have always found this more time consuming than it should be.

[2016-02-03 20:41] rhealitycheck opened #155 "Random bar shows up when using budget rows progress bars"
When I choose to see Budget rows progress bars and choose to look at the pacing progress, I see this:
![pacing_issue](https://cloud.githubusercontent.com/assets/5863615/12796288/a9b85482-ca83-11e5-836b-e36ac06a8264.PNG)
And if I choose to see pacing on name and goals on budgeted I see this:
![pacing_line](https://cloud.githubusercontent.com/assets/5863615/12796287/a9b7fd5c-ca83-11e5-8be5-bdbcbc453

[2016-02-03 22:59] StephenBrown2 commented on #155
This line is to mark the progress of the current day through the month.The reason it shifts is because of the width of the name column being narrower (much) than the whole "sheet".

Basically, if the line is behind the bars (to the left of their right edge) you're good on pacing, if it's to the right, you're behind (too much time, not enough money)

[2016-02-03 23:07] rhealitycheck commented on #155
Ok, that sort of makes sense but it cuts through all the categories. So I'm assuming that's the pacing for the entire budget and not category by category, correct?

[2016-02-03 23:28] #155 closed

[2016-02-04 11:47] blargity commented on #152
That's a great simple idea. Are you a member of the YNAB forums? There's a user named StephyWephy that's managing the feature requests and putting them into Trello. Probably best if things get channeled through her so she knows about it and can ensure there are no duplicates.

[2016-02-04 12:37] blargity commented on #144
Now that this has been released, we should be good to go. I'm going to go ahead and close this. If anyone notices this please let us know in a new issue.

[2016-02-04 12:37] #144 closed

[2016-02-04 12:40] blargity commented on #137
@iamnafets Maybe we can set a min-size on the inspector? I can reproduce this on my Macbook Air if I try because I can drag it all the way to the right side of the screen.

Although it can be nice to get it all the way out of the way...

[2016-02-04 12:41] blargity commented on #119
@ChrisTheCat, I just released v0.3.6. Could you test when you get the update and let us know if you're still seeing incorrect behaviour?

Thanks!

[2016-02-04 12:43] blargity commented on #115
This has now been released in v0.3.6. Could you all let us know if this is resolved for your situation?

[2016-02-04 12:44] blargity commented on #67
Awesome, I'll close this issue then, thanks!

[2016-02-04 12:44] #67 closed

[2016-02-04 12:44] blargity commented on #142
Alrighty, feature is now disabled in v0.3.6. I'll close this for now.

[2016-02-04 12:44] #142 closed

[2016-02-04 13:23] dbaldon commented on #115
The issue with no shading IF there are "Uncategorized Transactions" for a
particular month remains. From my comment on github...
"I added this "if ( "Uncategorized Transactions" != subCategoryName )" to
main.js and goals.js after the category name is obtained after noticing
that I had a category named Uncategorized Transactions with a - for the
budget amount. That got rid of the errors i noted in

[2016-02-04 13:51] Rastilyn commented on #152
Sounds go to me, thanks! I shoot her a DM on the forums.

[2016-02-04 14:05] nconantj commented on #152
This is a duplicate of what I reported (https://github.com/blargity/toolkit-for-ynab/issues/140)

[2016-02-04 14:13] nconantj opened #157 "Square Negatives Mode Doesn't Square CC Spending"
It seems that this enhancement might base its decisions on the current highlight color, rather than the actual balance.

It would be useful for it to base on the balance, since that is a way to distinguish underfunded CC spending from underfunded goal categories, while maintaining the default color scheme.

[2016-02-04 14:43] boxfoot opened #158 "Enhancements to Export Transactions"
A few quick enhancements we should make to the export-transactions feature:

* Make the column headers more user friendly ("Master Category" instead of masterCategory)
* Translate internal YNAB category names into something more user-friendly ("Internal Master Category", "Immediate Income SubCategory", "Split SubCategory", etc.)

[2016-02-04 14:56] ssilence5 commented on #119
It is definitely usable now. Still seems to be some alignment issues.

![nynab_alignment](https://cloud.githubusercontent.com/assets/3661815/12818599/887e405e-cb25-11e5-92cd-20502b3cb0ee.png)

[2016-02-04 15:23] ChrisTheCat commented on #119
Vertical alignment is fixed now, but horizontal alignment is off a bit and gets worse when the screen narrows.

Browser window full width, Macbook Air 13" half of the cancel button off right side of screen.

![screenshot 2016-02-04 07 18 51](https://cloud.githubusercontent.com/assets/8732435/12819402/d7cf91d2-cb0f-11e5-9c2d-736060639341.png)

Browser window 2/3 width, same computer, cancel button

[2016-02-04 16:15] falkencreative opened #160 "CSV export shows deleted transactions"
By forum user @badazza:
BUG: Export pulls deleted transactions. It makes it difficult to make an accurate analysis of our expenses.

[2016-02-04 22:57] kergoth opened #162 "Budget to zero broken with existing budget amounts"
If I have budgeted $500 in a category, spend $200 of it, leaving a balance of $300, and click budget to zero, it'll replace the $500 budget with -$300, giving me a negative balance, rather than subtracting the $300 from the $500 and leaving $200 budgeted.

[2016-02-05 16:25] rockmysocks opened #163 "Budget categories highlighted green"
I can't find a reason in the settings why some of the rows in my budget view are highlighted green and others aren't.

[2016-02-05 16:45] StephenBrown2 commented on #162
It looks like #159 fixes this feature.

[2016-02-05 16:56] StephenBrown2 commented on #163
Do you have goal progress bars turned on?

"Budget Rows Progress Bars" in the Budget section of the settings screen.

Goals progress shows as green, Pacing as blue with a vertical dateline on the whole budget sheet.

[2016-02-05 17:04] rockmysocks commented on #163
No, I don't have either the goals progress or pacing progress options selected. I do have the "highlight all  negative category balances red" option ticked, but I'm not sure why that would turn the rows of positive balances green.

[2016-02-05 17:30] rockmysocks commented on #163
It seems to have something to do with goals, though. I noticed it's only affecting categories for which I have a goal, and when I delete a goal the highlight disappears.

[2016-02-05 18:59] ChrisTheCat commented on #119
Actually, I had to turn it off. When adding new entries in the register, it did this:
![screenshot 2016-02-05 10 57 41](https://cloud.githubusercontent.com/assets/8732435/12856016/8c3a66a0-cbf7-11e5-8e78-5e0435342d54.png)

[2016-02-06 00:13] blargity commented on #158
Are you going taking these on or should we leave it for someone else on the team to have a play with?

Also looks like it might be pulling in deleted transactions at the moment: #160.

[2016-02-06 00:14] blargity commented on #162
#159 is now merged and will be in the next release.

[2016-02-06 00:17] blargity commented on #163
Sorry if you've already checked this, just want to be sure.

It could be that you had goals progress turned on, then loaded YNAB, then turned it off. If you're in Firefox your new settings won't apply until you open a new tab: #132.

Could you try opening a brand new tab, then loading YNAB in it?

[2016-02-06 00:19] blargity commented on #115
That's ok! One of us will take care of it.

I'd be remiss if I didn't mention that if you've got time a pull request would be awesome. :+1:

[2016-02-06 00:21] blargity commented on #152
Alright, since we've disabled the Toggle Splits feature, I'm going to go ahead and close this for now. Thanks again!

[2016-02-06 00:21] #152 closed

[2016-02-06 00:32] blargity opened #165 "Move Money Dialog CSS needs updating"
From forum user leinhto:

Not sure it was reported but the latest Toolkit version 0.3.6 has a bug. The search category list when moving money is floating now so it hovers over the list blocking the items. Before it stickied to the top of the drop down. I am using Chrome.

[2016-02-06 03:38] blargity opened #166 "Uncategorised transactions or pending transactions in Credit Card account can break"
chrome-extension://ifieffhabchdolbhkhidihgecppneoeo/res/features/check-credit-balances/main.js:51 Uncaught TypeError: Cannot read property 'balance' of null

[2016-02-06 13:02] blargity opened #168 "Switching budgets does not re-inject features that use Act on Changes to inject themselves"
Probably a matter of going through each and ensuring that the if statement needed catches them, but yeah, Open budget 1, features are there, open budget 2, features are gone, refresh, all good at the moment.

[2016-02-06 14:41] rockmysocks commented on #163
@blargity was right! Opened a new tab after turning on and off the setting and that worked. Thanks!

[2016-02-06 19:44] dbaldon commented on #115
I have no problem doing that however, I'm new to using GitHub so I'm not
certain how to do this. I have downloaded and installed GitHub Desktop. I
see toolkit-for-ynab in the list of repositories but if it doesn't show up
in the list of repositories when I try to clone it. Do I need to be added
as a Contributor or have some other permission granted?

On Fri, Feb 5, 2016 at 6:19 PM, Kevin Brown <no

[2016-02-07 06:11] blargity commented on #163
Alrighty, in that case it sounds like the root cause was a duplicate of #132. Thank you for the report!

[2016-02-07 06:11] #163 closed

[2016-02-07 06:13] blargity commented on #160
In the reports feature I just used:

[code]

I suspect using this to get the transactions would avoid deleted ones if that helps.

[2016-02-07 06:21] blargity commented on #115
Fair enough!

I find the GitHub app confusing myself. I'm sure there are many who like it, but I use [Source Tree](https://www.sourcetreeapp.com/) instead.

What you want to do is [fork the repository](https://help.github.com/articles/fork-a-repo/), make the changes you need to make, submitting them back to your own fork of the repo, then [create a pull request](https://help.github.com/articles/us

[2016-02-07 06:53] Niictar commented on #119
Thanks for the ongoing reports. We'll take a look at this.

[2016-02-07 18:10] dbaldon commented on #115
Done.

On Sun, Feb 7, 2016 at 12:21 AM, Kevin Brown <notifications@github.com>
wrote:

[2016-02-08 00:01] Geiseku commented on #115
This still has issues in 0.3.6 when multiple categories share the same name. @blargity I'm happy to build the current master if there's any newer changes that need testing. Let me know.

[2016-02-08 02:12] boxfoot commented on #160
Looks like `transaction.displayItemType` doesn't exist on the transaction items as they're being pulled in the export feature.

Any idea what `transaction.isTombstone` refers to?  Based on some initial poking around in my account, it looks like it might be YNAB's way of saying "deleted", but I'm not 100% sure yet...

[2016-02-08 02:25] boxfoot commented on #158
In general, no need to hold items related to export-transactions for me, but as it happens, just submitted a PR for this.

Took a quick look at #160, will see if I can figure anything out there...

[2016-02-08 06:01] ctlevi commented on #165
I just started getting into nYNAB and this extension. Really cool! Let me know if the fix could use more testing.

[2016-02-08 11:24] #158 closed

[2016-02-08 11:32] blargity commented on #165
@ctlevi, welcome!

If you want to contribute more I'll add you to the team on Trello so you can claim cards, update status, etc.

[2016-02-08 11:42] blargity commented on #160
Hi @boxfoot,

In my test budget I created a transaction then exported. ```isTombstone``` was false on it. I then deleted the transaction and exported. It came back through with ```isTombstone``` as true.

I'd just go ahead and filter them out based on ```isTombstone```. The likelihood is high that it means deleted.

We can release and see what people say. It'll be an improvement on the current way

[2016-02-08 15:06] falkencreative opened #181 "Reports Navigation Doesn't Collapse"
@blargity

Love the reports feature so far!

Quick note though -- when using reports with the "Collapse Sidebar" feature, the "Reports" navigation item doesn't collapse down to the icon as appropriate when the sidebar is collapsed. (I know it gets tricky when there is an overlap between features, but thought you should know.)

[2016-02-08 15:11] falkencreative opened #182 "Reports Navigation Stays Highlighted"
@blargity

Another minor issue with reports: If I switch between Accounts and Reports views, the Reports navigation item highlights and unhighlights correctly. However, if I visit Reports, then Budget, the Reports navigation item says highlighted.

![highlight](https://cloud.githubusercontent.com/assets/880344/12889307/434ef35a-ce4c-11e5-8935-c416c51c752b.jpg)

[2016-02-08 15:12] falkencreative commented on #182
Edit: looks like it doesn't actually matter which section is viewed after Reports -- either way, the Reports navigation items says incorrectly highlighted.

[2016-02-08 15:20] falkencreative commented on #137
Quick note on this item... running 0.3.7, in Chrome browser on a Mac with El Capitan.

I'm consistently having the inspector disappear on me when the Resize Inspector feature is on. It seems to load fine initially when I refresh the page, but the inspector disappears if I visit another section then come back to the budget. Seems like it's something about how this feature is reloaded when the budge

[2016-02-08 15:42] computertechie opened #183 "FireFox: Addons must be signed by r46"
Starting with version 43, FireFox by default requires all addons to be signed before they can be installed. Version 46 will remove the hidden option to disable this requirement.

The Toolkit for YNAB available on the Mozilla Add-ons site is unsigned and as such cannot be installed on FireFox versions greater than 43 without tweaks and not at all on v46+.

Are there plans to begin signing releases

[2016-02-08 15:43] computertechie commented on #183
https://wiki.mozilla.org/Addons/Extension_Signing#Timeline relevant wiki link

[2016-02-08 15:46] computertechie commented on #183
Alternatively, is ToolKit on AMO currently in the process of being reviewed by Mozilla?

[2016-02-08 18:47] maddo opened #185 "Feature Request: Master Toggle"
Since this project has the difficult task of chasing any official changes, there will always be some doubt about whether some buggy behavior originates with this extension or with the app (which is, to date, still very buggy).

While we can just disable the extension in our browser, it would be neat to have a master switch in the extension to quickly toggle off -> reload -> check if bug keeps happ

[2016-02-09 00:40] shama commented on #182
FWIW, you can manipulate the property that Ember uses to set the highlighted nav item with:

[code]

That way if you're setting `.active` directly on those elements, Ember won't override it.

But just be aware `container.lookup` is a private Ember API and using `Ember.View.views` to access `container.lookup()` won't be available after Ember is upgraded. Their new rendering engine doesn't register

[2016-02-09 00:58] shama commented on #160
Just a heads up, YNAB should have CSV exports landing *really, really* soon ;)
<img width="569" alt="screen shot 2016-02-08 at 4 55 24 pm" src="https://cloud.githubusercontent.com/assets/99604/12904515/d57fe724-ce84-11e5-812f-7426dd7d9a44.png">

---

@blargity is correct, we avoid permanently deleting things (undo/redo, sync and etc whoops moments) by setting a `isTombstone` flag instead. Dependin

[2016-02-09 02:01] boxfoot commented on #160
@shama thanks for the tip -- also, very exciting that official YNAB support will be coming soon.

[2016-02-09 04:55] topcat39 opened #188 "Print budget formatting"
Please delete/modify if this is not where bugs are to be reported.
Printing budget from Chrome has column heading page 1, rest of budget on following pages.
Printing budget from Firefox 44 returns blank page 1, column headings and first part of budget on page two, following page(s) blank.

[2016-02-09 07:15] blargity commented on #183
Yup, it's in the process.

Because it's built with Kango it has to be reviewed by an admin so they're taking a lot longer than I hoped it would. Here's the current queue status:
![Queue Status](https://cloud.githubusercontent.com/assets/1531750/12909766/a27b4f88-cf58-11e5-9b7a-a735a4e82243.png)

We submitted version 0.3.1 three weeks and five days ago:
![Activity](https://cloud.githubusercontent.c

[2016-02-09 10:46] #160 closed

[2016-02-09 10:48] blargity commented on #188
This is the perfect place, thank you! I'll label this accordingly and one of the team will look into this for you.

[2016-02-09 10:49] blargity commented on #185
Fair enough, I like that idea.

[2016-02-09 10:55] blargity commented on #182
@shama, thanks for the info, very helpful. I think the nav not working is related to a change we made to Act on Changes. It has specific logic to handle the scenario but we just changed how the class names work. I'll look into it tonight.

I struggled quite a lot to register a route in Ember. You'll notice that the URL doesn't change when you go to the reports section at the moment. I'd love to be

[2016-02-09 10:56] blargity commented on #181
Thanks Ben! I think @mhum is working on this one at the moment.

[2016-02-09 11:19] blargity commented on #182
@falkencreative, does commit 4f294aaf099d5e43754f4db9b6297ce2ebc0a750 resolve this for you?

[2016-02-09 11:33] blargity commented on #137
This is probably related to the change in Act on Changes where we no longer split the class names. It's looking for:

[code]

Looks like the class is now called ```pure-g layout user-logged-in```, but that it's not getting triggered absolutely every time you go to the budget page. Watching for ```navlink-budget active``` will definitely trigger every time the user goes to the budget page, so I'll

[2016-02-09 11:39] blargity commented on #137
Nope, ```navlink-budget active``` triggers too soon. I'm going with ```pure-g layout user-logged-in``` which seems to work consistently.

[2016-02-09 11:39] #137 closed

[2016-02-09 12:11] blargity commented on #168
@mhum, sorry to be a pain about the collapse sidebar feature recently, but as I'm going through these classes and changing them for the new style, I'm not sure where the ```budget-header-flexbox``` and ```accounts-header-balances``` classes were meant to come from. I can't find any elements on the page that call themselves these names.

I get what they're trying to do. Should I just set them on ob

[2016-02-09 12:12] blargity commented on #168
Ok, all features are done except for Collapsable Sidebar with the two classes I mentioned above.

[2016-02-09 13:27] falkencreative commented on #188
The Chrome issue has been fixed, and the bug fix should be in place in the next release.

The Firefox bug may be fixed already due to the Chrome fix, but I'll have to look at this.

[2016-02-09 13:28] falkencreative commented on #182
@blargity Yes, I'm not seeing this issue any longer.

[2016-02-09 13:43] dbaldon commented on #168
@blargity I believe budget-header-flexbox is the <div> that contains the <div>'s for the calendar, totals, days, and days of buffering (if the feature is turned on). When I was looking at the budget rows progress bar code, I was thinking budget-header-flexbox would be a better trigger for knowing that the budget screen was active. Better in the sense that it would checking for one item instead of

[2016-02-09 16:39] hmspain commented on #185
Me too :-).  I came here looking for a way to toggle this VERY useful extension.

[2016-02-09 17:22] ctlevi commented on #165
Definitely @christophertate on trello (I believe? A bit of a trello noob)

[2016-02-09 17:55] shama commented on #182
@blargity Feel free to reach out to me if you're struggling with anything. I can only provide *unofficial* help atm but I think what you all are doing is pretty awesome. I'm hoping it will bump up the priority for a public API so we can all officially support your efforts and make development easier for you all.

---

Another way to tap into things and make it more future proof is creating an Embe

[2016-02-09 18:29] radiocolin opened #189 ""Highlight all Negative Category Balances Red" is not applying consistently"
"Highlight all Negative Category Balances Red" reverts back to yellow after switching away from the budget screen and back.

0.3.6 under Safari Version 9.1 (11601.5.8.1) on El Capitan.

[2016-02-09 22:03] mhum commented on #181
I hope to have something later this evening.

[2016-02-09 22:14] mhum commented on #168
@blargity as @dbaldon mentioned, those classes are the header areas on the Budget and Account screens.

![headers](https://cloud.githubusercontent.com/assets/11312558/12932384/a278ecb0-cfd6-11e5-9023-ee1742393f2a.png)

[2016-02-09 22:56] blargity commented on #168
Great, thanks @mhum, I'll update the classes tonight!

[2016-02-10 02:57] Noppadet opened #190 "Hide Email Setting Request"
Hi, it would be great to be able to hide the email, or perhaps enter something else as the email (such as a handle) for those of us who sometimes share our budget setups or screens.

Great set of options here. Thanks.

[2016-02-10 03:16] blargity commented on #189
Thanks for the report! We'll look into it.

[2016-02-10 11:12] blargity commented on #190
Thanks for the request! I've added it to the Roadmap for discussion: https://trello.com/c/Bkntx91B/196-provide-an-option-to-hide-your-email-address-in-the-ui-so-users-can-more-easily-share-it-with-others-via-screenshots

I'll go ahead and close this issue so discussion can happen over there.

[2016-02-10 11:12] #190 closed

[2016-02-10 11:20] blargity commented on #182
@shama, yeah, I tried the initializer approach originally but struggled to inject anything from that context. The code would run but when I added a route it still 404ed on me when navigating to it for example.

In terms of a public API, I think we're doing pretty decently without one on the core app, but what I'd love to build that isn't a thing yet is a browser extension that notices when you buy

[2016-02-10 11:20] #182 closed

[2016-02-10 11:25] blargity commented on #165
Added you to both the Roadmap and the Team Discussions board. To move stuff drag it. To add new stuff type and press enter.

We have someone from the Forum community managing feature requests, so I try to channel everything through her so she knows about all the features going in. Her name on the forums and Trello is @bluebird8203. Welcome!

[2016-02-10 11:27] mhum commented on #181
I've made significant progress on this one. The Reports icon has been added into the sidebar and you can move between items. It's also a bit more dynamic and can handle new custom buttons to the sidebar. Took my a while to figure out how to move between Reports and Accounts/Budget.

@blargity,
I made a small change in the Reports feature which you can see here:
https://github.com/mhum/ynab-enhance

[2016-02-10 11:34] blargity commented on #168
@mhum, I'm just not seeing those classes coming through in the log at all on changed nodes now. I've updated them to "navlink-budget active" and "navlink-accounts active" (9e8cf6f17ef395272817e7a11efaa6d207f9c6bf) and it works, but I'd love to know where they went. I'm going to go ahead and close this for now.

[2016-02-10 11:34] #168 closed

[2016-02-10 11:35] blargity commented on #183
@computertechie, did you want to know anything else about this or can I go ahead and close?

[2016-02-10 11:39] blargity commented on #181
@mhum, that change is fine by me!

The only other way I can think of that might turn out a bit cleaner is a bit cheeky. What if you sent a JQuery .click() call to whatever the original DOM button that you cloned into the collapsed bar was? If it works, it wouldn't matter whether it's an ember action or a link or some sort of JQuery handler. You'd just be channeling the user's actual click to and s

[2016-02-10 11:43] blargity commented on #185
Alrighty, I've gone ahead and added this to the Roadmap: https://trello.com/c/GuKHuuTR/197-master-toggle-turn-all-features-on-and-off-with-a-single-switch-in-the-options-page

I'll go ahead and close this issue so conversation on it can happen with the rest of the feature requests. Thanks again!

[2016-02-10 11:43] #185 closed

[2016-02-10 11:44] blargity commented on #162
Just an update, we're sorting out a couple of bugs with the Reports feature that just got introduced before we release. It won't be long at all but I just wanted to let everyone that's waiting on this fix know what's going on.

[2016-02-10 16:45] computertechie commented on #183
Sorry for the delayed response!

Nope, that's perfect, seems like you've got it all handled to get Toolkit signed. I'll just have to wait a bit until the review process finishes to use it :)

[2016-02-10 16:45] #183 closed

[2016-02-11 10:40] #165 closed

[2016-02-11 11:43] blargity opened #193 "Strings file should handle pluralisation as per Ember i18n documentation"
We've hit an issue with the strings file. One of the strings is "days". Our translator for Czech reports:

It looks like Ember I18n handles pluralisation like this:
https://github.com/jamesarosen/ember-i18n/wiki/Doc:-Pluralization

I'm not sure how we'd handle this exactly without YNAB's help in implementing the i18n calls... *cough*@shama*cough*.

Does anyone have any ideas?

I'll go ahead and me

[2016-02-11 11:48] egens commented on #193
The easiest way for now is to make it with abbreviation. Or that declension functions.

[2016-02-12 09:31] Zendio opened #194 "Budget to 0"
Example: I have 10 bucks in a budget, I click budget to 0 and it then says -990 instead of zero. I've changed number formats in the settings menu but that didn't fix it. It seems like it messes up dots and comma's.

Is this a bug?

[2016-02-13 07:32] blargity commented on #194
Sure sounds like one!

Do you mind letting me know what locale you've got your budget set up in, and maybe a screenshot of that particular budget row before you click the budget to zero button?

[2016-02-13 07:32] blargity commented on #188
I've just released. @topcat39, are you still having this issue with v0.3.7?

[2016-02-13 08:00] blargity commented on #181
I went ahead and did my cheeky approach in Pull Request #195.

I'll close this issue as it's now resolved as far as I can tell.

[2016-02-13 08:00] #181 closed

[2016-02-13 08:08] blargity commented on #162
Ok, this is released as part of 0.3.7. Could you let me know if you're still experiencing this?

[2016-02-13 08:08] blargity commented on #194
Another theory is this might be the same issue as #162. If it is, it should be fixed in 0.3.7.

[2016-02-13 11:18] caseytsui opened #196 "Net worth chart: non-zero default y-axis"
I have assets that are about double my debts. The net worth chart does not have the y-axis origin at 0 by default. Instead, the y-axis is starting at just below the value of my debts.

![screen shot 2016-02-13 at 3 19 08 am](https://cloud.githubusercontent.com/assets/6846178/13027347/9b3b2680-d200-11e5-818d-35823f9c0e66.png)

[2016-02-13 11:20] blargity commented on #196
The reason I didn't have the chart start a 0 is because some people will start with negative net worth, which means the line drops below 0, and I wanted to show that.

Maybe a better approach would be to say "if all data points are above 0, start at 0, otherwise do what you've been doing already."

[2016-02-13 11:22] caseytsui commented on #196
@blargity Yes, having it be a conditional would be excellent.

[2016-02-13 11:32] #196 closed

[2016-02-13 11:32] blargity commented on #196
Alrighty, this will be in the next release, thanks!

[2016-02-13 15:09] caseytsui commented on #196
Thank you!

[2016-02-13 19:12] kergoth commented on #162
Verified, thanks.

[2016-02-13 19:12] #162 closed

[2016-02-13 20:11] BurgerDessert opened #197 "Net Worth Report is not calculating net worth correctly"
The Net Worth Report is not calculating as it should (assets - debts). In this screenshot, though my account balances show $5,500.00 in debt and $3741.65 in assets, the report shows the net worth as $3852.00.

![capture](https://cloud.githubusercontent.com/assets/16907324/13029792/04ed7066-d264-11e5-850d-3963ef11d499.PNG)

[2016-02-13 20:29] BurgerDessert commented on #197
I tried a bunch of different calculations and it appears that it is adding total Assets (3741.65) and absolute value of the absolute value of the Total Activity for February (-83.35).

![capture](https://cloud.githubusercontent.com/assets/16907324/13029891/7db270a8-d266-11e5-8b52-4d7e1eaa1ed0.PNG)

In my personal budget which doesn't have a screenshot here. The assets and liabilities appear to be

[2016-02-14 00:18] blargity commented on #197
That's really odd. I'll have a look and see what I can do.

[2016-02-14 00:42] ariofrio opened #198 "Split Transactions don't show up itemized in Exported CSV"
I don't know what the best way of exporting split transactions is, but currently there is a loss of information when exported to CSV.

Some suggestions:

1. Export each item in a split transaction as a separate row after the split transaction row in the CSV file. This has the advantage of looking a lot like the YNAB transaction screen, but makes summing up the transaction amounts more difficult be

[2016-02-14 02:06] blargity commented on #197
I think I might know what's going on here but I can't reproduce with my test data. To give me a dataset to work with, could you run this in your console and post what you get back? If you want we can do this in a non-public place like email.

[code]

What does is pull your transactions with the following info on each:

- Date
- Formatted date (should look like Jan 2016 for example)
- Account name

[2016-02-14 02:33] blargity commented on #197
I think the issue was two fold. I was putting the wrong label on months by one, and I was also not handling the last month's worth of data correctly.

In my test budget I put one transaction in Dec 2015 and one in Jan 2016. This reproduced the issue. I then applied the two fixes in the commit above and it worked for me.

If you could give me your data I'll make sure it works in your case, or if yo

[2016-02-14 03:04] BurgerDessert commented on #197
Thanks. Here is my data from my test budget where I found the error.

[{"date":"2016-01-31T00:00:00.000Z","formattedDate":"Jan 2016","account":"Checking","amount":-175000},{"date":"2016-01-31T00:00:00.000Z","formattedDate":"Jan 2016","account":"Checking","amount":4000000},{"date":"2016-02-03T00:00:00.000Z","formattedDate":"Feb 2016","account":"Credit Card","amount":-500000},{"date":"2016-02-03T00:

[2016-02-14 03:22] blargity commented on #197
Thanks so much for the quick response.

This is what I see now with your test data and those two fixes applied:

![screen shot 2016-02-14 at 2 20 50 pm](https://cloud.githubusercontent.com/assets/1531750/13031577/48cda28e-d326-11e5-8ea9-dc8383e05dd5.png)

I did some calculations in a spreadsheet with your numbers and I think at least for your case I've got it right now.

[2016-02-14 03:33] blargity commented on #197
Ok, these changes are released in v0.3.8. Could you verify on your side as to whether I've fixed this or not?

[2016-02-14 05:26] blargity commented on #198
Yeah, I think your suggestion 2 above is the best out of the three. The only other thing I can see is someone wanting to export splits with the split amounts, in which case you'd omit the total transaction value and leave the splits value.

Without implementing an option for this I think you've done exactly what I would. I'll review now.

[2016-02-14 05:28] ariofrio commented on #198
To clarify, in the pull request I omitted the total transaction value and left the subtransaction values.

[2016-02-14 05:30] blargity commented on #198
Yup, we're on the same page. All good!

Doing it the other way would be less intuitive I reckon. If someone comes along asking for the other way we would implement that with an option we'd make this one the default I reckon.

[2016-02-14 07:13] blargity commented on #197
Sounds like this is fixed now based on the feedback on Reddit. I'm going to go ahead and close this issue. Please let me know if you see anything out of the ordinary on these now.

[2016-02-14 07:13] #197 closed

[2016-02-14 07:16] blargity commented on #198
This is now merged into master. I'm going to go ahead and close this issue. Thanks again!

[2016-02-14 07:16] #198 closed

[2016-02-14 17:01] topcat39 commented on #188
I will check when I get back to my regular, non-Mac computer next week.
I'll be sure to try the new version on my daughter's Mac
On Feb 12, 2016 11:32 PM, "Kevin Brown" <notifications@github.com> wrote:

[2016-02-14 18:54] BurgerDessert commented on #197
It looks great now. Thanks! I'm glad you were able to fix it.

[2016-02-14 23:37] mrruz opened #200 "export doesn't seem to grab split transactions properly"
Hi, I have run a few tests on the export and it seems to not be pulling the split transactions properly and is pulling the full transaction amount, instead, as a "*** YNAB Internal Categories" with a subcategory as "Split (Multiple Categories)".

Is there a way to have it grab the split transaction instead and perhaps ignore the *** YNAB Internal Categories?

Thanks

[2016-02-14 23:39] mrruz commented on #200
sorry, I just saw this looks like it was an addressed and closed issue.

[2016-02-14 23:39] #200 closed

[2016-02-14 23:46] mrruz opened #201 "Printing budget cuts off categories expanding across multiple pages"
When printing the budget that expands across multiple pages, the categories get kind of weird around the footer and header margins where the page breaks appear to break the category right down the middle and/or cut the category out completely.

![image2](https://cloud.githubusercontent.com/assets/11042001/13037279/b22d9d94-d329-11e5-8af6-557ae521b57c.png)
![image1](https://cloud.githubusercontent.

[2016-02-15 10:58] blargity commented on #201
Thank you for the report. @falkencreative might get a chance to look into this, otherwise one of us will.

Whoever ends up looking into it, you might have some luck with nth-child and these CSS directives: https://davidwalsh.name/css-page-breaks

[2016-02-15 14:11] blargity opened #202 "Import Notifications on top of Account name"
From forum user TLBauer:

[2016-02-15 15:18] falkencreative commented on #201
I'll see if there is anything that can be done. That said, I'm somewhat hesitant that this can be fixed, since I can't control how the browser chooses to print the page. It is possible to control where the page breaks occur... but I can't control the paper size or orientation, which means optimizing for a specific size/orientation is a bit of a losing battle. I'll look into it.

[2016-02-15 19:36] Zendio commented on #194
I'm using Euro - EUR as corrency, with number format 123.456,78 with currency placement infront. Date is 15/02/2016 and in Windows Im using Dutch as the display language, whith United States (international) as the keyboard settings.

[2016-02-15 20:51] kergoth opened #204 "Feature request: Add a note to a category *for a specific month*"
Currently we can only set a note on a category alone, but we can no longer set a note for *this month* for that category, the way we could in YNAB4. I often found that feature useful to remind myself why I allocated $FOO this month when I'd normally allocate $BAR.

[2016-02-16 06:22] blargity commented on #201
page-break-inside: avoid on the rows is probably the best way to go so they break wherever they want but don't get split across pages.

[2016-02-16 09:10] falkencreative commented on #201
Yep, I'll look at that. Thanks.

[2016-02-16 14:54] rhealitycheck opened #205 "Net Worth Report incorrect"
I've been noticing differences between the YNAB4 net worth report and the one created here. I appreciate the effort but I assume they should match up so I wanted to know what the methods were to calculate net worth. My nYNAB and YNAB4 values are almost identical there are a few transactions from when I first started using nYNAB that have different categories but I assume that shouldn't change the

[2016-02-16 14:59] lang510 opened #206 "Available imports don't Always Appear on Side Bar"
Sometimes it works sometimes it doesn't.  I usually have to disable toolkit, close YNAB, enable toolkit and then reopen YNAB.  It used to happen once a week and now I have to do this on a daily basis.

I'm using the a new Macbook Pro.

[2016-02-16 18:37] dbaldon commented on #182
@shama @blargity I hope I'm not out of line asking this especially on a closed issue. There are two things I can think of that would be very helpful;
1) A way of determining which "tab" is active. IOW, is the user on the Budget, Account, All Accounts, or Reports tab? IMHO, there are some features that should only be active if the user is in an account (specific or all) register. The feature I'm th

[2016-02-16 20:12] egens opened #208 "Constructor in feature's js"
I was playing with jshint linter and it shows an error here.
[code]
This code is suggested instead on stackoverflow.
[code]
The first option is said to be weird usage of constructors. Do we need to fix this?

[2016-02-16 22:14] StephenBrown2 commented on #202
I'm also seeing this.

Running Chromium 48.0.2564.103, Toolkit 0.3.8

[2016-02-16 22:44] mrruz commented on #206
I've also noticed this behavior.

[2016-02-17 05:52] mhum commented on #208
It marks it as being weird due to the unintended consequences of using 'new' when creating objects. In the case that we're creating objects, it's fine.

We should at least update the example feature file to use the better syntax since it is the 'better' way of doing it.

[2016-02-17 06:32] shawnphoffman commented on #132
It's definitely caching something oddly. I noticed a similar issue when running the extension locally. It cached some of the JS and isn't executing JS dependencies in the correct order. At times, I have to `cmd+shift+r` repeatedly to get the JS to play nice.

[2016-02-17 15:00] rhealitycheck opened #211 "CSV Export shows transactions not present in register"
So I looked at the closed issues and I'm not sure if this is related to the deleted transactions being shown in the export or not because I don't remember deleting them but I re-set up nYNAB to match my YNAB4 a while ago. At any rate I have about 45 transactions that are showing up as cleared but not reconciled and without any categories or payee information in my export however I'm unable to find

[2016-02-17 15:01] rhealitycheck commented on #206
I, too, have had this happen

[2016-02-17 15:22] scorpionmit01 opened #212 "Feature Request: Enhance "Selected" Transactions"
A real working balance needs to include committed transactions, which YNAB doesn't for future ones.

Selected Transactions goes a long way, I can add them, but it doesn't adjust my working balance.

Ideal UI:
Cleared Balance + Uncleared Balance + Selected Transactions = Working Balance

Realistic UI:
Working Balance + Selected Transactions = Available Balance

So we can then go into an account, cl

[2016-02-17 16:28] rhealitycheck commented on #211
Actually as a follow up, it's definitely still showing "deleted" transactions. The most obvious were the older ones that showed up from before my YNAB start date but I'm finding others where I can clearly see that I deleted some transactions from direct import that didn't get matched correctly with ones I've entered in the register.

[2016-02-17 19:31] falkencreative opened #213 "Issues testing 0.4.0?"
@blargity - Quick question for you. I've grabbed the most recent 0.4.0 version, and it appears that some things in it are broken. For example:

-- The "Pacing" column of the pacing feature is listed as "undefined"
-- The "Reports" label in the left navigation is listed as "undefined", and clicking on it causes YNAB to crash and forces me to reload.
-- The Days of Buffering feature has disappeared

[2016-02-17 20:00] falkencreative commented on #201
I believe I've been able to fix this issue using page-break-inside: avoid. I have been able to duplicate the issue during testing, and I do see that my fix has corrected the issue for me, so hopefully it will work for you as well. A bug fix has been submitted, so hopefully this change will be integrated into the next version of the plugin.

[2016-02-17 21:10] altonius opened #216 "Forum Link missing from readme.md"
The readme.md has a section that states "To suggest new features, please visit the YNAB Forum thread here and comment" however I'm not sure where "here" and the forum is.  Can you update the link?

[2016-02-17 21:46] rhealitycheck opened #217 "Days of Buffering"
I don't think this has been released yet and I can try to work on it but as I'm not super familiar with js I wanted to bring some attention to this:
[code]

The `budget.ageOfMoneyDays.one` throws an error that it does not exist and therefore is not displayed. Looks like it's related to the international language support stuff.

[2016-02-17 22:40] blargity commented on #216
Thank you very much for letting us know. I'll fix that today.

[2016-02-17 22:42] blargity commented on #211
Thank you for the info!

For techies, we need to filter out transactions with ```isTombstone == true```.

[2016-02-17 22:43] blargity commented on #213
Yup, it's a bit of instability because translation is a big feature. I'm on FF review fixes now but will be looking into these issues next. If you manage to fix any definitely submit PRs.

We'll get to what feels like stability for us before the next release.

[2016-02-17 22:49] rhealitycheck commented on #211
yeah i'm just starting to parse through what you guys are doing. i'll see if i can work on it. like i said on another issue i brought up for the branch that hasn't been released yet i'm not really a front-end person but what better way to learn than to dive right in.

anyway it looks like this *should* exclude those transactions but is not doing so:
[code]

[2016-02-17 22:51] rhealitycheck commented on #213
#217  -- i'm going to close my ticket because it looks like days of buffering issue that i was seeing is included here so that's a dupe.

[2016-02-17 22:51] #217 closed

[2016-02-17 22:52] rhealitycheck commented on #217
closed as dupe of #213

[2016-02-18 04:31] dbaldon commented on #213
After looking at the difference between en.json and Afrikaans.json I changed the locale to be Afrikaans and that cleared up the problems. There is a significant difference between the en.json (and ru.json) files in the feature directory and the language specific .json files. I couldn't determine how the user specified locale is loaded but are we missing a default.json file?

[2016-02-18 11:10] blargity commented on #194
Hi @Zendio,

You were absolutely correct about the format being the problem. It was not #162. I believe I've resolved this issue in commit 10c2a13653db6e0bbf7bd6bfbecf3ce6121a359b. It'll be in the next release, let me know how you go with it when we release next.

[2016-02-18 11:12] blargity commented on #205
Hi @rhealitycheck, thank you very much for reporting this to me! These need to be 100% accurate all the time. I'm sorry you're experiencing this.

I'm currently working on getting us through Firefox approvals, but I'll switch back to this as soon as I can.

[2016-02-18 12:34] #216 closed

[2016-02-18 12:49] blargity opened #220 "Edit Account Button Position: Left isn't working properly"
From forum user @chriswalker:

[2016-02-18 12:52] blargity commented on #212
If I'm interpreting the request correctly, [this](https://trello.com/c/rJ89z6be/30-create-an-enter-in-register-now-button-for-future-transactions) would also fix your issue, yeah?

[2016-02-18 13:19] blargity commented on #211
Yup, that's exactly what you need. The only other thing to watch out for is you don't want to meddle with YNAB's internal data structures, so we need to either do something like:

[code]
or
[code]

It sounds like you've got this in the bag. Do you want to go ahead and try your hand at a PR?

**TL;DR:** Make a copy, don't overwrite what YNAB is doing and you're golden.

[2016-02-18 13:21] blargity commented on #208
The only watchout here is we can't really do half of the features in one style and half in the other, as the Python script is regexing for that current constructor line.

If someone wants to do a PR that updates all the features, the example, and the Python script at once, I'd happily merge. Otherwise I'll eventually get around to doing this myself.

[2016-02-18 13:23] blargity commented on #206
That's really odd. We did just merge a couple of improvements to this feature (#210), so it may be fixed for you in the next release. Definitely keep us up to date if it does/doesn't when 0.4.0 comes out.

[2016-02-18 13:25] blargity commented on #132
The tricky bit for me is that it's caching main.js. Since Kango loads that one in, I don't think we can do ```?r=<random number>``` or anything to force it to load it again.

There might be some kind of setting we can set for FF specifically. It's definitely going to take some digging.

[2016-02-18 13:26] blargity commented on #202
I believe this is fixed with 58a9db82688766866dad7482561ee87aa73df07d which has now been merged. If you're able to pull latest master down and try the build, you'll be able to confirm if this is fixed or not before we release.

If not, this should be fixed for you in v0.4.0.

[2016-02-18 13:33] blargity commented on #213
It sounds like the translation files might have been stale.

I've pulled in @egens tweaks for L10n which include a more recent pull from CrowdIn. Are these issues still happening on master for people? I haven't had a chance to test tonight.

[2016-02-18 14:00] egens commented on #213
@dbaldon I've made en.json and ru.json by hand when I did first version of l10n logic - changing all elements by hand. They're still there with old logic commented in main.js just in case.

[2016-02-18 14:20] dbaldon commented on #213
I can't test it until tonight. It still appears to me that the root of the problem is ynabToolKit.l10nData[] isn't being initialized with "default" values. I reckon @egens will know for sure.

[2016-02-18 14:25] dbaldon commented on #213
@egens How does ynabToolKit.l10nData get initialized with data for a particular locale? The format of the data in a language specific .json file is very different from en.json and ru.json. Maybe it's just the formatting but the strings are not the same. So var dayText = ynabToolKit.l10nData["budget.ageOfMoneyDays.one"]; fails because there is no element named budget.ageOfMoneyDays.one. Maybe I'm m

[2016-02-18 14:28] egens commented on #213
@dbaldon you are totally right, I've turned brain on and got the problem. Will fix it soon.

[2016-02-18 14:46] rhealitycheck commented on #211
Actually the code I was looking at is present in our js file already, I'm not sure why it isn't working. I'm going to do some testing around it to try and ensure that it does filter them out on export.

[2016-02-18 15:50] scorpionmit01 commented on #212
Yes and No.

Being able to stick everything in with the Working Balance would be ideal,
but that seems more like a core YNAB feature.

Since we have the ability to click and add a bunch of transactions in
Toolkit, right now I bust out a calculator to adjust my working balance.
This would just do the math for me and seems like an easy tweak.

I just want to add accounts-header-balances-working +
ac

[2016-02-18 20:35] egens commented on #213
I've fixed all, but found other bug. I'm not seeing pacing column on 13'', all cells moved to the next line and are hidden.

[2016-02-19 03:33] rhealitycheck commented on #211
oh also i meat to say i'm going to test it out and see if i can fix because it should be working but something weird must be going on. the `return !transacton.get('isTombstone');` works in isolation when i run in the console so i'm still trying to parse through the whole export logic to see why it's seemingly being ignored. i'll submit a PR once i work my way through it.

[2016-02-19 03:37] rhealitycheck commented on #205
no problem just wanted to let you know what i'm seeing. also i'm wondering if this has to do with how they're viewing CC balances in nYNAB. in YNAB4 it reflected my reality better because i'm a PIF CC user and i allocate all dollars a job and just charge my card with what i have in my budget and then PIF at the end of the CC period. but in nYNAB i'm still not totally clear on their logic bc the ba

[2016-02-19 04:19] blargity commented on #205
Actually we should probably remove this feature. Here's the latest release notes from YNAB:

You can now export your data – transactions and budget – in CSV format. (If your currency uses a comma instead of a decimal, YNAB exports as TSV, or "tab separated" format. Too many commas would get crazy, and quick.)

[2016-02-19 04:22] blargity commented on #211
The core team is having trouble too it seems:

[2016-02-19 13:47] rhealitycheck commented on #211
yeah i saw that. i'm still stepping through the logic. if i fix ours before they fix theirs i'll submit a pr for an update. at this point i'm just curious where the tomstoned values are getting reintroduced. if they're done first i'll submit a PR take out the functionality from toolkit (no point in having it in 2 places).

[2016-02-19 14:43] falkencreative opened #223 "Incorrect Dates within Net Worth Report"
Seems like there are some situations where the Net Worth Report graph shows out of order months.

From @leinhto:
http://forum.youneedabudget.com/discussion/comment/584891/#Comment_584891
http://forum.youneedabudget.com/discussion/comment/585067/#Comment_585067

From @pantswaste
http://forum.youneedabudget.com/discussion/comment/588081/#Comment_588081

@blargity I'm assuming this is something you'd

[2016-02-20 04:06] blargity commented on #213
I've merged #221. @falkencreative, could you let us know if this is fixed for you?

[2016-02-20 04:09] blargity commented on #212
Got it, thanks for the full explanation. I wasn't sure what you were going to use this for and it now makes sense.

[2016-02-20 04:12] blargity commented on #211
Yup, completely agree about taking it out. I'd just [hide it like we did with toggle splits](https://github.com/blargity/toolkit-for-ynab/blob/master/src/common/res/features/toggle-splits/settings.json) so if someone wants to come along and make it export in XML or do some crazy thing that YNAB core doesn't do it's there as a starting point for them that they'll probably notice.

[2016-02-20 04:12] blargity commented on #223
Thanks, I'll have a look.

[2016-02-20 06:40] blargity commented on #201
It'll be in 0.4.0.

[2016-02-20 06:42] #188 closed

[2016-02-20 09:46] Geiseku opened #224 "Reconciled Text Colour and Striped Transaction Rows don't play nice"
Any setting other than 'Default' for the Reconciled Text Colour option overrides the row striping function added recently. Three out of four settings for Reconciled Text Colour don't touch the background, so surely they can be made to coexist. The fourth one maybe not so much.

[2016-02-20 09:48] Geiseku commented on #224
@DoctorMcKay is this something you considered when adding the row striping feature?

[2016-02-20 11:53] falkencreative commented on #213
My original three issues with translated text have been fixed -- thanks! I can now access the reports fine, and pacing and days of buffering show up correctly.

The only other issues -- similar situation -- is the Toolkit's "Balance to zero" feature, which shows an "undefined" button in the inspector. (Sorry, didn't spot this one when I originally submitted my bug report).

[2016-02-20 13:42] falkencreative opened #225 "Bug Reporting Link in Safari Not Working"
"The extension's toolbar link for bug reporting doesn't work for me in Safari Version 9.0.3 (11601.4.4). Ctrl+clicking to "open link" or "open link in new window" doesn't open the link either."

http://forum.youneedabudget.com/discussion/comment/588737/#Comment_588737

[2016-02-20 13:56] dbaldon commented on #213
Created PR #226 to fix the error in balance-to-zero.

On Sat, Feb 20, 2016 at 5:53 AM, Benjamin Falk <notifications@github.com>
wrote:

[2016-02-20 13:56] earlewallbank commented on #114
This may be related but it is in the same functional area. I didn't want to create a new issue as I'm new here so just wanted to get this particular use case raised.
I am seeing somewhat random instances where the M for monthly goal is not displaying against some categories using Chrome. The 2 images attached show 2 goals for Sep 2016 - one with the M and one without the M.
Towards the top of my b

[2016-02-20 13:59] egens commented on #213
#227 the same with addition to Readme
@blargity choose one :)
@falkencreative thanks
Sorry my blindness.

[2016-02-20 14:35] blargity commented on #213
Also, so you guys (@dbaldon, @egens) know, I've fixed the logic in this feature for people who use locale settings that show numbers like 10.000,00 in this commit 10c2a13653db6e0bbf7bd6bfbecf3ce6121a359b which will come into master when we pass Firefox review.

[2016-02-20 14:39] blargity commented on #225
Note for me for later, this should work:

[code]

[2016-02-21 00:38] scorpionmit01 commented on #212
Quite Frankly, being able to add up upcoming transactions and compare it to
the working balance is good enough to tell me if I need to sweep cash
in...  But this lets me know if I'm too close to the line.

Looks easy enough to implement, you code is damned clean, I've just never
worked on an extension before.

Alex

On Fri, Feb 19, 2016 at 11:09 PM, Kevin Brown <notifications@github.com>
wrote:

[2016-02-21 01:39] #225 closed

[2016-02-21 02:18] blargity commented on #223
There was an off by one indexing error in my function to backfill data if you're missing months. This showed up whenever people had a start date then blank months.

[2016-02-21 02:20] blargity commented on #205
Yeah, category of transaction or new credit card handling in the budget doesn't have anything to do with it, it's just looking at amounts and doing a total, completely ignoring the budgeting portion of the app. I'll try to reproduce this now.

[2016-02-21 03:20] blargity commented on #205
It looks like deleted transactions were accidentally included in the calculation. Since I didn't have many at all I didn't notice. Fixing now.

If you could pull down master and give it a shot with your data that would be awesome. If not we'll wait for the next release.

[2016-02-21 03:29] blargity commented on #224
I had a look, and from what I can tell the only setting that would conflict for Reconciled Text Colour is the "Dark grey with green background" setting.

Is this happening for you with any setting other than Default, or just with Dark grey with green background?

Basically once you tell it to set the green background it's going to set a green background for reconciled rows, but the rest of the row

[2016-02-21 03:32] DoctorMcKay commented on #224
When I added the striping feature I made it ignore reconciled rows which have a special style. I can't really think of a good way to make them work together better at the moment.

[2016-02-21 03:36] blargity commented on #220
Can reproduce. Looks like it's a change to YNAB core that caused this. Alerts end up stacking on top of each other with the current styling as well.

[2016-02-21 04:22] blargity commented on #182
Hey @dbaldon, nope, not out of line at all. Sorry I didn't see this sooner.

1) Some of our features (like this one) were written before we had a good way to observe the DOM. You almost never need to poll anymore but we haven't updated all the features.

The best way to do this is to listen for changes in your feature's ```observe``` function. For example from the reports feature:

[code]

More in

[2016-02-21 04:32] rhealitycheck commented on #205
yeah i'll pull down and give it a try tomorrow. and i'll let you know what i find.

thanks for fixing!

[2016-02-21 05:01] shama commented on #182
The register works by using a fixed row height (`30px` atm) then calculates the number of visible rows to display based on the height of the viewport. Adds some additional rows below and above for scroll buffer, slices the total array of transactions and renders those rows. This way, the total size of the register doesn't matter just the amount displayed in the viewport (we tested with 2 million t

[2016-02-21 05:47] dbaldon commented on #182
Thanks guys. Really appreciate the info. Off to have more fun.

[2016-02-21 07:40] Geiseku commented on #224
@blargity It happens for any setting other than default, which I agree is the safe way to do it when you have two features touching on the same elements. I use just the green text option for reconciled rows, so it would be nice for the stripping to continue.

[2016-02-21 13:02] blargity commented on #213
Ok, sounds like this one is done, I'll go ahead and close it off. :+1:

[2016-02-21 13:02] #213 closed

[2016-02-21 15:15] herisff opened #228 "Firefox & Collapse button"
Firefox 44.02
Toolkit 0.3.9
OS X 10.11.3
1) In Budget screen select collapse button. Accounts collapse perfectly
2) Deselect collapse button, and the category titles stay to the far left and do not return until app is refreshed. This is true in both pinned and regular tabs.

Mildly annoying.
This is a great extension, thanks to all the Devs for their hard work!

[2016-02-21 15:22] herisff commented on #228
Correction - now it appears to work in regular tab, still a problem when tab is pinned.
Sorry about that!

[2016-02-21 20:26] topcat39 commented on #114
No U/M display for Firefox 44.0.2 with version 0.3.9.

[2016-02-21 20:31] topcat39 opened #229 "Non-current Month Label nuanced"
Firefox 44.0.2, Version 0.3.9
The difference between the current month's label background and non-current months is so minimal that I really can't tell the difference unless I flip back and forth to compare. Can the saturation level of the blue have wider values?

[2016-02-21 20:33] topcat39 commented on #188
Hi! I'm back from vacation. I've upgrade to 0.3.9 within Firefox 44.0.2. The budget still doesn't print correctly. Page 1: blank, Page 2: a lot of white space, No additional pages to print the rest of the budget.

[2016-02-21 20:36] topcat39 opened #230 "Please re-open Issue #118 - budget printing"
Hi! I'm back from vacation. I've upgrade to 0.3.9 within Firefox 44.0.2. The budget still doesn't print correctly. Page 1: blank, Page 2: a lot of white space, No additional pages to print the rest of the budget.

I coun't re-open #118, so created a new issue.

[2016-02-21 20:42] falkencreative commented on #188
Thanks for letting me know. I've made some recent changes (not live just yet, but should be coming soon) that may fix the issue, but I'll double check and see if I can get it fixed if it isn't.

[2016-02-21 20:50] topcat39 commented on #188
Thanks. This is not high on my wish list, so there is no rush, as far as I
am concerned.

On Sun, Feb 21, 2016 at 3:42 PM, Benjamin Falk <notifications@github.com>
wrote:

[2016-02-22 03:45] dbaldon commented on #182
@shama Currently we're using CSS to shrink the rows. Setting the height as you suggest would seem to make that unnecessary except for the case of slim-with-smaller-font where the font size must be adjusted. However, by the time the toolkit code runs, the data has already been fetched and the HTML rendered.  I've set the recordHeight property (to less than the original 30) but I don't see the effec

[2016-02-22 04:28] shama commented on #182
@dbaldon The CSS will still be necessary as the `recordHeight` is only for the viewport calculation and doesn't apply any styles. We avoid setting any inline styles so we can outright disable inline styles in our CSP.

The calculations cause the render, instead of the render causing the calculations. So rerendering or modifying the `recordHeight` won't trigger a calculation or full render (we neve

[2016-02-22 09:01] egens commented on #208
@blargity I'm on this in case.

[2016-02-22 09:07] mhum commented on #228
Hi @herisff,
I can't seem to replicate this. Are there additional steps than what I've done in the gif below?

![uncollapse](https://cloud.githubusercontent.com/assets/11312558/13213820/ab0c6d0c-d99f-11e5-957e-843ac4648bc9.gif)

[2016-02-22 11:48] blargity commented on #230
Hey @topcat39, sorry for the confusion, but the changes @falkencreative made will get released as part of 0.4.0. I'll keep releasing 0.3.X releases on FF only until we pass review, not adding any features to that until we get through, which is what resulted in 0.3.9.

So, long story short, it's not out yet. :-)

[2016-02-22 11:49] blargity commented on #208
Great, I'll assign you to it, thanks!

[2016-02-22 15:29] rhealitycheck commented on #205
actually i'm still seeing the same behavior. sorry it took a while, i had some network issues this weekend pulling down the latest branch with your fix in it. but i just pulled it down and i'm still seeing the reduction in numbers (which would make sense if it's pulling in deleted items).

[2016-02-22 23:38] Geiseku commented on #228
Works fine for me on Firefox 44.0.2, Windows 10, Toolkit 0.4.0 (commit daa5b91).

[2016-02-22 23:40] Geiseku commented on #229
Perhaps only the section around the month selector should change colour.

[2016-02-22 23:48] Geiseku commented on #114
![ynab goal indicator](https://cloud.githubusercontent.com/assets/16808102/13236730/2c48afc2-da16-11e5-9a08-f7ce5f16936f.png)
I had a look through the inspector and found what's happening to the goal indicators in my Firefox.

[2016-02-23 01:11] dbaldon commented on #182
@shama feeling a bit dense here...assuming I still to adjust the value of recordHeight prior to calling the scroll(). Having done that but still no joy. This is the code;
`var grid = Ember.View.views[Ember.keys(Ember.View.views)[0]].container.lookup('view:ynab-grid/index');
var rowHeight = 30 + (10 * ynabToolKit.options.accountRowsHeight);
grid.set('recordHeight', rowHeight);
$('.ynab-grid-contain

[2016-02-23 01:13] herisff commented on #228
And now I can't get it to replicate either. I have changed some of the settings in Toolkit, but by now I can't recall what I've done! So sorry about sending this in.

[2016-02-23 01:56] mhum commented on #228
No worries! This feature works by capturing the initial size of everything when YNAB is first loaded and then setting everything back when un-collapsing.

Sometimes there are situations where a component is called something different or is hidden, so either the initial value can't be retrieved or the component can't be reset back. This occurs when navigating around the application before initially

[2016-02-23 04:50] blargity commented on #183
Hey @computertechie, we passed full review and are now signed.

https://addons.mozilla.org/en-US/firefox/addon/toolkit-for-ynab/

Enjoy!

[2016-02-23 04:51] computertechie commented on #183
Hooray! Thanks much :D

[2016-02-23 16:50] shama commented on #182
@dbaldon We never intended for these things to be edited by a third party, so it's not going to be easy on you. Sorry about that! :)

`grid.set('recordHeight', rowHeight)` *only* sets the height of each row for the viewport calculation (or how many rows to render on the screen). It does not do any styling at all. Meaning, if you set that to `100` it will just render less rows in the viewport but a

[2016-02-23 17:06] Mansarde commented on #223
@blargity

Does this also explain why - besides the shifted months - some of them appear as "undefined"?

[2016-02-23 17:14] Mansarde commented on #114
@Geiseku
I can confirm this on my end on Firefox 44.0.2 with version 0.3.9.

It seems the data is actually there, in the code I have e.g.:
`<div title="Monthly budgeting or Target by date that is sort of monthly" class="goal-indicator">M</div>`
But the indicator looks like on your screenshot.

Maybe this is not actually a javascript- but a styling-issue?

[2016-02-23 18:10] dbaldon commented on #182
@shama Do I understand correctly that you're suggesting I set the recordHeight to 25 and add a style="height=25px" to each div that contains .ynab-grid-body-row? I understand about the CSS and still have it in place though I suspect I'll need to adjust it after setting the height to 25px.

[2016-02-23 19:09] shama commented on #182
@dbaldon Yes but you'll likely need to do `<style>.ynab-grid-body-row { height: 25px; }</style>` to override the existing. As setting it per row is tough as new rows get rendered often so you would constantly have to loop through them to add that style per element.

[2016-02-23 19:58] dbaldon commented on #182
@shama Got it. We already observe changed nodes so I believe that's where the code will go. I'll give it a try to tonight. Thanks for all your help!

[2016-02-24 08:26] blargity commented on #223
@Mansarde, possibly... I could think of several reasons that could happen, not sure if the fix will fix your case.

I'm about to release 0.4.0. If you're still seeing "undefined" in that version definitely let us know so I can work with you to get it fixed!

[2016-02-24 10:46] blargity commented on #205
@rhealitycheck, that's ok!

Random question, do you have hidden and/or deleted accounts by chance? The original source for the transactions in the current implementation is asking for visible transactions, so if you have hidden accounts I can imagine how these wouldn't show up and would result in the decrease you're seeing.

[2016-02-24 11:47] alexpolgithub opened #233 "v0.4.0 Hangs when Collapsable side bar feature is enabled"
Today when I open ynab it hangs and the screen is distorted. Then Chrome crashes. When I disable the extension, ynab works again.

[2016-02-24 11:48] blargity commented on #233
So sorry about that! It seems the workaround is to disable the "Collapsable side bar" function. I'm right now working on a fix and 0.4.1 will be out very shortly.

[2016-02-24 12:03] blargity commented on #233
I've just released 0.4.1 which I believe fixes the issue. Could you let me know if you still see this on 0.4.1?

[2016-02-24 13:42] alexpolgithub commented on #233
Yes seems to work now.

On Wednesday, February 24, 2016, Kevin Brown <notifications@github.com>
wrote:

--

*Alex*

[2016-02-24 13:42] blargity commented on #233
Great, thanks for confirming!

[2016-02-24 13:42] #233 closed

[2016-02-24 20:57] rhealitycheck commented on #205
I don't have any hidden accounts. I may have some deleted accounts because I had some trouble setting up my first checking account initially. What i do have is a fair number of large deleted transactions. For example a recent credit card bill I paid was off by $10 when I entered it the first time so when YNAB got it via direct import I had to delete the one I entered because it was basically a dup

[2016-02-24 20:59] #211 closed

[2016-02-24 22:36] blargity commented on #205
Deleted transactions are definitely not being counted now. I'll dig into this deeper since 0.4.1 is out now. Thank you again for your help on this!

[2016-02-25 02:12] StephenBrown2 opened #234 "Income from last month incorrect for past months"
Ironically, the "Income from last month" feature in #203 is not accurate for any months present or past, but only for March. The Future is Now.

I started using nYNAB in the middle of January 2016, yet it shows much income for December, many more thousands of dollars than I actually made... Same for December 2015, and February 2016.

== Should be no data (obviously this is imported transactions)
!

[2016-02-25 12:29] blargity commented on #230
@topcat39, is this any better for you now? 0.4.1 is out on Firefox and Chrome.

[2016-02-25 12:31] falkencreative commented on #230
I don't believe it's better -- I've been able to see Firefox printing issues, and I need to take another look at that. I'm not sure why/how Firefox is handling printing in this way, but I'll try to get to the bottom of it the next time I work on the toolkit code.

[2016-02-25 14:18] Mansarde commented on #223
Ok, so the shifted months are fixed for me now. :smile: :+1:

Unfortunately the "undefined" months remained though:
![undefined](https://cloud.githubusercontent.com/assets/847687/13321820/988b2270-dbd1-11e5-8f4d-1eaf186d4933.png)

They (understandably) have no data (i.e. "Debts", "Assets" & "Net Worth" are 0,00).
These are the months that show as 'undefined' for me:

(Reports start in Apr 2006)
Ju

[2016-02-25 14:18] Mansarde commented on #223
@blargity
Ok, so the shifted months are fixed for me now. :smile: :+1:

Unfortunately the "undefined" months remained though:
![undefined](https://cloud.githubusercontent.com/assets/847687/13321820/988b2270-dbd1-11e5-8f4d-1eaf186d4933.png)

They (understandably) have no data (i.e. "Debts", "Assets" & "Net Worth" are 0,00).
These are the months that show as 'undefined' for me:

(Reports start in Ap

[2016-02-25 15:14] elggabo opened #235 "Balance to Zero incorrect when budgeting over 1,000 to a single category"
When selecting balance to zero enter the incorrect amount in budgeted field

Before pressing "Balance to zero"

![captura de pantalla 2016-02-24 a las 3 19 00 p m](https://cloud.githubusercontent.com/assets/4645271/13323555/a034dd2c-db9f-11e5-8e6c-d84008a200c0.png)

After pressing "Balance to zero"

![captura de pantalla 2016-02-24 a las 3 19 15 p m](https://cloud.githubusercontent.com/assets/4645

[2016-02-25 16:55] topcat39 commented on #230
I still have the same issue.

On Thu, Feb 25, 2016 at 7:29 AM, Kevin Brown <notifications@github.com>
wrote:

[2016-02-26 11:54] blargity commented on #235
It should place a number in the field for the category that makes the balance zero.

So let's say you had $5 in a category from last month, and then had previously budgeted $10 in this month. If you click the Budget to Zero button it should set the amount to -$5 (which would make the category zero).

Sounds like you've definitely found a bug, thanks for reporting it!

[2016-02-26 11:58] blargity commented on #223
Fair enough, that's very helpful! I'll dig in this weekend and see if I can fix that up.

[2016-02-26 15:04] mumbledenoise commented on #205
I'm seeing some discrepancies too. I pulled down from master and I'm still seeing it. I believe it's counting the next day of the month, in the previous month's networth. For example, a big withdrawal on December 1st, 2014, changes the networth graph for November 2014. I had to manually move that transaction to December 2nd, 2014, to avoid this. In YNAB4, this isn't an issue.

Also, my networth ch

[2016-02-26 15:34] jaumann opened #236 "Compiled extension in Safari store old version"
The compiled extension linked in the README.md is installing at version 3.6. Is there a way we can automate the compilation and submit for update?

[2016-02-26 16:28] jeffu14 opened #237 "Show Import Notifications in Sidebar and Balance to Zero Issue"
I've found that upon initially opening YNAB, the import notifications never appear, but they do get displayed properly after refreshing the page. I'm not sure if that is expected or if that is typical with other users, but it is what I consistently see.

Edited: I also have to refresh the page every time after opening YNAB before I see the Balance to Zero quick budget option displayed in the inspe

[2016-02-26 22:54] rhealitycheck commented on #205
@mumbledenoise nice catch! that's exactly what's happening to mine. i always have first of the month transactions because my mortgage comes out of my checking account on the first of the month so i didn't even think to look by date. if move first of the month transactions around it matches exactly but all those transactions are getting added in and skewing the numbers.

[2016-02-27 06:37] blargity opened #239 "Striped Transaction Rows not working on Firefox 44.02"

[2016-02-27 10:22] Geiseku commented on #239
This works fine for me, apart from what I reported in #224

[2016-02-27 13:34] egens commented on #228
@blargity should this be closed?

[2016-02-27 14:48] lang510 commented on #206
I am still having this problem and I am using 0.4.1

[2016-02-28 00:54] casner commented on #206
I've started having this problem with the upgrade from 0.3.x to 0.4.x. Several imports have happened, and nary a notification.

[2016-02-28 04:47] blargity commented on #205
Thanks so much for the detective work!

[2016-02-28 04:50] blargity commented on #228
I think so, thanks!

If we're wrong don't hesitate to open a new issue.

[2016-02-28 04:50] #228 closed

[2016-02-28 04:55] blargity commented on #236
Unfortunately no, there's not. Safari extensions are submitted via a manual form (Which is also true for Chrome and Firefox as well). That's not the issue. What's stopping from updating the Safari version is that Apple let their WWDR certificate expire: https://forums.developer.apple.com/thread/37551

This means we'll be able to update it as soon as Safari 9.1 is released. There's a beta now, but

[2016-02-28 05:07] falkencreative commented on #229
I've modified the styling on this feature a bit, so the difference between the current month and other months is more obvious. I agree that it needed to be clearer -- making the entire bar a different color seemed good in principle (in the sense that I didn't want to distract too much or change YNAB's design too significantly), but it was too easy to miss.

Here's a screenshot of the new styling:

[2016-02-28 05:08] falkencreative commented on #201
@blargity - Can you close this particular bug? This one can be marked as completed. Thanks.

[2016-02-28 07:16] blargity commented on #205
Ok guys, I think I figured out what's going on.

YNAB stores dates in UTC, but when you look at them in the browser the say they're local time. I added our own helper function for translating to actual proper local time and am now using that for calculating month boundaries.

I didn't see this because Sydney is UTC+11, so my dates all looked correct and match my YNAB4, but if you're UTC-anything t

[2016-02-28 07:58] blargity commented on #223
Ok, I think I got this one resolved. I was able to reproduce it and the filter works correctly on my copy now. If you'd like you can check out master and test, otherwise I will be doing a release around Wednesday, so if you'd rather just wait that's an option too.

Thanks again for your help!

[2016-02-28 09:23] auhsor opened #243 "Hide pacing indicator for not current month"
I think that the pacing indicator for the budget rows progress bars should not show up for months that are not current. ie the line that indicates how far through the month we are. Not a big issue.

[2016-02-28 09:42] mumbledenoise commented on #205
It matches perfectly with YNAB4 now!

Great job, thanks!!

[2016-02-28 10:06] blargity commented on #205
Awesome! I'm going to go ahead and close this issue then, and the fix will be in Toolkit 0.4.2!

[2016-02-28 10:06] #205 closed

[2016-02-28 10:11] blargity commented on #208
I think the only thing left to do is to add jshint to the build process so everyone sees the output and the build fails if it doesn't match the style rules.

[2016-02-28 17:19] topcat39 commented on #229
The change is better; I think if I saw the full bar it would be more
noticeable that the month box was different. Currently, the buttons change
color with mouseover, so I, personally, wouldn't think that a different
arrow color would mean a different month. How difficult/possible/desired to
have the current month's font italic, as well as the default bold?

As so many have said before, the toolkit

[2016-02-28 18:37] mrruz opened #244 "Expand/Collapse budget master categories button works randomly on month change"
Expand/Collapse budget master categories button seems to work randomly when changing from one month to the next or changing from an account view to the budget. It expands some categories and not others and will not keep the settings when moving ahead to another month.

[2016-02-28 19:22] falkencreative commented on #229
Thanks Terri. Have you used the Toolkit with this feature enabled? The current Toolkit changes the background color of the entire bar, but what I've found and the feedback that I've gotten is that it isn't very noticeable. In my testing, making just the background behind the month lighter made a big difference, since there's obvious contrast between the edge of the month area and the rest of the b

[2016-02-28 19:52] topcat39 commented on #229
Yes, I did use the feature, which is why I first reported the bug/issue
with minimally noticeable color difference. I guess I wasn't clear on my
critique. Your photo showed part of the entire bar. I was trying to say
that I thought the new color palette would work, but I only saw part of the
entire bar. My thinking is that when I see the full pix, it would be even
more apparent that the month part

[2016-02-28 20:00] falkencreative commented on #229
Sorry, I misread. :) Here's the full bar for comparison's sake.

Good point re: italics. I'll see what that looks like.

![screenshot3](https://cloud.githubusercontent.com/assets/880344/13381511/0fe95ba0-de2c-11e5-927b-80497ae43b61.jpg)

[2016-02-28 20:55] topcat39 commented on #229
Thank you for the full bar - With this proposed new scheme, italics
shouldn't be needed. It is quite obvious that there is a difference.

On Sun, Feb 28, 2016 at 3:01 PM, Benjamin Falk <notifications@github.com>
wrote:

[2016-02-28 21:03] falkencreative commented on #229
Great. I've submitted my changes so they can be integrated into the Toolkit, so hopefully you'll see this in place in the next release.

[2016-02-28 21:17] mhum commented on #244
This one is not my favorite feature and was one of the early ones we did. This one works purely by changing the CSS styles by adding/removing the necessary expanded/collapsed styles. When I initially did it, I couldn't figure out how to trigger the inbuilt expand/collapse function, so the state isn't saved as you've mentioned.

I should probably take another look at this one to see if I can do it

[2016-03-01 10:53] blargity commented on #229
Just a status update, I think the current implementation will conflict with the Localisation feature, so I've asked for @falkencreative to see if there's a good way to deal with it. I will be able to have a deeper look this weekend if he doesn't come up with anything.

[2016-03-02 03:20] falkencreative opened #245 "Graphs on Chrome for Linux"
Sounds like the Filters section of the Reports is missing in Chrome for Ubunto (Linux). Might be harder to test/fix, but wanted to report it.

http://forum.youneedabudget.com/discussion/49429/net-worth

[2016-03-02 11:29] blargity commented on #245
Thanks for logging it here, I'll boot from a thumb drive and see if I can replicate on an Ubuntu live USB stick.

[2016-03-02 16:02] RunningOutOfInk opened #246 "Days of Buffering Calculation"
I don't think the DoB calculation is working correctly for my budget.

The hover text says --
Total outflow = 40,212.65
Days of budgeting = 140
Avg daily outflow = ~287.23
Avg daily txns = 1.8
DoB = 18 days

The obvious issue here is that my total outflow could not be 40k, since I haven't even made that much in income since I started using nYNAB.
I calculate my outflow to be closer to 8500, and th

[2016-03-02 16:48] falkencreative commented on #245
Additional notes:

"I'm on Linux/Chrome. Same behavior when no transactions dated in March were present. When I added my March paycheck, the report shows March as expected."
http://forum.youneedabudget.com/discussion/comment/594790/#Comment_594790

[2016-03-02 22:01] leinhto opened #247 "Selected Transactions"
When looking for the total of selected transactions it appears it is only calculating transactions in 2016. I have some transactions in one of my accounts going back to 2013 and they are not included in the calculation.

[2016-03-03 01:32] casner opened #248 "Selected transaction not in current account"
If a transaction was left selected in one account, and another account is selected, the "Selected Amount" field still displays the amount that was selected. This makes it hard to figure out which account the number is coming from, as I may have switched accounts several times. The only way to find the selected amount is to open All Accounts and de-select the transaction there.

[2016-03-03 12:09] blargity commented on #223
This should now be resolved in 0.4.2. Let me know how you go!

[2016-03-03 12:36] timroerstroem opened #249 "Progress indicators no longer shown in budget"
v 0.4.2 no longer shows progress bars on the rows in the budget screen.

[2016-03-03 16:15] casner commented on #206
I received a notification this morning in version 0.4 2, thanks!

[2016-03-03 17:05] josolanes commented on #249
I noticed this also on Chrome

[2016-03-03 18:05] lang510 commented on #206
Imports are available but not showing on side bar on version.4.2

[2016-03-03 19:38] Mansarde commented on #223
@blargity
Thanks for the heads-up!
Will try it out as soon as the update becomes available. :smiley:

[2016-03-04 04:53] falkencreative opened #250 "Net Worth Graphs and Tracking Accounts"
I've seen a couple people report this on the forums, but I'm not seeing an official issue report for it, so just in case...

I'm not sure if this is a bug or a feature request, but it looks like tracking account data is currently included in the  net worth graphs. Would it be possible to add some sort of setting that determines whether or not tracking account data is included? For example, some pe

[2016-03-05 04:13] blargity commented on #250
This will help out with that request: https://trello.com/c/oB1ZuBkC/200-add-ynab4-filters-specific-categories-specific-accounts-specific-categories-for-net-worth-report

[2016-03-05 04:14] blargity commented on #249
I'll have a look at this today, thanks for the report!

[2016-03-05 04:20] falkencreative commented on #250
OK, perfect -- that should fix things for people. Feel free to close this issue?

[2016-03-05 05:00] blargity commented on #250
Nah, I'll leave it here until I release the enhancement so in case anyone else comes looking for it they'll find this here and avoid opening a duplicate I reckon.

[2016-03-05 08:19] egens commented on #246
@RunningOutOfInk I bet that you are using direct import. With it YNAB saves some 3 months of hidden transactions more that it shows to you from your accounts. And that is used in calculation. The best workaround is to use custom Days of Buffering History Lookup period. I found 3 months is the best option for me.

@blargity there are so much questions with those hidden transactions. Mb we should re

[2016-03-05 08:38] egens commented on #208
@blargity the thing is linter should be installed, should we force devs to do it?
[code]

[2016-03-05 14:37] falkencreative commented on #229
@blargity - Can you assign this issue to me as well? Thanks!

[2016-03-05 14:40] falkencreative opened #252 "Goal Indicators Not Showing Up in Firefox"
Looks like the goal indicators ("M", "T", etc.) aren't showing up in Firefox?
http://forum.youneedabudget.com/discussion/comment/596452/#Comment_596452

@egens, I think this one's for you?

[2016-03-05 20:09] casner commented on #206
Import notifications worked today with version 0.4.2, on a PC under Chrome.

[2016-03-06 02:05] Geiseku commented on #252
Already reported ages ago in #114

[2016-03-06 03:39] falkencreative commented on #252
@Geiseku - Thanks for letting me know. There are enough issues tracking that it's sometimes hard to tell what's new and what's already listed. I'll close this one out.

[2016-03-06 03:39] #252 closed

[2016-03-06 08:49] blargity commented on #250
Alrighty, new plan, let's track all enhancements on the roadmap. This one is here: https://trello.com/c/oB1ZuBkC/200-add-ynab4-filters-specific-categories-specific-accounts-specific-categories-for-net-worth-report

I'm going to go ahead and close this issue. Conversation can happen on the Trello card.

[2016-03-06 08:49] #250 closed

[2016-03-06 08:54] blargity commented on #243
We're going to go ahead and track enhancement requests on the Trello roadmap. I've added your request to the Under Discussion column and we'll track conversation on it here: https://trello.com/c/guYvaOcI/233-hide-pacing-indicator-for-months-that-aren-t-the-current-month

Thank you!

[2016-03-06 08:54] #243 closed

[2016-03-06 08:58] blargity commented on #212
Hey Alex,

We've decided we're going to go ahead and manage all enhancements on the roadmap so we don't have two places for them to live.

I've gone ahead and created a card for this request here: https://trello.com/c/4J870kek/234-enhance-selected-transaction-total-to-include-cleared-balance-plus-whatever-transactions-are-selected.

Go ahead and track progress there. Any conversation will take pla

[2016-03-06 08:58] #212 closed

[2016-03-06 09:00] blargity commented on #208
Yeah, I think the ideal is to force it as part of running `./build` or `build.bat` so they get errors even if they didn't want to lint. This means we can have something like Travis running that flags errors in a PR before I even see it, and they definitely would have seen the errors just building.

I'm going to go ahead and close this issue though as we have a PR open where we're also discussing t

[2016-03-06 09:00] #208 closed

[2016-03-06 09:02] blargity commented on #204
We've made a decision to track all enhancement requests on our Trello Roadmap so they're all in one place. I've gone ahead and created a card for this request here: https://trello.com/c/lVacoozX/235-allow-you-to-write-a-note-in-a-category-for-a-specific-month

You can track progress over there, as well as voting and/or commenting as to why you think it's a good idea (I do!). Thanks!

[2016-03-06 09:02] #204 closed

[2016-03-06 09:03] blargity commented on #193
I'm going to go ahead and close this for now as the implementation seems to be good enough so far.

[2016-03-06 09:03] #193 closed

[2016-03-06 09:04] blargity commented on #249
Just a status update, I wasn't able to see anything obviously wrong in the code. I'll get a bit more time to look into this shortly.

[2016-03-06 09:09] #249 closed

[2016-03-06 09:10] blargity commented on #115
Is anyone still seeing incorrect behaviour with the progress bars?

[2016-03-06 09:11] blargity commented on #249
And @egens to the rescue! If anyone can build master and test they should see it working now. If not this fix will be in the next release.

[2016-03-06 17:11] dbaldon commented on #115
The only things that I see that is "off" is; in the current month, no progress bar is displayed until I budget something in the category. I suspect that has to do with YNAB and not the feature. IOW, the values of calculation.goalExpectedCompletion, Monthly: calculation.goalTarget, Upcoming: calculation.upcomingTransactions are all zero until something is budgeted. Maybe changing this if statement

[2016-03-06 21:31] falkencreative commented on #230
Firefox fixes have been added, and a pull request in place so the changes can be officially included in a future release. I'll wait to officially close this issue out until the next version of the Toolkit is released.

[2016-03-06 21:34] falkencreative commented on #201
@blargity - Looks like I can't close this issue, even thought it's assigned to me? Sorry! You'll need to close it unfortunately. Thanks.

[2016-03-07 06:24] Geiseku commented on #114
@blargity is anyone able to have a look at the styling for the goal indicators? Seems only Firefox has trouble displaying them with the current code.

[2016-03-07 06:29] Geiseku commented on #115
@blargity Still issues with duplicate category names. entityManager.getSubCategoryByName(subCategoryName) just returns the first match, even if multiple master categories contain sub-categories with the matching name. It also matches deleted categories, which tend to get matched first (guessing a lower id means they get hit early in the search).
I'm currently using a workaround of making sure ever

[2016-03-07 10:33] blargity commented on #201
No worries!

[2016-03-07 10:33] #201 closed

[2016-03-07 10:34] blargity commented on #114
@Geiseku, sorry for the delay. This is in the right place, and one of us will get to it eventually.

I'm not sure if anyone in particular wants to handle this, but a few of us are currently on a bit of a clean up drive to fix bugs before we add heaps of new features.

[2016-03-07 10:35] blargity commented on #115
Got it, I'll go ahead and leave this here until we resolve that issue. Thanks for checking back in.

[2016-03-08 10:35] blargity commented on #245
I tested on Chrome on Mac and unable to reproduce any odd behaviour in 0.4.2. I'm going to go ahead and close this for now. Re-open or open a new issue if there's anything still off in Linux land.

[2016-03-08 10:35] #245 closed

[2016-03-08 10:36] blargity commented on #113
Hey @iamnafets, how's this going? Should we assign this to another team member until you get a bit more time to work on the Toolkit again?

[2016-03-08 10:38] blargity commented on #239
Great, I'll go ahead and close this issue. We can track progress over there.

[2016-03-08 10:38] #239 closed

[2016-03-08 11:09] blargity commented on #235
I believe I've found the source of this one. It was when the amount was more than 1,000 and included a comma in the text for the budgeted value. It'll get released in the next release.

If you are techie enough and can pull down master including the commit I'm about to make to test before the next release that I've resolved the issue that'd be awesome, otherwise this should be fixed for you in  v0

[2016-03-08 11:09] #235 closed

[2016-03-08 11:15] blargity commented on #229
Another status update, the feature was already vulnerable to localisation issues, so I've gone ahead and merged @falkencreative's changes in so we can all get an improved version of the feature without having to get everything perfect first.

[2016-03-08 11:21] blargity commented on #246
@egens I think removing them from the calculations is the most obvious thing we can do. It does create in most cases a more accurate calculation, but it also confuses people because they can't see what's going on.

Would you like to take this on, or should I?

[2016-03-08 11:22] blargity commented on #237
Sorry for the delay in getting back to you, it's been busy!

It sounds like in general it could be that the toolkit isn't loading for you on first load. What browser are you using? If you enable features like Striped Transaction Rows, do they show on first load?

[2016-03-08 11:23] blargity commented on #236
I'm going to go ahead and close this issue so we can keep tabs on things we can directly control, but we'll submit back to Apple as soon as we can.

[2016-03-08 11:23] #236 closed

[2016-03-08 11:25] blargity commented on #223
Hey @Mansarde, is this fully resolved for you now? I think it should be! :+1:

[2016-03-08 12:48] blargity opened #254 "Move Money Dialog pops off bottom of screen"
Reported by forum user Newguru, when trying to move money at the bottom of the screen, the dialog pops off the bottom of the page.

I tried removing my toolkit and could not reproduce the issue, so it's likely it's Toolkit related.

If anyone can do some isolation testing to figure out which actual feature in the Toolkit is causing the issue that'd be very helpful!

[2016-03-08 13:09] blargity commented on #235
Alrighty, decided to go ahead and release 0.4.3. Let me know if this isn't fixed for you!

[2016-03-08 13:10] Mansarde commented on #223
@blargity
Sorry, for some reason the Addon-Page was only showing v0.4.1 for me until now.
It was probably still cached in my browser, my bad.
I tried it with the new version (v0.4.2) and I can confirm that it's fixed for me now! :smiley:
That is, it shows the expected month and data for both the left and right sliders.

Nice work, thanks a bunch! :+1:

[2016-03-08 13:11] blargity commented on #223
No worries, thanks for getting back to me! I'll go ahead and close the issue.

[2016-03-08 13:11] #223 closed

[2016-03-08 15:26] jeffu14 commented on #237
That was my thought too, but then I was confused because other features do load when I initially open YNAB. For example, the current month indicator, collapse button on the sidebar, striped transaction rows, the green background on reconciled transactions, net worth report, etc. Basically everything I have selected from the Toolkit except for the Budget to Zero option and the Import notifications

[2016-03-08 23:47] elggabo commented on #235
Yes, seems to work fine in 0.4.3

[2016-03-09 13:47] lang510 commented on #206
Still not working for me with 4.3. Macbook Pro under Chrome.

[2016-03-09 19:04] RobFreundlich commented on #115
Hi, Kevin,

I get a mix of correct and incorrect behavior.  Here's a screenshot showing
both:

[image: Inline image 3]

The progress bars on categories 1 and 2 look fine, but it seems to me that
there should be progress bars on categories 3 - 6 as well.  This is just a
subset of my categories, of course, but it seemed like a nice contiguous
group to show the mix of behaviors.

Rob

On Sun, Mar 6,

[2016-03-09 19:30] dbaldon commented on #115
@RobFreundlich I do not see the image you mention. Can you post it again?

[2016-03-10 11:30] RobFreundlich commented on #115
Sure thing.  Here's the equivalent image from this morning.  Once
difference - I've spent in Category 4 since yesterday, and it is now
showing a progress bar where it wasn't before.  Is that because the pacing
before was positive with 0 spending (like Cat 3 and 5 [no, not Cat5
cable]), whereas now it is negative pacing with non-0 spending?

That still doesn't explain Category 6, though - I have sp

[2016-03-10 16:26] dbaldon commented on #115
Hmm, I wonder if it's just me...this is what I see instead of the image "[image: Inline image 3]". @blargity can you see the images @RobFreundlich is referencing?

I do know that currently for a targeted goal (he goal is an amount as opposed to a date), the progress bar doesn't display until you put an amount in the category for the month. I've suggested a code change to also also consider goalOve

[2016-03-10 21:43] Geiseku commented on #115
@dbaldon I'm also not seeing the images in the posts from @RobFreundlich.

[2016-03-10 22:34] dbaldon commented on #115
Glad it's not just me. :)

On Thu, Mar 10, 2016 at 3:43 PM, Geiseku <notifications@github.com> wrote:

[2016-03-11 02:57] RobFreundlich commented on #115
Weird.  If I look at my own posts own GitHub (as opposed to in the emails I sent), I can't see the images either!  I'm going to try to post directly in GitHub and see whether that makes a difference.

ready ... set ... ATTACH!

![ynab-progressbars](https://cloud.githubusercontent.com/assets/7975013/13691947/f500ee10-e70a-11e5-9ee4-39265bdee400.png)

OK.  I can see that in the Preview.  I'm going t

[2016-03-11 02:58] RobFreundlich commented on #115
Bingo!  I can see the image in my prior post.  So it looks like images in posts I make via email don't work.  Must be the rinky-dink email program I'm using.  I should know better than to trust a little-known email system with an obscure name like "gmail" :-)

[2016-03-11 03:05] RobFreundlich commented on #115
OK, getting back to business.  If you look at the picture I (successfully) posted, Cat6 is similar to Cat2 and Cat4 - all three have no goal and have activity.  However, Cat2 and Cat4 show their progress bars while Cat6 doesn't.

[2016-03-11 13:36] dbaldon commented on #115
@RobFreundlich Are you comfortable using the console in the developers tools in Chrome? If so, run the following in the console and post the results back here. Do it once for each of the categories in question (change the value of "House Repairs & Upgrades" to your category name;
`var entityManager = ynab.YNABSharedLib.defaultInstance.entityManager;
var crazyInternalId = "mcbc/" + ynabToolKit.shar

[2016-03-11 15:10] RobFreundlich commented on #115
Here are the values for all 6 categories:

Cat 1: Object {Target: 0, Monthly: 0, Upcoming: -1706000, OverallLeft: 0, Balance: 1706000}
Cat 2: Object {Target: 0, Monthly: 0, Upcoming: 0, OverallLeft: 0, Balance: 0}
Cat 3: Object {Target: 0, Monthly: 0, Upcoming: 0, OverallLeft: 0, Balance: 120000}
Cat 4:Object {Target: 0, Monthly: 0, Upcoming: 0, OverallLeft: 0, Balance: 111790}
Cat 5:Object {Targe

[2016-03-11 15:52] dbaldon commented on #115
So the code change should be pretty easy. Just need to check for !calculation.isTombstone in addGoalProgress and addPacingProgress. @egens do you want to do this?

[2016-03-11 17:32] RobFreundlich commented on #115
@dbaldon - Without having seen the code, I think it may be more than that.  If getSubCategoryByName() for a budget row gives back a category with isTombstone == true, then somehow a different category with the same name needs to be found and used.

Unless what you're doing is grabbing all categories up front and then mapping them into the budget screen and skipping later instances with the same na

[2016-03-11 17:50] dbaldon commented on #115
entityManger is a YNAB object. I'll take a deeper look later today or this
weekend.

On Fri, Mar 11, 2016 at 11:32 AM, Rob Freundlich <notifications@github.com>
wrote:

[2016-03-11 21:51] Geiseku commented on #115
@dbaldon @RobFreundlich the problem with Cat 6 in the example is the same as what I discovered a while ago when running some test with @egens. getSubCategoryByName() just returns the first match, regardless of how many sub-categories share that name (including deleted ones).

@RobFreundlich try changing the name of Cat 6 to something definitely unique. Does the progress bar appear?

[2016-03-13 15:56] mumbledenoise commented on #205
Looks like this problem has returned. Here's what I've tried:

1. Cleared Chrome browser cache, uninstalled the extension (4.3), and reinstalled from the Chrome store.

2. Reverted back to the 4.2 version I downloaded directly from Github and imported manually into Chrome.

3. Installed the extension in Firefox for the first time.

I suspect YNAB changed something on their backend.

[2016-03-13 15:58] mumbledenoise opened #255 "Net Worth Report incorrect again (Issue #205 has returned)"
While this was working as recently as March 4th (I know because I took a screenshot), I'm seeing the same issue again today:

https://github.com/toolkit-for-ynab/toolkit-for-ynab/issues/205

Here's what I've tried:

1. Cleared Chrome browser cache, uninstalled the extension (4.3), and reinstalled from the Chrome store.

2. Reverted back to the 4.2 version I downloaded directly from Github and impo

[2016-03-13 20:59] casner commented on #206
0.4.3, PC with Chrome, notification did not show up for two imports.

[2016-03-14 01:27] dbaldon commented on #115
@RobFreundlich @Geiseku  I have code changes in my area that fixes the issues we've been seeing. I don't want to commit the changes if @egens has already looked at it. The same changes are needed for the "goal indicator" feature but I have not made them...yet. Again, don't want to duplicate effort. @blargity I tried to assign this issue to me but couldn't figure out how to do it. How is that suppo

[2016-03-14 09:31] RobFreundlich commented on #115
@Geiseku Changing the name to something unique does bring back the progress bar.

@dbaldon @egens @blargity   I'm going to leave it that way for now, but when the fix is in I'll flip it back  to verify.  At the moment, I'm only getting official releases, but I'll QA/alpha/beta/whatever it for you if you'd like.  I'll need instructions on how to get a non-official release if you want me to do that

[2016-03-14 09:52] blargity commented on #255
Sorry to be a pain, just not sure as there are a couple of issues in that thread. What issue are you seeing exactly? Transactions on the 1st are being counted for the previous month?

[2016-03-14 13:05] mumbledenoise commented on #255
My apologies. Yes, it's that one. Transactions on the 1st are being counted for the previous month. I have one transaction on December 1st, and it's being counted for November. When I move it to December 2nd, it shows up in December again.

[2016-03-15 01:04] bluebird8203 opened #256 "goal progress bar appears on a category without a goal"
I did previously have a goal on this category, but deleted it.
Other categories that I did the same thing to have no progress bar.

[2016-03-15 11:01] blargity commented on #255
Alrighty, I'm going to make a small change that may fix this for you. It's really hard for me to tell because I can never see it happening over here in Australia, even in my budget.

If you're able to test the next commit on your data I'd love to verify that it's fixed before I release. :+1:

[2016-03-15 11:26] blargity commented on #255
Let me know if you're able to test or if not we'll release and see if it helps in your situation. Thanks again for the report.

[2016-03-15 11:27] blargity commented on #256
That's odd. Wonder if there's an `isTombstone` flag on the goals or something. Will have a quick poke and let you know what I find.

[2016-03-15 11:33] blargity commented on #256
Just had a quick test of this, and it looks the code is reading through the budget and applying the progress bars once at start up. If you alter the goal, it looks like it won't update until you refresh.

If you refresh after deleting the goal, does the progress bar disappear? I noticed if you create a goal it doesn't appear until you refresh either at the moment.

[2016-03-15 13:18] mumbledenoise commented on #255
Fixed!

blargity is the greatest!

Thank you!

[2016-03-15 21:47] bluebird8203 commented on #256
I had actually deleted the goal several days earlier - and completely closed Chrome down.
I don't see it on the same category now - but I do have 2 other ones still showing the progress bar today that had their goals deleted same day.

I don't know if it's related, but other categories with goals are not showing a progress bar.

[2016-03-15 22:54] iamnafets commented on #113
Sounds good, Kevin.

On Tue, Mar 8, 2016 at 2:36 AM, Kevin Brown <notifications@github.com>
wrote:

--
Thanks,
Stefan Mai (stefan.mai@iamnafets.com)

[2016-03-16 22:09] MikeBishop opened #257 "Right-click menu with multiple transactions selected"
With the Right-Click Menu option enabled, when I select multiple transactions and right-click one of them, I expect to get the same menu that would appear if I click the Edit option at the top of the screen with those selections highlighted. However, what actually happens is that the transaction I click becomes the only transaction selected, and then the menu appears as if only one transaction had

[2016-03-17 10:33] blargity commented on #255
No worries! This will be in the next release.

[2016-03-17 10:49] blargity commented on #256
Hmmmm... Definitely not seeing this behaviour on my budget so I'm having trouble reproducing at the moment.

I'll keep an eye out. Meanwhile, if anyone else on the team sees this happening it'd be good to poke around the debugger a bit and figure out what is going on.

[2016-03-17 10:51] blargity commented on #257
Yup, we should be able to! I'm going to go ahead and label this as an enhancement though as it's currently doing technically what it's designed to do, but I completely agree that this would be a great thing to have and would help.

[2016-03-17 15:49] mrruz opened #258 "Account name height causes black bar above account register"
![2016-03-17](https://cloud.githubusercontent.com/assets/11042001/13851882/b35a2986-ec14-11e5-84b6-a78df500376c.png)

If I turn off the account name height, then the black bar goes away.

[2016-03-18 23:20] Geiseku opened #259 "Paid in Full Credit Card Assist should only apply to current month"
PIF assist only makes sense in the current month, so the yellow highlight should only show on the current month's budget screen.

[2016-03-19 17:59] alexmidd opened #260 ""Hidden Categories" bar at bottom of screen is not visible"
Using Chrome on Mac OS X the "Hidden Categories" bar at the bottom of the screen is hidden below the bottom of the browser window, making it hard to access and the value of hidden items is not visible (I use this for categories that I don't want to show up in the mobile app, mainly). These screenshots show it with and without the extension enabled. I'm using Chrome v49 on Mac OS X 10.11.3. The bar

[2016-03-20 15:41] dbaldon commented on #115
Pull request done for changes to correct these issues. Made similar changes in the goal indicator code.

[2016-03-21 11:42] blargity commented on #259
Makes sense, thanks for the report!

[2016-03-21 11:43] blargity commented on #260
@alexmidd, thanks for the report. Are you able to try toggling specific features to figure out which one's causing it for you? It may be related to #258 if it's the Account Name Height setting.

[2016-03-21 12:50] lang510 commented on #206
This morning I went into YNAB and Age of Money was showing which is suppose to be disabled.  I checked and toolkit was enabled.  I did the workaround of unchecking, checking and the Age of Money disappeared.  I am still having problems with the imports sometimes working and other times not.

[2016-03-21 18:12] alexmidd commented on #260
Hi, @blargity. OK, I will try that and get back to you. It's not the account name height setting as I don't have that set at present but I am still getting the issue. I will report back asap.

[2016-03-21 18:17] alexmidd commented on #260
Got it. In the Budget Screen options, Allow Resizing of Inspector. When I toggled it off the bottom bar appears correctly.

[2016-03-21 22:23] Geiseku commented on #115
@dbaldon I just build the current master and it all seems to be working. Thanks.

[2016-03-21 22:36] Geiseku commented on #115
I just found one category missing a goal progress bar :(

Turns out I've exceed my Target Category Balance goal. What should be the expected behaviour in this situation?

[2016-03-21 22:45] dbaldon commented on #115
@Geiseku Go on vacation? lol...I'll look into later tonight.

[2016-03-22 11:20] blargity opened #262 "If a Target Category Balance by Date goal is already met in a month, the m symbol does not appear in the budget category."
As reported by @earlewallbank here: http://forum.youneedabudget.com/discussion/48158/goals

[2016-03-22 13:07] earlewallbank opened #263 "Remove Zero and Negative Categories When Covering Over-Budgeting - Does not remove top level categories"
If all sub categories are zero/negative within a main category, the main Category is still shown in the list but greyed out.
To really clean up this list, the main category should be removed as well - if possible.

[2016-03-22 13:21] earlewallbank opened #264 "Remove Zero and Negative Categories When Covering Over-Spending"
Is it possible to replicate the functionality of the option:
Remove Zero and Negative Categories When Covering Over-Budgeting
on the cover overspending dialog?

I kept thinking the current feature was broken because I was looking at the list to cover overspending and I could see all my zero balance categories. Then I realised the option only applied to clicking on the TBB figure.

[2016-03-23 18:30] jredders commented on #246
Is there a chance that Credit Card Payments (Transfers to credit card accounts from checking accounts) are also being counted as outflows?  That would be double dipping on anything paid for with a credit card.

[2016-03-24 00:29] looknsharp commented on #246
Hey guys! Mine looks like it might be messed up due to a loan. I have a student loan on budget. That amount is removed from my budget account as if I am paying it off each month as I am with my credit cards. So it could be related to the type of budget account and how the debt is payed back.

[2016-03-24 16:37] dbaldon commented on #256
This sounds like it could be related to duplicate sub-category names. My most recent PR should take care it if that's the case.

[2016-03-25 13:16] lang510 commented on #206
Currrent situation:  When imports are available, nothing shows up on the sidebar.  As soon as I click on one import button, the numbers on the sidebar appear on all my accounts.  This has been pretty consistent within the past week.

[2016-03-25 13:32] casner commented on #206
Today was payday. All of the numbers for imports and scheduled transactions showed when I opened YNAB, across 7 accounts. PC with Chrome.

[2016-03-26 02:12] topcat39 commented on #234
I, too, show erroneous data: It looks like it's grabbing starting balances from tracking accounts (I keep investments, house value, etc. there)
December: Income from Nov $10,340.94, would be correct but includes $1500 in tracking acct.
January: Income from Dec $328,168.88, I wish!
February: Income from Jan $35,251.90, still too high
March: Income from February $6031.13, close, but no cigar

[2016-03-26 11:19] RobFreundlich opened #266 "Hard to see Master Categories among Progress Bars"
I'm using progress bars, set to "Pacing progress".  When I have categories whose pacing is well along so that the category row is mostly dark blue, it becomes hard to see where the Master Category rows are because their background is light blue.

I'm used to header/divider rows being **darker** than their content, not lighter, so they get lost among the darker progress bars.  What I see in this ca

[2016-03-28 12:12] dbaldon commented on #115
I have code changes ready that corrects the issue.I'll try and do the pull request tonight.

[2016-03-29 10:41] blargity commented on #264
Thanks for the request! We track bugs here and enhancements over on the trello board so I've added this to the Trello roadmap under discussion here: https://trello.com/c/swwwzJJb

[2016-03-29 10:41] #264 closed

[2016-03-29 10:54] blargity commented on #266
Thanks for bringing this up! As it's an enhancement to existing functionality I've logged it on our Trello Roadmap here: https://trello.com/c/xonz1d7u

I think this is quite a minor thing and quite possibly the easiest way to go would be to implement multiple colours via the setting itself (e.g. Goals Progress - Blue, Goals Progress - Green) etc. Another easy way would be to implement the skins op

[2016-03-29 10:54] #266 closed

[2016-03-30 00:13] dbaldon commented on #262
I think the PR I just created will fix this.

[2016-03-30 00:15] dbaldon commented on #256
@bluebird8203 Can you check if my last couple of PRs fixed this issue? Thanks

[2016-03-31 11:45] blargity commented on #262
I've now merged #269, so if someone can test that'd be great!

[2016-03-31 11:46] blargity commented on #260
Cool, I'll have a look, thank you!

[2016-03-31 12:04] blargity commented on #258
Hey @mrruz, I believe I've fixed this bug. If you can pull down current master and test that this has gone away for you with the latest, that'd be awesome, otherwise I will be pulling a release tomorrow.

I'm going to go ahead and close this for now (it was a pretty simple one). Feel free to open a new issue or re-open if it's still happening for you!

[2016-03-31 12:04] #258 closed

[2016-03-31 12:25] blargity commented on #260
Didn't mean to close this via the commit. If you can pull the latest down and give it a shot I think I've fixed it. Otherwise I'll be doing a release tomorrow.

[2016-03-31 12:27] blargity commented on #230
Hey @falkencreative / anyone else, was this fixed in 0.4.3?

[2016-03-31 14:05] falkencreative commented on #230
Yes, this should have been fixed in the latest round of changes to this feature. As far as I know, Firefox should be printing correctly now.

[2016-03-31 14:32] topcat39 commented on #230
I've tested this on Firefox 45.0.1 and it prints correctly. I just need to remember to a) choose portrait orientation and b) have all my categories expanded.

[2016-03-31 14:34] falkencreative commented on #230
@topcat39 - Just to double check... Are you choosing Portrait just because that's what you prefer? Or selecting Portrait since you have issues with Landscape? I believe landscape should print correctly, but it will waste some space.

[2016-03-31 14:38] topcat39 commented on #230
@falkencreative Sorry, I should have been more detailed. Yes, Landscape works, but a waste of paper, as you say. The reminders were more for me since I will forget to expand the categories before printing.

[2016-03-31 15:41] falkencreative commented on #230
@topcat39 Got it. OK, great.

@blargity Looks like this bug can be closed.

[2016-04-01 04:05] cynmcs opened #270 "Tracking account balances are added to 'Income from previous month' in header"
My understanding is that tracking account balances should be just that - tracking - and should not be reflected in the day-to-day budget at all.

However, having added our retirement accounts in January, I have more than $200,000 listed at the top of the header as 'Income from January'.

Oh, that it were true....

[2016-04-02 01:21] Geiseku opened #271 "Move money dialog broken by lastest YNAB update"
See YNAB forum post [here](http://forum.youneedabudget.com/discussion/50054/april-1st-updates-have-caused-the-move-money-dialog-to-no-longer-work-with-toolkit-for-ynab).

Height of Budget Rows causes the biggest problem.

[2016-04-02 07:27] blargity commented on #271
Thanks for the report. I've fixed this on my machine and this will be resolved in the next release (today)!

[2016-04-02 07:29] #271 closed

[2016-04-02 08:47] earlewallbank opened #272 "Remove Zero and Negative Categories When Covering Over-Budgeting - Not working in 0.4.4"
Chrome using Toolkit 0.4.4!
I have a negative TBB (created by overbudgeting one category for April).
Click on TBB to get the 'Cover this overbudgeting with' dialog.
The list includes categories with zero available.

I have turned off the feature in Toolkit settings, refreshed YNAB, then turned the feature back on and refreshed YNAB, and the dialog is still the same - showing all categories.

![ima

[2016-04-02 23:33] Kleonike opened #273 "Save not working in 0.4.4"
I am running the Toolkit with Chrome Version 49.0.2623.110 m (64-bit) and Windows 10. I tried to set the toggle for the new filter buttons to Show Icons. When I clicked on the Save button, there was no confirmation message that the change had taken affect. I exited the Settings and went back in. The filter buttons toggle had been restored to Disabled. I then experimented with changing the setting

[2016-04-03 01:23] falkencreative commented on #254
We can close out this issue, since this feature has been removed now that YNAB has updated.

[2016-04-03 01:23] falkencreative commented on #230
@blargity - Quick reminder -- this issue can be closed.

[2016-04-03 02:15] blargity commented on #254
Agree, thanks!

[2016-04-03 02:15] #254 closed

[2016-04-03 02:15] blargity commented on #230
Thank you!

[2016-04-03 02:15] #230 closed

[2016-04-03 02:17] blargity commented on #273
Thanks for the report. That's very odd...

I think the best place to start is to try deleting the Toolkit (right click on the green + button, then select Remove from Chrome...) then reinstalling from the [Chrome Web Store here](https://chrome.google.com/webstore/detail/toolkit-for-ynab/lmhdkkhepllpnondndgpgclfjnlofgjl).

Does that fix it at all?

[2016-04-03 02:18] blargity commented on #272
Thank you for the report, we'll have a look shortly. I suspect this is due to changes from YNAB proper.

[2016-04-03 03:12] blargity commented on #255
As this is now released, I'm going to go ahead and close this issue. If it reoccurs on you definitely let me know!

[2016-04-03 03:12] #255 closed

[2016-04-03 10:43] iamolivinius commented on #132
@blargity

That's what I found out about FF content scripts:

https://github.com/zloirock/core-js/pull/91
https://github.com/lodash/lodash/pull/1340
https://github.com/Semantic-Org/Semantic-UI/issues/3855

It basically says that the `window` object within a content script isn't a reference to the "global" object of the content script.